<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/resumen/015_tipo_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipo de datos
1. Una variable es un espacio en memoria que recoge un dato.
2. Las variables tienen un nombre que:
 - no puede llevar espacios
 - no puede llevar simbolos (ñ, á, ç, @)
 - si puede llevar barra baja (`_`)
 - si puede llevar números pero no al inicio
 - no puede llevar palabras reservadas (class, def, if, import, in, is, ...)

## Enteros `int`
* Los enteros son números sin decimales como 5, 0, -7
* La abreviatura `int` viene de *integer*

In [ ]:
x = 5       # int, 5 es un número entero

In [ ]:
print(x)    # print es una función que imprime mi variable x

5

In [ ]:
type(x)     # type es otra función que me da el tipo

int

## Flotantes `float`
* Son números con decimales.
* El tipo `float` hace referencia a que son [números de coma flotante](https://docs.python.org/es/3/tutorial/floatingpoint.html)

In [ ]:
temperatura = 21.8      # usan el punto para separar los decimales
print("Estamos a", temperatura, "grados")
type(temperatura)

Estamos a 21.8 grados

float

## Cadenas `str`
* Las cadenas alfanuméricas van entre comillas simples o dobles.
* El tipo `str` es la abreviatura de *string*

In [ ]:
ciudad = "Londres"      # string
print("Este verano quiero ir a", ciudad)
type(ciudad)

Este verano quiero ir a Londres

str

## Booleanos `bool`
* Son de dos tipos `True` o `False`
* Se escribe la primera letra con mayúsculas

In [ ]:
led_on = True
print("¿El LED está encendido?", led_on)
type(led_on)

¿El LED está encendido? True

bool

## Listas `list`
* Son una secuencia de datos separados por comas
* Van entre corchetes `[ ]`
* El orden importa

In [ ]:
my_list = [1, 2, 3]
print(my_list)
type(my_list)

[1, 2, 3]

list

In [ ]:
print(type(my_list))    # función dentro de función

<class 'list'>

## Tuplas `tuple`
* Los elementos van entre paréntesis `( )`
* Son inmutables, se usan para datos que no cambian

In [ ]:
vocales = ('a', 'e', 'i', 'o', 'u')
print(vocales)
print(type(vocales))

('a', 'e', 'i', 'o', 'u')
<class 'tuple'>

## Diccionarios `dict`
* Parejas de *clave: valor*

In [ ]:
traductor = {'uno': 'one',
             'dos': 'two',
             'tres': 'three',
             'cuatro': ', four',
             'cinco': 'five'}

traductor

{'uno': 'one',
 'dos': 'two',
 'tres': 'three',
 'cuatro': ', four',
 'cinco': 'five'}

In [ ]:
type(traductor)

dict

In [ ]:
print(traductor)    # parejas clave: valor separadas por comas y entre llaves {}

{'uno': 'one', 'dos': 'two', 'tres': 'three', 'cuatro': ', four', 'cinco': 'five'}