<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/resumen/070_diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Diccionarios
* Los diccionarios se utilizan para almacenar valores de datos en pares clave:valor.
* Un diccionario es una colección ordenada, modificable y que no permite duplicados.
* Son mutables (son modificables)

## Diccionario vacío

In [ ]:
compras = {}
compras

{}

Otro diccionario vacío.

In [ ]:
ventas = dict()
ventas

{}

## Diccionario con lista

In [ ]:
empleado = {'nombre': 'Marcos',
            'apellido': 'Ruiz',
            'año_inicio': 2023,
            'fijo': True,
            'salario_miles': 43.5,
            'lenguajes': ['C++', 'Python', 'JavaScript']}

empleado

{'nombre': 'Marcos',
 'apellido': 'Ruiz',
 'año_inicio': 2023,
 'fijo': True,
 'salario_miles': 43.5,
 'lenguajes': ['C++', 'Python', 'JavaScript']}

In [ ]:
type(empleado)

dict

## Diccionario con tupla
La longitud y la latitud se pueden expresar como una pareja de números en forma de tupla.

In [ ]:
localizaciones = {"Madrid": (40.4168, -3.7038),
                  "London": (51.5072, -0.1276),
                  "New York": (40.7128, -74.0060),
                  "Tokyo": (35.6762, 139.6503)}

localizaciones

{'Madrid': (40.4168, -3.7038),
 'London': (51.5072, -0.1276),
 'New York': (40.7128, -74.006),
 'Tokyo': (35.6762, 139.6503)}

## Métodos

### `dir`
* Lista los métodos de este tipo de objetos.

In [4]:
producto = {'nombre': 'café',
             'precio': 4.99,
             'unidades': 2}

dir(producto)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']