<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/015_tipo_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipo de datos

## Tipo `int` Enteros
* Los enteros son números sin decimales como 5, 0, -7
* La abreviatura `int` viene de *integer*

In [ ]:
x = 5       # 5 es un número entero de tipo int (integer)

In [ ]:
print(x)    # print es una función que imprime mi variable x

5

In [ ]:
type(x)     # función que nos dice el tipo de dato

int

## Tipo `float` Flotantes
* Son números con decimales.
* El tipo `float` hace referencia a que son [números de coma flotante](https://docs.python.org/es/3/tutorial/floatingpoint.html)

In [ ]:
temperatura = 21.8      # se usa el punto para separar los decimales

# imprimiendo varios elementos separados por coma
print("Estamos a", temperatura, "grados")

type(temperatura)       # número decimal de tipo float

Estamos a 21.8 grados

float

## Tipo `str` Cadenas
* Las cadenas alfanuméricas van entre comillas simples o dobles.
* El tipo `str` es la abreviatura de *string*

In [ ]:
ciudad = "Londres"      # string
print("Este verano quiero ir a", ciudad)
type(ciudad)

Este verano quiero ir a Londres

str

In [ ]:
print("5")      # también es un string
type("5")

5

str

## Tipo `bool` Booleanos
* Son de dos tipos `True` o `False`
* Se escribe la primera letra con mayúsculas

In [ ]:
led_on = True
print("¿El LED está encendido?", led_on)
type(led_on)

¿El LED está encendido? True

bool

* El doble igual `==`se usa para comparar
* Un único igual `=`se usa para asignar un valor a una variable

In [ ]:
5 == '5'    # el doble igual == es un operador de comparación

False

In [ ]:
print(3 > 2)    # True  operador de comparación mayor que
print(5 == 6)   # False operador de comparación Igual
print(5 != 6)   # True  operador de comparación Distinto

True
False
True

### Variable booleana
Puede ser True o False
Se analiza una condición y el resultado se asigna a la variable

In [ ]:
edad = 18
mayor_edad = (edad >= 18)       # mayor_edad es una variable de tipo booleana
mayor_edad                      # True  Indica que si es mayor de edad

True

In [ ]:
'Ana' < 'Zacarías'  # False porque Ana alfabéticamente no va antes que Zacarías

False

### Operador lógico `not`
* Invierte el booleando.
* Lo verdadero se convierte en falso
* Lo falso se conviente en verdadero

In [ ]:
not(True)

False

In [ ]:
not(False)

True

In [ ]:
admitido = False
admitido = not(admitido)
admitido

True

### Castear usando booleanos
Conversión de tipos entre `int` y `bool` y viceversa

In [ ]:
bool(0)         # un cero equivale a un False

False

In [ ]:
bool(1)         # un uno equivale a un True

True

In [ ]:
bool(5)         # cualquier número distinto de cero equivale a un True

True

In [ ]:
int(True)       # un True equivale a un 1

1

In [ ]:
int(False)      # un False equivale a un 0

0

## Tipo `list` Listas
* Son una secuencia de datos separados por comas
* Van entre corchetes `[ ]`
* El orden importa

In [ ]:
my_list = [1, 2, 3]
print(my_list)
type(my_list)

[1, 2, 3]

list

In [ ]:
print(type(my_list))    # función dentro de función

<class 'list'>

## Tipo `tuple` Tuplas
* Los elementos van entre paréntesis `( )`
* Son inmutables, se usan para datos que no cambian

In [ ]:
vocales = ('a', 'e', 'i', 'o', 'u')
print(vocales)
print(type(vocales))

('a', 'e', 'i', 'o', 'u')
<class 'tuple'>

## Tipo `dict` Diccionarios
* Un diccionario permite agrupar datos en forma de parejas de:
    - *clave: valor*
    - *key: value*

In [ ]:
traductor = {'uno': 'one',
             'dos': 'two',
             'tres': 'three',
             'cuatro': ', four',
             'cinco': 'five'}

traductor

{'uno': 'one',
 'dos': 'two',
 'tres': 'three',
 'cuatro': ', four',
 'cinco': 'five'}

In [ ]:
print(traductor)    # parejas clave: valor separadas por comas y entre llaves {}

{'uno': 'one', 'dos': 'two', 'tres': 'three', 'cuatro': ', four', 'cinco': 'five'}

In [ ]:
type(traductor)

dict

### Ejemplo coordenadas

In [ ]:
punto_mapa = {'latitud': 40.48824409244089,
             'longitud': -3.8834986974532573}

print(punto_mapa)

{'latitud': 40.48824409244089, 'longitud': -3.8834986974532573}

## Tipo `set` Conjuntos
* Van entre llaves `{ }`
* El orden no importa
* No puede haber repetidos

In [ ]:
sabores = {'vainilla', 'nata', 'chocolate'}
sabores

{'chocolate', 'nata', 'vainilla'}

In [ ]:
type(sabores)

set

## Tipo `None`
Indica que no hay dato.

In [ ]:
informacion = None
print(informacion)
type(informacion)

None

NoneType

## Concatenar strings

In [ ]:
nombre = "Ana"
ciudad = "Madrid"
print(nombre + " vive en " + ciudad)

Ana vive en Madrid

## Conversión de tipos
Python Casting

In [ ]:
x = int(5)          # 5
y = int(5.9)        # 5  Casteamos un float a int
z = int("5")        # 5  Casteramos un string a int

print(x, y, z)

5 5 5

In [ ]:
a = float(7)        # 7.0  Casteamos un int a float
b = float(7.9)      # 7.9
c = float("7")      # 7.0  Casteamos un string a float
d = float("7.1")    # 7.1  Casteamos un string a float

print(a, b, c, d)

7.0 7.9 7.0 7.1

In [ ]:
p = str("v2")       # 'v2'
q = str(2)          # '2'    Casteamos un int a string
r = str(2.0)        # '2.0'  Casteamos un float a string

print(p, q, r)

v2 2 2.0

### Error al concatenar con un número

In [ ]:
#"Vuelo " + 505               # TypeError: can only concatenate str (not "int") to str

In [ ]:
"Vuelo " + str(505)           # la función str() convierte un número en cadena

'Vuelo 505'

## Imprimir con formato

### Imprimir concatenando
Las varíables numéricas, `int` o `float`, se han de convertir a string usando `str`.

In [ ]:
nombre = "Ana"
edad = 13

print("Me llamo " + nombre + " y tengo " + str(edad) + " años")

Me llamo Ana y tengo 13 años

## Imprimir con el formato `f`

In [ ]:
print(f"Me llamo {nombre} y tengo {edad} años")

Me llamo Ana y tengo 13 años

### Formas de imprimir
¿Cuál de estas tres formas de imprimir te gusta más?

In [ ]:
nombre = 'Ana'
edad = 13

print("Me llamo", nombre, "y tengo", edad, "años")
print("Me llamo " + nombre + " y tengo " + str(edad) + " años")
print(f"Me llamo {nombre} y tengo {edad} años")

Me llamo Ana y tengo 13 años
Me llamo Ana y tengo 13 años
Me llamo Ana y tengo 13 años

## Números y literales
¿ `5 == '5'` ?

In [ ]:
x = 5       # un solo igual se usa para asignar un valor a una variable
y = '5'
x == y      # un doble igual es un operador de comparación

False

In [ ]:
str(x) == y       # str convierte un número en un string

True

In [ ]:
x == int(y)         # convierte un string en un int

True

In [ ]:
print(float(x))     # float convierte un número en un número de coma flotante
print(float(y))

5.0
5.0

In [ ]:
bool(1)             # convierte en un bool
# 1 es True
# 0 es False y
# cualquier otro número también da False

True

In [ ]:
True == 1       # True

True

In [ ]:
False == 0      # True

True