<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/030_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

## Python es case-sensitive
* Python es un lenguaje de programación que distingue entre mayúsculas y minúsculas.

In [ ]:
'Hola' == 'hola'   # False. El doble igual == compara, no confundir con solo uno

False

### Funciones `lower()` y `upper()`
* Podemos convertir todo a mayúsculas o a minúsuclas.

In [ ]:
"Buenos Aires".lower()

'buenos aires'

* Esto permite comparar strings sin importar como van escritos.

In [ ]:
# Parándolo todo a mayúsculas
'buenos aires'.upper() == "Buenos Aires".upper()    # True

True

## Concatenar con `+`

In [ ]:
2 + 3               # el signo + con números suma

5

In [ ]:
"Villa" + "nueva"   # el signo + con strings concatena

'Villanueva'

# Números

# Listas

## Lista vacía

In [ ]:
mylist = []
mylist

[]

Las listas pueden contener diferentes tipos de datos.

In [ ]:
deportista = ["Ana", 18, 1.78, True]
print(deportista)

['Ana', 18, 1.78, True]

El index de los elementos comienza por cero.

In [ ]:
deportista[0]       # el primer elementos tiene index 0

'Ana'

Caracteres de escape:

* `\t` es un tabulador
* `\n` es una nueva línea, es la abreviatura de *new line*

In [ ]:
print("Datos de la deportista".upper())
print("\tNombre:", deportista[0])
print("\tEdad:", deportista[1])
print("\tAltura:", deportista[2])
print("\tFederada:", deportista[3])

DATOS DE LA DEPORTISTA
	Nombre: Ana
	Edad: 18
	Altura: 1.78
	Federada: True

# Tuplas

## Tupla vacía

In [ ]:
mytuple = ()
mytuple
type(mytuple)

tuple

## Tupla con un solo elemento
* Es importante poner la coma

In [ ]:
dias = (5,)
print(dias)
type(dias)

(5,)

tuple