<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/030_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipo de datos

## Tipos `int`, `float`, `string`

In [2]:
a = 5       # int
b = 5.7     # float
c = "Ana"   # string

True

## Tipo `bool`

In [8]:
d = True    # bool  Tipo de dato booleano: True, False
print(d)
type(d)

True

bool

* El doble igual `==`se usa para comparar
* Un único igual `=`se usa para asignar un valor a una variable

In [ ]:
print(3 > 2)    # True
print(5 == 6)   # False

True
False

In [14]:
'Ana' < 'Zacarías'  # False porque Ana alfabéticamente no va antes que Zacarías

False

## Tipo `list`

In [7]:
e = [1,2,3] # list
print(e)
type(e)

[1, 2, 3]

list

## Tipo `None`

In [9]:
f = None
print(f)
type(f)

None

NoneType

## Concaterar strings

In [ ]:
nombre = "Ana"
ciudad = "Madrid"
print(nombre + " vive en " + ciudad)

Ana vive en Madrid

## Conversión de tipos
Python Casting

In [ ]:
x = int(5)          # 5
y = int(5.9)        # 5
z = int("5")        # 5

print(x, y, z)

5 5 5

In [ ]:
a = float(7)        # 7.0
b = float(7.9)      # 7.9
c = float("7")      # 7.0
d = float("7.1")    # 7.1

print(a, b, c, d)

7.0 7.9 7.0 7.1

In [ ]:
p = str("v2")       # 'v2'
q = str(2)          # '2'
r = str(2.0)        # '2.0'

print(p, q, r)

v2 2 2.0

### Números y literales
¿ `5 == '5'` ?

In [ ]:
x = 5
y = '5'
x == y

False

In [ ]:
str(x) == (y)       # str convierte un string en un string

True

In [ ]:
x == int(y)         # convierte un string en un int

True

In [ ]:
print(float(x))     # convierte en un número de coma flotante
print(float(y))

5.0
5.0

In [ ]:
bool(1)             # convierte en un bool

True

## Imprimir con formato

### Imprimir concatenando
Las varíables numéricas, `int` o `float`, se han de convertir a string usando `str`.

In [ ]:
nombre = "Ana"
edad = 13

print("Me llamo " + nombre + " y tengo " + str(edad) + " años")

Me llamo Ana y tengo 13 años

### Imprimir con el formato `f`

In [ ]:
print(f"Me llamo {nombre} y tengo {edad} años")

Me llamo Ana y tengo 13 años

## Input
* Introducir datos por teclado usando 'input'
* Con `input` siempre se captura un string aunque se escriba un número.

In [ ]:
input("¿Cuántos años tiene?: ")

¿Cuántos años tiene?: 20

'20'

In [ ]:
edad = int(input("¿Cuántos años tiene?: "))     # se pone int para convertir
print(f"Tengo {edad} años")
print(f"Y el próximo año tendré {edad+1}")      # da Error si no se pone int

¿Cuántos años tiene?: 17
Tengo 17 años
Y el próximo año tendré 18