<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/040_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipo de datos

## Tipos `int`, `float`, `string`

In [ ]:
a = 5       # int
b = 5.7     # float
c = "Ana"   # string

True

## Tipo `bool`
1. Tipo de dato boolean:
    * True
    * False
2. Primera letra mayúscula

In [ ]:
d = True    # bool
print(d)
type(d)

True

bool

* El doble igual `==`se usa para comparar
* Un único igual `=`se usa para asignar un valor a una variable

In [ ]:
print(3 > 2)    # True
print(5 == 6)   # False

True
False

### Variable booleana
Puede ser True o False
Se analiza una condición y el resultado se asigna a la variable

In [ ]:
edad = 18
mayor_edad = (edad >= 18)       # mayor_edad es una variable de tipo booleana
mayor_edad                      # True  Indica que si es mayor de edad

True

In [ ]:
'Ana' < 'Zacarías'  # False porque Ana alfabéticamente no va antes que Zacarías

False

### Operador lógico `not`

In [ ]:
not(True)

False

In [ ]:
not(False)

True

In [ ]:
admitido = False
admitido = not(admitido)
admitido

True

## Castear usando booleanos
Conversión de tipos entre `int` y `bool` y viceversa

In [ ]:
bool(0)         # un cero equivale a un False

False

In [ ]:
bool(1)         # un uno equivale a un True

True

In [ ]:
bool(5)         # cualquier número distinto de cero equivale a un True

True

In [ ]:
int(True)       # un True equivale a un 1

1

In [ ]:
int(False)      # un False equivale a un 0

0

## Tipo `list`

In [ ]:
e = [1,2,3] # list
print(e)
type(e)

[1, 2, 3]

list

### Tipo `None`

In [ ]:
f = None
print(f)
type(f)

None

NoneType

## Concatenar strings

In [ ]:
nombre = "Ana"
ciudad = "Madrid"
print(nombre + " vive en " + ciudad)

Ana vive en Madrid

## Conversión de tipos
Python Casting

In [ ]:
x = int(5)          # 5
y = int(5.9)        # 5  Casteamos un float a int
z = int("5")        # 5  Casteramos un string a int

print(x, y, z)

5 5 5

In [ ]:
a = float(7)        # 7.0  Casteamos un int a float
b = float(7.9)      # 7.9
c = float("7")      # 7.0  Casteamos un string a float
d = float("7.1")    # 7.1  Casteamos un string a float

print(a, b, c, d)

7.0 7.9 7.0 7.1

In [ ]:
p = str("v2")       # 'v2'
q = str(2)          # '2'    Casteamos un int a string
r = str(2.0)        # '2.0'  Casteamos un float a string

print(p, q, r)

v2 2 2.0

### Error al concatenar con un número

In [ ]:
#"Vuelo " + 505               # TypeError: can only concatenate str (not "int") to str

In [ ]:
"Vuelo " + str(505)           # la función str() convierte un número en cadena

'Vuelo 505'

## Imprimir con formato

### Imprimir concatenando
Las varíables numéricas, `int` o `float`, se han de convertir a string usando `str`.

In [ ]:
nombre = "Ana"
edad = 13

print("Me llamo " + nombre + " y tengo " + str(edad) + " años")

Me llamo Ana y tengo 13 años

## Imprimir con el formato `f`

In [ ]:
print(f"Me llamo {nombre} y tengo {edad} años")

Me llamo Ana y tengo 13 años

### Formas de imprimir
¿Cuál de estas tres formas de imprimir te gusta más?

In [ ]:
nombre = 'Ana'
edad = 13

print("Me llamo", nombre, "y tengo", edad, "años")
print("Me llamo " + nombre + " y tengo " + str(edad) + " años")
print(f"Me llamo {nombre} y tengo {edad} años")

Me llamo Ana y tengo 13 años
Me llamo Ana y tengo 13 años
Me llamo Ana y tengo 13 años

## Números y literales
¿ `5 == '5'` ?

In [1]:
x = 5       # un solo igual se usa para asignar un valor a una variable
y = '5'
x == y      # un doble igual es un operador de comparación

False

In [2]:
str(x) == y       # str convierte un número en un string

True

In [ ]:
x == int(y)         # convierte un string en un int

True

In [ ]:
print(float(x))     # float convierte un número en un número de coma flotante
print(float(y))

5.0
5.0

In [ ]:
bool(1)             # convierte en un bool
# 1 es True, 0 es False y cualquier otro número también da False

True

In [3]:
True == 1       # True

True

In [6]:
False == 0      # True

True