<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/070_operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operadores
https://www.freecodecamp.org/espanol/news/operadores-basicos-en-python-con-ejemplos/

## Operadores aritméticos
* \+   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Suma
* \-   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Resta  
* \*   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Producto    
* /    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dividir. Siempre da como resultado un número de coma flotante (float)  
* //   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; División entera, da un número entero (int)  
* %    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Resto, Residuo, Módulo
* **   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Potencias, elevar

## Operadores Relacionales
* Se usan para comparar
* Devuelve un valor booleano (True o False)


* \>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mayor que
* \<   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Menor que  
* \==  &nbsp;&nbsp;&nbsp;&nbsp; Igual a    
* \>=  &nbsp;&nbsp;&nbsp;&nbsp; Mayor o igual a  
* \<=  &nbsp;&nbsp;&nbsp;&nbsp; Menor o igual a  
* !=   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Distinto de

In [ ]:
5 == 5              # True       Operador de comparación: 'Igual a'

In [ ]:
5 >= 7              # False      Mayor o igual que

In [ ]:
9 == '9'            # False

In [ ]:
'Roma' > 'Bogotá'   # True

In [ ]:
4 != 4              # False    Operador de comparación: Distinto o 'no es igual a'

### Verdadero es 1 y Falso es 0

In [ ]:
True == 1              # True

In [ ]:
False == 0             # True

### Comparando varios simultáneamente

In [ ]:
1 < 2 < 3              # True

## Operadores de Asignación
* \=   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Asignación a la variable &nbsp; `x = 7`
* \+=   &nbsp;&nbsp;&nbsp;&nbsp; `x += 5` equivale a &nbsp; `x = x + 5`  
* \-=  &nbsp;&nbsp;&nbsp;&nbsp; `x -= 5` equivale a &nbsp; `x = x - 5`
* \*=  &nbsp;&nbsp;&nbsp;&nbsp; `x *= 5` equivale a &nbsp; `x = x * 5`
* \/=  &nbsp;&nbsp;&nbsp;&nbsp; `x /= 5` equivale a &nbsp; `x = x / 5`
* \//=   &nbsp;&nbsp;&nbsp;&nbsp; `x //= 5` equivale a &nbsp; `x = x // 5`
* \%=   &nbsp;&nbsp;&nbsp;&nbsp; `x %= 5` equivale a &nbsp; `x = x % 5`
* \*\*=   &nbsp;&nbsp;&nbsp;&nbsp; `x **= 5` equivale a &nbsp; `x = x ** 5`

In [2]:
a, b = 10, 5

a += b

print(a)

15

## Operadores lógicos
* `and`   &nbsp;&nbsp;&nbsp;&nbsp; `a and b` &nbsp; Devuelve `True` si ambos son `True`
* `or`   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `a or b` &nbsp; Devuelve `True` si alguno es `True`
* `not`   &nbsp;&nbsp;&nbsp;&nbsp; `not a` &nbsp; Invierte el resultado, devuelve `True` si el operando es `False`

### `not`

In [ ]:
not True               # False

In [ ]:
not False              # True

### `and`

In [ ]:
True and True and True      # True

In [ ]:
True and True and False     # False

In [ ]:
False and False and False   # False

### `or`

In [5]:
True or True or True        # True

True

In [6]:
True or True or False       # True

True

In [7]:
False or False or False     # False

False

## Operadores de Pertenencia
* Se emplean para identificar pertenencia en alguna secuencia (listas, strings, tuplas, rangos).

1. `in`   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Devuelve `True` si el valor especificado se encuentra en la secuencia
2. `not in`   &nbsp;&nbsp;&nbsp; Devuelve `True` si el valor especificado no se encuentra en la secuencia

In [9]:
2 in [1,2,3]    # True

True

In [8]:
2 in range(5)   # True

True

In [11]:
'2' in "Pongo la 2 por los documentales"    # True. Si el 2 fuera int daría error

True

In [13]:
'día' not in 'osadía'   # False

False

## Operadores de Identidad
Se utilizan para comprobar si dos variables emplean la misma ubicación en memoria.

1. `is`   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Devuelve `True` si los operandos se refieren al mismo objeto
2. `is not`   &nbsp;&nbsp;&nbsp; Devuelve `True` si los operandos no se refieren al mismo objeto

* Precaución: si `a` y `b` son iguales no implica que ambos apunten a la dirección de memoria del mismo objeto.

In [28]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b          # True

True

In [29]:
a is b          # False. Si a y b fueran números daría True

False

In [30]:
print(id(a))
print(id(b))

135541165191936
135541165432832

In [31]:
x = a       # Si igualamos, hacemos que sean el mismo objeto
x is a      # True

True

### Ejemplos

#### *Ejemplo 1*

In [23]:
edad = int(input("Ingrese su edad: "))
print("Si la respuesta es True usted será admitido")
print(edad >= 15 and edad <= 19)

Ingrese su edad: 17
Si la respuesta es True usted será admitido
True

#### *Ejemplo 2*

In [24]:
print("Si su role es admin o ceo se le dará acceso")
role = input("Indique su role: ")
print("Si tiene acceso la respuesta será True")
print(role.lower() == "admin" or role.lower() == "ceo")

Si su role es admin o ceo se le dará acceso
Indique su role: admin
Si tiene acceso la respuesta será True
True

#### *Ejemplo 3*

In [25]:
print(not True)
print(not False)

False
True

#### *Ejemplo 4*

In [26]:
not(True and True and False)

True