<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/080_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas
* Es una colección de elementos que va entre corchetes `[ ]`
* El orden si importa
* También se llaman arrays, vectores o arreglos

In [ ]:
[]              # lista vacía

[]

Las listas pueden contener diferentes tipos de datos.

In [ ]:
[10 , 15, 12]   # lista de números enteros

[10, 15, 12]

In [ ]:
# lista de strings
estaciones = ['primavera', 'verano', 'otoño', 'invierno']
print(estaciones)

['primavera', 'verano', 'otoño', 'invierno']

* Puede haber mezcla de tipo de datos
* Incluso una lista puede contener a otras listas

In [1]:
deportista = ["Ana", 18, 1.78, True, ['vallas', 'pértiga']]
print(deportista)

['Ana', 18, 1.78, True, ['vallas', 'pértiga']]

## Indexing
* Índices de una lista
* El index siempre comienza por cero.

In [ ]:
estaciones = ['primavera', 'verano', 'otoño', 'invierno']
print(estaciones[0])
print(estaciones[1])
print(estaciones[2])
print(estaciones[3])
print(estaciones[-1])       # último elemento de la lista

primavera
verano
otoño
invierno
invierno

In [2]:
deportista = ["Ana", 18, 1.78, True, ['vallas', 'pértiga']]
deportista[4][1]    # buscando un elemento en una lista dentro de otra lista

'pértiga'

Caracteres de escape:

* `\t` es un tabulador
* `\n` es una nueva línea, es la abreviatura de *new line*

In [ ]:
print("Datos de la deportista".upper())
print("\tNombre:", deportista[0])
print("\tEdad:", deportista[1])
print("\tAltura:", deportista[2])
print("\tFederada:", deportista[3])
print(f"\tEspecialidades: {deportista[-1]}")

DATOS DE LA DEPORTISTA
	Nombre: Ana
	Edad: 18
	Altura: 1.78
	Federada: True
	Especialidades: ['vallas', 'pértiga']

## Longitud de una lista

In [ ]:
colores = ['rojo', 'azul', 'amarillo', 'verde', 'naranja', 'rosa']
len(colores)

6

## Slicing

In [4]:
meses = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Non', 'Dic']
meses[2:5]

['Mar', 'Abr', 'May']

In [5]:
meses[:3]

['Ene', 'Feb', 'Mar']

In [6]:
meses[3:]

['Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Non', 'Dic']

In [13]:
meses[1:9:3]

['Feb', 'May', 'Ago']

In [12]:
meses[::-3]

['Dic', 'Sep', 'Jun', 'Mar']

In [7]:
meses[:]

['Ene',
 'Feb',
 'Mar',
 'Abr',
 'May',
 'Jun',
 'Jul',
 'Ago',
 'Sep',
 'Oct',
 'Non',
 'Dic']

## Crear una lista con `list`
Con `list` podemos convertir una tupla en una lista.

In [ ]:
lista_numeros = list((1, 2, 3, 4))
lista_numeros

[1, 2, 3, 4]

In [ ]:
dias = list(('lu', 'ma', 'mi', 'ju', 'vi', 'sá', 'do'))
dias

['lu', 'ma', 'mi', 'ju', 'vi', 'sá', 'do']

## Listas usando el objeto `range`

In [ ]:
num = range(5)          # números del 0 al 4
print(num)
type(num)               # objeto de tipo range

range(0, 5)

range

In [ ]:
mi_lista = list(num)
mi_lista

[0, 1, 2, 3, 4]

In [ ]:
list(range(5, 10))      # números del 5 al 9

[5, 6, 7, 8, 9]

In [ ]:
list(range(10, 45, 5))  # números del 10 al 40 en saltos de 5 en 5

[10, 15, 20, 25, 30, 35, 40]

In [ ]:
list(range(10, 0, -1))  # números en orden decreciente, del 10 al 1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Matriz: Array 2D
* Una Matriz de dos dimensiones es una lista de listas.

* Veamos un caso de tres filas y cuatro columnas, 3x4

In [ ]:
m = [[11, 12, 13, 14],
     [21, 22, 23, 24],
     [31, 32, 33, 34]]

m

[[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]]

In [ ]:
print(*m)

[11, 12, 13, 14] [21, 22, 23, 24] [31, 32, 33, 34]

In [ ]:
print(*m[0])
print(*m[1])
print(*m[2])

11 12 13 14
21 22 23 24
31 32 33 34

## Unir dos listas

In [ ]:
uno = [11, 12, 13]
dos = [21, 22, 23]
todo = uno + dos
todo

[11, 12, 13, 21, 22, 23]

## Borrar un elemento de una lista

In [ ]:
del todo[-1]
todo

[11, 12, 13, 21, 22]

## Anexar un elemento a una lista
Añadir un elemento en la última posición.

In [ ]:
todo.append(100)
todo

[11, 12, 13, 21, 22, 100]

## Comprobar si un elemento está en la lista

In [ ]:
print(100 in todo)
print(101 in todo)
print(100 not in todo)

True
False
False

## Índice de un elemento en una lista
¿Qué index ocupa un elemento dentro de una lista?

In [ ]:
todo.index(100)

5

## Remover un elemento de una lista

In [ ]:
print(todo)
todo.remove(13)
todo

[11, 12, 13, 21, 22, 100]

[11, 12, 21, 22, 100]

## Eliminar el último elemento con ```pop```

In [ ]:
todo.pop()
todo

[11, 12, 21, 22]

## Insertamos un elemento en una posición

In [ ]:
todo.insert(0, 99)
todo

[99, 11, 12, 21, 22]

## Inicializar una lista con ceros

In [ ]:
ceros = [0] * 10
ceros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Las listas son mutables
Podemos cambiar un elemento en una lista

In [15]:
estaciones = ['spring', 'summer', 'autumn', 'winter']
print(estaciones)

estaciones[2] = 'fall'      # podemos cambiar un elemento en una lista
estaciones

['spring', 'summer', 'autumn', 'winter']

['spring', 'summer', 'fall', 'winter']

### Los strings son inmutables

In [ ]:
palabra = "Hola"
#palabra[0] = "M"               # da ERROR !!!
palabra

'Hola'

## Saber si un elemento está en la lista

In [16]:
"fall" in estaciones

True

In [17]:
"autumn" not in estaciones

True

## Problema al copiar listas

In [ ]:
helados_Luis = ['nata', 'chocolate', 'fresa']
helados_Sara = helados_Luis     # igualamos las listas
print(helados_Luis)             # sabores que le gustan a Luis
print(helados_Sara)             # Sara tiene los mismos gustos

['nata', 'chocolate', 'fresa']
['nata', 'chocolate', 'fresa']

Ambas listas tienen el mismo `id`

In [ ]:
print(id(helados_Luis))
print(id(helados_Sara))

132880929816320
132880929816320

Al modificar un elemento de una lista también cambia en la otra ya que en realidad se trata de la misma lista pero con dos nombres diferentes.

In [ ]:
helados_Sara[0] = 'pasas'

print(helados_Luis)
print(helados_Sara)

['pasas', 'chocolate', 'fresa']
['pasas', 'chocolate', 'fresa']

## Haciendo una copia independiente de una lista

In [ ]:
favoritos_Luis = [3, 7, 15]
favoritos_Sara = favoritos_Luis[:]  # hacemos una copia elemento a elemento

In [ ]:
favoritos_Sara[0] = 2

print(favoritos_Luis)
print(favoritos_Sara)

[3, 7, 15]
[2, 7, 15]

In [ ]:
print(id(favoritos_Luis))
print(id(favoritos_Sara))

140162280088832
140162061818688

## Copiando una matriz con ```deepcopy```
Creamos un nuevo objeto matriz usando ```deepcopy``` de la librería ```copy```

In [ ]:
from copy import deepcopy
x = [[1, 2], [3, 4]]
y = deepcopy(x)
print(x)
print(y)

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

Comprobación

In [ ]:
x[0][0] = 88
y.append([9, 9])
print(x)
print(y)

[[88, 2], [3, 4]]
[[1, 2], [3, 4], [9, 9]]

## ```sort``` y ```sorted```

In [ ]:
l = [5,2,6,1,9,0,-3]
print("lista inicial", l)
l.sort()                        # l.sort() realmente ordena la lista pero se ha de poner antes del print
print("lista ordenada", l)

lista inicial [5, 2, 6, 1, 9, 0, -3]
lista ordenada [-3, 0, 1, 2, 5, 6, 9]

In [ ]:
l = [5,2,6,1,9,0,-3]
print("lista inicial", l)
print("lista ordenada", sorted(l))     # realmente no ordena la lista pero si la imprime ordenada
print("lista final", l)

lista inicial [5, 2, 6, 1, 9, 0, -3]
lista ordenada [-3, 0, 1, 2, 5, 6, 9]
lista final [5, 2, 6, 1, 9, 0, -3]