<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/515_funciones_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones Lambda
1. También conocidas como **funciones anónimas** porque se definen sin un nombre
2. No se usa ```def``` se usa ```lambda```
3. Sintaxis ```lambda parámetros: expresión```
    1. Parámetros: se admiten múltiples parámetros
    2. Expresión:
        - se admite una única expresión
        - la expresión es evaluada y devuelta
4. Se suelen usar en combinación con otras funciones, como argumento de otra función

### Ejemplo 1: suma

Función clásica:

In [2]:
def add(n1, n2):
    return n1 + n2

print(add(2, 3))

5

Función Lambda:

In [4]:
add = lambda n1, n2: n1 + n2

print(add(2, 3))

5

### Ejemplo 2: elevar al cuadrado

Función clásica:

In [7]:
def cuadrado(x):
    resultado = x ** 2
    return resultado

print(cuadrado(3))

9

Función Lambda:

In [8]:
cuadrado = lambda x: x**2

print(cuadrado(3))

9

### Ejemplo 3: revertir una cadena

Función clásica:

In [17]:
def reverso(palabra):
    return palabra[::-1]

print(reverso("sogima"))

amigos

Función Lambda:

In [18]:
reverso = lambda palabra: palabra[::-1]

print(reverso("sogima"))

amigos

### Ejemplo 4: detectar si un número es impar

Función clásica:

In [ ]:
def impar(n):
    return bool(n % 2)

print(impar(3))

True

Función Lambda:

In [ ]:
impar = lambda x: bool(x % 2)

print(impar(3))

True

### Ejemplo 5: área de un triángulo
Usando dos parámetros.

Función clásica:

In [19]:
def area(base, altura):
    return base * altura / 2

print(area(12, 10))

60.0

Función Lambda:

In [20]:
area = lambda base, altura: base * altura / 2

print(area(12, 10))

60.0

## Funciones ```lambda``` usadas junto a otras funciones
### Uso de ```lambda``` con ```map()```
* La función ```map()``` aplica una función a cada uno de los elementos de una lista.
* Sintaxis:  map(función, lista)
* Ejemplo: dada una lista de números obtener otra lista con sus cuadrados

#### Método largo sin `map()`

In [ ]:
l = list(range(1,10))               # lista con los números del 1 al 9
c = []                              # lista con los cuadrados

for i in l:
    c.append(i**2)

print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Método largo con `map()`
* La sintaxis de `map`es:
  - `map(función, iter)`
  - Lo que hace `map` es pasar por la función cada uno de los elementos de ìter` que es un iterable, por ejemplo una lista, tupla, diccionario, range.
  - Los objetos iterables son aquellos que podemos recorrer usando un ciclo, entre ellos, las cadenas de texto o estructuras de datos como las listas, las tuplas o los diccionarios
* Para imprimir el objeto `map` es necesario anteponer `print`.

In [ ]:
def cuadrado(n):
    return n**2

list(map(cuadrado, range(1,10)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Método con función ```lambda```

In [ ]:
l = list(range(1,10))               # lista con los números del 1 al 9

c = list(map(lambda x : x**2, l))   # lista con los cuadrados

print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Uso de ```lambda``` con ```filter```
* La función `filter()` filtra una lista de elementos para los que una función devuelve `True`
* Sintaxis:  `filter(función, lista)`
* Ejemplo: dada una lista de números filtrarla para obtener una lista con los pares

#### Método largo

In [ ]:
valores = [1, 2, 3, 4, 5, 6, 7, 8, 9]
pares = []

for valor in valores:
    if valor%2 == 0:
        pares.append(valor)

print(pares)

[2, 4, 6, 8]

#### Método con función ```lambda```

In [ ]:
valores = [1, 2, 3, 4, 5, 6, 7, 8, 9]

pares = list(filter(lambda x : x%2==0, valores))

print(pares)

[2, 4, 6, 8]

### Uso de ```lambda``` con ```reduce```
* Permite un cálculo acumulado de una lista de valores
* Ejemplo: sumar los números del 1 al 100

#### Método largo

In [ ]:
numeros = list(range(1,101))
suma = 0

for i in numeros:
    suma += i

print(suma)

5050

#### Método con función ```lambda```
<img src="https://github.com/financieras/pyCourse/blob/main/jupyter/img/reduce.png?raw=1" alt="Cómo funciona la función reduce" width="400">

* Se va realizado la suma acumulativa
* (((((1 + 2) + 3) + 4) + 5) + 6) + 7 = 28

In [ ]:
from functools import reduce          # la función reduce pertenece a la librería functools
numeros = list(range(1,101))

suma = reduce(lambda x, y:x+y, numeros)

print(suma)

5050