<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/resumen/015_tipo_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipo de datos

## Enteros `int`
* Los enteros son números sin decimales como 5, 0, -7
* La abreviatura `int` viene de *integer*

In [ ]:
x = 5       # 5 es un número entero de tipo int (integer)

In [ ]:
print(x)    # print es una función que imprime mi variable x

5

In [ ]:
type(x)     # función que nos dice el tipo de dato

int

## Flotantes `float`
* Son números con decimales.
* El tipo `float` hace referencia a que son [números de coma flotante](https://docs.python.org/es/3/tutorial/floatingpoint.html)

In [ ]:
temperatura = 21.8      # se usa el punto para separar los decimales

# imprimiendo varios elementos separados por coma
print("Estamos a", temperatura, "grados")

type(temperatura)       # número decimal de tipo float

Estamos a 21.8 grados

float

## Cadenas `str`
* Las cadenas alfanuméricas van entre comillas simples o dobles.
* El tipo `str` es la abreviatura de *string*

In [ ]:
ciudad = "Londres"      # string
print("Este verano quiero ir a", ciudad)
type(ciudad)

Este verano quiero ir a Londres

str

In [1]:
print("5")      # también es un string
type("5")

5

str

## Booleanos `bool`
* Son de dos tipos `True` o `False`
* Se escribe la primera letra con mayúsculas

In [ ]:
led_on = True
print("¿El LED está encendido?", led_on)
type(led_on)

¿El LED está encendido? True

bool

In [2]:
5 == '5'    # el doble igual == es un operador de comparación

False

In [3]:
type(3 >= 2)

bool

## Listas `list`
* Son una secuencia de datos separados por comas
* Van entre corchetes `[ ]`
* El orden importa

In [ ]:
my_list = [1, 2, 3]
print(my_list)
type(my_list)

[1, 2, 3]

list

In [ ]:
print(type(my_list))    # función dentro de función

<class 'list'>

## Tuplas `tuple`
* Los elementos van entre paréntesis `( )`
* Son inmutables, se usan para datos que no cambian

In [ ]:
vocales = ('a', 'e', 'i', 'o', 'u')
print(vocales)
print(type(vocales))

('a', 'e', 'i', 'o', 'u')
<class 'tuple'>

## Diccionarios `dict`
* Un diccionario permite agrupar datos en forma de parejas de:
    - *clave: valor*
    - *key: value*

In [ ]:
traductor = {'uno': 'one',
             'dos': 'two',
             'tres': 'three',
             'cuatro': ', four',
             'cinco': 'five'}

traductor

{'uno': 'one',
 'dos': 'two',
 'tres': 'three',
 'cuatro': ', four',
 'cinco': 'five'}

In [ ]:
print(traductor)    # parejas clave: valor separadas por comas y entre llaves {}

{'uno': 'one', 'dos': 'two', 'tres': 'three', 'cuatro': ', four', 'cinco': 'five'}

In [ ]:
type(traductor)

dict

### Ejemplo coordenadas

In [ ]:
punto_mapa = {'latitud': 40.48824409244089,
             'longitud': -3.8834986974532573}

print(punto_mapa)

{'latitud': 40.48824409244089, 'longitud': -3.8834986974532573}

## Conjuntos `set`
* Van entre llaves `{ }`
* El orden no importa
* No puede haber repetidos

In [ ]:
sabores = {'vainilla', 'nata', 'chocolate'}
sabores

{'chocolate', 'nata', 'vainilla'}

In [ ]:
type(sabores)

set

## Tipo `None`
Indica que no hay dato.

In [ ]:
informacion = None
print(informacion)
type(informacion)

None

NoneType