<a href="https://colab.research.google.com/github/financieras/pySolutions/blob/main/retos/soluciones_arrastrar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## arrastrar_reto001_p1
Hemos creado varias versiones de una función que permite sumar dos números.

In [ ]:
def sumar(a, b):
    return a + b

def sumar(num1, num2):
    suma = num1 + num2
    return suma

def sumar(a, b):
    return sum((a, b))

print(sumar(3, 2))      # Imprime: 5
print(sumar(-3, -6))    # Imprime: -9
print(sumar(7, 3))      # Imprime: 10

5
-9
10

## arrastrar_reto001_p2
Hemos creado varias versiones de una función que permite multiplicar dos números.

In [ ]:
def producto(a, b):
    return a * b

def producto(num1, num2):
    result = num1 * num2
    return result

print(producto(3, 2))      # Imprime: 6
print(producto(-3, -6))    # Imprime: 18
print(producto(7, -2))     # Imprime: -14

6
18
-14

## arrastrar_reto002_p1
Disponemos de una función que sirve para convertir los minutos en segundos.

In [ ]:
def minutos_a_segundos(minutos):
    return minutos * 60

print(minutos_a_segundos(3))   # Imprime: 180
print(minutos_a_segundos(5))   # Imprime: 300

180
300

## arrastrar_reto002_p2
Disponemos de una función que recibe un número y retorna su doble.

In [ ]:
def doblar(numero):
    return 2 * numero

print(doblar(3))    # Imprime: 6
print(doblar(-5))   # Imprime: -10

6
-10

## arrastrar_reto003_p1
Disponemos de una función que sirve para dar el siguiente número a uno dado.

Por ejemplo, si nos pasan un 5 la función debe retornar 6 que es el siguiente a 5.

In [ ]:
def siguiente(n):
    n += 1
    return  n

print(siguiente(5))    # Imprime 6

6

## arrastrar_reto003_p2
Disponemos de una función que recibe un número entero y devuelve el anterior.

Por ejemplo, si nos pasan un 5 la función debe retornar 4 que es el anterior a 5.

In [ ]:
def anterior(n):
    n -= 1
    return  n

print(anterior(5))    # Imprime 4

4

## arrastrar_reto004_p1
Disponemos de una función que sirve para calcular el área de un triángulo.

Ejemplo:

El área del triángulo de base 20 y altura 5 es: 50.0

In [ ]:
def area_triangulo(base, altura):
    area = base * altura / 2
    return area

# Ejemplo de uso:
base = 20
altura = 5
resultado = area_triangulo(base, altura)
print("El área del triángulo de base", base, "y altura", altura, "es:", resultado)

El área del triángulo de base 20 y altura 5 es: 50.0

## arrastrar_reto004_p2
Disponemos de una función que recibe dos parámetros $a$ y $b$ y devuelve el cuadrado de la suma que es $(a+b)^2$.

In [ ]:
def cuadrado_de_la_suma(a, b):
    suma = a + b
    cuadrado_suma = suma ** 2
    return cuadrado_suma

# Ejemplo de uso:
a = 3
b = 4
resultado = cuadrado_de_la_suma(a, b)
print("El cuadrado de la suma de", a, "y", b, "es", resultado)

El cuadrado de la suma de 3 y 4 es 49

## arrastrar_reto005_p1
Disponemos de una función que sirve para obtener el primer valor de un array.

In [ ]:
def obtener_primer_valor(lista):
    resultado_a = lista[0]
    resultado_b = lista[1]
    resultado_c = lista[-1]
    return resultado_a

print(obtener_primer_valor([10,20,40,80]))  # Imprime: 10

10

## arrastrar_reto005_p2
Disponemos de una función que sirve para obtener la diferencia entre el último valor y el primer valor de un array de números.

In [ ]:
def ultimo_menos_primero(lista):
    resultado_a = lista[1] - lista[2]
    resultado_b = lista[-1] - lista[1]
    resultado_c = lista[-1] - lista[0]
    return resultado_c

print(ultimo_menos_primero([10,20,40,80]))  # Imprime: 70

70

## arrastrar_reto006_p1
Disponemos de una función que calcula la potencia eléctrica multiplicando la intensidad de corriente por el voltaje.

In [ ]:
def potencia(voltaje, intensidad):
    return voltaje * intensidad

print(potencia(220, 4))    # Imprime: 880

880

## arrastrar_reto006_p2
Disponemos de una función que realiza la división entera entre numerador y denominador.

In [ ]:
# La división entera elimina decimales
# No redondea, simplemente elimina los decimales

def division_entera(numerador, denominador):
    return numerador // denominador

print(division_entera(19, 5))   # Imprime: 3

3

## arrastrar_reto007_p1
Disponemos de una función que sirve para convertir las horas en segundos.

Queremos convertir 2 horas a segundos e imprimir el resultado.

In [ ]:
def horas_a_segundos(horas):
    # Función que convierte horas a segundos
    minutos = horas * 60
    segundos = minutos * 60
    return segundos

print(horas_a_segundos(2))   # Imprime: 7200

7200

## arrastrar_reto007_p2
Disponemos de una función que sirve para convertir metros a milímetros.

Queremos convertir 2 metros a milímetros e imprimir el resultado.

In [ ]:
def convierte(metros):
    # Función que convierte metros a milímetros
    centimetros = metros * 100
    milimetros = centimetros * 10
    return milimetros

print(convierte(2))   # Imprime: 2000

2000

## arrastrar_reto008_p1
Disponemos de una función que sirve para calcular el módulo, residuo o resto resultante al dividir un numerador entre un denominador.

Queremos calcular el resto que se obtiene al dividir 17 entre 5. Ejecutando este código obtendremos la frase:

Al dividir 17 entre 5 el resto es 2

In [ ]:
def resto(numerador, denominador):
    return numerador % denominador

a = 17
b = 5

print("Al dividir", a, "entre", b, "el resto es", resto(a, b))

Al dividir 17 entre 5 el resto es 2

## arrastrar_reto008_p2
Disponemos de una función que sirve para calcular el módulo, residuo o resto resultante al dividir un numerador entre un denominador.

Queremos calcular el resto que se obtiene al dividir 5 entre 2. El resto obtenido debería ser 1.

In [ ]:
def resto(numerador, denominador):
    return numerador % denominador

a = 5
b = 2

print("Al dividir", a, "entre", b, "el resto es", resto(a, b))
print("Al dividir", a, "entre 2, si el resto es 0 se trata de número par")
print("Al dividir", a, "entre 2, si el resto es 1 se trata de número impar")

Al dividir 5 entre 2 el resto es 1
Al dividir 5 entre 2, si el resto es 0 se trata de número par
Al dividir 5 entre 2, si el resto es 1 se trata de número impar

## arrastrar_reto009_p1
Disponemos de una función que sirve para convertir una cadena en un número entero.

Dado un número "5" como cadena queremos que nos devuelva un 5 como número entero.

In [ ]:
def cadena_a_entero(num):
    return int(num)

n = "5"
print(cadena_a_entero(n))

5

## arrastrar_reto009_p2
Disponemos de una función que sirve para convertir un número entero en una cadena.

Dado el número 5 como entero queremos que nos devuelva un "5" como cadena.

In [ ]:
def entero_a_cadena(num):
    return str(num)

n = 5
print(entero_a_cadena(n))

5

## arrastrar_reto010_p1
Disponemos de una función que sirve para calcular el perímetro de un rectángulo.

Dado un rectángulo de largo 10 y de ancho 3 deseamos calcular e imprimir su perímetro.

In [ ]:
def perimetro(largo, ancho):
    return 2 * (largo + ancho)

print(perimetro(10, 3))    # Imprime: 26

26

## arrastrar_reto010_p2
<p>Disponemos de una función que recibe el precio base de un artículo y le incrementa con el tanto por uno de IVA para devolver el precio final.</p>
<p>La fórmula es la siguiente:</p>
<p>$\text{Precio Final} = \text{Precio Base} \times (1 + \text{IVA})$</p>
<p>Dado un precio base de 200 € y un IVA del 21%, que en tanto por uno es 0.21, se obtiene un precio final calculado así:</p>
<p>$\text{Precio Final} = 200 \times (1 + 0.21) = 242$ €.</p>

In [ ]:
def precio_final(precio_base, iva):
    return precio_base * (1 + iva)

print(precio_final(200, 0.21))    # Imprime: 242.0

242.0

## arrastrar_reto011_p1
Hemos creado varias versiones de una función que recibe una palabra y la retorna añadiendo una admiración al final.

Si recibe la palabra "Viernes" queremos que retorne: "Viernes!".

In [ ]:
def enfasis(palabra):
    return palabra + "!"

def enfasis(palabra):
    return f"{palabra}!"

#dia = Viernes
dia = "Viernes"
print(enfasis(dia))

Viernes!

## arrastrar_reto011_p2
Hemos creado varias versiones de una función que recibe una palabra y la retorna añadiendo al inicio "Por fin es " y añadiendo al final una admiración.

Si recibe la palabra "Viernes" queremos que retorne: "Por fin es Viernes!".

In [ ]:
def enfasis(palabra):
    return "Por fin es " + palabra + "!"

def enfasis(palabra):
    return f"Por fin es {palabra}!"

#dia = Viernes
dia = "Viernes"
print(enfasis(dia))

Por fin es Viernes!

## arrastrar_reto012_p1
Disponemos de una función que recibe la edad de una persona y nos dice si es mayor de edad o no.

In [ ]:
def mayor_menor(edad):
    if edad >= 18:
        return "es mayor de edad"
    else:
        return "es menor de edad"

# Primer caso de uso
anyos = 17
print(f"Con {anyos} años {mayor_menor(anyos)}.")  # Con 17 años es menor de edad.

# Segundo caso de uso
edad = 18
print(f"Con {edad} años {mayor_menor(edad)}.")  # Con 18 años es mayor de edad.

Con 17 años es menor de edad.
Con 18 años es mayor de edad.

## arrastrar_reto012_p2
Sabemos que un número es par si al dividirlo entre 2 su resto es cero y es impar si su resto es uno.

Disponemos de una función que recibe un número y nos dice si se trata de un número par o impar.

In [ ]:
def es_par_o_impar(numero):
    if numero % 2 == 0:
        return f"{numero} es un número par."
    else:
        return f"{numero} es un número impar."

# Primer caso de uso
entero = 7
print(es_par_o_impar(entero))   # 7 es un número impar.

# Segundo caso de uso
numero = 10
print(es_par_o_impar(numero))   # 10 es un número par.

7 es un número impar.
10 es un número par.

## arrastrar_reto013_p1
Hemos creado varias versiones de una función que recibe como parámetro el nombre de una persona y retorna una frase saludando como se muestra en este ejemplo:

Si el nombre es "Pablo" la frase que devuelve es: "Hola Pablo. ¡Buen viaje!"

In [ ]:
def saluda(nombre):
    # Utilizando f-string
    return f"Hola {nombre}. ¡Buen viaje!"

def saluda(amigo):
    # Utilizando concatenación con +
    return "Hola " + amigo + ". ¡Buen viaje!"

# Caso de uso
persona = "Pablo"
print(saluda(persona))    # Hola Pablo. ¡Buen viaje!

Hola Pablo. ¡Buen viaje!

## arrastrar_reto013_p2
Hemos creado varias versiones de una función que recibe como parámetro el nombre de una persona y retorna una frase saludando como se muestra en este ejemplo:

Si el nombre es "Jose" la frase que devuelve es: "Hasta luego Jose. ¡Nos vemos en la comida!"

In [ ]:
def despedida(persona):
    # Utilizando f-string
    return f"Hasta luego {persona}. ¡Nos vemos en la comida!"

def despedida(nombre):
    # Utilizando concatenación con +
    return "Hasta luego " + nombre + ". ¡Nos vemos en la comida!"

# Caso de uso
amigo = "Jose"
print(despedida(amigo))    # Hasta luego Jose. ¡Nos vemos en la comida!

Hasta luego Jose. ¡Nos vemos en la comida!

## arrastrar_reto014_p1
Disponemos de una función que recibe como parámetro el nombre de una persona y retorna una frase saludando como se muestra en este ejemplo:

Si el nombre es Teresa la frase que devuelve es: "Hola Teresa!"

Pero hay una excepción ya que tenemos un amigo especial que se llama "Matt" y cuando la función recibe este nombre lo que imprime es "Hey Matt, my friend!"

In [ ]:
def saluda(name):
    if name == "Matt":
        return f"Hey {name}, my friend!"
    return f"Hola {name}!"

# Ejemplos de uso de la función

nombre = "Teresa"
print(saluda(nombre))   # Hola Teresa!

nombre = "Matt"
print(saluda(nombre))   # Hey Matt, my friend!

Hola Teresa!
Hey Matt, my friend!

## arrastrar_reto014_p2
Disponemos de una función que recibe como parámetro el nombre de una persona y retorna una frase saludando como se muestra en este ejemplo:

Si el nombre es Carlos la frase que devuelve es: "¡Hola Carlos!"

Pero hay una excepción ya que tenemos una amiga especial que se llama "Anna" y cuando la función recibe este nombre lo que imprime es "¡Hola Anna! ¡Mi amiga especial!"

In [ ]:
def saluda(name):
    saludo = "¡Hola " + name + "!"
    if name == "Anna":
        saludo += " ¡Mi amiga especial!"
    return saludo

# Ejemplos de uso de la función

amigo = "Carlos"
print(saluda(amigo)) # ¡Hola Carlos!

nombre = "Anna"
print(saluda(nombre)) # ¡Hola Anna! ¡Mi amiga especial!

¡Hola Carlos!
¡Hola Anna! ¡Mi amiga especial!

## arrastrar_reto015_p1
<p>Disponemos de una función que recibe un número entero y retorna el cuadrado de ese número.</p>
<p>Por ejemplo, el cuadrado de 5 es $5^2=25$.</p>

In [ ]:
def cuadrado(n):
    return n * n

num = 5
print(f"El cuadrado de {n} es {cuadrado(num)}.")

El cuadrado de 5 es 25.

## arrastrar_reto015_p2
<p>Disponemos de una función que recibe un número entero y retorna el cubo de ese número.</p>
<p>Por ejemplo, el cubo de 5 es $5^3=125$.</p>

In [ ]:
def cubo(n):
    return n * n * n

num = 5
print(f"El cubo de {n} es {cubo(num)}.")

El cubo de 5 es 125.

## arrastrar_reto016_p1
Disponemos de una función que recibe la longitud de los dos catetos de un triángulo rectángulo y retorna la longitud de la hipotenusa.

Para calcular la hipotenusa utilizamos la función hypot que pertenece a la librería math.

In [ ]:
from math import hypot

def hipotenusa(x, y):
    return hypot(x, y)

c1 = 3                  # longitud del cateto1
c2 = 4                  # longitud del cateto2
h = hipotenusa(c1, c2)  # longitud de la hipotenusa
print(f"Si los catetos son {c1} y {c2} entonces la hipotenusa mide {h}")

Si los catetos son 3 y 4 entonces la hipotenusa mide 5.0

## arrastrar_reto016_p2
Disponemos de una función que tiene dos parámetros (a, b) y permite generar un número aleatorio entero entre estos dos valores.

Para generar el número aleatorio entero usamos la función randint de la librería random.

In [ ]:
from random import randint

def numero_aleatorio(a, b):
    # Genera un número aleatorio entero entre a y b
    return randint(a, b)

# El número aleatorio generado va enter 1 y 10
inicio = 1    # número incial para el rango aleatorio
fin = 10      # número final para el rango aleatorio
aleatorio = numero_aleatorio(inicio, fin)
print(f"El número aleatorio generado es: {aleatorio}.")

El número aleatorio generado es: 5.

## arrastrar_reto017_p1
Disponemos de dos variables booleanas una verdadera y otra falsa. Deseamos convertirlas en strings.

Para hacer la conversión disponemos de una función que recibe el valor booleano y retorna una cadena que puede ser "True" o "False".

In [ ]:
def cadena(a):
    return str(a)

a = True    # Valor booleano verdadero
b = False   # Valor booleano falso
print(cadena(a), cadena(b))    # True False

True False

## arrastrar_reto017_p2
Tenemos una función que recibe un dato y lo convierte en una cadena.

Disponemos de dos variables, una es la edad de una persona que es de tipo número entero (int) y la otra es una variable booleana que si es `True` indica que la persona si es cliente.

Deseamos convertir ambas variables en un string para poder efectuar una concatenación usando el signo más (+), ya que si no hacemos la conversión al concatenar da error.

Al ejecutar este código se imprime lo siguiente:

Jose tiene 42 años.
¿Es cliente?: True

In [ ]:
def convertir_a_cadena(dato):
    return str(dato)  # Convierte a string un dato, sea cadena o booleano

edad = 42           # variable de número entero (int)
es_cliente = True   # variable booleana (bool)

# Al concatenar con +, si no se hace la conversión da error
print("Jose tiene " + convertir_a_cadena(edad) + " años.") # Jose tiene 42 años.
print("¿Es cliente?: " + convertir_a_cadena(es_cliente))   # ¿Es cliente?: True

# Al usar f-string no es necesario hacer la conversión
print(f"Jose tiene {edad} años.")     # Jose tiene 42 años.
print(f"¿Es cliente?: {es_cliente}")  # ¿Es cliente?: True

Jose tiene 42 años.
¿Es cliente?: True
Jose tiene 42 años.
¿Es cliente?: True

## arrastrar_reto018_p1
Un estudiante ha aprobado 2 asignaturas optativas y 5 obligatorias.

Las asignaturas optativas son de 4 créditos cada una y las obligatorias son de 6 créditos cada una.

En total el alumno ha obtenido 38 créditos ya que 4 × 2 es 8 y 6 × 5 es 30.

Disponemos de una función que recibe el número de asignaturas optativas y obligatorias aprobadas y nos devuelve los créditos obtenidos.

En este caso de uso, la función recibe 2 asignatura optativas y 5 obligatorias, retornando los 38 créditos obtenidos.

In [ ]:
optati, obliga = 2, 5  # aprobadas 2 asignaturas optativas y 5 obligatorias

def creditos(optativas, obligatorias):
    return 4 * optativas + 6 * obligatorias

print(f'Ha obtenido un total de {creditos(optati, obliga)} crétidos.')  # Ha obtenido un total de 38 crétidos.

Ha obtenido un total de 38 crétidos.

## arrastrar_reto018_p2
Un restaurante vende en un día 100 hamburguesas y 50 órdenes de complementos (patatas fritas y bebida).

Las hamburguesas se cobran a 5 € cada una y los complementos se cobran a 3 € cada uno.

Deseamos conocer el total facturado por estas ventas, que son 5 × 100 = 500 y 3 × 50 = 150, lo que supone un total de 650 €.

Disponemos de una función que recibe el número de hamburguesas y complementos vendidos y nos devuelve la facturación obtenida.

En este caso de uso, la función recibe 100 hamburguesas y 50 órdens de complementos, retornando los 650 € obtenidos.

In [ ]:
ham, comp = 100, 50  # vende 100 hamburguesas y 50 complementos

def facturacion(hamburguesas, complementos):
    return 5 * hamburguesas + 3 * complementos

print(f'Factura un total de {facturacion(ham, comp)} €.')  # Factura un total de 650 €.

Factura un total de 650 €.

## arrastrar_reto019_p1
En un restaurante hacen un descuento si vienen a comer dos personas y la suma de sus edades es menor o igual a 40 años.

Dos amigos de 16 y 17 años van al restaurante y la función determina si pueden recibr el descuento o no.

La función recibe como parámetros las dos edades y retorna un booleano que puede ser `True` o `False` según se tenga o no derecho al descuento.

In [ ]:
def hay_descuento(edad1, edad2):
    return True if edad1 + edad2 <= 40 else False

edad1, edad2 = 16, 17  # edades de los dos amigos
print(hay_descuento(edad1, edad2))   # True

True

## arrastrar_reto019_p2
Para entrar en un cuerpo de élite de la policía se exigen unas pruebas físicas muy duras que consisten en tener unos buenos tiempos en carrera de obstáculos y en natación.

No importan los tiempos en cada especialidad sino que lo exigido es que la suma del tiempo empleado en carrera más natación no supere los 600 segundos.

La función recibe como parámetros los segundos que se tarda en cada especialidad deportiva y retorna un booleano que puede ser `True` o `False` según se haya superado la prueba física o no.

Un aspirante que tarde 190 segundos en la carrera y 400 segundos en la prueba de natación, si superaría la prueba física, ya que 190 + 400 no es mayor de los 600 segundos exigidos como límite.

In [ ]:
def prueba_superada(carrera, natacion):
    return True if carrera + natacion <= 600 else False

carrera, natacion = 190, 400
print(prueba_superada(carrera, natacion))   # True

True

## arrastrar_reto020_p1
Queremos calcular el valor máximo de una lista de números.

Disponemos de varias versiones de una función que recibe la lista de números y retorna el mayor de todos ellos.

In [ ]:
def maximo(lista):
    return max(lista)

# ordenando la lista
def maximo(lista):
    return sorted(lista)[-1]

print(maximo([4, -2, 9, 5]))    # 9

9

## arrastrar_reto020_p2
Dada una lista de números queremos calcular su valor máximo.

Disponemos de varias versiones de una función que recibe la lista de números y retorna el mayor de todos ellos.

In [ ]:
def maximo(lista):
    return max(lista)

def maximo(lista):
    maxi = lista[0] # Inicializamos la variable con el primer número de la lista
    for num in lista:
        if num > maxi: # Si encontramos un número más grande
            maxi = num    # actualizamos 'maxi'
    return maxi

print(maximo([4, -2, 9, 5]))    # 9

9

## arrastrar_reto021_p1
Queremos calcular el valor mínimo de una lista de números.

La función recibe la lista de números y retorna el menor de todos ellos.

In [ ]:
def minimo(lista):
    menor = lista[0]  # Inicializamos la variable 'menor'
    for numero in lista:
        if numero < menor:  # Si encontramos un número más pequeño
            menor = numero  # actualizamos 'menor'
    return menor

print(minimo([7,2,9]))    # 2

2

## arrastrar_reto021_p2
Queremos calcular el valor mínimo de una lista de números.

Hemos creado varias versiones de una función que recibe la lista de números y retorna el menor de todos ellos.

In [ ]:
def minimo(lista):
    return min(lista)

def minimo(lista):
    lista.sort()
    return lista[0]

print(minimo([7,2,9]))    # 2

2

## arrastrar_reto022_p1
Queremos calcular la diferencia entre el máximo y el mínimo de una lista de números.

La función recibe la lista de números y retorna el mayor menos el menor.

In [ ]:
def dif(lista):
    # Inicializar las variables para el máximo y el mínimo
    maximo = minimo = lista[0]
    # buscamos el máximo y el mínimo con operador ternario
    for num in lista:
        maximo = num if num > maximo else maximo
        minimo = num if num < minimo else minimo
    return maximo - minimo

print(dif([5,2,9]))    # 7

7

## arrastrar_reto022_p2
Queremos calcular la diferencia entre el máximo y el mínimo de una lista de números.

La función recibe la lista de números y retorna el mayor menos el menor.

In [ ]:
def diferencia(lista):
    # Inicializar las variables para el máximo y el mínimo
    maximo = minimo = lista[0]
    # buscamos el máximo y el mínimo con operador ternario
    for num in lista:
        maximo = num if num > maximo else maximo
        minimo = num if num < minimo else minimo
    return maximo - minimo

print(diferencia([5,2,9]))    # 7

7

## arrastrar_reto023_p1
Queremos concatenar dos listas de números enteros.

La función recibe las dos listas y las concatena, esto es, las une convirtiéndolas en una sola lista que se retorna.

Por ejemplo, si se reciben, en este orden, las listas [1,2,3] y [5,7,9] se retornará la lista [1,2,3,5,7,9].

In [ ]:
a = [1,2,3]
b = [5,7,9]

def concat(a, b):
    for num in b:
        a.append(num)
    return a

print(concat(a, b))

[1, 2, 3, 5, 7, 9]

## arrastrar_reto023_p2
Queremos concatenar dos listas de números enteros.

La función recibe las dos listas y las concatena, esto es, las une convirtiéndolas en una sola lista que se retorna.

Por ejemplo, si se reciben, en este orden, las listas [1,2,3] y [5,7,9] se retornará la lista [1,2,3,5,7,9].

In [ ]:
a = [1,2,3]
b = [5,7,9]

def concat(a, b):
    return a + b

print(concat(a, b))

[1, 2, 3, 5, 7, 9]

## arrastrar_reto024_p1
Queremos crear una función que reciba una lista y devuelva el último elemento de la lista.

Si la lista está vacía devolverá `None`.

In [ ]:
def ultimo(lista):
    return lista[-1] if lista else None     # operador ternario

def ultimo(lista):
    if not lista:  # Verificar si la lista está vacía
        return None  # Retornar None si la lista está vacía
    else:
        return lista.pop()  # Usar pop() para obtener y eliminar el último elemento de la lista

print(ultimo([5,9,7]))  # 7

7

## arrastrar_reto024_p2
Queremos crear una función que reciba una lista y devuelva el último elemento de la lista.

Si la lista está vacía devolverá `None`.

In [ ]:
def ultimo(lista):
    return None if not lista else lista[-1]  # operador ternario

def ultimo(lista):
    if lista:  # Verificar si la lista está vacía
        return lista.pop()  # Usar pop() para obtener y eliminar el último elemento de la lista
    else:
        return None  # Retornar None si la lista está vacía

print(ultimo([5,9,7]))  # 7

7

## arrastrar_reto025_p1
Tengo una función que usa un bucle `while`.

La función recibe un número entero positivo como por ejemplo 5 y devuelve una lista con los números correlativos entre 1 y 5.

Retorna la lista [1, 2, 3, 4, 5].

In [ ]:
def generar_lista(num):
    lista = []  # inicializamos la lista como una lista vacía
    i = 1          # inicializamos la variable
    while i <= num:
        lista.append(i)
        i += 1  # incrementamos la variable
    return lista

# Ejemplo de uso
numero = 5
resultado = generar_lista(numero)
print(resultado)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

## arrastrar_reto025_p2
Tengo una función que usa un bucle `while`.

La función recibe un número entero positivo como por ejemplo 5 y devuelve una lista con los números correlativos entre 1 y 5.

Retorna la lista [1, 2, 3, 4, 5].

In [ ]:
def generar_lista(num):
    lista = []      # inicializamos la lista como una lista vacía
    i = 0      # inicializamos la variable
    while i < num:
        i = i + 1  # incrementamos la variable
        lista.append(i)
    return lista

# Ejemplo de uso
numero = 5
resultado = generar_lista(numero)
print(resultado)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

## arrastrar_reto026_p1
Tengo una función que recibe dos números y retorna una lista con esos dos números, pero cambiados de orden.

Lo que hace la función es permutar de orden los números y devolverlos en forma de lista

Si recibe 2 y 7 retorna la lista [7, 2].

In [ ]:
def swap(a, b):
    (a, b) = (b, a)     # permutando a y b en una sola línea
    return [a, b]

(a, b) = (2, 7)
print(swap(a, b))   # [7, 2]

[7, 2]

## arrastrar_reto026_p2
Tengo una función que recibe dos números y retorna una lista con esos dos números, pero cambiados de orden.

Lo que hace la función es permutar de orden los números y devolverlos en forma de lista

Si recibe 2 y 7 retorna la lista [7, 2].

In [ ]:
def swap(a, b):
    temp = a     # Almacena el valor original de 'a' en una variable temporal 'temp'
    a = b  # Asigna el valor de 'b' a 'a'
    b = temp  # Asigna el valor original de 'a' (almacenado en 'temp') a 'b'
    return [a, b]

(a, b) = (2, 7)
print(swap(a, b))   # [7, 2]

[7, 2]

## arrastrar_reto027_p1
Tengo tres artículos (art1, art2, art3) cuyos precios respectivos son (2, 5, 3) y cuyas cantidades vendidas respectivamente son (100, 200, 300).

Deseamos calcular el importe facturado que en este caso es:

Facturación = 2 × 100 + 5 × 200 + 3 × 300 = 2100 €.

Queremos una función que reciba el array de tres precios y el array de tres cantidades vendidas y retorne lo facturado por estas ventas.

In [ ]:
precios = [2, 5, 3]
cantidades = [100, 200, 300]

def facturacion(precios, cantidades):
    [p1, p2, p3] = precios
    [q1, q2, q3] = cantidades
    return p1 * q1 + p2 * q2 + p3 * q3

print(facturacion(precios, cantidades))    # 2100

2100

## arrastrar_reto027_p2
Tengo tres artículos (art1, art2, art3) cuyos precios respectivos son (2, 5, 3) y cuyas cantidades vendidas respectivamente son (100, 200, 300).

Deseamos calcular el importe facturado que en este caso es:

Facturación = 2 × 100 + 5 × 200 + 3 × 300 = 2100 €.

Queremos una función que reciba el array de tres precios y el array de tres cantidades vendidas y retorne lo facturado por estas ventas.

In [ ]:
precios = [2, 5, 3]
cantidades = [100, 200, 300]

def facturacion(precios, cantidades):
    total = 0    # inicializamos la variable
    for i in range(len(precios)):  # suponemos que los 2 arrays son de igual longitud
        total += precios[i] * cantidades[i]
    return total

print(facturacion(precios, cantidades))    # 2100

2100

## arrastrar_reto028_p1
Un opositor está optando a una plaza, para obtenerla debe superar tres exámenes conocidos como fase_a, fase_b y fase_c.

Cada una de estas pruebas se representa por una variable booleana: si su valor es True, significa que el candidato ha aprobado el examen; si es False, indica que lo ha suspendido.

Necesitamos una función que analice el resultado de los tres exámenes y determine si el candidato ha obtenido la plaza, cosa que sucederá solo si aprueba todos los exámenes.

Al final, se presentan varios casos de prueba para evaluar el funcionamiento de la función.

In [ ]:
def ganar_plaza(fase_a, fase_b, fase_c):
    if fase_a and fase_b and fase_c:
        return True
    else:
        return False

# Casos de prueba
# Caso 1: El candidato ha aprobado todos los exámenes
print("Caso 1:", ganar_plaza(True, True, True))  # True

# Caso 2: El candidato ha aprobado solo dos exámenes
print("Caso 2:", ganar_plaza(True, True, False))  # False

# Caso 3: El candidato ha aprobado solo un exámene
print("Caso 3:", ganar_plaza(True, False, False))  # False

# Caso 4: El candidato no ha superado ninguno de los exámenes
print("Caso 4:", ganar_plaza(False, False, False))  # False

Caso 1: True
Caso 2: False
Caso 3: False
Caso 4: False

## arrastrar_reto028_p2
Un opositor está optando a una plaza, para obtenerla debe superar tres exámenes conocidos como fase_a, fase_b y fase_c.

Cada una de estas pruebas se representa por una variable booleana: si su valor es `True`, significa que el candidato ha aprobado el examen; si es `False`, indica que lo ha suspendido.

Necesitamos una función que analice el resultado de los tres exámenes y determine si el candidato ha obtenido la plaza, cosa que sucederá solo si aprueba todos los exámenes.

Al final, se presentan varios casos de prueba para evaluar el funcionamiento de la función.

#### Comentario

1.  La función `all()` devuelve `True` si todos los elementos de un iterable son verdaderos; de lo contrario, devuelve `False`.
2.  La función `any()` devuelve `True` si algún elemento de un iterable es verdadero; de lo contrario, devuelve `False`.

In [ ]:
def ganar_plaza(fase_a, fase_b, fase_c):
    return all([fase_a, fase_b, fase_c])

# Casos de prueba
# Caso 1: El candidato ha aprobado todos los exámenes
print("Caso 1:", ganar_plaza(True, True, True))  # True

# Caso 2: El candidato ha aprobado solo dos exámenes
print("Caso 2:", ganar_plaza(True, True, False))  # False

# Caso 3: El candidato ha aprobado solo un exámene
print("Caso 3:", ganar_plaza(True, False, False))  # False

# Caso 4: El candidato no ha superado ninguno de los exámenes
print("Caso 4:", ganar_plaza(False, False, False))  # False

## arrastrar_reto029_p1
Deseamos detectar si dos números son iguales.

Si son iguales devuelva `True` y en caso contrario devuelva `False`.

Ejemplo: 2 y 8/4 son iguales.
Ejemplo: 7 y "7" no son iguales, ya que uno es un entero y otro es un string.
Ejemplo: 5 y abs(-5) si son iguales, ya que el valor absoluto de -5 es 5.

In [ ]:
def iguales(num1, num2):
    return num1 == num2

print(iguales(2, 8/4))      # True
print(iguales(7, "7"))      # False
print(iguales(5, abs(-5)))  # True

True
False
True

## arrastrar_reto029_p2
Deseamos detectar si un número n está en una lista.

Tenemos varias versiones de una función que logran este resultado.

In [ ]:
def esta_en_la_lista(n, lista):
    return n in lista

def esta_en_la_lista(n, lista):
    for num in lista:
        if num == n:
            return True
    return False

print(esta_en_la_lista(2, [1, "2", 3, 4]))          # False
print(esta_en_la_lista(2, [1, 1+1, 3, 4]))          # True
print(esta_en_la_lista(2, [1, 6/3, 3, 4]))          # True
print(esta_en_la_lista(2, [1, 7//3, 3, 4]))         # True
print(esta_en_la_lista(2, [1, abs(-2), 3, 4]))      # True
print(esta_en_la_lista(2, [1, int("2"), 3, 4]))     # True
print(esta_en_la_lista(2, [1, eval("3-1"), 3, 4]))  # True
print(esta_en_la_lista(2, [1, 6.0//3, 3, 4]))       # True

False
True
True
True
True
True
True
True

## arrastrar_reto030_p1
<p>Necesitamos una función que calcule el precio total que tenemos que abonar al efectuar una compra.</p>
<p>La función recibe como parámetros:</p>
<p></p>
<ol>
    <li>el <strong>precio_unitario</strong> del artículo comprado</li>
    <li>la <strong>cantidad</strong> o número de artículos comprados</li>
    <li>un posible <strong>descuento</strong> según el cliente tenga o no derecho a ese descuento. Al invocar la función es un atributo opcional.
    </li>
</ol>
<p></p>

<p>Si no se proporciona un descuento, se asume que el cliente no percibirá ningún descuento.</p>
<p>Se muestran dos casos de uso:</p>
<p></p>
<ol>
    <li>el primero es un caso con descuento</li>
    <li>el segundo es un caso con solo dos atributos, lo cual indica que el cliente no recibe ningún descuento.</li>
</ol>

In [ ]:
def importe_factura(precio_unitario, cantidad, descuento=0):
    precio_total = precio_unitario * cantidad
    precio_con_descuento = precio_total - (precio_total * descuento / 100)
    return precio_con_descuento

# Ejemplos de uso
print(importe_factura(10, 5, 10))  # 45.0 (con descuento del 10%)
print(importe_factura(10, 5))      # 50.0 (sin descuento)

45.0
50.0

## arrastrar_reto030_p2
<p>Necesitamos una función que calcule el salario neto de un empleado, tomando en cuenta un <strong>salario_base</strong>, unas <strong>horas_extra</strong> opcionales y un posible <strong>bono</strong> adicional opcional.</p>
<p>Si no se proporcionan horas extra o bono, se asume que el empleado no percibe retribución por ese concepto.</p>

In [ ]:
def calcular_salario(salario_base, horas_extra=0, bono=0):
    salario_total = salario_base + (horas_extra * 30)  # Suponiendo un pago de 30 €/hora extra
    salario_total += bono
    impuestos = salario_total * 0.15  # Suponiendo una tasa de impuestos del 15%
    salario_neto = salario_total - impuestos
    return salario_neto

# Ejemplos de uso
# Salario con 20 horas extra y bono de 400 €
print(calcular_salario(1600, 20, 400))  # 2210

# Salario con 10 horas extra y sin bono
print(calcular_salario(1500, 10))        # 1530

# Salario sin horas extra ni bono
print(calcular_salario(3000))           # 2550

2210.0
1530.0
2550.0

## arrastrar_reto031_p1
Dados dos números: base y exponente, en ese orden, como parámetros de una función, se pretende obtener el resultado de elevar la base al exponente.


1. Por ejemplo, la base 2 elevada al exponente 4 es 16 ya que $2^4=2×2×2×2=16$.
2. Otro ejemplo, al elevar 3 al cubo se obtiene 27 ya que $3^3=3×3×3=27$.

In [ ]:
def elevar(n, m):
    producto = 1    # inicializamos la variable producto
    for i in range(m):
        producto *= n
    return producto

n, m = 2, 4
print(f"Al elevar {n} a {m} obtenemos {elevar(n, m)}.")

a = b = 3
print(f"Al elevar {a} a {b} obtenemos {elevar(a, b)}.")

Al elevar 2 a 4 obtenemos 16.
Al elevar 3 a 3 obtenemos 27.

## arrastrar_reto031_p2
Tenemos una función que recibe una lista de números y un valor entero $n$.

La función retorna una lista donde cada uno de los elementos es igual al elemento de la lista recibida pero multiplicado por $n$.

De esta forma si $n=2$ estaríamos doblando el valor de cada uno de los números recibidos en la lista de entrada.

In [ ]:
def multiplicador(lista, n):
    result = []    # inicializamos la variable como una lista vacía
    for elemento in lista:
        result.append(elemento * n)
    return result

# Caso 1
n = 2
lista = [3, 5, 7, 9]
print(multiplicador(lista, n))    # [6, 10, 14, 18]

# Caso 2
n = 10
lista = list(range(1, 6))         # [1, 2, 3, 4, 5]
print(multiplicador(lista, n))    # [10, 20, 30, 40, 50]

[6, 10, 14, 18]
[10, 20, 30, 40, 50]

## arrastrar_reto032_p1
Tenemos una función de Python que recibe como parámetro un diccionario donde se muestran nombres de amigos y su edad correspondiente.

Queremos que la función nos retorne cuántos miembros hay en ese grupo de amigos.

También queremos otra función que retorne la suma de las edades de todos los amigos del grupo.

In [ ]:
grupo1 = {'Ana':15,
          'Jose':17,
          'Paula':16}

grupo2 = {'Eva':16,
          'Mario':18,
          'Sole':17,
          'Pablo':16}

def num_amigos(diccionario):
    return len(diccionario.items())

def suma_edades(diccionario):
    return sum(diccionario.values())

print(f"El grupo 1 tiene {num_amigos(grupo1)} miembros.")
print(f"El grupo 2 tiene {num_amigos(grupo2)} miembros.")

print(f"La suma de las edades del grupo 1 es {suma_edades(grupo1)} años.")
print(f"La suma de las edades del grupo 2 es {suma_edades(grupo2)} años.")

El grupo 1 tiene 3 miembros.
El grupo 2 tiene 4 miembros.
La suma de las edades del grupo 1 es 48 años.
La suma de las edades del grupo 2 es 67 años.

## arrastrar_reto032_p2
Tenemos una función de Python que recibe como parámetro un diccionario donde se muestran nombres de amigos y su edad correspondiente.

Queremos que la función nos retorne cuántos miembros hay en ese grupo de amigos.

También queremos otra función que retorne la suma de las edades de todos los amigos del grupo.

In [ ]:
grupo1 = {'Ana':15,
          'Jose':17,
          'Paula':16}

grupo2 = {'Eva':16,
          'Mario':18,
          'Sole':17,
          'Pablo':16}

def num_amigos(diccionario):
    return len(diccionario)

def suma_edades(diccionario):
    return sum(diccionario.values())

print(f"El grupo 1 tiene {num_amigos(grupo1)} miembros.")
print(f"El grupo 2 tiene {num_amigos(grupo2)} miembros.")

print(f"La suma de las edades del grupo 1 es {suma_edades(grupo1)} años.")
print(f"La suma de las edades del grupo 2 es {suma_edades(grupo2)} años.")

El grupo 1 tiene 3 miembros.
El grupo 2 tiene 4 miembros.
La suma de las edades del grupo 1 es 48 años.
La suma de las edades del grupo 2 es 67 años.

## arrastrar_reto033_p1
Disponemos de un array con varios números, algunos en formato de *string* y otros son de tipo *integer*.

Por ejemplo: ['10', 20, '30', 40, '50', 60, '70', 80, '90']

Tenemos dos funciones en Python, una convierte todos los números a enteros y la otra convierte todos los números a *string*.

In [ ]:
def convertir_a_cadenas(lista):
    return list(str(elemento) for elemento in lista)

def convertir_a_enteros(lista):
    return list(int(elemento) for elemento in lista)

# Programa principal
lista_mixta = ['10', 20, '30', 40, '50', 60, '70', 80, '90']
print("Lista original:", lista_mixta)
print()

lista_cadenas = convertir_a_cadenas(lista_mixta)
print("Lista convertida a cadenas:")
print(lista_cadenas)    # ['10', '20', '30', '40', '50', '60', '70', '80', '90']
print()

lista_enteros = convertir_a_enteros(lista_mixta)
print("Lista convertida a enteros:")
print(lista_enteros)    # [10, 20, 30, 40, 50, 60, 70, 80, 90]

Lista original: ['10', 20, '30', 40, '50', 60, '70', 80, '90']

Lista convertida a cadenas:
['10', '20', '30', '40', '50', '60', '70', '80', '90']

Lista convertida a enteros:
[10, 20, 30, 40, 50, 60, 70, 80, 90]

## arrastrar_reto033_p2
Disponemos de un array con varios números, algunos en formato de *string* y otros son de tipo *integer*.

Por ejemplo: ['10', 20, '30', 40, '50', 60, '70', 80, '90']

Tenemos dos funciones en Python:

1. La primera tomando los números que originalmente eran enteros, los convierte en cadenas, retornando una lista solo con ellos.
2. La segunda tomando los números que originalmente eran cadena, los convierte en enteros, retornando una lista solo con ellos.

In [ ]:
def enteros_convertidos_a_cadenas(lista):
    return list(str(num) for num in lista if type(num) == int)

def cadenas_convertidas_a_enteros(lista):
    return list(int(num) for num in lista if type(num) == str)

# Programa principal
lista_mixta = ['10', 20, '30', 40, '50', 60, '70', 80, '90']
print("Lista original:", lista_mixta)
print()

ahora_cadenas = enteros_convertidos_a_cadenas(lista_mixta)
print("Los que fueron enteros ahora son cadenas:")
print(ahora_cadenas)    # ['20', '40', '60', '80']
print()

ahora_enteros = cadenas_convertidas_a_enteros(lista_mixta)
print("Los que fueron cadenas ahora son enteros:")
print(ahora_enteros)    # [10, 30, 50, 70, 90]

Lista original: ['10', 20, '30', 40, '50', 60, '70', 80, '90']

Los que fueron enteros ahora son cadenas:
['20', '40', '60', '80']

Los que fueron cadenas ahora son enteros:
[10, 30, 50, 70, 90]

## arrastrar_reto034_p1
En Python dos diccionarios son iguales siempre que tengan las mismas parejas clave : valor, aunque las parejas estén en distinto orden dentro del diccionario.

Queremos crear una función que detecte si dos diccionarios son iguales o no.

En el primer caso de uso los diccionarios 1 y 2 si son iguales, por el contrario en el segundo caso de uso los diccionarios 1 y 3 no son iguales.

In [ ]:
def son_iguales(d1, d2):
    return d1 == d2

diccionario1 = {'a': 1, 'b': 2, 'c': 3}
diccionario2 = {'b': 2, 'a': 1, 'c': 3}
print(son_iguales(diccionario1, diccionario2))  # True

diccionario3 = {'a': 1, 'b': 2, 'c': 4}
print(son_iguales(diccionario1, diccionario3))  # False

True
False

## arrastrar_reto034_p2
En Python dos diccionarios son iguales siempre que tengan las mismas parejas calave:valor, aunque las parejas estén en distinto orden dentro del diccionario.

Queremos crear una función que detecte si dos diccionarios son iguales o no.

In [ ]:
def son_iguales(d1, d2):
    return d1 == d2

diccionario1 = {'a': 1, 'b': 2, 'c': 3}
diccionario2 = {'b': 2, 'a': 1, 'c': 3}
diccionario3 = {'a': 1, 'b': 2, 'c': 4}

check = son_iguales(diccionario1, diccionario2)
print(check)  # True
print(f"El diccionario1 y el diccionario2 {'si' if check else 'no'} son iguales.")
print()

check = son_iguales(diccionario1, diccionario3)
print(check)  # False
print(f"El diccionario1 y el diccionario3 {'si' if check else 'no'} son iguales.")

True
El diccionario1 y el diccionario2 si son iguales.

False
El diccionario1 y el diccionario3 no son iguales.

## arrastrar_reto035_p1
Hemos creado una función que recibe dos números enteros (n, m) y nos dice si m es divisor de n.

La función usa un operador ternario.

In [ ]:
def es_divisor(n, m):
    respuesta = "SI" if n % m == 0 else "NO"
    return f'{m} {respuesta} es divisor de {n}'

print(es_divisor(120, 5))   # 5 SI es divisor de 120
print(es_divisor(120, 7))   # 7 NO es divisor de 120

5 SI es divisor de 120
7 NO es divisor de 120

## arrastrar_reto035_p2
Hemos creado una función que recibe dos números enteros (a, b).

La función utiliza un operador ternario.

Si la suma de los dos parámetros es par retorna la suma y en caso contrario retorn la diferencia.

In [ ]:
def suma_par(a, b):
    return a + b if (a+b) % 2 == 0 else a - b

print(suma_par(5, 7))  # 12
print(suma_par(9, 4))  # 5

12
5

## arrastrar_reto036_p1
Nos gustaría crear una función en Python que reciba dos parámetros $x$
 e $y$ y que retorne `True` si son iguales y además sus tipos también son iguales, en caso contrario retornaría `False`.

In [ ]:
def son_iguales(x, y):
    return x is y

# Casos de uso
print(son_iguales(4, 5-1))      # True
print(son_iguales(4, 8//2))     # True
print(son_iguales(4.0, 8/2))    # True   (ambos son float)
print(son_iguales(4, 8/2))      # False  (8/2 es 4.0 que es float)

True
True
True
False

## arrastrar_reto036_p2
Sabemos que para comparar dos números is es más exigente que ==. El motivo es que con is se exige que los números sean iguales y que además los tipos sean iguales.

Ejemplo:

1. `print(2 == 2.0) # True`
2. `print(2 is 2.0) # False`

Tenemos una función que recibe dos parámetros (a, b) y devuelve `True` si son iguales y además sus tipos también son iguales, en caso contrario retornaría `False`.

Después de la función nos dan una lista con varias formas de expresar un 2 y queremos comprobar si al aplicar la función se comprueba que cada uno de los elementos de esa lista son iguales a 2, tanto en valor como en tipo.

Se aplica la función a los elementos de esta lista:

`lista = [2, 6//3, --2, 1+1, abs(-2), eval("3-1"), int(6.0//3), 6.0//3]`

Lo que se imprime es esta serie de booleanos:

`True True True True True True True False`

In [ ]:
def iguales_y_tipo_igual(a, b):
    return a == b and type(a) == type(b)


# Programa principal que invoca reiteradamente la función
lista = [2, 6//3, --2, 1+1, abs(-2), eval("3-1"), int(6.0//3), 6.0//3]
for  num in lista:
    print(iguales_y_tipo_igual(num, 2), end=" ")

True True True True True True True False

## arrastrar_reto037_p1
Dado un array de números enteros decir si alguno de los números es 10 o si la suma de dos números <u>consecutivos</u> del array es 10.

In [ ]:
def localiza_diez(arr):
    # Verifica si algún elemento es 10
    if 10 in arr:
        return True
    # Utiliza un conjunto deslizante para encontrar la suma de pares consecutivos
    for i in range(len(arr)-1):
        if arr[i] + arr[i+1] == 10:
            return True
    return False

# Casos de uso
array1 = [1,2,3,4,5,11]
array2 = [1,2,3,4,5,10]
array3 = [1,2,3,4,6,5]

print(localiza_diez(array1))    # False
print(localiza_diez(array2))    # True  (hay un 10)
print(localiza_diez(array3))    # True  (4+6=10)

False
True
True

## arrastrar_reto037_p2
Dado un array de números enteros entre 0 y 9 decir si alguno de los números es 5 o si la suma de dos de ellos es 5.

Se proporcionan varios casos de uso, algunos con resultado `True` y otros con resultado `False`.

In [ ]:
def hay_cinco(lista):
    # Verifica si el número 5 está presente en la lista
    if 5 in lista:
        return True
    # Itera sobre todas las parejas de números en la lista
    n = len(lista)
    for i in range(n-1):
        for j in range(i + 1, n):
            # Si la suma de dos números es igual a 5, devuelve True
            if lista[i] + lista[j] == 5:
                return True
    # Si no se cumple ninguna de las condiciones anteriores, devuelve False
    return False

# Casos de uso
lista = [6, 1, 2, 0, 8]
print(lista, hay_cinco(lista))  # [6, 1, 2, 0, 8] False

lista = [3, 1, 7, 6, 0]
print(lista, hay_cinco(lista))  # [3, 1, 7, 6, 0] False

lista = [8, 2, 0, 6, 7]
print(lista, hay_cinco(lista))  # [8, 2, 0, 6, 7] False

lista = [8, 3, 7, 4, 5]
print(lista, hay_cinco(lista))  # [8, 3, 7, 4, 5] True

lista = [6, 3, 4, 0, 1]
print(lista, hay_cinco(lista))  # [6, 3, 4, 0, 1] True

lista = [3, 2, 4, 7, 1]
print(lista, hay_cinco(lista))  # [3, 2, 4, 7, 1] True

[6, 1, 2, 0, 8] False
[3, 1, 7, 6, 0] False
[8, 2, 0, 6, 7] False
[8, 3, 7, 4, 5] True
[6, 3, 4, 0, 1] True
[3, 2, 4, 7, 1] True

## arrastrar_reto038_p1
Dado un array de números enteros nos gustaría tener una función que devuelva `True` si todos ellos son divisibles por 5 y en caso contrario que devuelva `False`.

Ejemplos:

1. Para la lista [5, -55, 45, 60] se ha de retornar True ya que todos los números son divisibles por 5.
2. Para la lista [-15, 17, 50, 555] se ha de imprimir False ya que 17 no es divisible entre 5, por lo que no todos lo son.

Hemos creado varias versiones de una función que efectúa este cálculo.

#### Comentario

1. La función `all()` devuelve `True` si todos los elementos de un iterable son verdaderos; de lo contrario, devuelve `False`.
2. La función `any()` devuelve `True` si algún elemento de un iterable es verdadero; de lo contrario, devuelve `False`.

In [ ]:
lista1 = [5, -55, 45, 60]
lista2 = [-15, 17, 50, 555]

def todos(lista):
    for num in lista:
        if num % 5 != 0:
            return False
    return True

def todos(lista):
    return all(num % 5 == 0 for num in lista)

print(f"En la lista1 ¿son todos divisibles por cinco?: {todos(lista1)}.")
print(f"En la lista2 ¿son todos divisibles por cinco?: {todos(lista2)}.")

En la lista1 ¿son todos divisibles por cinco?: True.
En la lista2 ¿son todos divisibles por cinco?: False.

## arrastrar_reto038_p2
Dado un array de números enteros nos gustaría tener una función que devuelva
`True` si todos ellos son pares y en caso contrario que devuelva `False`.

Ejemplos:

1. Para la lista [2, -28, 44, 60] se ha de retornar True ya que todos los números son divisibles por 2.
2. Para la lista [-16, 17, 50, 550] se ha de imprimir False ya que 17 no es divisible entre 2, por lo que no todos son pares.

Hemos creado varias versiones de una función que efectúa este cálculo.

#### Comentario

1. La función `all()` devuelve `True` si todos los elementos de un iterable son verdaderos; de lo contrario, devuelve `False`.
2. La función `any()` devuelve `True` si algún elemento de un iterable es verdadero; de lo contrario, devuelve `False`.

In [ ]:
lista1 = [2, -28, 44, 60]
lista2 = [-16, 17, 50, 550]

def todos_pares(lista):
    for num in lista:
        if num % 2:
            return False
    return True

def todos_pares(lista):
    return all(num % 2 == 0 for num in lista)

print(f"En la lista1 ¿son todos pares?: {todos_pares(lista1)}.")
print(f"En la lista2 ¿son todos pares?: {todos_pares(lista2)}.")

En la lista1 ¿son todos pares?: True.
En la lista2 ¿son todos pares?: False.

## arrastrar_reto039_p1
He realizado una compra de artículos y he anotado su precio antes de aplicar el 21% de IVA (Impuesto sobre el Valor Añadido).

Este es el array con los precios antes de impuestos:

`[80, 90, 500, 40, 700, 75]`

Tengo instrucciones de eliminar del carro de compra, y por lo tanto del array, los artículos cuyo impuesto por IVA sea mayor o igual a 100 €.

El array del ejemplo anterior se reduciría y quedaría así:

`[80, 90, 40, 75]`

puesto que:

1. el IVA de 500 € es 21% x 500 = 105 €
2. el IVA de 700 € es 21% x 700 = 147 €

In [ ]:
def filtra_impuestos(lista):
    return [precio for precio in lista if 0.21 * precio < 100]

print(filtra_impuestos([80, 90, 500, 40, 700, 75]))    # [80, 90, 40, 75]

[80, 90, 40, 75]

## arrastrar_reto039_p2
Una función recibe una lista de números enteros y devuelve esa misma lista pero solo con los números pares.

In [ ]:
lista1 = [7,2,0,6,5,9,3,8]
lista2 = list(range(10, 20))  # crea una lista del 10 al 19

def solo_pares(lista):
    return [num for num in lista if num % 2 == 0]

print("Solo pares:", solo_pares(lista1))  # [2, 0, 6, 8]
print("Solo pares:", solo_pares(lista2))  # [10, 12, 14, 16, 18]

Solo pares: [2, 0, 6, 8]
Solo pares: [10, 12, 14, 16, 18]

## arrastrar_reto040_p1
Tengo tres funciones que logran sumar todos los números de una lista.

In [ ]:
# Método 1
def suma(lista):
    return sum(lista)

# Método 2
def suma(lista):
    total = 0
    for elemento in lista:
        total += elemento
    return total

# Método 3
def suma(arr):
    total = 0
    for i in range(len(arr)):
        total += arr[i]
    return total

de_1_a_100 = list(range(1, 101))
print(suma(de_1_a_100))  # 5050

5050

## arrastrar_reto040_p2
Tengo tres funciones que logran sumar todos los números de una lista.

In [ ]:
lista = [6, 4, 2, 3]

def suma_lista(lista):
    return sum(num for num in lista)

def suma_lista(arr):
    total = 0
    for i in range(len(arr)):
        total = total + arr[i]
    return total

def suma_lista(arr):
    total = 0
    for num in arr:
        total += num
    return total

print(suma_lista(lista))  # 15

15

## arrastrar_reto041_p1
Necesitamos un código que sume las filas de una matriz.

En Python una matriz es una lista de listas, por ejemplo la siguiente:


<pre><code>  matriz = [[1,2],
            [3,4],
            [5,6],
            [7,8]]</code></pre>


Esta es una matriz de orden 4×2, esto es, de cuatro filas y dos columnas

La suma por filas es [3, 7, 11, 15].

In [ ]:
matriz = [[1,2],
          [3,4],
          [5,6],
          [7,8]]

def suma_filas(matriz):
    return [sum(fila) for fila in matriz]

print(f"La suma de las filas es {suma_filas(matriz)}")

La suma de las filas es [3, 7, 11, 15]

## arrastrar_reto041_p2
Nos proporcionan una matriz cuadrada de orden 4×4, esto es, de 4 filas y 4 columnas.

Una matriz en Python es una lista de listas.

Por ejemplo:


<pre><code>  matriz = [[2, 8, 9, 1],
            [7, 4, 0, 1],
            [0, 9, 3, 4],
            [8, 6, 1, 5]]</code></pre>
En este caso la suma de la diagonal principal es 2+4+3+5 = 14

In [ ]:
def suma_diagonal_principal(matriz):
    n = len(matriz)  # Obtenemos el tamaño de la matriz (número de filas o columnas, ya que es cuadrada)
    suma = 0    # Inicializamos la variable suma para almacenar la suma de los elementos de la diagonal principal
    for i in range(n):  # Iteramos sobre las filas de la matriz
        for j in range(n):  # Iteramos sobre las columnas de la matriz
            if i == j:  # Si el índice de fila es igual al índice de columna, estamos en la diagonal principal
                suma += matriz[i][j]  # Sumamos el elemento actual de la diagonal principal a la suma total
    return suma  # Devolvemos la suma de los elementos de la diagonal principal

m = [[2, 8, 9, 1], [7, 4, 0, 1], [0, 9, 3, 4], [8, 6, 1, 5]]  # Definimos una matriz de ejemplo

# Imprimimos la matriz sin corchetes y una fila debajo de la otra
for fila in m:
    print(*fila)  # El operador asterisco permite desempaquetar la fila

# Imprimimos la suma de los elementos de la diagonal principal
print("Suma de la diagonal principal:", suma_diagonal_principal(m))

2 8 9 1
7 4 0 1
0 9 3 4
8 6 1 5
Suma de la diagonal principal: 14

## arrastrar_reto042_p1
Dado un número entero 𝑛 que puede estar entre 20 y 300, queremos crear una función que reciba 𝑛 como parámetro y retorne una lista con todos los múltiplos de 17 que hay hasta 𝑛 incluido.

Por ejemplo, si 𝑛=170, la lista que se imprimirá será:

`[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]`

In [ ]:
def multiplos_de_diecisiete(n):
    # Inicializamos una lista vacía para almacenar los múltiplos de 17
    multiplos = []
    # Iteramos desde 1 hasta n (inclusive)
    for i in range(1, n + 1):
        # Verificamos si el número es múltiplo de 17
        if i % 17 == 0:
            # Si es múltiplo, lo añadimos a la lista de múltiplos
            multiplos.append(i)
    # Retornamos la lista de múltiplos
    return multiplos

# Llamamos a la función y pasamos el número 170 como argumento
print(multiplos_de_diecisiete(170))  # [17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

## arrastrar_reto042_p2
Nos dan una lista de números y un número entero 𝑛. Deseamos saber cuantos números de esa lista son divisibles por 𝑛.

Por ejemplo, si 𝑛=15 y la lista es:

`[12, 15, 30, 45, 60]`

Hay 4 divisores, ya que todos lo son, salvo el 12.

In [ ]:
lista = [12, 15, 30, 45, 60]
n = 15

def cuantos_divisores_hay(lista, n):
    return sum(1 for num in lista if num % n == 0)

x = cuantos_divisores_hay(lista, n)
print(f"En esta lista hay {x} divisores de {n}.")
# En esta lista hay 4 divisores de 15.

En esta lista hay 4 divisores de 15.

## arrastrar_reto043_p1
Sabemos que la fórmula que relaciona la potencia eléctrica ($P$) con la intensidad de corriente ($I$) y con la resistencia del conductor ($R$) es:
$$P=I^2 \cdot R$$

Necesitamos crear una función que reciba como parámetros $P$, $I$, $R$ (en ese orden) y nos diga si los valores recibidos cumplen la fórmula anterior.

Si se cumple la fórmula se imprimirá `True` y si no se cumple se imprimirá `False`.

In [ ]:
def comprueba_potencia(p, i, r):
    return p - i**2 * r == 0

print(comprueba_potencia(400, 2, 100))  # Imprime: True
print(comprueba_potencia(400, 5, 100))  # Imprime: False
print(comprueba_potencia(1800, 30, 2))  # Imprime: True

True
False
True

## arrastrar_reto043_p2
Sabemos que la fórmula que relaciona la intensidad de corriente ($I$) con el voltaje ($V$) y con la resistencia del conductor ($R$) es la conocida ley de Ohm:

$$I = \frac{V}{R}$$

Necesitamos crear una función que reciba como parámetros $I$, $V$, $R$ (en ese orden) y nos diga si los valores recibidos cumplen la fórmula anterior.

Si se cumple la ley de Ohm se imprimirá `True` y si no se cumple se imprimirá `False`.

In [ ]:
def comprueba_ley_Ohm(i, v, r):
    return v - r * i == 0

print(comprueba_ley_Ohm(2, 220, 110))  # True
print(comprueba_ley_Ohm(4, 380, 100))  # False
print(comprueba_ley_Ohm(3, 390, 130))  # True

True
False
True

## arrastrar_reto044_p1
Quiero crear una función que genere una lista de números aleatorios enteros entre -9 y 9.

La longitud de la lista variará de forma aleatoria entre 2 y 10 números.

Quiero crear otra función que reciba esa lista y calcule el máximo de los números que contiene.

Al final se imprime la lista de números aleatorios y se muestra su máximo.

In [ ]:
import random

def genera_lista():
    longitud = random.randint(2, 10)
    result = []  # inicializamos una lista vacía
    for i in range(longitud):
        result.append(random.randint(-9, 9))
    return result

def maximo_lista(lista):
    return max(lista)

list_rnd = genera_lista()

print(f"Generamos la lista {list_rnd} y su máximo es {maximo_lista(list_rnd)}.")

Generamos la lista [-7, -6, 4, 3, 4, -6, 8, 3, -1, 1] y su máximo es 8.

## arrastrar_reto044_p2
Quiero generar una lista de 3 números aleatorios, sin repetición, elegidos entre los números `[1,2,3,4,5,6,7,8,9]`.

Se imprime la lista con los tres valores aleatorios y se imprime su máximo.

Por ejemplo, estos serían resultados obtenidos al ejecutar este código cuatro veces.

1. `[8, 7, 4] máximo: 8`
2. `[4, 3, 6] máximo: 6`
3. `[6, 8, 1] máximo: 8`
4. `[9, 3, 6] máximo: 9`

In [ ]:
import random

def genera_sin_repeticion(k, inicio, fin):
    # Crea una lista que contiene los números enteros desde 'inicio' hasta 'fin' (inclusive).
    secuencia = list(range(inicio, fin+1))

    # Selecciona 'k' números aleatorios de la lista 'secuencia' sin repetición.
    lista_aleatorios = random.sample(secuencia, k)

    # Devuelve una cadena formateada que muestra la lista de números aleatorios generados
    # y su valor máximo.
    return f"{lista_aleatorios} máximo: {max(lista_aleatorios)}"

# Llama a la función 'genera_sin_repeticion()' con los parámetros 'k=3', 'inicio=1' y 'fin=9',
# e imprime el resultado.
print(genera_sin_repeticion(3, 1, 9))

[8, 6, 4] máximo: 8

## arrastrar_reto045_p1
Dada una lista de ciudades deseamos crear una función que retorne una lista de Verdaderos y Falsos.

Si el nombre de la ciudad es de tres caracteres retornará `True` y en caso contrario retornará `False`.

In [ ]:
ciudades = ["Roma", "Londres", "París", "Madrid", "Quito", "Rio"]

def de_tres(ciudades):
    array = []
    for ciudad in ciudades:
        array.append(len(ciudad) == 3)
    return array

print(de_tres(ciudades))    # [False, False, False, False, False, True]

[False, False, False, False, False, True]

## arrastrar_reto045_p2
Para que se conozcan dos grupos de personas que han coincidido en un campamento, de dos colegios diferentes, se las empareja por el número de caracetes que tenga su nombre.

1. `colegio_a = ['Ana', 'Jose', 'María', 'Julia', 'Helena']`
2. `colegio_b = ["Pol", "Victor", "Sonia", "Marcelo", "Pablo"]`

La función retorna una lista de posibles parejas. En cada pareja ambos alumnos tienen el mismo número de caracteres en su nombre.

Podrían existir otros emparejamientos diferentes pero la función nos da uno concreto que cumple con el criterio exigido.

La lista que devuelve la función es:

`[('Ana', 'Pol'), ('María', 'Sonia'), ('Helena', 'Victor')]`

In [ ]:
def emparejar_estudiantes(colegio_a, colegio_b):
    parejas = []    # inicializamos la lista de parejas
    for estudiante_a in colegio_a:
        for estudiante_b in colegio_b:
            if len(estudiante_a) == len(estudiante_b):
                parejas.append((estudiante_a, estudiante_b))  # añadimos la pareja a la lista
                colegio_a.remove(estudiante_a)  # eliminamos el estudiante de su colegio
                colegio_b.remove(estudiante_b)
                break  # Sale del bucle interno después de encontrar una pareja
    return parejas

colegio_a = ['Ana', 'Jose', 'María', 'Julia', 'Helena']
colegio_b = ["Pol", "Victor", "Sonia", "Marcelo", "Pablo"]
print(emparejar_estudiantes(colegio_a, colegio_b))

[('Ana', 'Pol'), ('María', 'Sonia'), ('Helena', 'Victor')]

## arrastrar_reto046_p1
Creamos una función que genera un número aleatorio entero entre 100.000 y 200.000.

Si hay, al menos, un 3, ganas; en caso contrario, pierdes.

La función retorna el número aleatorio generado, después un espacio y finalmente se indica si ganas o pierdes.

Después de la función se ha creado un bucle `for` para invocar cinco veces a la función y así ver cinco casos aleatorios.

In [ ]:
from random import randint

def gana_el_tres():
    r = randint(100_000, 200_000)  # Llamamos r al número aleatorio generado
    return f"{r} {'ganas' if '3' in str(r) else 'pierdes'}"

for i in range(5):
    print(gana_el_tres())

117929 pierdes
153761 ganas
174144 pierdes
110034 ganas
154428 pierdes

## arrastrar_reto046_p2
Creamos una función que genera un número aleatorio entero entre 100.000 y 200.000.

Si hay, al menos, un 3, ganas; en caso contrario, pierdes.

La función retorna el número aleatorio generado, después un espacio y finalmente se indica si ganas o pierdes.

Después de la función se ha creado un bucle `for` para invocar cinco veces a la función y así ver cinco casos aleatorios.

In [ ]:
from random import randint

def gana_el_tres():
    r = randint(100000, 200000)  # Llamamos r al número aleatorio generado
    if '3' in str(r):
        return f"{r} ganas"
    else:
        return f"{r} pierdes"

for i in range(5):
    print(gana_el_tres())

138903 ganas
112349 ganas
189605 pierdes
117287 pierdes
142469 pierdes

## arrastrar_reto047_p1
La velocidad permitida en autopista no puede ser inferior a 60 Km/h, ni superior a 120 Km/h.

Si la velocidad está dentro de estos límites se considera correcta y en caso contrario se puede obtener una infracción.

Tenemos una función que determina si la velocidad es correcta o se puede imponer una infracción.

Nos dan tres casos de uso con velocidades de 50, 110 y 150 Km/h.

In [ ]:
def marcha_adecuada(velocidad):
    return "Velocidad correcta" if 60 <= velocidad <= 120 else "Infracción"

print(marcha_adecuada(50))      # Infracción
print(marcha_adecuada(110))     # Velocidad correcta
print(marcha_adecuada(150))     # Infracción

Infracción
Velocidad correcta
Infracción

## arrastrar_reto047_p2
Se ha organizado un campamento para jóvenes entre 15 y 18 años, ambos incluidos.

Disponemos de una función que utiliza un operador ternario para determinar si una persona puede asistir al campamento, según su edad.

In [ ]:
def verificar_edad(edad, nombre):
    resultado = "si puede ir" if 15 <= edad <= 18 else "no puede ir"
    return f"{nombre}, con {edad} {resultado} al campamento."

# Casos de uso
print(verificar_edad(15, "Ana"))   # Ana, con 15 si puede ir al campamento.
print(verificar_edad(17, "Eva"))   # Eva, con 17 si puede ir al campamento.
print(verificar_edad(18, "Luis"))  # Luis, con 18 si puede ir al campamento.
print(verificar_edad(14, "Mario")) # Mario, con 14 no puede ir al campamento.
print(verificar_edad(19, "Sara"))  # Sara, con 19 no puede ir al campamento.

Ana, con 15 si puede ir al campamento.
Eva, con 17 si puede ir al campamento.
Luis, con 18 si puede ir al campamento.
Mario, con 14 no puede ir al campamento.
Sara, con 19 no puede ir al campamento.

## arrastrar_reto048_p1
Queremos detectar si una cadena está vacía.

Hemos creado varias versiones de una función que imprime `True` si la cadena está vacía y `False` en caso contrario.

In [ ]:
def esta_vacia(cadena):
    if cadena:
        return False
    return True

def esta_vacia(cadena):
    return cadena == ""

def esta_vacia(cadena):
    return not cadena

print(esta_vacia(""))       # True
print(esta_vacia(" "))      # False
print(esta_vacia("a"))      # False

True
False
False

## arrastrar_reto048_p2
Queremos detectar si una lista está vacía.

Hemos creado varias versiones de una función que imprime `True` si la lista está vacía y `False` en caso contrario.

In [ ]:
def esta_vacia(lista):
    if lista:
        return False
    return True

def esta_vacia(lista):
    return lista == []

def esta_vacia(lista):
    return not lista

print(esta_vacia([]))    # True
print(esta_vacia(["a"])) # False
print(esta_vacia([5]))   # False

True
False
False

## arrastrar_reto049_p1
Queremos una función que tome un número como parámetro y lo devuelva como negativo.

1. Si el número es positivo se convertirá en negativo.
2. Si el número previamente ya es negativo permanecerán sin alteración.
3. Si el número es cero la función devolverá cero.

Hemos creado varias versiones de una función que logran este objetivo y hemos añadido al final unos casos de uso.

In [ ]:
def devuelve_negativo(numero):
    if numero > 0:
        return -numero
    return numero

def devuelve_negativo(numero):
    return -numero if numero > 0 else +numero

def devuelve_negativo(x):
    return -abs(x)

print(devuelve_negativo(4))     # -4
print(devuelve_negativo(15))    # -15
print(devuelve_negativo(-4))    # -4
print(devuelve_negativo(0))     # 0

-4
-15
-4
0

## arrastrar_reto049_p2
Tenemos una función que recibe como parámetro una letra.

1. Si la letra es minúscula, retorna la misma letra pero como mayúscula.
2. Si la letra es mayúscula, retorna la misma letra pero como minúscula.
3. Si recibe otro caracter, retorna "No es una letra en nuestro rango".

Esta función se basa en el código ASCII que contien un alfabeto en inglés de 26 letras.

1. La "A" es el caracter 65: `ord("A")` # 65
2. La "Z" es el caracter 90: `ord("Z")` # 90
3. La "a" es el caracter 97: `ord("a")` # 97
4. La "z" es el caracter 122: `ord("z")` # 122

In [ ]:
def cambia_mayuscula_minuscula(letra):
    if 65 <= ord(letra) <= 90:
        return chr(ord(letra) + 32)
    elif  97 <= ord(letra) <= 122:
        return chr(ord(letra) - 32)
    else:
        return "No es una letra en nuestro rango"

print(cambia_mayuscula_minuscula("A"))  # a
print(cambia_mayuscula_minuscula("Z"))  # z
print(cambia_mayuscula_minuscula("a"))  # A
print(cambia_mayuscula_minuscula("z"))  # Z
print(cambia_mayuscula_minuscula("J"))  # j

a
z
A
Z
j

## arrastrar_reto050_p1
Queremos una función que reciba una lista de números.

Se retorna `True` si la suma de los valores de la lista es menor estricto que 100, de lo contrario, se retorna `False`.

Hemos creado varias versiones de esta función que logran este objetivo.

In [ ]:
def menos_de_cien(lista):
    return sum(lista) < 100

def menos_de_cien(lista):
    total = 0    # inicializamos la variable
    for num in lista:
        total += num
    return total < 100

print(menos_de_cien([5, 57]))           # True
print(menos_de_cien([0]))               # True
print(menos_de_cien([7, 33, 15]))       # True
print(menos_de_cien([77, 30]))          # False
print(menos_de_cien([95, 1, 1, 1, 2]))  # False

True
True
True
False
False

## arrastrar_reto050_p2
Generamos una lista con 5 números enteros aleatorios entre -9 y 9.

Deseamos saber si suman más los positivos, los negativos o si hay empate.

Veamos algunos casos de uso:

* `[6, 8, -7, -3, 5]`
* Suma positivos: 19
* Suma negativos: 10
* Ganan los positivos por 9 puntos.


* `[7, 2, 0, -4, -7]`
* Suma positivos: 9
* Suma negativos: 11
* Ganan los negativos por 2 puntos.


* `[2, 8, 5, -7, -8]`
* Se ha producido un empate a 15 puntos.

In [ ]:
from random import sample

def balanza(lista):
    suma_positivos = suma_negativos = 0 # inicializamos las dos variables a cero
    for num in lista:
        if num > 0:
            suma_positivos += num   # acumulamos puntos positivos
        elif num < 0:
            suma_negativos += num   # acumulamos puntos negativos
    if suma_positivos == -suma_negativos:   # si hay empate
        return f"Se ha producido un empate a {suma_positivos} puntos."
    diferencia = suma_positivos + suma_negativos  # se suma para hayar la diferencia
    print("Suma positivos:", suma_positivos)
    print("Suma negativos:", -suma_negativos)   # se cambia el signo ya que -*-=+
    operador_ternario = "Ganan los positivos" if diferencia > 0 else "Ganan los negativos"
    return f'{operador_ternario} por {abs(diferencia)} puntos.'

# Casos de uso
for i in range(3):
    lista = sample(range(-9,9), 5)
    print(lista)
    print(balanza(lista))
    print()

[3, 4, 0, 2, -9]
Se ha producido un empate a 9 puntos.

[-7, 4, -1, 2, -4]
Suma positivos: 6
Suma negativos: 12
Ganan los negativos por 6 puntos.

[0, -6, 3, -5, -3]
Suma positivos: 3
Suma negativos: 14
Ganan los negativos por 11 puntos.

## arrastrar_reto051_p1
Queremos concatenar el nombre de una persona con su edad formando una frase.

Por ejemplo, si el nombre es Ana y la edad es 16 queremos formar la frase:

Ana tiene 16 años.

Tenemos dos funciones que logran el mismo resultado, una de ellas utiliza el sistema "f" de formato de cadenas y la otra concatena usando el signo "+".

In [ ]:
nombre = "Ana"
edad = 16

def concatena(nombre, edad):
    return f"{nombre} tiene {edad} años."

def concatena(nombre, edad):
    return nombre + " tiene " + str(edad) + " años."

print(concatena(nombre, edad))

Ana tiene 16 años.

## arrastrar_reto051_p2
Queremos concatenar el nombre de una persona con el importe de sus ingresos mensuales en euros.

Por ejemplo, si el nombre es Ana y los ingresos son 900 €, se imprimirá:

Ana percibe 900 € al mes.

Tenemos dos funciones que logran el mismo resultado, una de ellas utiliza el sistema "f" de formato y la otra concatena usando el signo "+".

In [ ]:
nombre = "Ana"
ingresos = 900

def concatena(nombre, ingresos):
    return f"{nombre} percibe {ingresos} € al mes."

def concatena(nombre, ingresos):
    return nombre + " percibe " + str(ingresos) + " € al mes."

print(concatena(nombre, ingresos))

Ana percibe 900 € al mes.

## arrastrar_reto052_p1
Queremos calcular el resultado de realizar expresiones aritméticas sencillas usando un único comando.

La expresión matemática viene expresada entre comillas ya que se trata de una cadena.

Por ejemplo, la expresión "1+2" dará como resultado el número 3.

In [ ]:
print(eval("23+4"))         # 27
print(eval("45-15"))        # 30
print(eval("13+2-5*2"))     # 5
print(eval("49/7*2-3"))     # 11.0

27
30
5
11.0

## arrastrar_reto052_p2
Queremos calcular el resultado de realizar expresiones aritméticas sencillas usando un único comando.

La expresión matemática viene expresada entre comillas ya que se trata de una cadena.

Por ejemplo, la expresión "1+2" dará como resultado el número 3.

In [ ]:
print(1 + eval("23+4"))           # 28
print(12 + eval("45-15"))         # 42
print(eval("13+2-5*2") - 5)       # 0
print(int(eval("49/7*2-3")))      # 11

28
42
0
11

## arrastrar_reto053_p1
Queremos una función que, dada una cadena, retorne la concatenación del primer y último carácter de dicha cadena.

In [ ]:
def primero_ultimo(cadena):
    indice_inicio = 0
    indice_final = -1
    return cadena[indice_inicio] + cadena[indice_final]

print(primero_ultimo("Hola"))           # Imprime: Ha
print(primero_ultimo("Hugo Martínez"))  # Imprime: Hz
print(primero_ultimo("100%"))           # Imprime: 1%

Ha
Hz
1%

## arrastrar_reto053_p2
Queremos una función que tome una cadena y devuelva los dos primeros caracteres concatenados con los dos últimos.

Todas las cadenas tendrán al menos cuatro caracteres.

In [ ]:
def dos_primeros_y_dos_ultimos(cadena):
    primeros = cadena[:2]
    ultimos = cadena[-2:]
    return primeros + ultimos

print(dos_primeros_y_dos_ultimos("Hola"))           # Hola
print(dos_primeros_y_dos_ultimos("Diego Martínez")) # Diez
print(dos_primeros_y_dos_ultimos("10 € y 25%"))     # 105%

Hola
Diez
105%

## arrastrar_reto054_p1
Tenemos una lista de nombres y queremos separarlos en dos listas, una con los nombres de longitud par y otra con los nombres de longitud impar.

Por ejemplo, dada la lista:

`nombres = ["Ana", "Jose", "Pablo", "Isabel", "Eva", "Luis"]`

Quedará separada en dos listas:
* Nombres pares: `['Jose', 'Isabel', 'Luis']`
* Nombres impares: `['Ana', 'Pablo', 'Eva']`

In [ ]:
nombres = ["Ana", "Jose", "Pablo", "Isabel", "Eva", "Luis"]

def separa_par_impar(nombres):
    pares = []      # inicializamos la lista de los pares
    impares = []    # inicializamos la lista de los impares
    for nombre in nombres:
        if len(nombre) % 2 == 0:
            pares.append(nombre)
        else:
            impares.append(nombre)
    return pares, impares

par, imp = separa_par_impar(nombres)
print(f"Nombres pares:   {par}")
print(f"Nombres impares: {imp}")

Nombres pares:   ['Jose', 'Isabel', 'Luis']
Nombres impares: ['Ana', 'Pablo', 'Eva']

## arrastrar_reto054_p2
Tenemos una lista de nombres, algunos con un número par de caracteres y otros con un número impar.

Deseamos eliminar de la lista los nombres de longitud impar e imprimir la lista resultante, en la que todos sus nombres serán de longitud par.

Por ejemplo, dada la lista:

`nombres = ["Ana", "Jose", "Pablo", "Isabel", "Eva", "Luis"]`

Al final, se imprimirá la lista con los nombres de longitud par:

`['Jose', 'Isabel', 'Luis']`

In [ ]:
nombres = ["Ana", "Jose", "Pablo", "Isabel", "Eva", "Luis"]

# Eliminar los nombres de longitud impar con remove
def solo_pares(lista):
    for nombre in lista[:]:  # Iteramos sobre una copia de la lista original
        if len(nombre) % 2 != 0:  # Verificamos si la longitud es impar
            lista.remove(nombre)  # Eliminamos solo de la copia
    return lista

print(solo_pares(nombres))  # ['Jose', 'Isabel', 'Luis']

['Jose', 'Isabel', 'Luis']

## arrastrar_reto055_p1
Tenemos una función que recibe tres datos como parámetros y los retorna como los elementos de una lista.

Por ejemplo, la función se invoca con tres argumentos que son 1, 2 y 3. La función los recibe y los retorna como la lista [1, 2, 3].

In [ ]:
def to_array(x, y, z):
    #result = list(x, y, z)
    result = [x, y, z]
    #result = [x + y + z]
    return result

print(to_array(1, 2, 3))    # [1, 2, 3]

[1, 2, 3]

## arrastrar_reto055_p2
Generamos tres números aleatorios enteros que pueden variar entre 1 y 9.

Invocamos una función enviando estos tres números como argumentos.

La función los recoge como parámetros, los convierte en una lista y finalmente se retorna la lista ordenada de forma creciente.

In [ ]:
from random import randint

def array_ordenado(x, y, z):
    lista = [x, y, z]     # Se crea una lista con los tres parámetros
    return sorted(lista)  # Se ordena la lista en forma creciente

# Generación de tres números aleatorios
x = randint(1, 9)
y = randint(1, 9)
z = randint(1, 9)

# Invocación de la función
print(array_ordenado(x, y, z))

[3, 6, 7]

## arrastrar_reto056_p1
Tenemos una función que repite cuatro veces los tres últimos caracteres de una cadena.

Si la cadena tiene una longitud inferior a tres caracteres la función repite cuatro veces la cadena completa.

In [ ]:
def final_repetido(cadena):
    return cadena[-3:] * 4

print(final_repetido("niEva"))  # EvaEvaEvaEva
print(final_repetido("Hi"))     # HiHiHiHi

EvaEvaEvaEva
HiHiHiHi

## arrastrar_reto056_p2
Tenemos una función que repite cuatro veces los tres últimos caracteres de una cadena.

Si la cadena tiene una longitud inferior a tres caracteres la función repite cuatro veces la cadena completa.

In [ ]:
def final_triple(cadena):
    return cadena[-3:] * 4

def final_triple(s):  # el parámetro s representa el string recibido
    final = s if len(s) < 3 else s[-3] + s[-2] + s[-1]
    return final * 4

# Caso de uso 1
palabra = "LaTex"
print(final_triple(palabra))  # TexTexTex

# Caso de uso 2
saludo = "Hi"
print(final_triple(saludo))   # HiHiHi

TexTexTexTex
HiHiHiHi

## arrastrar_reto057_p1
Disponemos de una función que evalúa si un número pasado como argumento es par o impar.

In [ ]:
def es_par_impar(n):
    return "Impar" if n % 2 else "Par"


print(es_par_impar(5))      # Impar
print(es_par_impar(-3))     # Impar
print(es_par_impar(8))      # Par
print(es_par_impar(0))      # Par

Impar
Impar
Par
Par

## arrastrar_reto057_p2
Tenemos una función que recibe una lista de 10 enteros aleatorios, sin repetición, entre -9 y 9.

La función retorna los mismos números impares pero a los pares les suma 1.

Un caso de uso:

[5, 6, 0, 1, 2, 9, -6, 8, -2, -4] → [5, 7, 1, 1, 3, 9, -5, 9, -1, -3]

In [ ]:
from random import sample

def transforma(lista):
    return [num if num % 2 else (num + 1) for num in lista]


arr = sample(range(-9,10), 10)
print(f"{arr} → {transforma(arr)}")

[4, -9, 8, -1, -8, 0, -6, 9, -2, 7] → [5, -9, 9, -1, -7, 1, -5, 9, -1, 7]

## arrastrar_reto058_p1
Hemos creado varias versiones de una función que toma un número $n$ (entre 1 y 10) y devuelva una cadena de $n$ guiones.

In [ ]:
def n_guiones(n):
    return '-' * n

def n_guiones(n):
    texto = ''
    for _ in range(n):
        texto += '-'
    return texto

def n_guiones(n):
    return "".join(['-' for _ in range(n)])

print(n_guiones(1))     # -
print(n_guiones(3))     # ---
print(n_guiones(10))    # ----------

-
---
----------

## arrastrar_reto058_p2
La función **crea_frase(palabras)** toma una lista de palabras como esta:

`["Hola", "qué", "tal", "estás"]`

Mediante el uso de la función `join` convierte esas palabras en una frase donde los elementos se concatenan separados por un espacio. Esta es la frase resultante:

"Hola qué tal estás"

Disponemos de otra función denominada **cadena_de_impares_hasta(n)** que recibe un número entero, por ejemplo $n=15$ y crea una lista de enteros impares hasta $n$.

Finalmente, con el uso de `join` retorna esos números en forma de cadena unidos por guiones. Siendo el resultado el strig "1-3-5-7-9-11-13-15".

In [ ]:
def crea_frase(palabras):
    # Con join() unimos las palabras de la lista en una cadena
    return " ".join(palabras)  # separamos las palabras con un espacio

palabras = ["Hola", "qué", "tal", "estás"]
print(crea_frase(palabras))    # Hola qué tal estás


def cadena_de_impares_hasta(n):
    # Creamos una lista con los números enteros impares de 1 a n
    enteros_impares = list(range(1, n+1, 2))

    # Con join() convertimos los números en una cadena de texto,
    # separados por un guion
    cadena_numeros = "‑".join(str(num) for num in enteros_impares)

    return(cadena_numeros)

n = 15
print(cadena_de_impares_hasta(n))  # 1-3-5-7-9-11-13-15

Hola qué tal estás
1‑3‑5‑7‑9‑11‑13‑15

## arrastrar_reto059_p1
Hemos creado varias versiones de una función que calcula el área de un rectángulo.

Si los argumentos no son ambos estrictamente positivos la función retornará `None`.

In [ ]:
def superficie(base, altura):
    area = base * altura
    if base <= 0 or altura <= 0:
        return None
    else:
        return area

# usando un operador ternario
def superficie(base, altura):
    area = base * altura
    return area if base > 0 and altura > 0 else None

print(superficie(3, 4))       # 12
print(superficie(10, 11))     # 110
print(superficie(-1, 5))      # None
print(superficie(4, -9))      # None
print(superficie(-2, -3))     # None
print(superficie(0, 2))       # None

12
110
None
None
None
None

## arrastrar_reto059_p2
Hemos creado varias versiones de una función que calcula la facturación en miles de euros por una venta.

Si los argumentos no son ambos estrictamente positivos la función retornará `None`.

In [ ]:
def total_factura(precio, cantidad):
    if precio <= 0 or cantidad <= 0:
        return None
    else:
        return precio * cantidad

# usando un operador ternario
def total_factura(p, q):  # p es el precio, q es la cantidad
    return p * q if p > 0 and q > 0 else None


precio_euros = 3.75
cantidad_unidades = 1_000
importe = total_factura(precio_euros, cantidad_unidades)
print(f"Importe facturado {importe} €")  # Importe facturado 3750.0 €

print(total_factura(0, 1000))  # None
print(total_factura(10, 0))    # None

Importe facturado 3750.0 €
None
None

## arrastrar_reto060_p1
Hemos creado varias versiones de una función para verificar si una lista contiene el número dado.

In [ ]:
def check(lista, num):
    return num in lista

def check(lista, numero):
    for elemento in lista:
        if elemento == numero:
            return True
    return False

def check(lista, num):
    return any(x == num for x in lista)

print(check([1, 2, 3, 4, 5], 3))    # True
print(check([5, 5, 5, 6], 5))       # True
print(check([1, 1, 2, 1, 1], 3))    # False
print(check([], 5))                 # False

True
True
False
False

## arrastrar_reto060_p2
Hemos creado varias versiones de una función para verificar si una cadena contiene un carácter dado.

In [ ]:
def check(cadena, caracter):
    return caracter in cadena

def check(cadena, caracter):
    for letra in cadena:
        if letra == caracter:
            return True
    return False

def check(cadena, caracter):
    return any(x == caracter for x in cadena)

print(check("hola", "a"))    # True
print(check("Python", "x"))  # False

True
False

## arrastrar_reto061_p1
Hemos creado varias versiones de una función que toma un número entero como argumento y devuelve **par** para números pares e **impar** para números impares.

In [1]:
def par_impar(n):
    if n % 2 == 0:
        return "par"
    else:
        return "impar"

def par_impar(n):
    if n % 2:
        return "impar"
    return "par"

# usando un operador ternario
def par_impar(n):
    return "impar" if n % 2 else "par"

# usando un diccionario
def par_impar(n):
    paridad = {0: "par", 1: "impar"}
    return paridad[n % 2]

print(par_impar(3))     # impar
print(par_impar(-19))   # impar
print(par_impar(146))   # par
print(par_impar(0))     # par

impar
impar
par
par

## arrastrar_reto061_p2
Hemos creado varias versiones de una función que toma un número entero como argumento y devuelve **positivo** para números positivos, devuelve **negativo** para números negativos y devuelve "cero" si el número es un cero.

In [2]:
def comprobar_signo(n):  # n siempre es un número entero
    if n > 0:
        return "positivo"
    elif n < 0:
        return "negativo"
    else:
        return "cero"

# usando dos operadores ternarios anidados
def comprobar_signo(n):
    return "positivo" if n > 0 else "negativo" if n < 0 else "cero"

# usando un diccionario
import numpy as np  # importamos la librería numpy como np

def comprobar_signo(n):
    paridad = {0: "cero", 1: "positivo", -1: "negativo"}
    return paridad[np.sign(n)]  # la función sign nos da el signo 1,-1 o 0

print(comprobar_signo(3))   # positivo
print(comprobar_signo(-5))  # negativo
print(comprobar_signo(0))   # cero

positivo
negativo
cero

## arrastrar_reto062_p1
Hemos creado varias versiones de una función que toma una palabra y determina si es plural o no.

Para simplificar, consideraremos que una palabra es plural si termina en "s".

In [3]:
def es_plural(palabra):
    return palabra[-1] == 's'

def es_plural(palabra):
    return palabra.endswith('s')

def es_plural(palabra):
    return list(palabra).pop() == 's'

print(es_plural("cambios"))     # True
print(es_plural("dudas"))       # True
print(es_plural("cambio"))      # False
print(es_plural("camión"))      # False

True
True
False
False

## arrastrar_reto062_p2
Hemos creado varias versiones de una función que recibe una palabra objetivo y una lista.

La lista está compuesta por palabras y deseamos conocer si hacen rima con la palabra objetivo.

Por ejemplo, si la palabra objetivo es "amor" deseamos conocer que otras palabras de esta lista hacen rima:

`["honor", "clamor", "primavera", "candor"]`

La función retornará las palabras de la lista que tengan los dos últimos caracteres iguales a los dos últimos caracteres de la palabra objetivo.

In [4]:
def rimas(objetivo, lista):
    return [palabra for palabra in lista if palabra[-2:] == objetivo[-2:]]

def rimas(objetivo, lista):
    fin = objetivo[-2:]
    return [palabra for palabra in lista if palabra.endswith(fin)]

objetivo = "amor"
lista = ["honor", "clamor", "primavera", "candor"]

print(f"Palabras que riman con {objetivo}:")
print(rimas(objetivo, lista))    # ['honor', 'clamor', 'candor']

Palabras que riman con amor:
['honor', 'clamor', 'candor']

## arrastrar_reto063_p1
Disponemos de $n$ conmutadores de encendido/apagado (On/Off Switches).

Hemos creado varias versiones de una función que devuelve cuántas disposiciones posibles pueden provenir de un determinado número de interruptores.

Para un número $n$ de interruptores el número de patrones diferentes de encendido y apagado que podemos tener es $2^n$.

In [5]:
def posiciones(n):
    return 2 ** n

def posiciones(n):
    result = 1
    for i in range(1, n+1):
        result *= 2
    return result

# elevar con recursividad
def posiciones(n):
    if n == 0:
        return 1
    return 2 * posiciones(n - 1)

print(posiciones(1))    # 2
print(posiciones(3))    # 8
print(posiciones(10))  # 1024

2
8
1024

## arrastrar_reto063_p2
En la Wikipedia podemos leer sobre el <a href="https://es.wikipedia.org/wiki/Problema_del_trigo_y_del_tablero_de_ajedrez" target="_blank">problema del trigo y del tablero de ajedrez</a>.


Queremos saber cuantos granos de trigo se pueden llegar a tener si por la primera casilla del tablero nos dan 1 grano, por la segunda casilla nos dan 2 granos, por la tercera casilla nos dan 4 granos y así vamos doblando el número de granos hasta llegar a la casilla 64. El tablero tiene 8 filas y 8 columnas, por lo que en total son 64 casillas.


El número total de granos que nos pueden llegar a dar es:

$$1+2+4+8+16+32+...+2^{63} = 18.446.744.073.709.551.615$$

Queremos crear un código con dos funciones:
1. Una función calcula el número de granos que hay en una celda específica $n$.
2. La otra función calcula el acumulado de todos los granos hasta una celda $n$.

In [6]:
# Función que calcula los granos que hay justo en la casilla n
def granos_de_una_casilla(n):
    return 2 ** (n-1)

# Función que retorna el acumulado de los granos que hay hasta la casilla n
def granos_acumulados(n):
    total = 0    # inicializamos la variable
    for i in range(n):
        total += 2 ** i
    return total

print("Granos de la casilla 64:  ", granos_de_una_casilla(64))
print("Acumulado en 64 casillas:", granos_acumulados(64))

# Imprime: Granos de la casilla 64:   9223372036854775808
# Imprime: Acumulado en 64 casillas: 18446744073709551615

# Otra versión de la función anterior que llama a la 1ª función
def granos_acumulados(n):
    total = 0
    for i in range(n):
        total += granos_de_una_casilla(i+1)
    return total

print("Acumulado en 64 casillas:", granos_acumulados(64))
# Imprime: Acumulado en 64 casillas: 18446744073709551615

Granos de la casilla 64:   9223372036854775808
Acumulado en 64 casillas: 18446744073709551615
Acumulado en 64 casillas: 18446744073709551615

## arrastrar_reto064_p1
Hemos creado varias versiones de una función que toma una cadena (un nombre).

Si el último carácter del nombre es una "n", devuelve `True`; en caso contrario, devuelve `False`.

In [7]:
def ultimo_caracter_n(nombre):
    return nombre[-1].lower() == 'n'

def ultimo_caracter_n(nombre):
    return nombre.endswith('n') or nombre.endswith('N')

def ultimo_caracter_n(nombre):
    return nombre[-1] in {'n', 'N'}  # conjunto

print(ultimo_caracter_n("Aaron"))    # True
print(ultimo_caracter_n("Antón"))    # True
print(ultimo_caracter_n("CALVIN"))   # True
print(ultimo_caracter_n("Pierre"))   # False
print(ultimo_caracter_n("Robert"))   # False

True
True
True
False
False

## arrastrar_reto064_p2
Hemos creado varias versiones de una función que recibe una lista de palabras y quiere analizar si la primera letra de cada palabra es igual a la última letra de esa misma palabra.

La función retorna una lista de booleanos (verdaderos y falsos), donde el resultado será `True` en caso de que la palabra cumpla la condición; en caso contrario produce un `False`.

In [8]:
lista = ["reconocer", "salas", "boca", "oro", "eje", "olmo"]

def inicio_fin_iguales(palabras):
    check = []    # inicializamosla lista de booleanos
    for palabra in palabras:
        if palabra[0] == palabra[-1]:
            check.append(True)
        else:
            check.append(False)
    return check

def inicio_fin_iguales(palabras):
    check = []    # inicializamosla lista de booleanos
    for palabra in palabras:
        if palabra.startswith(palabra[-1]):
            check.append(True)
        else:
            check.append(False)
    return check

print(inicio_fin_iguales(lista))  # [True, True, False, True, True, True]

[True, True, False, True, True, True]

## arrastrar_reto065_p1
Hemos creado varias versiones de una función que recibe una letra como parámetro.

Si la letra es una vocal devuelve el orden que ocupa dentro de la lista de cinco vocales.

1. Si la función recibe una "a" o "A" retorna "primera".
2. Si la función recibe una "e" o "E" retorna "segunda".
3. Si la función recibe una "i" o "I" retorna "tercera".
4. Si la función recibe una "o" o "O" retorna "cuarta".
5. Si la función recibe una "u" o "U" retorna "quinta".
6. Para el resto de caracteres retorna `None`.

In [18]:
def ordenar(letra):
    letra = letra.lower()
    if letra == "a":
        texto = "primera"
    elif letra == "e":
        texto = "segunda"
    elif letra == "i":
        texto = "tercera"
    elif letra == "o":
        texto = "cuarta"
    elif letra == "u":
        texto = "quinta"
    else:
        return None
    return texto

def ordenar(letra):
    vocales = {"A": "primera",
               "E": "segunda",
               "I": "tercera",
               "O": "cuarta",
               "U": "quinta"}
    if letra.upper() in vocales:
        return vocales[letra.upper()]
    else:
        return None

def ordenar(letra):
    vocales = {"A": "primera",
               "E": "segunda",
               "I": "tercera",
               "O": "cuarta",
               "U": "quinta"}
    return vocales.get(letra.upper())

print(ordenar("a"))     # primera vocal
print(ordenar("U"))     # quinta vocal
print(ordenar("z"))     # None

primera
quinta
None

## arrastrar_reto065_p2
Disponemos de un diccionario con el precio que corresponde a una serie de frutas.

Tenemos una función que recibe una fruta y retorna su precio.

Si la fruta no se encuentra en el diccionario nos indica que el precio de esa fruta no está disponible.

In [23]:
# Definir el diccionario de precios de productos
precios_productos = {
    "manzana": 2.50,
    "banana": 1.75,
    "naranja": 1.30,
    "pera": 2.90
}

# Función para consultar el precio de un producto
def consultar_precio(producto):
    precio = precios_productos.get(producto)
    if precio is not None:
        print(f"El kilo de {producto} cuesta {precio} €")
    else:
        print(f"El precio de {producto} no está disponible.")

# Ejemplos de consultas de precios
consultar_precio("manzana")  # El kilo de manzana cuesta 2.5 €
consultar_precio("banana")   # El kilo de banana cuesta 1.75 €
consultar_precio("sandía")   # El precio de sandía no está disponible.

El kilo de manzana cuesta 2.5 €
El kilo de banana cuesta 1.75 €
El precio de sandía no está disponible.

## arrastrar_reto066_p1
Hemos creado varias versiones de una función que permiten sumar los números de una lista.

In [24]:
# Método 1. Usando sum
def suma_lista(lista):
    return sum(lista)

# Método 2. Iterando por el index
def suma_lista(lista):
    total = 0    # inicializamos la variable
    for i in range(len(lista)):
        total += lista[i]
    return total

# Método 3. Iterando por los elementos
def suma_lista(lista):
    total = 0    # inicializamos la variable
    for elemento in lista:
        total += elemento
    return total

print(suma_lista([1, 2, 3, 4, 5]))  # 15
print(suma_lista([-1, 0, 1]))       # 0
print(suma_lista([0, 4, 8, 12]))    # 24

15
0
24

## arrastrar_reto066_p2
Hemos creado varias versiones de una función que permiten sumar los números impares de una lista.

In [25]:
# Método 1. Usando sum
def suma_impares(lista):
    return sum(num for num in lista if num % 2)

# Método 2. Iterando por el index
def suma_impares(lista):
    total = 0    # inicializamos la variable
    for i in range(len(lista)):
        if lista[i] % 2 == 1:
            total += lista[i]
    return total

# Método 3. Iterando por los elementos
def suma_impares(lista):
    total = 0    # inicializamos la variable
    for elemento in lista:
        if elemento % 2 != 0:
            total += elemento
    return total

print(suma_impares([1, 2, 3, 4, 5]))  # 9
print(suma_impares([-1, 0, 2]))       # -1
print(suma_impares([0, 4, 8, 12]))    # 0

9
-1
0

## arrastrar_reto067_p1
Hemos creado varias versiones de una función que suma los elementos de una lista de números si cumplen que son menores que 10.

In [26]:
def suma_menores_diez(lista):
    total = 0    # inicializamos la variable
    for elemento in lista:
        if elemento < 10:
            total += elemento
    return total

def suma_menores_diez(arr):
    return sum(elemento for elemento in arr if elemento < 10)

print(suma_menores_diez([1, 5, 11]))        # 6
print(suma_menores_diez([0, 9, 10, 50]))    # 9
print(suma_menores_diez([-3, -5, -11, 4]))  # -15

6
9
-15

## arrastrar_reto067_p2
Hemos creado varias versiones de una función que suma los elementos de una lista de números si cumplen que son positivos.

In [27]:
def suma_menores_diez(lista):
    total = 0    # inicializamos la variable
    for elemento in lista:
        if elemento > 0:
            total += elemento
    return total

def suma_menores_diez(arr):
    return sum(elemento for elemento in arr if elemento > 0)

print(suma_menores_diez([1, -5, 11]))        # 12
print(suma_menores_diez([0, -9, 10, -50]))   # 10
print(suma_menores_diez([-4, -5, -11, -1]))  # 0

12
10
0

## arrastrar_reto068_p1
Hemos creado una función que devuelva el valor ASCII del carácter pasado como argumento.

In [28]:
def ctoa(caracter):
    return ord(caracter)

print(ctoa("A"))    # 65
print(ctoa("z"))    # 122
print(ctoa("*"))    # 42
print(ctoa(" "))    # 32

65
122
42
32

## arrastrar_reto068_p2
Hemos creado dos funciones, una devuelve el valor ASCII del carácter pasado como argumento y la otra hace el proceso contrario.

In [29]:
# Convierte un caracter en su código ASCII correspondiente
def ctoa(caracter):
    return ord(caracter)

print(ctoa("A"))    # 65
print(ctoa("z"))    # 122
print(ctoa(" "))    # 32
print(ctoa("*"))    # 42

# Convierte un código ASCII en su caracter correspondiente
def atoc(codigo_ascii):
    return chr(codigo_ascii)

print(atoc(65))    # A
print(atoc(122))   # z
print(atoc(32))    # " " se imprime un espacio
print(atoc(42))    # *

# Aplicando ambas funciones anidadas
print(atoc(ctoa("A")))  # A
print((ctoa(atoc(65)))) # 65

65
122
32
42
A
z

*
A
65

## arrastrar_reto069_p1
Hemos creado varias versiones de una función que recibe un carácter y una cadena.

La función retorna las palabras de la cadena separadas por el carácter recibido.

In [30]:
def separar_palabras(caracter, frase):
    return frase.replace(" ", caracter)  # reemplazamos los espacios por el carácter dado

def separar_palabras(caracter, cadena):
    lista_palabras = cadena.split()  # creamos una lista con las palabras que estaban separadas por espacio
    if not lista_palabras:    # si la lista está vacía
        return caracter
    return caracter.join(lista_palabras)  # unimos los elementos de la lista por el carácter dado

def separar_palabras(c, s):  # c representa el caracter, s representa el string
    l = s.split()  # la lista l contiene las palabras que estaban separadas por espacio
    return c.join(l) if len(l) else c  # si la lista tiene contenido unimos sus elementos

print(separar_palabras("_", "Python is fun")) # Python_is_fun
print(separar_palabras("#", "hello world!")) # hello#world!
print(separar_palabras("@", " ")) # @

Python_is_fun
hello#world!
@

## arrastrar_reto069_p2
Hemos creado varias versiones de una función que recibe el nombre y apellido de un usuario separados por espacios.

La función retorna el corro electrónico asignado al usuario separando los nombres y el apellido por punto.

In [33]:
def crear_correo(usuario):
    email = usuario.replace(" ", ".")  # reemplazamos espacio por punto
    return email + "@gmail.com"          # concatenamos con el final del correo

def crear_correo(usuario):
    email = usuario.split()            # creamos una lista con las palabras separadas por espacio
    return ".".join(email) + "@gmail.com"  # join une los elementos de la lista separando por punto

print(crear_correo("ana lopez"))           # ana.lopez@gmail.com
print(crear_correo("luis alberto martin")) # luis.alberto.martin@gmail.com
print(crear_correo("eva maria paz ruiz"))  # eva.maria.paz.ruiz@gmail.com
print(crear_correo("jose"))                # jose@gmail.com

ana.lopez@gmail.com
luis.alberto.martin@gmail.com
eva.maria.paz.ruiz@gmail.com
jose@gmail.com

## arrastrar_reto070_p1
He comprobado que hay personas que se cambian de casa con más frecuencia que otras.

Me gustaría calcular cuánto tiempo, en promedio, una persona vive en la misma casa.

Dada la edad de una persona y el número de veces que se ha mudado de casa, devuelva el número promedio de años que ha pasado viviendo en la misma casa.

Hemos creado varias versiones de una función que efectúa este cálculo.

In [2]:
def years_in_one_house(edad, mudanzas):
    return edad / (mudanzas + 1)

# función lambda
years_in_one_house = lambda edad, mudanzas: edad / (mudanzas + 1)

print(years_in_one_house(30, 1))    # 15.0
print(years_in_one_house(15, 2))    # 5.0
print(years_in_one_house(80, 0))    # 80.0

15.0
5.0
80.0

## arrastrar_reto070_p2
Tenemos tres ejemplos de creación y uso de funciones lambda.

In [4]:
# EJEMPLO 1
# Definición de una función lambda para calcular el cuadrado de un número
calcular_cuadrado = lambda x: x ** 2

# Llamada a la función lambda con diferentes números
print(calcular_cuadrado(5))   # 25
print(calcular_cuadrado(10))  # 100
print(calcular_cuadrado(-3))  # 9

# EJEMPLO 2
# Definición de una función lambda para calcular el área de un triángulo
calcular_area_triangulo = lambda base, altura: (base * altura) / 2

# Llamada a la función lambda con valores concretos
base = 20
altura = 5
area = calcular_area_triangulo(base, altura)
print("El área del triángulo con base", base, "y altura", altura, "es", area)

# EJEMPLO 3
# Definición de una función lambda para sumar un número indeterminado de argumentos
suma_indeterminada = lambda *args: sum(args)

print(suma_indeterminada(1, 2, 3, 4, 5))                # 15
print(suma_indeterminada(10, 20, 30))                   # 60
print(suma_indeterminada(100, 200, 300, 400, 500, 600)) # 2100

25
100
9
El área del triángulo con base 20 y altura 5 es 50.0
15
60
2100

## arrastrar_reto071_p1
En programación, ciertos valores pueden ser evaluados como booleanos, donde algunos valores son equivalentes a Verdadero (`True`) y otros a Falso (`False`).

Por ejemplo, en muchos lenguajes de programación, 1 (o cualquier valor diferente de 0) se considera `True`, mientras que el valor 0 se considera `False`.

Deseamos crear una función que devuelva el complemento del booleano dado.

El complemento de un booleano se refiere a la inversión del valor booleano.

Independientemente del tipo de dato de entrada (booleano o entero), la función debe devolver 1 si el valor dado es considerado `False` y debe devolver 0 si es considerado `True`.

Hemos creado varias versiones de una función que cumple con estos requerimientos.

In [5]:
def flip_bool(valor):
    if valor:       # si el valor es True
        return 0
    else:
        return 1

def flip_bool(valor):
    return int(not valor)

print(flip_bool(True))  # 0
print(flip_bool(False)) # 1
print(flip_bool(1))     # 0
print(flip_bool(0))     # 1
print(flip_bool(7))     # 0

0
1
0
1
0

## arrastrar_reto071_p2
Tenemos un código que contiene dos funciones.

La primera función, **crea_array(n)**, genera una lista de longitud $n$ con números aleatorios entre 0 y 1 utilizando la función **randint(0, 1)** del módulo **random**. Esta función se llama con un valor $n$ especificado por el usuario para determinar la longitud de la lista.

La segunda función, **flip_bool(lista)**, toma una lista de ceros y unos como entrada y devuelve una lista donde cada elemento se invierte, es decir, los ceros se convierten en unos y viceversa. Esto se logra mediante una comprensión de lista que itera sobre cada elemento de la lista de entrada y aplica la operación **not(x)** para invertir su valor, luego convierte el resultado a entero utilizando **int()**.

El código crea una lista aleatoria llamando a **crea_array(10)** y se imprime esta lista. Para la segunda lista invocamos la función **flip_bool()** que invierte la lista aleatoria generada previamente y finalmente se imprime.

Ejemplo:

* Lista aleatoria: `[1, 0, 0, 1, 1, 0, 1, 0, 1, 1]`
* Lista invertida: `[0, 1, 1, 0, 0, 1, 0, 1, 0, 0]`

In [6]:
from random import randint

def crea_array(n):
    return [randint(0,1) for _ in range(n)]

def flip_bool(lista):
    return [int(not(x)) for x in lista]

lista_aleatoria = crea_array(10)
print('Lista aleatoria:', lista_aleatoria)

lista_invertida = flip_bool(lista_aleatoria)
print('Lista invertida:', lista_invertida)

Lista aleatoria: [1, 1, 1, 0, 0, 1, 0, 0, 1, 1]
Lista invertida: [0, 0, 0, 1, 1, 0, 1, 1, 0, 0]

## arrastrar_reto072_p1
Hemos creado varias versiones de una función que devuelve `True` si dos listas comparten la misma longitud y tienen valores numéricos idénticos en cada índice; de lo contrario, devolverá `False`.

In [7]:
def comprobar_iguales(lst1, lst2):
    if lst1 == lst2:
        return True
    else:
        return False

def comprobar_iguales(lst1, lst2):
    return lst1 == lst2

def comprobar_iguales(lst1, lst2):
    return all(x == y for x, y in zip(lst1, lst2))

print(comprobar_iguales([4, 7, 6], [4, 5, 6]))      # False
print(comprobar_iguales([1, 2], [1, 3]))            # False
print(comprobar_iguales([1, 2], [1, 2]))            # True
print(comprobar_iguales([4, 5, 6], [4, 5, 12/2]))   # True
print(comprobar_iguales(["*"], [chr(42)]))          # True

False
False
True
True
True

## arrastrar_reto072_p2
Disponemos de una función llamada **verificar_aprobados** que toma dos listas como argumentos:

1. notas, que contiene las calificaciones obtenidas por un estudiante en sus exámenes, y
2. minimas, que contiene las calificaciones mínimas requeridas para aprobar esos exámenes.

La función utiliza la función **zip()** para combinar las notas del estudiante y las calificaciones mínimas en pares, y luego utiliza la función **all()** para verificar si todas las notas del estudiante son mayores o iguales que las calificaciones mínimas correspondientes.

Si todas las notas son mayores o iguales, la función devuelve el mensaje "¡Felicidades! Has aprobado todos los exámenes."; de lo contrario, devuelve "No has superado todos los exámenes."

El código proporciona dos ejemplos de uso para ilustrar cómo llamar a la función **verificar_aprobados** con diferentes conjuntos de notas y calificaciones mínimas, y muestra el mensaje resultante en función de si el estudiante ha aprobado o no todos los exámenes.

In [15]:
def verificar_aprobados(notas, minimas):
    # Verificar si el estudiante aprobó todos los exámenes
    aprobado = all(nota >= minima for nota, minima in zip(notas, minimas))
    if aprobado:
        return "¡Felicidades! Has aprobado todos los exámenes."
    else:
        return "No has superado todos los exámenes."

# Ejemplos de uso
# CASO 1
notas_estudiante = [75, 80, 85]
calificaciones_minimas = [70, 75, 80]
print(verificar_aprobados(notas_estudiante, calificaciones_minimas))
# En este caso imprime: ¡Felicidades! Has aprobado todos los exámenes.

# CASO 2
notas_estudiante = [75, 70, 85]
calificaciones_minimas = [70, 75, 80]
print(verificar_aprobados(notas_estudiante, calificaciones_minimas))
# En este caso imprime: No has superado todos los exámenes.

¡Felicidades! Has aprobado todos los exámenes.
No has superado todos los exámenes.

## arrastrar_reto073_p1
Hemos creado varias versiones de una función que toma una palabra y devuelve la nueva palabra sin incluir el primer carácter.

In [13]:
# Método 1
def nueva_palabra(palabra):
    return palabra[1:]

# Método 2. Usando un bucle
def nueva_palabra(palabra):
    result = ''  # inicializamos la variable como cadena vacía
    for i in range(1, len(palabra)):
        result += palabra[i]
    return result

# Método 3. Con list comprehension
def nueva_palabra(palabra):
    return ''.join([letra for letra in palabra[1:]])

# Método 4. Convirtiendo la palabra en una lista
def nueva_palabra(palabra):
    return ''.join(list(palabra)[1:])

print(nueva_palabra("cosa"))    # osa
print(nueva_palabra("Foca"))    # oca
print(nueva_palabra("Hola"))    # ola

osa
oca
ola

## arrastrar_reto073_p2
Hemos creado una función llamada **formatear_oracion()** que toma una lista de palabras como entrada y devuelve una oración formateada y capitalizada.

Capitalizar una frase significa escribir la primera letra de cada palabra en mayúscula.

En la función, se utiliza el método **capitalize()** para capitalizar la primera letra de las palabras.

Luego, estas palabras capitalizadas se unen en una sola cadena utilizando el método **join()**, con un espacio como separador entre cada palabra.

Después de unir las palabras, se agrega un punto al final de la cadena para completar la oración. Este proceso asegura que la oración formateada esté correctamente capitalizada y terminada con un punto.

In [16]:
def formatear_oracion(palabras):
    # Capitalizar la primera letra de cada palabra y unirlas en una cadena
    oracion_formateada = ' '.join(palabra.capitalize() for palabra in palabras)

    # Agregar un punto al final de la oración
    oracion_formateada += '.'

    return oracion_formateada

# Ejemplo de uso
lista_palabras = ['hola', 'qué', 'tal', 'estás']
print(formatear_oracion(lista_palabras))  # Hola Qué Tal Estás.

Hola Qué Tal Estás.

## arrastrar_reto074_p1
Hemos creado varias versiones de una función que acepta base, altura y forma ("triángulo", "paralelogramo") como entrada y calcula el área de esa figura.

El área de un triángulo es b * h / 2.

El área de un paralelogramo es b * h.

In [ ]:
# Método 1. Con condicional if
def area_figura(b, h, figura):
    if figura.lower() == 'triángulo':
        return b * h / 2
    elif figura.lower() == 'paralelogramo':
        return b * h
    else:
        return None

# Método 2. Con un diccionario y con get
def area_figura(base, altura, forma):
    formulas = {
        "triángulo": lambda b, h: b * h / 2,
        "paralelogramo": lambda b, h: b * h
    }
    area = formulas.get(forma.lower())
    if area:
        return area(base, altura)
    else:
        return None

# Método 3. Con un diccionario y sin get
def area_figura(base, altura, forma):
    formulas = {
        "triángulo": lambda b, h: b * h / 2,
        "paralelogramo": lambda b, h: b * h
    }
    if forma.lower() in formulas:
        return formulas[forma.lower()](base, altura)
    else:
        return None

print(area_figura(2, 3, "triángulo"))           # 3.0
print(area_figura(8, 6, "paralelogramo"))       # 48
print(area_figura(2.9, 1.3, "paralelogramo"))   # 3.77
print(area_figura(2.8, 10.5, "triángulo"))      # 14.7
print(area_figura(3, 7, "elipse"))              # None

## arrastrar_reto074_p2
Hemos creado una función llamada **calcular_operacion** que toma como argumentos dos números y una cadena que representa una operación matemática.

Dentro de la función, hay un diccionario llamado **operaciones**, donde las claves son nombres de operaciones y los valores son **funciones lambda** que realizan esas operaciones matemáticas.

Luego, se utiliza el método **get()** sobre el diccionario para obtener la función lambda correspondiente a la operación especificada.

Si la operación no está disponible en el diccionario, se devuelve el mensaje "Operación no disponible".

Si la operación está disponible, se llama a la función lambda con los números proporcionados como argumentos y se devuelve el resultado de la operación.

Los ejemplos de uso al final del código muestran cómo llamar a la función **calcular_operacion** con diferentes operaciones y números, y se imprimen los resultados correspondientes.

In [17]:
def calcular_operacion(num1, num2, operacion):
    operaciones = {
        "suma": lambda x, y: x + y,
        "resta": lambda x, y: x - y,
        "producto": lambda x, y: x * y,
        "division": lambda x, y: x / y if y != 0 else None
    }
    resultado = operaciones.get(operacion.lower())
    if not resultado:
        return "Operación no disponible"
    else:
        return resultado(num1, num2)

# Ejemplo de uso
print(calcular_operacion(5, 3, "suma"))      # 8
print(calcular_operacion(5, 3, "resta"))     # 2
print(calcular_operacion(5, 3, "producto"))  # 15
print(calcular_operacion(6, 3, "division"))  # 2.0
print(calcular_operacion(6, 0, "division"))  # None (debido a la división por cero)
print(calcular_operacion(2, 3, "elevar"))    # Operación no disponible

8
2
15
2.0
None
Operación no disponible

## arrastrar_reto075_p1
Hemos creado varias versiones de una función que toma un número y devuelve una lista de tres números:

1. la mitad del número
2. un cuarto del número y
3. un octavo del número

In [18]:
def en_partes(n):
    return [n/2, n/4, n/8]

def en_partes(n):
    return [n / 2 **i for i in range(1, 4)]

def en_partes(n):
    return list(map(lambda x: n / x, [2, 4, 8]))

print(en_partes(6))     # [3.0, 1.5, 0.75]
print(en_partes(22))    # [11.0, 5.5, 2.75]
print(en_partes(25))    # [12.5, 6.25, 3.125]
print(en_partes(400))   # [200.0, 100.0, 50.0]

[3.0, 1.5, 0.75]
[11.0, 5.5, 2.75]
[12.5, 6.25, 3.125]
[200.0, 100.0, 50.0]

## arrastrar_reto075_p2
Hemos creado una función llamada **elevar_al_cuadrado** que toma una lista como argumento.

Dentro de la función, se utiliza la función **map()** junto con una **función lambda** para elevar al cuadrado cada elemento de la lista.

La función lambda toma un número $x$ y devuelve su cuadrado.

Luego, **map()** aplica esta función lambda a cada elemento de la lista, y el resultado se convierte en una lista usando **list()** antes de ser devuelto.

Se proporcionan dos casos de uso, uno trabaja con una lista de números positivos y el otro trabaja con una lista de números negativos.

In [19]:
def elevar_al_cuadrado(lista):
    """Función que eleva al cuadrado cada elemento de una lista."""
    return list(map(lambda x: x ** 2, lista))

# Caso de uso 1
numeros = [1, 2, 3, 4, 5]
print(elevar_al_cuadrado(numeros))            # [1, 4, 9, 16, 25]

# Caso de uso 2
numeros_negativos = [-1, -2, -3, -4, -5]
print(elevar_al_cuadrado(numeros_negativos))  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

## arrastrar_reto076_p1
Hemos creado varias versiones de una función que recibe una lista de números enteros y retorna cuántos son mayores o iguales a 10.

In [20]:
def mayores_a_diez(lista):
    contador = 0    # inicializamos el contador
    for numero in lista:
        if numero >= 10:
            contador += 1
    return contador

def mayores_a_diez(lista):
    return sum([1 for numero in lista if numero >= 10])

def mayores_a_diez(lista):
    return len(list(filter(lambda x: x >= 10, lista)))

def mayores_a_diez(lista):
    return sum(map(lambda x: x >= 10, lista))

print(mayores_a_diez([7, 10, 24, 1, 50]))   # 3
print(mayores_a_diez([1, 2, 20]))           # 1
print(mayores_a_diez([-1, 12, 20, 30]))     # 3
print(mayores_a_diez([]))                   # 0

3
1
3
0

## arrastrar_reto076_p2
Este código genera una lista de números aleatorios utilizando la función **genera_lista** y luego utiliza la función separa_lista para separar esta lista en dos listas diferentes, una para los números pares y otra para los impares.

La función **genera_lista(n)** genera una lista de longitud n con números aleatorios entre 0 y 9 utilizando la función **randint(0, 9)** de la librería **random**.

La función **separa_lista(lista)** toma una lista como entrada y utiliza **filter** junto con **funciones lambda** para filtrar los números pares e impares de la lista. Luego, devuelve dos listas, una con los números pares y otra con los impares.

Finalmente, se generan 10 números aleatorios utilizando **genera_lista(10)**, se separan en números pares e impares utilizando  , y se imprime la lista original junto con las listas de números pares e impares resultantes.

Un ejemplo de uso con números aleatorios es este:

* Numeros: `[5, 9, 4, 6, 2, 9, 4, 6, 5, 4]`
* Pares: `[4, 6, 2, 4, 6, 4]`
* Impares: `[5, 9, 9, 5]`

In [21]:
from random import randint

def genera_lista(n):
    return [randint(0, 9) for _ in range(n)]

def separa_lista(lista):
    pares = list(filter(lambda x: x % 2 == 0, lista))
    impares = list(filter(lambda x: x % 2 != 0, lista))
    return pares, impares

numeros = genera_lista(10)
lista_pares, lista_impares = separa_lista(numeros)
print("Numeros:", numeros)
print("Pares:  ", lista_pares)
print("Impares:", lista_impares)

Numeros: [7, 8, 2, 7, 7, 0, 3, 4, 2, 7]
Pares:   [8, 2, 0, 4, 2]
Impares: [7, 7, 7, 3, 7]

## arrastrar_reto077_p1
Hemos creado varias versiones de una función que acepta una lista de números y devuelva los números mínimo y máximo, en ese orden (como una lista).

In [22]:
# Método 1. Usando max, min
def min_max(lista):
    return [min(lista), max(lista)]

# Método 2. Usando for in
def min_max(lista):
    mayor = menor = lista[0]  # inicializando variables
    for num in lista:
        if num > mayor:
            mayor = num
        elif num < menor:
            menor = num
    return [menor, mayor]

print(min_max([1, 2, 3, 4, 5])) # [1, 5]
print(min_max([200, 5]))        # [5, 200]
print(min_max([1]))             # [1, 1]

[1, 5]
[5, 200]
[1, 1]

## arrastrar_reto077_p2
Hemos creado varias versiones de una función que acepta una lista de números y devuelva los números mínimo y máximo, en ese orden (como una lista).

In [23]:
# Método 1. Usando max, min
def min_max(lista):
    return [min(lista), max(lista)]

# Método 2. Usando operadores ternarios
def min_max(lista):
    mayor = menor = lista[0]  # inicializando variables
    for num in lista:
        menor = num if num < menor else menor
        mayor = num if num > mayor else mayor
    return [menor, mayor]

print(min_max([1, 2, 3, 4, 5])) # [1, 5]
print(min_max([200, 5]))        # [5, 200]
print(min_max([1]))             # [1, 1]

[1, 5]
[5, 200]
[1, 1]

## arrastrar_reto078_p1
Hemos creado varias versiones de una función que devuelve `True` si una cadena contiene espacios.

Una cadena vacía no contiene espacios.

In [ ]:
# Método 1
def tiene_espacios(cadena):
    return ' ' in cadena

# Método 2. Con any
def tiene_espacios(cadena):
    return any(caracter == ' ' for caracter in cadena)

print(tiene_espacios("¿Qué tal estás?"))    # True
print(tiene_espacios(" "))                  # True
print(tiene_espacios(""))                   # False
print(tiene_espacios("hola"))               # False
print(tiene_espacios(",./!@#"))             # False

## arrastrar_reto078_p2
Hemos creado varias versiones de una función que devuelve `True` si una cadena contiene espacios.

Una cadena vacía no contiene espacios.

In [24]:
# Método 1
def tiene_espacios(cadena):
    return ' ' in cadena

# Método 2. Con any y con isspace
def tiene_espacios(cadena):
    return any(caracter.isspace() for caracter in cadena)

print(tiene_espacios("¿Qué tal estás?"))    # True
print(tiene_espacios(" "))                  # True
print(tiene_espacios(""))                   # False
print(tiene_espacios("hola"))               # False
print(tiene_espacios(",./!@#"))             # False

True
True
False
False
False

## arrastrar_reto079_p1
Hemos creado varias versiones de una función que cuenta cuántas 'D' hay en una oración.

En el cálculo computan tanto las letras D mayúsculas como las minúsculas.

In [25]:
# Método 1. Con la función count()
def cuenta_d(frase):
    return frase.lower().count('d')

# Método 2. Con un bucle y un contador
def cuenta_d(frase):
    contador = 0
    for letra in frase:
        if letra.lower() == 'd':
            contador += 1
    return contador

# Método 3. Con map
def cuenta_d(frase):
    return sum(map(lambda x: x in 'dD', frase))

print(cuenta_d("Defender la democracia es decisivo"))    # 4
print(cuenta_d("Olvidamos deberes pero no derechos"))    # 3
print(cuenta_d("Eduardo hizo una despedida el domingo")) # 6

4
3
6

## arrastrar_reto079_p2
Hemos creado varias versiones de una función que cuenta cuántas 'D' hay en una oración.

En el cálculo computan tanto las letras D mayúsculas como las minúsculas.

In [26]:
# Método 1. Con la función count()
def cuenta_d(frase):
    return frase.lower().count('d')

# Método 2. Sumando un generador de unos y sin usar lower()
def cuenta_d(frase):
    return sum(1 for letra in frase if letra == 'd' or letra == 'D')

# Método 3. Con filter
def cuenta_d(frase):
    return len(list(filter(lambda x: x.lower() == 'd', frase)))

print(cuenta_d("Defender la democracia es decisivo"))    # 4
print(cuenta_d("Olvidamos deberes pero no derechos"))    # 3
print(cuenta_d("Eduardo hizo una despedida el domingo")) # 6

4
3
6

## arrastrar_reto080_p1
Muchos IDs (para darse de alta en páginas o aplicaciones) se crean utilizando el nombre de la persona.

Hemos creado varias versiones de una función que retorna una identificación de cuatro caracteres utilizando el nombre y apellido de la persona.

El primer carácter será la primera letra del nombre pero en minúsculas.

Los siguientes tres caracteres serán los primeros tres caracteres del apellido, donde la primera letra estará en mayúscula y las otras dos en minúsculas.

In [27]:
def crear_id(nombre, apellido):
    return nombre[0].lower() + apellido[0].upper() + apellido[1:3].lower()

def crear_id(nombre, apellido):
    return nombre[0].lower() + apellido[:3].capitalize()

print(crear_id("maría", "ruiz"))       # mRui
print(crear_id("Juan", "Martín"))      # jMar
print(crear_id("Andrew", "McDonald"))  # aMcd

mRui
jMar
aMcd

## arrastrar_reto080_p2
Muchos IDs (para darse de alta en páginas o aplicaciones) se crean utilizando el nombre de la persona.

Hemos creado varias versiones de una función que retorna una identificación de cuatro caracteres utilizando el nombre y apellido de la persona.

El primer carácter será la primera letra del nombre pero en minúsculas.

Los siguientes tres caracteres serán los primeros tres caracteres del apellido, donde la primera letra estará en mayúscula y las otras dos en minúsculas.

In [28]:
def crear_id(nombre, apellido):
    return nombre[0].lower() + apellido[0].upper() + apellido[1:3].lower()

def crear_id(nombre, apellido):
    return f"{nombre[0].lower()}{apellido.title()[:3]}"

print(crear_id("maría", "ruiz"))       # mRui
print(crear_id("Juan", "Martín"))      # jMar
print(crear_id("Andrew", "McDonald"))  # aMcd

mRui
jMar
aMcd

## arrastrar_reto081_p1
Dada una lista de números como por ejemplo:

lista = `[10, 20, 30, 40, 50]`

deseamos recoger el contenido de la lista en tres variables:

1. primero ➞ 10
2. segundo ➞ 20
3.resto ➞ [30, 40, 50]

La función debe retornar el contenido de las tres variables separado por comas.

Hemos creado varias versiones de una función que realiza este cometido.

In [29]:
def separa(lista):
    primero, segundo, *resto = lista
    return f"{primero}, {segundo}, {resto}"

def separa(lista):
    return f"{lista[0]}, {lista[1]}, {lista[2:]}"

print(separa([10, 20, 30, 40, 50]))    # 10, 20, [30, 40, 50]
print(separa([7, 8, 9, 10, 11, 99]))   # 7, 8, [9, 10, 11, 99]

10, 20, [30, 40, 50]
7, 8, [9, 10, 11, 99]

## arrastrar_reto081_p2
Disponemos de dos usos del operador asterisco.

In [30]:
# USO 1º del operador asterisco
# Desempaquetado de una lista
def desempaquetar_lista(lista):
    a, *b, c = lista
    return a, b, c

# Ejemplo de uso de la función
lista = [1, 2, 3, 4, 5]
resultado = desempaquetar_lista(lista)
print(resultado[0])  # 1 (primer valor de la lista)
print(resultado[1])  # [2, 3, 4] (valores centrales)
print(resultado[2])  # 5 (último valor de la lista)


# USO 2º del operador asterisco
# Uso de *args para aceptar un número variable de argumentos
def suma(*args):
    total = 0  # inicializamos la variable
    for num in args:
        total += num  # vamos acumulando numeros
    return total

resultado = suma(1, 2, 3, 4, 5)
print(resultado)  # 15

1
[2, 3, 4]
5
15

## arrastrar_reto082_p1
Hemos creado varias versiones de una función que recibe una secuencia de números enteros en forma de lista.

La función identifica y devuelve una lista con aquellos números que son simultáneamente múltiplos de 3 y múltiplos de 5.

In [31]:
def multiplos_de_3_y_5(lista):
    multiplos = []  # incializamos una lista vacía
    for numero in lista:
        if numero % 3 == 0 and numero % 5 == 0:
            multiplos.append(numero)
    return multiplos

def multiplos_de_3_y_5(lista):
    return [num for num in lista if num % 15 == 0]

print(multiplos_de_3_y_5([1, 200, 300, 45, 500, 1000, 150, 600]))  # [300, 45, 150, 600]
print(multiplos_de_3_y_5([15, 20, 25, 30, 35, 40]))                # [15, 30]
print(multiplos_de_3_y_5([16, 17, 18]))                            # []
print(multiplos_de_3_y_5([]))                                      # []

[300, 45, 150, 600]
[15, 30]
[]
[]

## arrastrar_reto082_p2
Hemos creado varias versiones de una función que recibe una secuencia de números enteros en forma de lista.

La función identifica y devuelve una lista con aquellos números que son simultáneamente múltiplos de 3 y múltiplos de 5.

In [32]:
def multiplos_de_3_y_5(lista):
    multiplos = []  # incializamos una lista vacía
    for numero in lista:
        if numero % 3 == 0 and numero % 5 == 0:
            multiplos.append(numero)
    return multiplos

def multiplos_de_3_y_5(lista):
    es_multiplo_de_15 = lambda x: x % 15 == 0
    multiplos = list(filter(es_multiplo_de_15, lista))
    return multiplos

print(multiplos_de_3_y_5([1, 200, 300, 45, 500, 1000, 150, 600]))  # [300, 45, 150, 600]
print(multiplos_de_3_y_5([15, 20, 25, 30, 35, 40]))                # [15, 30]
print(multiplos_de_3_y_5([16, 17, 18]))                            # []
print(multiplos_de_3_y_5([]))                                      # []

[300, 45, 150, 600]
[15, 30]
[]
[]

## arrastrar_reto083_p1
Tenemos dos funciones.

La primera función se llama **todos_verdaderos** y recibe por parámetro una lista de booleanos.

Esta función solo retorna `True` si todos los booleanos de la lista son `True`, en cualquier otro caso retorna `False`.

La segunda función se llama **alguno_verdadero** y recibe por parémetro una lista de booleanos.

Esta función solo retorna `False` si todos los booleanos de la lista son `False`, en cualquier otro caso retorna `True`.

In [33]:
caso_a = [True, True, True, True]       # todos True
caso_b = [False, False, False, False]   # todos False
caso_c = [True, False, True, False]     # algunos True, otros False

def todos_verdaderos(lista):
    return all(lista)

def alguno_verdadero(lista):
    [a, b, c, d] = lista
    return bool(a or b or c or d)

print(todos_verdaderos(caso_a))     # True
print(todos_verdaderos(caso_b))     # False
print(todos_verdaderos(caso_c))     # False
print()
print(alguno_verdadero(caso_a))     # True
print(alguno_verdadero(caso_b))     # False
print(alguno_verdadero(caso_c))     # True

True
False
False

True
False
True

## arrastrar_reto083_p2
Tenemos dos funciones.

La primera función se llama **todos_verdaderos** y recibe por parámetro una lista de booleanos.

Esta función solo retorna `True` si todos los booleanos de la lista son `True`, en cualquier otro caso retorna `False`.

La segunda función se llama **alguno_verdadero** y recibe por parémetro una lista de booleanos.

Esta función solo retorna `False` si todos los booleanos de la lista son `False`, en cualquier otro caso retorna `True`.

In [34]:
caso_a = [True, True, True, True]       # todos True
caso_b = [False, False, False, False]   # todos False
caso_c = [True, False, True, False]     # algunos True, otros False

def todos_verdaderos(lista):
    [a, b, c, d] = lista
    return bool(a and b and c and d)

def alguno_verdadero(lista):
    return any(lista)

print(todos_verdaderos(caso_a))     # True
print(todos_verdaderos(caso_b))     # False
print(todos_verdaderos(caso_c))     # False
print()
print(alguno_verdadero(caso_a))     # True
print(alguno_verdadero(caso_b))     # False
print(alguno_verdadero(caso_c))     # True

True
False
False

True
False
True

## arrastrar_reto084_p1
Hemos creado varias versiones de una función que devuelve `True` si todos los parámetros son verdaderos y `False` en caso contrario.

In [35]:
def todos_verdaderos(*args):
    return all(args)

def todos_verdaderos(*args):
    for elemento in args:
        if not elemento:
            return False
    return True

print(todos_verdaderos(True, True, True))        # True
print(todos_verdaderos(True, False, True))       # False
print(todos_verdaderos(5, 4, 3, 2, 1, 0))		 # False
print(todos_verdaderos(1, 1, 1, 1, 1, 1, 1, 1))  # True
print(todos_verdaderos(1, 1, 1, 1, 1, 1, 1, 2))  # True

True
False
False
True
True

## arrastrar_reto084_p2
Hemos creado una función que recibe un número indeterminado de argumentos en forma de cadena y retorna todos ellos concatenados.

In [36]:
def concatenar_strings(*strings):
    """
    Esta función toma un número indeterminado de argumentos tipo string
    y devuelve la concatenación de todos ellos.
    """
    concatenacion = ""
    for string in strings:
        concatenacion += string
    return concatenacion

# Ejemplo de uso de la función
print(concatenar_strings("Hola", " ", "mundo"))
print(concatenar_strings("Python", " es", " ", "genial"))
print(concatenar_strings("¡Hola!", " ", "¿cómo", " ", "estás?"))

Hola mundo
Python es genial
¡Hola! ¿cómo estás?

## arrastrar_reto085_p1
Hemos creado varias versiones de una función que permite convertir cierta cantidad de Euros en dólares estadounidenses (USD).

Se ha de tomar el cambio de 1 dolar equivalente a 0,9218 Euros.

El resultado se redondeará a dos decimales.

In [37]:
def euro_a_usd(euros):
    return round(euros / 0.9218, 2)

def euro_a_usd(euros):
    cambio = euros / 0.9218
    return f"{cambio:.2f}"

print(euro_a_usd(1))       # 1.08
print(euro_a_usd(500))     # 542.42
print(euro_a_usd(10_000))  # 10848.34

1.08
542.42
10848.34

## arrastrar_reto085_p2
Disponemos de dos versiones de una función que calcula la mensualidad que hay que pagar periódicamente para llegar a amortizar un préstamo hipotecario.

Disponemos de dos casos de uso donde ambos logran imprimir el importe mensual a pagar mostrando la cifra redondeada a dos decimales.

In [39]:
def calcular_pago_hipoteca(monto_prestamo, tasa_interes_anual, meses):
    tasa_mensual = tasa_interes_anual / 12 / 100
    pago_mensual = monto_prestamo * (tasa_mensual / (1 - (1 + tasa_mensual) ** -meses))
    return round(pago_mensual, 2)   # redondeamos a dos decimales

def calcular_pago_hipoteca(monto, tasa_interes_anual, meses):
    tasa_mensual = tasa_interes_anual / 12 / 100
    pago_mensual = monto * (tasa_mensual / (1 - (1 + tasa_mensual) ** -meses))
    return f"{pago_mensual:.2f}"   # mostrando dos decimales redondeados

# Primer ejemplo de uso
monto = 200_000  # Monto del préstamo, importe prestado en euros
tasa_interes_anual = 4.5  # Tasa de interés anual en porcentaje
duracion = 30  # Duración del préstamo en años

pago_mensual = calcular_pago_hipoteca(monto, tasa_interes_anual, duracion * 12)
print("El pago mensual de la hipoteca será de " + str(pago_mensual) + " €.")
# Se imprime: El pago mensual de la hipoteca será de 1013.37 €.

# Segundo ejemplo de uso
principal = 300_000  # Importe del principal del prestamo en euros
tin = 3.5  # Tipo de interés anual
anyos = 25  # Duración del préstamo en años

mensualidad = calcular_pago_hipoteca(principal, tin, anyos * 12)
print(f"El pago mensual de la hipoteca será de {mensualidad} €.")
# Se imprime: El pago mensual de la hipoteca será de 1501.87 €.

El pago mensual de la hipoteca será de 1013.37 €.
El pago mensual de la hipoteca será de 1501.87 €.

## arrastrar_reto086_p1
Hemos creado varias versiones de una función que verifica si es seguro caminar sobre un puente, es decir, si no hay espacios que representen huecos por los que se pueda caer.

In [44]:
def puente_seguro(puente):
    return ' ' not in puente

def puente_seguro(puente):
    return all(char != ' ' for char in puente)

def puente_seguro(puente):
    return len(puente) == len(puente.replace(' ', ''))

print(puente_seguro("####"))      # True
print(puente_seguro("## ####"))   # False
print(puente_seguro("#"))         # True
print(puente_seguro("## ##  ##")) # False
print(puente_seguro(""))          # True
print(puente_seguro(" ####"))     # False

True
False
True
False
True
False

## arrastrar_reto086_p2
Deseamos detectar si dos números son iguales.

Tenemos una lista con varios elementos y deseamos saber si todos ellos tienen el mismo valor y éste es igual a un número entero dado $n$.

Si $n=2$ y la lista es:

`[1+1, 6/3, 7//3, int("2"), 17 % 5, --2]`

el resultado de la función debería ser `True` ya que todos los elementos son iguales a $n$, que es 2.

Si a la lista añadimos un elemento más que es la cadena "2" el resultado de la función sería `False` ya que no se cumple que "2" como string sea lo mismo que 2 como número entero.

Si todos son iguales a $n$ devuelve `True` y en caso contrario devuelve `False`.

In [45]:
def todos_iguales(lista, n):
    lista_booleanos = [num == n for num in lista]
    print(lista_booleanos)
    return all(lista_booleanos)

# Caso 1
n = 2
lista = [1+1, 6/3, 7//3, abs(-2), int("2"), eval("3-1"), 17 % 5, --2]
print(todos_iguales(lista, n))    # True

# Caso 2: añadiendo el string "2" a la lista
n = 2
lista += ["2"]
print(todos_iguales(lista, n))    # False

[True, True, True, True, True, True, True, True]
True
[True, True, True, True, True, True, True, True, False]
False

## arrastrar_reto087_p1
La función `abs()` devuelve el valor absoluto de un número.

Esto significa que devuelve el valor positivo de ese número sin importar el signo.

Puede entenderse como la distancia desde cero hasta ese valor.

Hemos creado varias versiones de una función que emula esta funcionalidad.

In [46]:
def absoluto(numero):
    if numero < 0:
        return -numero
    return numero

# elevando al cuadrado y haciendo la raiz cuadrada
def absoluto(num):
    return (num ** 2) ** 0.5  # retorna un float

print(absoluto(-5))     # 5
print(absoluto(-3.14))  # 3.14
print(absoluto(25))     # 25
print(absoluto(0))      # 0

5.0
3.14
25.0
0.0

## arrastrar_reto087_p2
La función `abs()` devuelve el valor absoluto de un número.

Esto significa que devuelve el valor positivo de ese número sin importar el signo.

Puede entenderse como la distancia desde cero hasta ese valor.

Hemos creado varias versiones de una función que emula esta funcionalidad.

In [47]:
# usando un operador ternario
def absoluto(numero):
    return numero if numero >= 0 else -numero

def absoluto(numero):
    return max(numero, -numero)

print(absoluto(-5))     # 5
print(absoluto(-3.14))  # 3.14
print(absoluto(25))     # 25
print(absoluto(0))      # 0

5
3.14
25
0

## arrastrar_reto088_p1
Estamos probando patinetes en tandas de tres, y viendo la velocidad que puede alcanzar cada uno.

Deseamos conocer la diferencia de velocidades entre el más rápido y el más lento.

Hemos creado varias versiones de una función que permite realizar este cálculo.

In [48]:
# Método 1
def diferencia_velocidades(a, b, c):
    return max(a, b, c) - min(a, b, c)

# Método 2 Ordenando la lista
def diferencia_velocidades(a, b, c):
    ordenadas = sorted([a, b, c])
    return ordenadas[-1] - ordenadas[0]

print(diferencia_velocidades(14, 33, 40))    # 26
print(diferencia_velocidades(33, 63, 35))    # 30
print(diferencia_velocidades(10, 15, 10))    # 5

26
30
5

## arrastrar_reto088_p2
Estamos probando patinetes en tandas de tres, y viendo la velocidad que puede alcanzar cada uno.

Deseamos conocer la diferencia de velocidades entre el más rápido y el más lento.

Hemos creado varias versiones de una función que permite realizar este cálculo.

In [49]:
# Método 1
def diferencia_velocidades(a, b, c):
    return max(a, b, c) - min(a, b, c)

# Método 2
def diferencia_velocidades(a, b, c):
    velocidades = [a, b, c]
    max = min = velocidades[0]  # inicializamos las variables
    for v in velocidades:
        max = v if v > max else max
        min = v if v < min else min
    return max - min

print(diferencia_velocidades(14, 33, 40))    # 26
print(diferencia_velocidades(33, 63, 35))    # 30
print(diferencia_velocidades(10, 15, 10))    # 5

26
30
5

## arrastrar_reto089_p1
Hemos creado varias versiones de una función que toma dos números y un operador matemático y devuelve el resultado.

Las únicas operaciones utilizadas son las de los ejemplos que se muestran.

In [50]:
def calculate(a, b, operacion):
    if operacion == '+':
        return a + b
    elif operacion == '-':
        return a - b
    elif operacion == '*':
        return a * b
    elif operacion == '//':
        return a // b
    elif operacion == '%':
        return a % b
    elif operacion == '/':
        return a / b

def calculate(num1, num2, operador):
    return eval(f"{num1} {operador} {num2}")

print(calculate(4, 9, "+"))    # 13
print(calculate(12, 5, "-"))   # 7
print(calculate(6, 3, "*"))    # 18
print(calculate(25, 5, "//"))  # 5
print(calculate(14, 3, "%"))   # 2
print(calculate(7, 2, "/"))    # 3.5

13
7
18
5
2
3.5

## arrastrar_reto089_p2
Hemos creado varias versiones de una función que toma dos números y un operador matemático y devuelve el resultado.

Las únicas operaciones utilizadas son las de los ejemplos que se muestran.

In [51]:
def calculate(num1, num2, operador):
    operaciones = {"+": lambda x, y: x + y,
                   "-": lambda x, y: x - y,
                   "*": lambda x, y: x * y,
                   "//": lambda x, y: x // y,
                   "%": lambda x, y: x % y,
                   "/": lambda x, y: x / y}
    if operador in operaciones:
        return operaciones[operador](num1, num2)
    return "Operador no válido"

def calculate(num1, num2, operador):
    return eval(f"{num1} {operador} {num2}")

print(calculate(4, 9, "+"))    # 13
print(calculate(12, 5, "-"))   # 7
print(calculate(6, 3, "*"))    # 18
print(calculate(25, 5, "//"))  # 5
print(calculate(14, 3, "%"))   # 2
print(calculate(7, 2, "/"))    # 3.5

13
7
18
5
2
3.5

## arrastrar_reto090_p1
Hemos creado varias versiones de una función que recibe una lista y una división entera.

La división entera se utiliza para calcular el índice necesario que nos permitirá acceder a un elemento específico en la lista.

In [52]:
def valor_en_posicion(lista, division_entera):
    indice = int(division_entera)
    return lista[indice]

def valor_en_posicion(lista, division_entera):
    index = round(division_entera)
    return lista[index]

print(valor_en_posicion([10, 20, 30, 40, 50], 8 // 2))  # 50
print(valor_en_posicion([1, 2, 3, 4, 5, 6], 8.0 // 2))  # 5
print(valor_en_posicion([1, 2, 3, 4], 6.5 // 2))        # 4

50
5
4

## arrastrar_reto090_p2
En Python cuando intentas acceder por el índice a una lista y ese índice no se encuentra en la lista nos da un error.

Por ejemplo, esto da error:

`lista = [10, 11, 12]`
`lista[3] # IndexError: list index out of range`

El error se produce porque el índice 3 no existe en la lista, ya que la lista comienza con el índice 0 y finaliza con el índice 2.

Queremos evitar este tipo de errores creando una función que cuando el índice esté fuera de rango retorne `None`.

In [53]:
def obtener_elemento_por_indice(lista, indice):
    """
    Esta función toma una lista y un índice como entrada
    y devuelve el elemento de la lista correspondiente al índice dado.
    Si el índice está fuera del rango de la lista, devuelve None.
    """
    if 0 <= indice < len(lista):
        return lista[indice]
    else:
        return None

lista = [10, 11, 12]

# Primer caso de uso
index = 2
print(obtener_elemento_por_indice(lista, index))   # 12

# Segundo caso de uso
index = 3
print(obtener_elemento_por_indice(lista, index))   # None

12
None

## arrastrar_reto091_p1
En Python, los conjuntos (set) no admiten indexación directa como las listas o tuplas.

Los conjuntos son estructuras de datos desordenadas y no indexadas, lo que significa que no se puede acceder a sus elementos mediante un índice numérico.

Hemos creado varias versiones de una función que recibe un conjunto que contiene un único elemento.

La función debe devolver ese elemento.

In [54]:
# Método 1. Convirtiendo el conjunto en lista
def elemento_del_conjunto(conjunto):
    return list(conjunto)[0]

# Método 2. Sin convertirlo en lista, usando la función pop
def elemento_del_conjunto(conjunto):
    return conjunto.pop()

print(elemento_del_conjunto({'margarita'}))  # margarita
print(elemento_del_conjunto({True}))         # True
print(elemento_del_conjunto({42}))           # 42

margarita
True
42

## arrastrar_reto091_p2
En Python, los conjuntos (set) no admiten indexación directa como las listas o tuplas.

Los conjuntos son estructuras de datos desordenadas y no indexadas, lo que significa que no se puede acceder a sus elementos mediante un índice numérico.

Hemos creado varias versiones de una función que recibe un conjunto que contiene un único elemento.

La función debe devolver ese elemento.

In [55]:
# Método 1. Convirtiendo el conjunto en lista
def elemento_del_conjunto(conjunto):
    return list(conjunto)[0]

# Método 2. Iterar a través del conjunto
def elemento_del_conjunto(conjunto):
    for elemento in conjunto:
        return elemento

print(elemento_del_conjunto({'margarita'}))  # margarita
print(elemento_del_conjunto({True}))         # True
print(elemento_del_conjunto({42}))           # 42

margarita
True
42

## arrastrar_reto092_p1
Hemos creado varias versiones de una función que recibe una lista de valores booleanos que convierte en una lista de ceros y unos, invirtiendo su valor.

1. Cuando tengamos un `True` se convertirá en un **0**.
2. Cuando tengamos un `False` se convertirá en un **1**.

In [56]:
def invertir(lista):
    return [int(not(x)) for x in lista]

def invertir(lista):
    return [abs(x-1) for x in lista]

def invertir(lista):
    return [{0: 1, 1: 0}.get(int(x)) for x in lista]

print(invertir([True, True, True, True]))      # [0, 0, 0, 0]
print(invertir([True, True, True, False]))     # [0, 0, 0, 1]
print(invertir([True, True, False, False]))    # [0, 0, 1, 1]
print(invertir([True, False, False, False]))   # [0, 1, 1, 1]
print(invertir([False, False, False, False]))  # [1, 1, 1, 1]

[0, 0, 0, 0]
[0, 0, 0, 1]
[0, 0, 1, 1]
[0, 1, 1, 1]
[1, 1, 1, 1]

## arrastrar_reto092_p2
Hemos creado varias versiones de una función que recibe una lista de valores booleanos que convierte en una lista de ceros y unos, invirtiendo su valor.

1. Cuando tengamos un `True` se convertirá en un **0**.
2. Cuando tengamos un `False` se convertirá en un **1**.

In [57]:
def invertir(lista):
    return [int(not(x)) for x in lista]

def invertir(lista):
    return [0 if x else 1 for x in lista]

def invertir(lista):
    return [--(not(x)) for x in lista]

def invertir(lista):
    return [abs(not(x)) for x in lista]

print(invertir([True, True, True, True]))      # [0, 0, 0, 0]
print(invertir([True, True, True, False]))     # [0, 0, 0, 1]
print(invertir([True, True, False, False]))    # [0, 0, 1, 1]
print(invertir([True, False, False, False]))   # [0, 1, 1, 1]
print(invertir([False, False, False, False]))  # [1, 1, 1, 1]

[0, 0, 0, 0]
[0, 0, 0, 1]
[0, 0, 1, 1]
[0, 1, 1, 1]
[1, 1, 1, 1]

## arrastrar_reto093_p1
Hemos creado varias versiones de una función que determina si un texto dado es un título de texto (Title String).

Se considera que un texto es un título si todas las palabras comienzan con una letra mayúscula y no hay más mayúsculas en esa palabra.

In [58]:
def es_titulo(texto):
    return texto.title() == texto

def es_titulo_texto(texto):
    palabras = texto.split()    # Dividir en palabras
    # Verificar si todas las palabras comienzan con mayúscula
    for palabra in palabras:
        if not palabra.istitle():  # Comprueba si la palabra comienza con mayúscula
            return False  # Si alguna palabra no cumple, retorna False
    return True     # Si todas las palabras cumplen, retorna True

print(es_titulo("Ciudades: Londres París Roma"))    # True
print(es_titulo("Prefiero New York!"))              # True
print(es_titulo("Veranear en Málaga"))              # False

True
True
False

## arrastrar_reto093_p2
Hemos creado varias versiones de una función que determina si un texto dado es un título de texto (Title String).

Se considera que un texto es un título si todas las palabras comienzan con una letra mayúscula y no hay más mayúsculas en esa palabra.

In [59]:
def es_titulo(texto):
    return texto.title() == texto

def es_titulo(texto):
    palabras = texto.split()
    return all(palabra.istitle() for palabra in palabras)

print(es_titulo("Ciudades: Londres París Roma"))    # True
print(es_titulo("Prefiero New York!"))              # True
print(es_titulo("Veranear en Málaga"))              # False

True
True
False

## arrastrar_reto094_p1
Hemos creado varias versiones de una función que devuelve la lista de todos los números enteros entre el inicio y el final de dos números dados, incluidos éstos.

In [60]:
# Método 1. Convirtiendo en lista un rango
def rango_de_numeros(inicio, final):
    return list(range(inicio, final + 1))

# Método 2. Agregando los números a una nueva lista, usando append
def rango_de_numeros(inicio, final):
    numeros = []    # inicializamos la lista
    for i in range(inicio, final + 1):
        numeros.append(i)
    return numeros

# Ejemplos de uso de la función
print(rango_de_numeros(2, 4))   # [2, 3, 4]
print(rango_de_numeros(5, 9))   # [5, 6, 7, 8, 9]
print(rango_de_numeros(2, 11))  # [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(rango_de_numeros(2, 2))   # [2]

[2, 3, 4]
[5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2]

## arrastrar_reto094_p2
Hemos creado varias versiones de una función que devuelve la lista de todos los números enteros entre el inicio y el final de dos números dados, incluidos estos.

In [61]:
# Método 1. Convirtiendo en lista un rango
def rango_de_numeros(inicio, final):
    return list(range(inicio, final + 1))

# Método 2. Por recursividad
def rango_de_numeros(inicio, final):  # suponiendo que inicio <= final
    # Caso base: si el inicio es igual al final, la lista solo contiene un elemento
    if inicio == final:
        return [inicio]
    # Caso recursivo: agregamos el inicio a la lista y llamamos recursivamente
    # a la función con el inicio incrementado en uno
    else:
        return [inicio] + rango_de_numeros(inicio + 1, final)

# Ejemplos de uso de la función
print(rango_de_numeros(2, 4))   # [2, 3, 4]
print(rango_de_numeros(5, 9))   # [5, 6, 7, 8, 9]
print(rango_de_numeros(2, 11))  # [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(rango_de_numeros(2, 2))   # [2]

[2, 3, 4]
[5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2]

## arrastrar_reto095_p1
Un casino te ha encargado programar un sistema de control de acceso.

Para poder ingresar al casino, las personas deben cumplir dos condiciones: no ser menores de 18 años y no estar en la lista de personas no deseadas.

Para implementar esto, hemos creado una función llamada **permitir_acceso** que recibe la **edad** como número entero y la variable booleana denominada **en_lista_negra** que indica si el invitado está en la lista negra.

In [62]:
def permitir_acceso(edad, en_lista_negra):
    return edad >= 18 and not en_lista_negra

print(permitir_acceso(16, False))   # False
print(permitir_acceso(18, False))   # True
print(permitir_acceso(24, True))    # False

False
True
False

## arrastrar_reto095_p2
En cierto club de moteros "algo especial", pueden presentarse para presidente los mayores de edad y sin barba.

Tenemos una función que recibe la **edad** del candidato y una variable booleana denominada **tiene_barba** que si es `True` indica que el candidato si tiene barba.

La función retorna `True` cuando el candidato puede presentarse o `False` cuando no puede presentarse a la elección de presidente.

In [63]:
def puede_presentarse_a_presidente(edad, tiene_barba):
    return edad >= 18 and not tiene_barba

print(puede_presentarse_a_presidente(32, False))  # True
print(puede_presentarse_a_presidente(32, True))   # False
print(puede_presentarse_a_presidente(17, False))  # False
print(puede_presentarse_a_presidente(17, True))   # False

True
False
False
False

## arrastrar_reto096_p1
Hemos creado varias versiones de una función llamada **todos_verdaderos** que toma un número variable de argumentos y devuelva `True` solo si todos los argumentos son verdaderos, de lo contrario, debe devolver `False`.

In [64]:
def todos_verdaderos(*args):
    for arg in args:
        if not arg:
            return False
    return True

def todos_verdaderos(*args):
    return all(args)

print(todos_verdaderos(True, True, True, True))                # True
print(todos_verdaderos(33, "Hello", "False", (False, [], 3)))  # True
print(todos_verdaderos(True, True, True, False))               # False
print(todos_verdaderos(0, False, [], {}))                      # False
print(todos_verdaderos(True, None))                            # False

True
True
False
False
False

## arrastrar_reto096_p2
Hemos creado una función que recibe un número indeterminado de argumentos, que son números que se han de multiplicar entre si.

Se usa el operador asterisco para tratar los números.

In [65]:
def calcular_producto(*args):
    if not args:
        return None  # Si no se proporcionan argumentos, retorna None
    producto = 1     # se inicializa la variable
    for num in args:
        producto *= num  # se multiplica cada num por la variable produto
    return producto

# Primer ejemplo de uso
resultado = calcular_producto(2, 3, 5, 7)
print("El producto es", resultado)  # El producto es 210

# Segundo ejemplo de uso
rango = range(1, 6)  # rango entre 1 y 5
print("El factorial de 5 es", calcular_producto(*rango))  # El factorial de 5 es 120

El producto es 210
El factorial de 5 es 120

## arrastrar_reto097_p1
Hemos creado varias versiones de una función llamada **primeros_positivos** que recibe como parámetro una lista.

La lista recibida contiene números positivos, negativos o cero.

La función ha de retornar una lista que contenga únicamente los primeros positivos.

Al llegar a un cero o un número negativo no se retorna y tampoco todo lo posterior.

In [66]:
def primeros_positivos(lista):
    for i, v in enumerate(lista):	 # i → índice, v → valor
        if v <= 0:
            return lista[:i]

def primeros_positivos(lista):
    resultado = []    # inicializamos la lista
    for num in lista:
        if num > 0:
            resultado.append(num)
        else:
            break
    return resultado

print(primeros_positivos([4, 9, 5, 0, 2, 4]))  # [4, 9, 5, 2, 4]
print(primeros_positivos([-2, 1, 6, 0, 3]))    # [1, 6, 3]
print(primeros_positivos([1, 3, 7, 2, -1, 6])) # [1, 3, 7, 2, 6]

[4, 9, 5]
[]
[1, 3, 7, 2]

## arrastrar_reto097_p2
Hemos creado varias versiones de una función llamada **primeros_positivos** que recibe como parámetro una lista.

La lista recibida contiene números positivos, negativos o cero.

La función ha de retornar una lista que contenga únicamente los primeros positivos.

Al llegar a un cero o un número negativo no se retorna y tampoco todo lo posterior.

In [68]:
def primeros_positivos(lista):
    for i, v in enumerate(lista):	 # i → índice, v → valor
        if v <= 0:
            return lista[:i]

def primeros_positivos(lista):
    resultado = []
    for num in lista:
        if num <= 0:
            break
        resultado.append(num)
    return resultado

print(primeros_positivos([4, 9, 5, 0, 2, 4]))  # [4, 9, 5, 2, 4]
print(primeros_positivos([-2, 1, 6, 0, 3]))    # [1, 6, 3]
print(primeros_positivos([1, 3, 7, 2, -1, 6])) # [1, 3, 7, 2, 6]

[4, 9, 5]
[]
[1, 3, 7, 2]

## arrastrar_reto098_p1
Hemos creado una función que devuelve el último valor de una lista o de una cadena.

Devuelve `None` si la lista o la cadena está vacía.

In [69]:
def ultimo(objeto):
    if not objeto:
        return None
    return objeto[-1]

print(ultimo([0, 4, 19, 34, 50, -9, 2]))  # 2
print(ultimo("pensar antes de hablar"))   # r
print(ultimo([]))                         # None
print(ultimo(""))                         # None

2
r
None
None

## arrastrar_reto098_p2
Hemos creado una función que devuelve el último valor de una lista o de una cadena.

Devuelve `None` si la lista o la cadena está vacía.

In [70]:
# usando un operador ternario
def ultimo(objeto):
    return objeto[-1] if objeto else None

def ultimo(objeto):
    return None if not objeto else objeto[-1]

print(ultimo([0, 4, 19, 34, 50, -9, 2]))  # 2
print(ultimo("pensar antes de hablar"))   # r
print(ultimo([]))                         # None
print(ultimo(""))                         # None

2
r
None
None

## arrastrar_reto099_p1
Usted es el guía de un grupo de turistas a los que lleva a conocer Madrid.

Después de cada visita le puntúan en la aplicación dando entre 1 y 5 estrellas.

El número de turistas que lleva en cada grupo es variable.

Hemos creado varias versiones de una función que al recibir las estrellas con las que le han puntuado los diferentes turistas, devuelve el número de turistas que le han dado la mayor puntuación en ese grupo.

In [71]:
def mejores_estrellas(lista):
    return lista.count(max(lista))

def mejores_estrellas(lista):
    return sum(1 for valor in lista if valor == max(lista))

print(mejores_estrellas([4, 4, 3]))           # 2
print(mejores_estrellas([5, 4, 1, 5]))        # 2
print(mejores_estrellas([5, 3, 4, 4, 4, 3]))  # 1
print(mejores_estrellas([4, 3, 4, 4, 2]))     # 3

2
2
1
3

## arrastrar_reto099_p2
Usted es el guía de un grupo de turistas a los que lleva a conocer Madrid.

Después de cada visita le puntúan en la aplicación dando entre 1 y 5 estrellas.

El número de turistas que lleva en cada grupo es variable.

Hemos creado varias versiones de una función que al recibir las estrellas con las que le han puntuado los diferentes turistas, devuelve el número de turistas que le han dado la mayor puntuación en ese grupo.

In [72]:
def mejores_estrellas(lista):
    return lista.count(max(lista))

def mejores_estrellas(lista):
    return len(list(1 for valor in lista if valor == max(lista)))

print(mejores_estrellas([4, 4, 3]))           # 2
print(mejores_estrellas([5, 4, 1, 5]))        # 2
print(mejores_estrellas([5, 3, 4, 4, 4, 3]))  # 1
print(mejores_estrellas([4, 3, 4, 4, 2]))     # 3

2
2
1
3

## arrastrar_reto100_p1
Hemos creado varias versiones de una función para devolver la cantidad de patatas que hay en una cadena.

In [73]:
def cuenta_patatas(cadena):
    return cadena.count("patata")

def cuenta_patatas(cadena):
    n = len("patata")
    return sum([1 for i in range(len(cadena) - n + 1) if cadena[i:i+n] == "patata"])

print(cuenta_patatas("patata"))                 # 1
print(cuenta_patatas("patatapatata"))           # 2
print(cuenta_patatas("patatamanzanapata"))      # 1
print(cuenta_patatas("patatatuti"*7+"patata"))  # 8

1
2
1
8

## arrastrar_reto100_p2
Hemos creado varias versiones de una función para devolver la cantidad de patatas que hay en una cadena.

In [74]:
def cuenta_patatas(cadena):
    return cadena.count("patata")

def cuenta_patatas(cadena):
    n = len("patata")
    return sum([cadena[i:i+n] == "patata" for i in range(len(cadena) - n + 1)])

print(cuenta_patatas("patata"))                 # 1
print(cuenta_patatas("patatapatata"))           # 2
print(cuenta_patatas("patatamanzanapata"))      # 1
print(cuenta_patatas("patatatuti"*7+"patata"))  # 8

1
2
1
8