<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/pack05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 41: Fotogramas por segundo
* Cree una función que devuelva el número de fotogramas mostrados en un número determinado de minutos para una determinada catidad de FPS.
* FPS significa "fotogramas por segundo" y es la cantidad de fotogramas que muestra la pantalla cada segundo.
* Ejemplos:
    1. frames(1, 1) ➞ 60
    2. frames(10, 1) ➞ 600
    3. frames(10, 25) ➞ 15000
    4. frames(100, 24) ➞ 144000

* Ejemplo:  
    - Una película de 100 minutos grabada a 24 fps, ratio habitual en el cine clásico, está formada por 144.000 fotogramas.

In [ ]:
def frames(minutos, fps):
    pass

In [ ]:
print(frames(1, 1))
print(frames(10, 1))
print(frames(10, 25))
print(frames(100, 24))

## Reto 42: Multiplo de cien
* Cree una función que tome un número entero y devuelva `True` si es divisible por 100; de lo contrario, devuelva `False`.
* Ejemplos:
    1. divisible(1) ➞ False
    2. divisible(1000) ➞ True
    3. divisible(100) ➞ True

In [ ]:
def divisible(n):
    pass

In [ ]:
print(divisible(1))
print(divisible(1000))
print(divisible(100))

## Reto 43: Comprobar si $k^k=n$
* Escriba una función que devuelva `True` si $k^k = n$ para la entrada `(k, n)`
* y devuelva `False` en caso contrario.
* Ejemplos:
    1. k_to_k(2, 4) ➞ True
    2. k_to_k(9, 387420489) ➞ True  
    3. k_to_k(5, 3124) ➞ False
    4. k_to_k(3, 17) ➞ False
* Nueve elevado a nueve es $9^{9} = 387420489$

In [ ]:
def k_to_k(k, n):
    pass

In [ ]:
print(k_to_k(2, 4))
print(k_to_k(9, 387420489))
print(k_to_k(5, 3124))
print(k_to_k(3, 17))

## Reto 44: Despistes al programar
* Disponemos de una función que no trabaja correctamente ya estábamos algo despistados al programarla.
* Mire los ejemplos siguientes para tener una idea de lo que debe hacer la función.
* Ejemplos:
    1. max_num(3, 7) ➞ 7
    2. max_num(-1, -4) ➞ -1
    2. max_num(10, 10) ➞ 10

* El código que da problemas es el siguiente:

<pre>
def max_num(n1, n2):
	if n1 > n2:
		return n2
	elif:
		return n1
</pre>

In [ ]:
def max_num(n1, n2):
    pass

In [ ]:
print(max_num(3, 7))
print(max_num(-1, -4))
print(max_num(10, 10))

## Reto 45: Comparar cadenas por número de caracteres
* Cree una función que tome dos strings como argumentos y devuelva `True` o `False` dependiendo de si el número total de caracteres en la primera cadena es igual al número total de caracteres en la segunda cadena.
* Ejemplos:
    1. compare("AB", "cd") ➞ True
    2. compare("ABC", "DE") ➞ False
    3. compare("hello", "Madrid") ➞ False
    4. compare("XY", "42") ➞ True

In [ ]:
def compare(str1, str2):
    pass

In [ ]:
print(compare("AB", "cd"))
print(compare("ABC", "DE"))
print(compare("hello", "Madrid"))
print(compare("XY", "42"))

## Reto 46: División exacta
* Dados dos números enteros, `a` y `b`, devuelve `True` si `a` se puede dividir entre `b` y el resultado no arroja decimales.
* Devuelve `False` en caso contrario.
* Ejemplos:
    1. division_exacata(15, 5) ➞ True
    2. division_exacata(16, 5) ➞ False
    3. division_exacata(12, 2) ➞ True

In [ ]:
def division_exacata(a, b):
    pass

In [ ]:
print(division_exacata(15, 5))
print(division_exacata(16, 5))
print(division_exacata(12, 2))

## Reto 47: Cargando baterías
* Un vehículo necesita 10 veces más carga que la distancia que recorre.
* Sin embargo, siempre debe llevar un mínimo de 100 de combustible antes de partir.
* Cree una función que calcule la cantidad de carga que necesita, dada la distancia.
* Ejemplos:
    1. calcula_carga(15) ➞ 150
    2. calcula_carga(23.5) ➞ 235
    3. calcula_carga(3) ➞ 100
* La distancia será un número mayor que cero.
* Devuelve 100 si la carga calculada resulta ser inferior a 100.

In [ ]:
def calcula_carga(km):
    pass

In [ ]:
print(calcula_carga(15))
print(calcula_carga(23.5))
print(calcula_carga(3))

## Reto 48: ¿Está vacía la cadena?
* Cree una función que devuelva `True` si una cadena está vacía y `False` en caso contrario.
* Ejemplos:
    1. is_empty("") ➞ True
    2. is_empty(" ") ➞ False
    3. is_empty("a") ➞ False
* Un string que contiene algún espacio en blanco `" "` no cuenta como vacío.

In [ ]:
def is_empty(cadena):
    pass

In [ ]:
print(is_empty(""))
print(is_empty(" "))
print(is_empty("a"))

## Reto 49: Retorna negativo
* Cree una función que tome un número como argumento y devuelva un negativo de ese número.
* Si el número previamente ya es negativo lo devuelve sin ningún cambio.
* Ejemplos:
    1. return_negative(4) ➞ -4
    2. return_negative(15) ➞ -15
    3. return_negative(-4) ➞ -4
    4. return_negative(0) ➞ 0

In [ ]:
def return_negative(x):
    pass

In [ ]:
print(return_negative(4))
print(return_negative(15))
print(return_negative(-4))
print(return_negative(0))

## Reto 50: ¿Suma la lista menos de cien?
* Cree una función que reciba una lista de números
* Se retorna `True` si la suma de los valores de la lista es menor estricto que 100, de lo contrario, se retorna `False`.
* Ejemplos:
    1. menos_que_cien([5, 57]) ➞ True
    2. menos_que_cien([77, 30]) ➞ False
    3. menos_que_cien([0]) ➞ True
    4. menos_que_cien([7, 33, 15]) ➞ True
    5. menos_que_cien([95, 1, 1, 1, 2]) ➞ False

In [ ]:
def menos_que_cien(lista):
    pass

In [ ]:
print(menos_que_cien([5, 57]))
print(menos_que_cien([77, 30]))
print(menos_que_cien([0]))
print(menos_que_cien([7, 33, 15]))
print(menos_que_cien([95, 1, 1, 1, 2]))