<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/paso_a_paso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 1: Return the Sum of Two Numbers
* Crea una función que tome dos números como argumentos y devuelva su suma.
    1. sumar(3, 2) ➞ 5
    1. sumar(-3, -6) ➞ -9
    1. sumar(7, 3) ➞ 10

## Reto 2: Convert Minutes into Seconds
* Escribe una función que tome un número entero de `minutos` y lo convierta a segundos.
    1. minutos_a_segundos(5) ➞ 300
    1. minutos_a_segundos(3) ➞ 180
    1. minutos_a_segundos(2) ➞ 120

## Reto 3: Return the Next Number from the Integer Passed
* Cree una función que tome un número como argumento, incremente el número en +1 y devuelva el resultado.
    1. suma_uno(0) ➞ 1
    1. suma_uno(9) ➞ 10
    1. suma_uno(-3) ➞ -2

## Reto 4: Area of a Triangle
* Escribe una función que tome la `base` y la `altura` de un triángulo y devuelva su área.
    1. area_triangulo(3, 2) ➞ 3
    1. area_triangulo(7, 4) ➞ 14
    1. area_triangulo(10, 10) ➞ 50

## Reto 5: Return the First Element in an Array
* Cree una función que reciba una lista y devuelva el primer elemento.
    1. obtener_primer_valor(['a', 'e', 'i', 'o', 'u']) ➞ 'a'
    1. obtener_primer_valor([80, 5, 100]) ➞ 80
    1. obtener_primer_valor([-500, 0, 50]) ➞ -500

## Reto 6: Power Calculator
* Cree una función que tome `voltaje` y la `intensidad` de corriente y devuelva la `potencia` calculada.
    1. potencia(230, 10) ➞ 2300
    1. potencia(110, 3) ➞ 330
    1. potencia(480, 20) ➞ 9600

## Reto 7: Convert Hours into Seconds
* Escribe una función que convierta `horas` en segundos.
    1. horas_a_segundos(2) ➞ 7200
    1. horas_a_segundos(10) ➞ 36000
    1. horas_a_segundos(24) ➞ 86400

## Reto 8: Return the Remainder from Two Numbers
* Crea una función que reciba como parámetros el `numerador` y el `denominador` de una división y retorne el resto también llamado resíduo o módulo.
    1. mod(24, 5) ➞ 4
    1. mod(50, 10) ➞ 0
    1. mod(3, 4) ➞ 3

## Reto 8.5: Return a String as an Integer
* Cree una función que tome una cadena y la devuelva como un número entero.
    1. string_to_int("6") ➞ 6
    2. string_to_int("1000") ➞ 1000
    3. string_to_int("12") ➞ 12

## Reto 9: Find the Perimeter of a Rectangle
* Crea una función que tome el `largo` y el `ancho` de un rectángulo y retorne su perímetro.
    1. perimetro(6, 7) ➞ 26
    1. perimetro(20, 10) ➞ 60
    1. perimetro(2, 9) ➞ 22

## Reto 10: Return Something to Me!
* Escribe una función que devuelva la cadena "Mi" unida con un espacio " " y el argumento dado.
    1. algo_mio("coche") ➞ "Mi coche"
    1. algo_mio("verano mágico") ➞ "Mi verano mágico"
    1. algo_mio("Mi") ➞ "Mi Mi"

## Reto 11: Is the Number Less than or Equal to Zero?
* Cree una función que tome un número como único argumento y devuelva verdadero si es menor o igual a cero; de lo contrario, devuelva falso.
    1. menor_o_igual_a_cero(5) ➞ False
    1. menor_o_igual_a_cero(0) ➞ True
    1. menor_o_igual_a_cero(-2) ➞ True

## Reto 11.1: Name Greeting!
* Cree una función que tome un nombre y devuelva un saludo en forma de cadena.
    1. hello_name("Gerardo") ➞ "Hola Gerardo!"
    2. hello_name("Teresa") ➞ "Hola Teresa!"
    3. hello_name("Edu") ➞ "Hola Edu!"
* ¡No olvides el signo de exclamación!

## Reto 11.2: Buggy Code (Part 4)
* Yvonne ha escrito una función que devuelve un saludo a sus amigos.
* Pero tiene un amigo especial, Ares, al que quiere saludar de una forma diferente.
* Añadió un caso especial en su función, pero cometió un error.
* ¿Puedes intentar solucionar el error para que la función trabaje correctamente?
    1. greeting("Matt") ➞ "Hello, Matt!"
    2. greeting("Helen") ➞ "Hello, Helen!"
    3. greeting("Ares") ➞ "Hello, my Love!"
* Esta es la función que da problemas:

<pre>
def greeting(name):
	return "Hello, " + name + "!"
	if name == "Ares":
		return "Hello, my Love!"
</pre>

## Reto 12: Sum of Polygon Angles
* Dado un polígono regular de `n` lados, devuelve la suma total de los ángulos internos (en grados).
    1. grados_poligono(3) ➞ 180
    2. grados_poligono(4) ➞ 360
    3. grados_poligono(6) ➞ 720
* `n` siempre será mayor que 2
* La fórmula `(n - 2) × 180` da la suma de los ángulos de un polígono de `n` lados.

## Reto 12.5: To the Power of _____
* Cree una función que tome un número base y un número exponente y devuelva el cálculo.
    1. calcular_potencias(5, 3) ➞ 125
    2. calcular_potencias(10, 4) ➞ 10000
    3. calcular_potencias(3, 3) ➞ 27

## Reto 12.6: Boolean to String Conversion
* Cree una función que tome una bandera booleana y lo devuelva como una cadena.
    1. bool_to_string(True) ➞ "True"
    2. bool_to_string(False) ➞ "False"
* La función puede comenzar así:

<pre>
def bool_to_string(flag):
</pre>

## Reto 13: Basketball Points
* Estás contando puntos para un partido de baloncesto, dada la cantidad de tiros de 2 y 3 puntos anotados.
* Encuentra los puntos finales para el equipo y devuelve ese valor.
    1. puntos(1, 1) ➞ 5
    2. puntos(7, 5) ➞ 29
    3. puntos(38, 8) ➞ 100

## Reto 14: Less Than 100?
* Dados dos números, devuelve verdadero si la suma de ambos números es menor que 100.
* De lo contrario, devuelve falso.
    1. menor_que_cien(22, 15) ➞ True
    2. menor_que_cien(93, 34) ➞ False
    3. menor_que_cien(3, 17) ➞ True

## Reto 14.1: Find the Largest Number in a List
* Crea una función que tome una lista de números enteros no negativos.
* Retorna el número más grande de la lista.
    1. findLargestNum([4, 5, 1, 3]) ➞ 5
    2. findLargestNum([300, 200, 600, 150]) ➞ 600
    3. findLargestNum([1000, 1001, 857, 1]) ➞ 1001

## Reto 14.2: Find the Smallest Number in a List
* Cree una función que tome una lista de números y devuelva el número más pequeño de la lista.
* Los números pueden contener decimales y ser negativos.
    1. find_smallest_num([34, 15, 88, 2]) ➞ 2
    2. find_smallest_num([34, -345, -1, 100]) ➞ -345
    3. find_smallest_num([-76, 1.345, 1, 0]) ➞ -76
    4. find_smallest_num([0.4356, 0.8795, 0.5435, -0.9999]) ➞ -0.9999
    5. find_smallest_num([7, 7, 7]) ➞ 7

## Reto 14.3: Difference of Max and Min Numbers in List
* Diferencia de números máximos y mínimos en la lista
    1. difference_max_min([10, 4, 1, 4, -10, -50, 32, 21]) ➞ 82  
    \# El número más pequeño es -50 y el mayor 32.

    2. difference_max_min([44, 32, 86, 19]) ➞ 67  
    \# El número más pequeño es 19 y el más grande 86.

## Reto 14.4: Concatenating Two Integer Lists
* Cree una función para concatenar dos listas de enteros.
    1. concat([1, 3, 5], [2, 6, 8]) ➞ [1, 3, 5, 2, 6, 8]
    2. concat([7, 8], [10, 9, 1, 1, 2]) ➞ [7, 8, 10, 9, 1, 1, 2]
    3. concat([4, 5, 1], [3, 3, 3, 3, 3]) ➞ [4, 5, 1, 3, 3, 3, 3, 3]

## Reto 14.5: Return the Last Element in a List
* Cree una función que acepte una lista y devuelva el último elemento de la lista.
* La lista puede contener diferentes tipos de datos.
    1. get_last_item([1, 2, 3]) ➞ 3
    2. get_last_item(["cat", "dog", "duck"]) ➞ "duck"
    3. get_last_item([True, False, True]) ➞ True
    4. get_last_item([7, "String", False]) ➞ False

## Reto 15: Buggy Code (Part 5)
* ¡Jorge creó un bucle infinito!
* Ayúdale arreglando el código para que los ejemplos siguientes trabajen correctamente.
    1. generar_array(1) ➞ [1]
    2. generar_array(3) ➞ [1, 2, 3]
    3. generar_array(6) ➞ [1, 2, 3, 4, 5, 6]

* Este es el código que no funciona bien:

<pre>
def generar_array(number):
    numeros = []
    i = 0
    while i <= n:
        numeros.append(i)
    return numeros

generar_array(1)
generar_array(3)
generar_array(6)
</pre>

## Reto 16: Buggy Code (Part 7)
* ¡Lucía quiere intercambiar dos números dados!
* La función no está devolviendo los valores correctos.
* ¿Puedes ayudarla solucionando los bugs?
* Los valores retornados correctos deberían ser estos:
    1. swap(100, 200) ➞ [200, 100]
    2. swap(44, 33) ➞ [33, 44]
    3. swap(0, -1) ➞ [-1, 0]

* Este es el código que no está funcionando correctamente:

<pre>
del swap(a, b)
	b = a
	a = b
	return [a, b]

a = 100
b = 200
print(swap(a, b))

a, b = 33, 44
print(swap(a, b))

print(swap(0, -1))
</pre>

## Reto 17: The Farm Problem
* Un granjero te pide que le digas cuántas patas pueden contar entre todos sus animales.
* El granjero cría tres especies: gallinas, vacas y cerdos.
* El orden de los animales pasados ​​es animales (gallinas, vacas, cerdos).
* Recuerde que el granjero quiere saber el número total de patas y no el número total de animales.
    1. patas(2, 3, 5) ➞ 36
    2. patas(1, 2, 3) ➞ 22
    3. patas(5, 2, 8) ➞ 50

## Reto 18: Using the "&&" Operator
* Python tiene el operador lógico `and`.
* El operador `and` toma dos valores booleanos y devuelve verdadero si ambos valores son verdaderos.
* Devuelve falso en cualquier otro caso.
    1. funcion_and(True, True) ➞ True
    2. funcion_and(True, False) ➞ False
    3. funcion_and(False, False) ➞ False
    4. funcion_and(False, False) ➞ False

## Reto 19: Are the Numbers Equal?
* Cree una función que devuelva verdadero cuando num1 sea igual a num2
* En caso contrario, devuelve falso.
    1. son_iguales(4, -4) ➞ False
    2. son_iguales(3, 4) ➞ True
    3. son_iguales(1, "1") ➞ False

## Reto 20: Football Points
* En cierto juego de mesa cada ronda recibe unos puntos según este criterio:
    - Las victorias dan 3 puntos
    - Los empates dan 1 punto
    - Las derrotas dan 0 puntos
* Crear una función que de los puntos obtenidos según el número de victorias, empates y derrotas obtenidas.
     1. puntos_obtenidos(3, 4, 2) ➞ 13
     2. puntos_obtenidos(5, 0, 2) ➞ 15
     3. puntos_obtenidos(0, 0, 1) ➞ 0
* El orden de los argumentos ha de ser:
    - `puntos_obtenidos(victorias, empates, derrotas)`
* Los argumentos de la función serán siempre números enteros mayores o iguales a 0.

## Reto 21: Convert Hours and Minutes into Seconds
* Escribe una función que tome dos números enteros (horas, minutos) y devuelva el número de segundos contenidos en ese tiempo.
    1. convert_a_segundos(1, 3) ➞ 3780
    2. convert_a_segundos(2, 0) ➞ 7200
    3. convert_a_segundos(0, 0) ➞ 0

## Reto 21.1: Burglary Series (14): Adjectives Total
* Vamos a una escuela infantil y preguntamos a varios niños por los colores que conocen en otros idiomas.
* Cada respuesta la anotamos en un **diccionario** de Python.
* Crear una función que retorne el número de respuestas contenidas en cada diccionario.
    1. cantidad_colores({'rojo': 'red', 'azul': 'blue', 'amarillo': 'yellow', 'rosa': 'pink'}) ➞ 4
    2. cantidad_colores({'azul': 'blue', 'rojo': 'red', 'negro': 'black'}) ➞ 3
    3. cantidad_colores({'blanco': 'bianco', 'negro': 'nero', 'rojo': 'rosso'}) ➞ 3

## Reto 21.2: String to Integer and Vice Versa
* Escribe dos funciones:
    - `to_int()`: una función para convertir una cadena en un número entero.
    - `to_str()`: una función para convertir un número entero en una cadena.
    1. to_int("77") ➞ 77
    2. to_int("532") ➞ 532
    3. to_str(77) ➞ "77"
    4. to_str(532) ➞ "532"

## Reto 21.3: Check if objOne Is Equal to objTwo
* Cree una función que verifique si dos argumentos de objeto son iguales entre sí.
* Devuelve True si los objetos son iguales; de lo contrario, devuelve False.
    1. Ejemplo 1. Aterando el orden de las parejas `clave:valor`
    <pre>
    # The first object parameter.
obj_one = {
  "name": "Alex",
  "phone": "687654321",
  "email": "alex@gmail.com"
}
    </pre>

    <pre>
# The second object parameter.
obj_two = {
  "name": "Alex",
  "email": "alex@gmail.com",
  "phone": "687654321"
}
</pre>

    is_equal(obj_one, obj_two) ➞ True

2. Ejemplo 2.
    <pre>
    # The first object parameter.
obj_one = {
  "name": "Julia",
  "phone": "612345678",
  "email": "julia@gmail.com"
}
    </pre>

    <pre>
# The second object parameter.
obj_two = {
  "nombre": "Julia",
  "telefono": "612345678",
  "correo": "julia@gmail.com"
}
</pre>

    is_equal(obj_one, obj_two) ➞ False

## Reto 22: Fix the Expression
* Corrija el código siguiente para que la función devuelva verdadero si y solo si x es igual a 7.
    1. es_siete(4) ➞ False
    2. es_siete(9) ➞ False
    3. es_siete(7) ➞ True
* Consulta el **operador ternario** en Python
* El código que no funciona correctamente es este:

<pre>
def es_siete(x):
	retur True if x="7" else False
</pre>

## Reto 23: Equality Check
* Debe verificar la igualdad de dos valores diferentes dados los parámetros `a` y `b`.
* Tanto el valor como el tipo de dato de los argumentos deben ser iguales.
    1. check_igualdad(7, "7") ➞ False
    2. check_igualdad(1, True) ➞ False
    3. check_igualdad(1, --1) ➞ True
    4. check_igualdad(0, 'False') ➞ False
    5. check_igualdad(4, abs(-4)) ➞ True
* Para el tipo de dato use la función interna `type()`
* La función `abs()` calcula el valor absoluto de un número

## Reto 23.1: Two Makes Ten
* Crea una función que tome dos argumentos. Ambos argumentos son números enteros, a y b. Devuelve Verdadero si uno de ellos es 10 o si su suma es 10.
    1. makes10(9, 10) ➞ True
    2. makes10(9, 9) ➞ False
    3. makes10(1, 9) ➞ True

## Reto 23.2: Check if an Integer is Divisible By Five
* Create a function that returns True if an integer is evenly divisible by 5, and False otherwise.
    1. divisible_by_five(5) ➞ True
    2. divisible_by_five(-55) ➞ True
    3. divisible_by_five(37) ➞ False

## Reto 24: Profitable Gamble
* Cree una función que tome tres argumentos `probabilidad`, `premio`, `pago` y devuelva verdadero si `probabilidad * premio > pago`; de lo contrario, devuelve falso.
* Ejemplo
    - `apuesta_rentable(0.2, 50, 9)`
    - debería ser verdadero, ya que el beneficio neto es 1
    - (0.2 * 50 - 9) es 1 y se cumple que 1 > 0.
    1. apuesta_rentable(0.2, 50, 9) ➞ True
    2. apuesta_rentable(0.9, 1, 2) ➞ False
    3. apuesta_rentable(0.9, 3, 2) ➞ True

## Reto 25: Get the Sum of All List Elements
* Cree una función que tome una lista y devuelva la suma de todos los números de la lista.
    1. get_sum_of_elements([2, 7, 4]) ➞ 13
    2. get_sum_of_elements([45, 3, 0]) ➞ 48
    3. get_sum_of_elements([-2, 84, 23]) ➞ 105

## Reto 26: Frames Per Second
* Cree una función que devuelva el número de fotogramas mostrados en un número determinado de minutos para un determinado FPS.
* FPS significa "fotogramas por segundo" y es la cantidad de fotogramas que muestra la pantalla de una computadora cada segundo.
    1. frames(1, 1) ➞ 60
    2. frames(10, 1) ➞ 600
    3. frames(10, 25) ➞ 15000

## Reto 27: Multiple of 100
* Cree una función que tome un número entero y devuelva Verdadero si es divisible por 100; de lo contrario, devuelva Falso.
    1. divisible(1) ➞ False
    2. divisible(1000) ➞ True
    3. divisible(100) ➞ True

## Reto 28: Testing K^K == N?
* Escriba una función que devuelva True si k^k == n para la entrada (k, n)
* y devuelva False en caso contrario.
    1. k_to_k(2, 4) ➞ True
    2. k_to_k(9, 387420489) ➞ True  
    3. k_to_k(5, 3124) ➞ False
    4. k_to_k(3, 17) ➞ False
* Nueve elevado a nueve es $9^{9} = 387420489$

## Reto 29: Buggy Code (Part 2)
* Corrija el código en la pestaña de código para superar este desafío (solo errores de sintaxis). Mire los ejemplos siguientes para tener una idea de lo que debe hacer la función.
    1. max_num(3, 7) ➞ 7
    2. max_num(-1, -4) ➞ -1
    2. max_num(10, 10) ➞ 10
* El código que da problemas es el siguiente:

<pre>
def max_num(n1, n2):
	if n1 > n2:
		return n2
	elif:
		return n1
</pre>

In [3]:
def max_num(n1, n2):
	if n1 > n2:
		return n2
	else:
		return n1

max_num(3, 7)

3

## Reto 30: Compare Strings by Count of Characters
* Cree una función que tome dos cadenas como argumentos y devuelva `True` o `False` dependiendo de si el número total de caracteres en la primera cadena es igual al número total de caracteres en la segunda cadena.
    1. comp("AB", "cd") ➞ True
    2. comp("ABC", "DE") ➞ False
    3. comp("hello", "Madrid") ➞ False
    4. comp("XY", "42") ➞ True

## Reto 31: Divides Evenly
* Dados dos números enteros, `a` y `b`, devuelve `True` si a se puede dividir uniformemente entre `b`.
* Devuelve `False` en caso contrario.
    1. divides_evenly(98, 7) ➞ True  
    \# 98/7 = 14
    2. divides_evenly(85, 4) ➞ False  
    \# 85/4 = 21.25

## Reto 32: Let's Fuel Up!
* Un vehículo necesita 10 veces más combustible que la distancia que recorre.
* Sin embargo, siempre debe llevar un mínimo de 100 de combustible antes de partir.
* Cree una función que calcule la cantidad de combustible que necesita, dada la distancia.
    1. calculate_fuel(15) ➞ 150
    2. calculate_fuel(23.5) ➞ 235
    3. calculate_fuel(3) ➞ 100
* La distancia será un número mayor que cero.
* Devuelve 100 si el combustible calculado resulta ser inferior a 100.

## Reto 33: Is the String Empty?
* Cree una función que devuelva `True` si una cadena está vacía y `False` en caso contrario.
    1. is_empty("") ➞ True
    2. is_empty(" ") ➞ False
    3. is_empty("a") ➞ False
* Una cadena que contiene algún espacio en blanco `" "` no cuenta como vacía.

In [7]:
def repetition(txt, n):
    if n == 1:
        return txt
    else:
        return txt + repetition(txt, n-1)

print(repetition("Cherry", 3))

CherryCherryCherry

## Reto 34: Return Negative
* Cree una función que tome un número como argumento y devuelva un negativo de ese número. * Si el número previamente ya es negativo lo devuelve sin ningún cambio.
    1. return_negative(4) ➞ -4
    2. return_negative(15) ➞ -15
    3. return_negative(-4) ➞ -4
    4. return_negative(0) ➞ 0

## Reto 35: Sum of List Less Than 100 List Remix
* Crear una función que reciba una lista de números
* Se retorna `True` si la suma de los valores de la lista es menor que 100
* de lo contrario, se retorna `False`
    1. menos_que_100([5, 57]) ➞ True
    2. menos_que_100([77, 30]) ➞ False
    3. menos_que_100([0]) ➞ True
    4. menos_que_100([7, 33, 15]) ➞ True

## Reto 36: Concatenate First and Last Name into One String
* Una función recibe dos parámetros: nombre y apellido, en este orden.
* La función retorna una cadena que contiene primero el apellido y luego el nombre, separados por coma y espacio.
    1. concatenar_nombre("Jose", "Ruiz") ➞ "Ruiz, Jose"
    2. concatenar_nombre("Ana", "Díaz") ➞ "Díaz, Ana"
    3. concatenar_nombre("Maria", "Ortiz") ➞ "Ortiz, Maria"

## Reto 37: Miserable Parody of a Calculator
* Cree una función que maneje expresiones matemáticas simples.
* La entrada es una expresión en forma de string.
    1. calculadora("23+4") ➞ 27
    2. calculadora("45-15") ➞ 30
    3. calculadora("13+2-5*2") ➞ 5
    4. calculadora("49/7*2-3") ➞ 11

## Reto 38: Concatenating First and Last Character of a String
* Cree una función que tome una cadena y devuelva el primer y último carácter concatenados.
    1. primero_ultimo("Martinez") ➞ "Mz"
    2. primero_ultimo("hola") ➞ "ha"
    3. primero_ultimo("verano 2025") ➞ "v5"

## Reto 39: Is the String Odd or Even?
* Dada una cadena, devuelve `True` si su longitud es par o `False` si la longitud es impar.
    1. longitud_par("Ana") ➞ False
    2. longitud_par("Anna") ➞ True
    3. longitud_par("aguacate") ➞ True
    3. longitud_par("New York") ➞ True

## Reto 40: Pair Management
* Dados dos argumentos, devuelve una lista que contiene estos dos argumentos.
    1. listar_dos(1, 2) ➞ [1, 2]
    2. listar_dos(51, 21) ➞ [51, 21]
    3. listar_dos(-4, 215) ➞ [-4, 215]

## Reto 41: Front 3 - Slice Check Repeat Concatenate
* Cree una función que reciba una cadena
* Diremos que el `inicio` son los primeros tres caracteres de la cadena.
* Si la longitud de la cadena es inferior a tres caracteres, el `inicio` es lo que esté allí.
* La función retorna una nueva cadena, que son tres copias del `inicio`.
    1. inicio_tres("Python") ➞ "PytPytPyt"
    2. inicio_tres("Cuchara") ➞ "CucCucCuc"
    3. inicio_tres("biofrutas") ➞ "biobiobio"

## Reto 42: Fix the Error: Value vs. Reference Types

## Reto 40:

## Reto 40:

## Reto 40:

## Reto 40:

## Reto 40:

## Reto 40:

## Reto 50:

## Reto 50:

## Reto 50:

## Reto 50:

## Reto 50:

## Reto 50:

## Reto 50:

## Reto 50:

## Reto 50:

## Reto 50:

## Reto: Basic Variable Assignment
* Un usuario está intentando crear su login en una web juntando su nombre y su edad.
* Cree una función que retorne este login y así ayudarás a los usuarios sugiriéndoles una alterternativa.
    1. login_sugerido("Ana", 16) ➞ "Ana16"
    2. login_sugerido("Luis2010", 17) ➞ "Luis201017"
    3. login_sugerido("mari@", 18) ➞ "mari@18"

## Reto : Recursion to Repeat a String n Number of Times
* Cree una función recursiva que tome dos parámetros y repita la cadena n veces.
* El primer parámetro es la cadena que se repetirá
* El segundo parámetro es el número de veces que se repetirá la cadena.
    1. repetition("ab", 3) ➞ "ababab"
    2. repetition("kiwi", 1) ➞ "kiwi"
    3. repetition("Cherry", 2) ➞ "CherryCherry"