<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/practica19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 181: Obtener el Factorial
* Cree una función que tome un número entero, no negativo y devuelva el factorial de ese número.
* El factorial de un número entero es el número multiplicado por todos los números enteros inferiores positivos.
* El factorial de 5 es 5*4*3*2*1
* El factorial de cero es 1, por definición.
* Suponga que todas las entradas son mayores o iguales a 0.
* Ejemplos:
    1. factorial(3) ➞ 6
    2. factorial(5) ➞ 120
    3. factorial(13) ➞ 6227020800
    4. factorial(0) ➞ 1

In [ ]:
def factorial(n):
    pass

In [ ]:
print(factorial(3))
print(factorial(5))
print(factorial(13))
print(factorial(0))

## Reto 182 Separar un número en dos partes
* Dado un número `n`, devuelva una lista que contenga las dos mitades del número.
* Si el número es impar, haga que el mayor se el que está más a la derecha.
* El número `n` siempre será un número entero.
* El número `n` puede ser negativo.
* Ejemplos:
    1. number_split(4) ➞ [2, 2]
    2. number_split(10) ➞ [5, 5]
    3. number_split(11) ➞ [5, 6]
    4. number_split(-9) ➞ [-5, -4]
    5. number_split(0) ➞ [0, 0]

In [ ]:
def number_split(n):
    pass

In [ ]:
print(number_split(4))
print(number_split(10))
print(number_split(11))
print(number_split(-9))
print(number_split(0))

## Reto 183: La misma paridad
* Cree una función que tome un número como entrada y devuelva `True' si la suma de sus dígitos tiene la misma paridad que el número completo.
* De lo contrario, devuelve `False`.
* La paridad consiste en ver si un número es par o impar.
* Si la suma de los dígitos es par y el número en sí es par, devuelve 'True`.
* También devuelve 'True' si el número es impar y también lo es la suma de sus dígitos.
* Los números de un solo dígito obviamente tendrán la misma paridad.
* Ejemplos:
    1. parity_analysis(243) ➞ True
    2. parity_analysis(444) ➞ True
    3. parity_analysis(1243) ➞ False
    4. parity_analysis(344) ➞ False
    5. parity_analysis(12) ➞ False
    6. parity_analysis(3) ➞ True

In [ ]:
def parity_analysis(n):
    pass

In [ ]:
print(parity_analysis(243))
print(parity_analysis(444))
print(parity_analysis(1243))
print(parity_analysis(344))
print(parity_analysis(12))
print(parity_analysis(3))

## Reto 184: Acordes de JAZZ
* Cree una función que concatene el número 7 al final de cada acorde en una lista.
* Ignore todos los acordes que ya terminan en 7.
* Devuelva una lista vacía si la lista dada está vacía.
* Ejemplos:
    1. jazzify(["G", "F", "C"]) ➞ ["G7", "F7", "C7"]
    2. jazzify(["Dm", "G", "E", "A"]) ➞ ["Dm7", "G7", "E7", "A7"]
    3. jazzify(["F7", "E7", "A7", "Ab7", "Gm7", "C7"]) ➞ ["F7", "E7", "A7", "Ab7", "Gm7", "C7"]
    4. jazzify(["A", "E", "A7", "Ab7", "F"]) ➞ ['A7', 'E7', 'A7', 'Ab7', 'F7']
    5. jazzify([]) ➞ []

In [ ]:
def jazzify(lst):
    pass

In [ ]:
print(jazzify(["G", "F", "C"]))
print(jazzify(["Dm", "G", "E", "A"]))
print(jazzify(["F7", "E7", "A7", "Ab7", "Gm7", "C7"]))
print(jazzify(["A", "E", "A7", "Ab7", "F"]))
print([])

## Reto 185: Estado de ánimo predeterminado
* Cree una función que tome su estado de ánimo actual y devuelva una oración en el siguiente formato:
    - `"Hoy me siento {estado de ánimo}."`
* Sin embargo, si no se pasa ningún argumento, devuelva:
    - `"Hoy me siento neutral."`

* Compruebe que todas las frases terminan en punto.
* Ejemplos:
    1. mood_today("feliz") ➞ "Hoy me siento feliz."
    2. mood_today("triste") ➞ "Hoy me siento triste."
    3. mood_today() ➞ "Hoy me siento neutral."

In [ ]:
def mood_today(estado="neutral"):
    pass

In [ ]:
print(mood_today("feliz"))
print(mood_today("triste"))
print(mood_today())

## Reto 186: ¿Es hora de tomar leche y galletas?
* La Nochebuena ya casi está aquí, así que, naturalmente, ¡necesitamos preparar un poco de leche y galletas para Papá Noel!
* Cree una función que acepte un objeto Fecha y devuelva `True` si es Nochebuena (24 de diciembre) y `False' en caso contrario.
* Ejemplos:
    1. time_for_milk_and_cookies(datetime.date(2024, 12, 24)) ➞ True
    2. time_for_milk_and_cookies(datetime.date(2028, 1, 23)) ➞ False
    3. time_for_milk_and_cookies(datetime.date(2100, 12, 24)) ➞ True

In [ ]:
def time_for_milk_and_cookies(d):
    pass

In [ ]:
print(time_for_milk_and_cookies(datetime.date(2024, 12, 24)))
print(time_for_milk_and_cookies(datetime.date(2028, 1, 23)))
print(time_for_milk_and_cookies(datetime.date(2100, 12, 24)))

## Reto 187: Terna pitagórica
* Cree una función que valide si tres números enteros dados forman un [terna pitagórica](https://es.wikipedia.org/wiki/Terna_pitagórica).
* La suma de los cuadrados de los dos números enteros más pequeños debe ser igual al cuadrado del número mayor.
* Ejemplos:
    1. is_triplet(3, 4, 5) ➞ True
        * 3² + 4² = 5²
    2. is_triplet(13, 5, 12) ➞ True
        * 5² + 12² = 13²
    3. is_triplet(8, 17, 15) ➞ True
        * 8² + 15² = 17²
    4. is_triplet(1, 2, 3) ➞ False
        * 1² + 2² ≠ 3²

In [ ]:
def is_triplet(a, b, c):
    pass

In [ ]:
print(is_triplet(3, 4, 5))
print(is_triplet(13, 5, 12))
print(is_triplet(8, 17, 15))
print(is_triplet(1, 2, 3))

## Reto 188: ¿Cuántas vocales?
* Cree una función que tome una palabra y devuelva el número de vocales que contiene.
* La palabra que se se envía a la función como argumento va en inglés para evitar caso de tildes y diéresis.
* Ejemplos:
    1. count_vowels("Celebration") ➞ 5
    2. count_vowels("Palm") ➞ 1
    3. count_vowels("Prediction") ➞ 4
    4. count_vowels("Atlanta") ➞ 3

In [ ]:
def count_vowels(palabra):
    pass

In [ ]:
print(count_vowels("Celebration"))
print(count_vowels("Palm"))
print(count_vowels("Prediction"))
print(count_vowels("Atlanta"))

## Reto 189: Código ASCII del carácter inverso
* Encuentre el código de caracteres ASCII del carácter de caso inverso.
* El argumento siempre será de un solo carácter.
* No todas las entradas tendrán una contraparte (por ejemplo, números), en cuyo caso devolverá el código del caractere de la entrada.
* Ejemplos:
    1. counterpartCharCode("A") ➞ 97
    2. counterpartCharCode("a") ➞ 65
    3. counterpartCharCode("*") ➞ 42
    4. counterpartCharCode("Z") ➞ 122

* Dado que:
    - El código de carácter "A" es: 65
    - El código de carácter "a" es: 97

In [ ]:
def counterpartCharCode(caracter):
    pass

In [ ]:
print(counterpartCharCode("A"))
print(counterpartCharCode("a"))
print(counterpartCharCode("*"))
print(counterpartCharCode("Z"))

## Reto 190: Suma de divisores en un rango
* Cree una función que tome tres argumentos a, b, c y devuelva la suma de los números divisibles ebtre c del rango a, b, ambos inclusive.
* Ejemplos:
    1. evenly_divisible(1, 10, 20) ➞ 0
        * No hay números entre 1 y 10 divisibles entre 20.
    2. evenly_divisible(1, 10, 2) ➞ 30
        * 2 + 4 + 6 + 8 + 10 = 30
    3. evenly_divisible(1, 10, 3) ➞ 18
        * 3 + 6 + 9 = 18
    4. evenly_divisible(1, 100, 1) ➞ 5050

In [ ]:
def evenly_divisible(a, b, c):
    pass

In [ ]:
print(evenly_divisible(1, 10, 20))
print(evenly_divisible(1, 10, 2))
print(evenly_divisible(1, 10, 3))
print(evenly_divisible(1, 100, 1))