<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/practica13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 121: Array de caracteres
* En el lenguaje de programación C un string se trata como un array de caracteres que siempre termina con el caracter "\0".
* Cree una función que devolverá una cadena combinando la lista de caracteres dada, sin incluir el carácter final no deseado "\0".
* Ejemplos:
    1. c_to_python(["H", "i", "!", "\0"]) ➞ "Hi!"
    2. c_to_python(["H", "e", "l", "l", "o", "!", "\0"]) ➞ "Hello!"
    3. c_to_python(["J", "a", "v", "a", "S", "c", "r", "i", "p", "t", "\0"]) ➞ "JavaScript"

In [ ]:
def c_to_python(lista):
    pass

In [ ]:
print(c_to_python(["H", "i", "!", "\0"]))
print(c_to_python(["H", "e", "l", "l", "o", "!", "\0"]))
print(c_to_python(["J", "a", "v", "a", "S", "c", "r", "i", "p", "t", "\0"]))

## Reto 122: Votos a favor y votos en contra
* Dado un diccionario que contiene recuentos de votos a favor y en contra, devuelva qué recuento de votos que debe mostrarse.
* Se calcula restando el número de votos negativos de los votos positivos.
* Ejemplos:
    1. votos_netos({ "positivos": 13, "negativos": 0 }) ➞ 13
    2. votos_netos({ "positivos": 2, "negativos": 33 }) ➞ -31
    3. votos_netos({ "positivos": 32, "negativos": 32 }) ➞ 0

In [ ]:
def votos_netos(d):
    pass

In [ ]:
print(votos_netos({ "positivos": 13, "negativos": 0 }))
print(votos_netos({ "positivos": 2, "negativos": 33 }))
print(votos_netos({ "positivos": 32, "negativos": 32 }))

## Reto 123: Case Insensitive Comparison
* Comparación que no distingue entre mayúsculas y minúsculas
* Escribe una función que valide si dos cadenas son idénticas.
* Hágalo sin distinguir entre mayúsculas y minúsculas.
* Ejemplos:
    1. match("hello", "hELLo") ➞ True
    2. match("motivo", "emotivo") ➞ False
    3. match("master", "Master") ➞ True
    4. match("New York", "NewYork") ➞ False

In [ ]:
def match(a, b):
    pass

In [ ]:
print(match("hello", "hELLo"))
print(match("motivo", "emotivo"))
print(match("master", "Master"))
print(match("New York", "NewYork"))

## Reto 124: Funciones anónimas
* Una función clásica que doble un número podría ser esta:

<pre>
def dobla_numero(n):
    return 2*n
</pre>

Para funciones sencillas podemos utilizar las funciones anónimas que en Python se llaman **funciones lambda**. Este ejemplo, para doblar un número con una función lambda sería así:

<pre>
dobla = lambda n: 2*n
</pre>

Para invocar la función escribiríamos lo siguiente:

<pre>
dobla(7)    # output: 14
</pre>

También pueden existir funciones lambda con varios parámetros, como por ejemplo esta que suma dos números:

<pre>
suma = lambda a,b: a+b
</pre>

Se puede invocar así:

<pre>
suma(4, 3)    # output: 7
</pre>

* En este reto se pide programar tres funciones anónimas para resolver estos tres casos.
* Ejemplos:
    1. triplica(5) ➞ 15
    2. suma_uno(10) ➞ 11
    4. resta_dos_numeros(10, 7) ➞ 3

In [ ]:
# usando funciones lambda

In [ ]:
print(triplica(5))
print(suma_uno(10))
print(resta_dos_numeros(10, 7) )

## Reto 125: Sumar y convertir a binario
* Cree una función que tome dos números y devuelva su suma como una cadena binaria.
* Ejemplos:
    1. add_binary(1, 1) ➞ "10"
    2. add_binary(1, 2) ➞ "11"
    3. add_binary(4, 5) ➞ "1001"

In [ ]:
def add_binary(a, b):
    pass

In [ ]:
print(add_binary(1, 1))
print(add_binary(1, 2))
print(add_binary(4, 5))

## Reto 126: Lista filtrada
* Cree la función:
    - `list_between(n1, n2, lst)`
* La función toma dos números `n1`, `n2` y una lista `lst` y devuelva otra lista que contenga todos los números en lst mayores que `n1` y menores que `n2`.
* Ejemplos:
    1. list_between(3, 8, [1, 5, 95, 0, 4, 7]) ➞ [5, 4, 7]
    2. list_between(1, 10, [1, 10, 25, 8, 11, 6]) ➞ [8, 6]
    3. list_between(7, 32, [1, 2, 3, 78]) ➞ []

In [ ]:
def list_between(n1, n2, lst):
    pass

In [ ]:
print(list_between(3, 8, [1, 5, 95, 0, 4, 7]))
print(list_between(1, 10, [1, 10, 25, 8, 11, 6]))
print(list_between(7, 32, [1, 2, 3, 78]))

## Reto 127: Métodos Is...
* Queremos eliminar números de una cadena determinada.
* Tenemos un código que no funciona correctamente para superar este desafío.
* Mire los ejemplos siguientes para tener una idea de lo que debe hacer la función.
* Ejemplos:
    1. remove_numbers("Madrid2025") ➞ "Madrid"
    2. remove_numbers("verano100Playas") ➞ "veranoPlayas"
    3. remove_numbers("M1a2r3í4a") ➞ "María"

* Este es el código que no logra su objetivo:
<pre>
def remove_numbers(string):
    return "".join(i for i in string if int(i))
</pre>

In [ ]:
def remove_numbers(string):
    pass

In [ ]:
print(remove_numbers("Madrid2025"))
print(remove_numbers("verano100Playas"))
print(remove_numbers("M1a2r3í4a"))

## Reto 128: Rellenos de sandwich
* Dado un sandwich (como lista), retorne una lista con los rellenos que hay dentro del sándwich.
* Esto implica ignorar el primer y el último elemento.
* Ejemplos:
    1. obtener_relleno(["pan", "jamón", "queso", "jamón", "pan"]) ➞ ['jamón', 'queso', 'jamón']
    2. obtener_relleno(["pan", "embutido", "tomate", "pan"]) ➞ ['embutido', 'tomate']
    3. obtener_relleno(["pan", "lechuga", "bacon", "tomate", "pan"]) ➞ ['lechuga', 'bacon', 'tomate']

In [ ]:
def obtener_relleno(lista):
    pass

In [ ]:
print(obtener_relleno(["pan", "jamón", "queso", "jamón", "pan"]))
print(obtener_relleno(["pan", "embutido", "tomate", "pan"]))
print(obtener_relleno(["pan", "lechuga", "bacon", "tomate", "pan"]))

## Reto 129: Una sola letra cambia todo
* Cree una función que reciba como parámetros dos letras y un frase.
* La primera letra que se recibe como parámetro se reemplaza por la segunda letra recibida como parámetro y esto altera la frase.
* Ejemplos:
    1. cambiando('g', 'p', 'El gato en el tejado') ➞ "El pato en el tejado"
    2. cambiando('s', 'n', 'Vivo en el quinto piso') ➞ "Vivo en el quinto pino"
    3. cambiando('h', 'm', 'hola Madrid') ➞ "mola Madrid"

In [ ]:
def cambiando(char1, char2, string):
    pass

In [ ]:
print(cambiando('g', 'p', 'El gato en el tejado'))
print(cambiando('s', 'n', 'Vivo en el quinto piso'))
print(cambiando('h', 'm', 'hola Madrid'))

## Reto 130: Suma los mayores a cinco
* Escribe una función que devuelva la suma de elementos estrictamente mayores que 5, en la lista dada.
* Ejemplos:
    1. sum_five([1, 5, 20, 30, 4, 9, 18]) ➞ 77
    2. sum_five([1, 2, 3, 4]) ➞ 0
    3. sum_five([10, 12, 28, 47, 55, 100]) ➞ 252

In [ ]:
def sum_five(lst):
    pass

In [ ]:
print(sum_five([1, 5, 20, 30, 4, 9, 18]))
print(sum_five([1, 2, 3, 4]))
print(sum_five([10, 12, 28, 47, 55, 100]))