<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/practica08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 71: El complementario de un booleano
* Debido a un concepto de programación conocido como veracidad, ciertos valores pueden evaluarse (es decir, tomar el lugar de) booleanos.
* Por ejemplo, 1 (o cualquier número distinto de 0) suele ser equivalente a Verdadero y 0 suele ser equivalente a Falso.
* En programación, el concepto de "veracidad" se refiere a la capacidad de ciertos valores de ser evaluados como booleanos (`True` o `False`).
* En muchos lenguajes de programación, cualquier valor diferente de 0 se considera `True`, mientras que el valor 0 se considera `False`.
* Cree una función que devuelva el complementario del booleano dado
* Lo que retorne la función siempre ha de ser un número 0 o 1, según el caso.
* Ejemplos:
    1. flip_bool(True) ➞ 0
    2. flip_bool(False) ➞ 1
    3. flip_bool(1) ➞ 0
    4. flip_bool(0) ➞ 1
    5. flip_bool(7) ➞ 0

In [ ]:
def flip_bool(condicion):
    pass

In [ ]:
print(flip_bool(True))
print(flip_bool(False))
print(flip_bool(1))
print(flip_bool(0))
print(flip_bool(7))

0
1
0
1
0

## Reto 72: Comparing Arrays
* La programadora Ada Lovelace, está intentando crear una función que devuelva `True` si dos listas comparten la misma longitud y tienen valores numéricos idénticos en cada índice; de ​​lo contrario, devolverá `False`.
* Sin embargo, la solución que ofrece su función tiene un formato inesperado.
* ¿Puede arreglar la función de Ada para que se comporte como se ve en los ejemplos siguientes?
* Ejemplos:
	1. check_equals([1, 2], [1, 3]) ➞ False
	2. check_equals([1, 2], [1, 2]) ➞ True
	3. check_equals([4, 5, 6], [4, 5, 6]) ➞ True
	4. check_equals([4, 7, 6], [4, 5, 6]) ➞ False
	5. check_equals(["*"], [chr(42)]) ➞ True

* La función incorrecta es la siguiente:

<pre>
def check_equals(lst1, lst2):
	if [lst1[::] = lst2[::]]:
		print(true)
	else:
		print(false)
</pre>

In [ ]:
def check_equals(lst1, lst2):
    pass

In [ ]:
print(check_equals([1, 2], [1, 3]))
print(check_equals([1, 2], [1, 2]))
print(check_equals([4, 5, 6], [4, 5, 6]))
print(check_equals([4, 7, 6], [4, 5, 6]))
print(check_equals(["*"], [chr(42)]))

False
True
True
False
True

## Reto 73: Perdiendo el primer carácter
* Cree una función que tome una palabra y devuelva la nueva palabra sin incluir el primer carácter.
* Ejemplos:
    1. new_word("cosa") ➞ "osa"
    2. new_word("Foca") ➞ "oca"
    3. new_word("Hola") ➞ "ola"

In [ ]:
def new_word(txt):
    pass

In [ ]:
print(new_word("cosa"))
print(new_word("Foca"))
print(new_word("Hola"))

osa
oca
ola

## Reto 74: Área de la figura
* Escribe una función que acepte base , altura y forma ("triángulo", "paralelogramo") como entrada y calcule el área de esa figura.
* La base y la altura pueden ser números que contengan decimales.
* El área de un triángulo es b * h / 2
* El área de un paralelogramo es b * h
* Ejemplos:
    1. area_figura(2, 3, "triángulo") ➞ 3
    2. area_figura(8, 6, "paralelogramo") ➞ 48
    3. area_figura(2.9, 1.3, "paralelogramo") ➞ 3.77
    4. area_figura(2.8, 10.5, "triángulo") ➞ 14.7
    5. area_figura(3, 7, "elipse") ➞ None

* Observe que triángulo lleva tilde.
* Para cualquier otra figura que no sea un triángulo o un paralelogramo el función retornará `None`.

In [ ]:
def area_figura(b, h, figura):
    pass

In [ ]:
print(area_figura(2, 3, "triángulo"))
print(area_figura(8, 6, "paralelogramo"))
print(area_figura(2.9, 1.3, "paralelogramo"))
print(area_figura(2.8, 10.5, "triángulo"))
print(area_figura(3, 7, "elipse"))

3.0
48
3.77
14.7
None

## Reto 75: Mitad, cuarto y octavo
* Cree una función que tome un número y devuelva una lista de tres números:
    - la mitad del número
    - un cuarto del número y
    - un octavo del número
* Ejemplos:
    1. en_partes(6) ➞ [3, 1.5, 0.75]
    2. en_partes(22) ➞ [11, 5.5, 2.75]
    3. en_partes(25) ➞ [12.5, 6.25, 3.125]

In [ ]:
def en_partes(n):
    pass

In [ ]:
print(en_partes(6))
print(en_partes(22))
print(en_partes(25))

[3.0, 1.5, 0.75]
[11.0, 5.5, 2.75]
[12.5, 6.25, 3.125]

## Reto 76: Contador condicional
* Dada una lista de números enteros decir cuantos son mayores o iguales a 10.
* Ejemplos:
    1. mayores_a_diez([7, 10, 24, 1, 50]) ➞ 3
    2. mayores_a_diez([1, 2, 20]) ➞ 1
    3. mayores_a_diez([-1, 12, 20, 30]) ➞ 3
    4. mayores_a_diez([]) ➞ 0

In [ ]:
def mayores_a_diez(lst):
    pass

In [ ]:
print(mayores_a_diez([7, 10, 24, 1, 50]))
print(mayores_a_diez([1, 2, 20]))
print(mayores_a_diez([-1, 12, 20, 30]))
print(mayores_a_diez([]))

3
1
3
0

## Reto 77: Encontrar el número mayor y menor
* Cree una función que acepte una lista de números y devuelva los números mínimo y máximo, en ese orden (como una lista).
* Ejemplos:
    1. min_max([1, 2, 3, 4, 5]) ➞ [1, 5]
    2. min_max([200, 5]) ➞ [5, 200]
    3. min_max([1]) ➞ [1, 1]

In [ ]:
def min_max(lst):
    pass

In [ ]:
print(min_max([1, 2, 3, 4, 5]))
print(min_max([200, 5]))
print(min_max([1]))

[1, 5]
[5, 200]
[1, 1]

## Reto 78: Comprobar espacios en una cadena
* Cree una función que devuelva `True` si un string contiene espacios.
* Una cadena vacía no contiene espacios.
* Ejemplos:
    1. has_spaces("hello") ➞ False
    2. has_spaces("hello, world") ➞ True
    3. has_spaces(" ") ➞ True
    4. has_spaces("") ➞ False
    5. has_spaces(",./!@#") ➞ False

In [ ]:
def has_spaces(txt):
    pass

In [ ]:
print(has_spaces("hello"))
print(has_spaces("hello, world"))
print(has_spaces(" "))
print(has_spaces(""))
print(has_spaces(",./!@#"))

False
True
True
False
False

## Reto 79: ¿Cuántas letras 'd' hay?
* Crea una función que cuente cuántas 'D' hay en una oración.
* En el cálculo computan tanto las letras D mayúsculas como las minúsculas.
* Su función no debe distinguir entre mayúsculas y minúsculas.
* Ejemplos:
    1. count_d("Defender la democracia es decisivo") ➞ 4
    2. count_d("Olvidamos deberes pero no derechos") ➞ 3
    3. count_d("Eduardo hizo una despedida el domingo") ➞ 6

In [ ]:
def count_d(frase):
    pass

In [ ]:
print(count_d("Defender la democracia es decisivo"))
print(count_d("Olvidamos deberes pero no derechos"))
print(count_d("Eduardo hizo una despedida el domingo"))

4
3
6

## Reto 80: Creando IDs
* Muchos IDs (para correos electrónicos o ID de Google) se crean utilizando el nombre de la persona.
* Cree una función que devolverá una identificación de cuatro caracteres utilizando el nombre y apellido de la persona.
* El primer carácter será la primera letra del nombre pero en minúsculas.
* Los siguientes tres caracteres serán los primeros tres caracteres del apellido, donde la primera letra estará en mayúscula y las otras dos en minúsculas.
* Ejemplos:
    1. create_id("maría", "ruiz") ➞ "mRui"
    2. create_id("Juan", "Martín") ➞ "jMar"
    3. create_id("Andrew", "McDonald") ➞ "aMcd"

In [ ]:
def create_id(a, b):
    pass

In [ ]:
print(create_id("maría", "ruiz"))
print(create_id("Juan", "Martín"))
print(create_id("Andrew", "McDonald"))

mRui
jMar
aMcd