<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/practica16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 151: Recreando la función `len()`
* Cree una función que devuelva la longitud de una cadena o de una lista, sin usar len().
* Ejemplos:
    1. length("Hello World") ➞ 11
    2. length([2,3,4,-7]) ➞ 4
    3. length("Learn by Doing") ➞ 14

In [ ]:
def length(obj):
    pass

In [ ]:
print(length("Hello World"))
print(length([2,3,4,-7]))
print(length("Learn by Doing"))

## Reto 152: Evite los alimentos con demasiada grasa
* Escribe una función que tome una lista de alimentos y devuelva una lista sin alimentos con alto contenido de grasa.
* Los alimentos que contienen demasiada grasa (en este desafío) son: pizza y hamburguesa.
* Ejemplos:
    1. skip_fat(["pizza", "hamburguesa", "ensalada"]) ➞ ["ensalada"]
    2. skip_fat(["pizza", "hamburguesa"]) ➞ []
    3. skip_fat(["gazpacho", "pasta", "ensalada"]) ➞ ["gazpacho", "pasta", "ensalada"]

In [ ]:
def skip_fat(lst):
    pass

In [ ]:
print(skip_fat(["pizza", "hamburguesa", "ensalada"]))
print(skip_fat(["pizza", "hamburguesa"]))
print(skip_fat(["gazpacho", "pasta", "ensalada"]))

## Reto 153: Un día en el mercado
* Bill y Will partirán hacia la feria anual.
* Mientras se acercan a los puestos, Bill dice que podrá llevar a casa más cosas que Will.
* Will lo toma como un desafío, Will lo refuta y comienza la competición.
* Bill tiene un espacio de inventario infinito, pero una cantidad limitada de monedas.
* Will tiene una cantidad infinita de monedas, pero un espacio de inventario limitado.
* Los argumentos de la función que debe crear van en este orden:
    - `who_wins_tonight(coins, space, price, size)``
    - Primero: La camtodad de monedas de Bill.
    - Segundo: La cantidad de espacio de inventario de Will.
    - Tercero: El precio del artículo.
    - Cuarto: El tamaño del artículo.
* Ejemplo resuelto:
    - `who_wins_tonight(40, 96, 5, 10) ➞ "Will"`
    - Cada prodcuto cursta 5 monedas y ocupa un espacio de inventario de 10.
    - Bill puede comprar un máximo de 8 productos (40 coins DIV 5 = 8).
    - Will sólo podrá llevar a casa un máximo de 9 artículos. (96 inventory spaces DIV 10 = 9). En realidad 96/5 es 9.6 pero se toma la parte entera, redondeando por defecto.
    - Will es el ganador en este caso.
* Ejemplos:
    1. who_wins_tonight(20, 20, 5, 10) ➞ "Bill"
    2. who_wins_tonight(10, 2, 20, 1) ➞ "Will"
    3. who_wins_tonight(3, 7, 2, 5) ➞ "Tie"
    4. who_wins_tonight(40, 96, 5, 10) ➞ "Will"
* DIV significa división entera. Eso significa que redondeas hacia abajo después de dividir.
* Devuelve "Tie" (Empate) si ambos contendientes pueden permitirse la misma cantidad de cosas.
* Todos los números serán números enteros positivos.

In [ ]:
def who_wins_tonight(coins, space, price, size):
    pass

In [ ]:
print(who_wins_tonight(20, 20, 5, 10))
print(who_wins_tonight(10, 2, 20, 1))
print(who_wins_tonight(3, 7, 2, 5))
print(who_wins_tonight(40, 96, 5, 10))

## Reto 154: Encuentra las letras únicas
* Cree una función que tome una cadena y devuelva las letras que aparecen solo una vez.
* Ejemplos:
    1. find_letters("monopoly") ➞ ["m", "n", "p", "l", "y"]
    2. find_letters("balloon") ➞ ["b", "a", "n"]
    3. find_letters("analysis") ➞ ["n", "l", "y", "i"]
    4. find_letters("banana") ➞ ["b"]
    5. find_letters("reappear") ➞ []
* La lista final no debe incluir letras que aparezcan más de una vez en la cadena.
* Devuelve las letras en la secuencia en la que estaban originalmente, no las ordene.
* Todas las letras estarán en minúsculas.

In [ ]:
def find_letters(palabra):
    pass

In [ ]:
print(find_letters("monopoly") )
print(find_letters("balloon") )
print(find_letters("analysis"))
print(find_letters("banana"))
print(find_letters("reappear"))

## Reto 155: Lista de strings a lista de números
* Cree una función que tome como parámetro una lista de números en forma de strings y devuelva una lista de números.
* Algunos elementos son de tipo `float`
* Ejemplos:
    1. to_number_list(["99", "20"]) ➞ [99, 20]
    2. to_number_list(["9.4", "4.2"]) ➞ [9.4, 4.2]
    3. to_number_list(["1", "3", "3.6"] ➞ [1, 3, 3.6]

In [ ]:
def to_number_list(lst):
    pass

In [ ]:
print(to_number_list(["99", "20"]))
print(to_number_list(["9.4", "4.2"]))
print(to_number_list(["1", "3", "3.6"]))

## Reto 156: Errores al escanear un documento
* El software de reconocimiento de caracteres a menudo comete errores cuando se digitalizan documentos (especialmente los antiguos escritos con una máquina de escribir).
* Su tarea es corregir los errores en el texto digitalizado. Sólo tienes que manejar los siguientes errores:
    - A se malinterpreta como 4
    - S se malinterpreta como 5
    - O se malinterpreta como 0
    - I se malinterpreta como 1
* Los casos de prueba contienen números sólo por error.
* Ejemplos:
    1. keyboard_mistakes("DUBL1N") ➞ "DUBLIN"
    2. keyboard_mistakes("51NG4P0RE") ➞ "SINGAPORE"
    3. keyboard_mistakes("4514") ➞ "ASIA"

In [ ]:
def keyboard_mistakes(txt):
    pass

In [ ]:
print(keyboard_mistakes("DUBL1N"))
print(keyboard_mistakes("51NG4P0RE"))
print(keyboard_mistakes("4514"))

## Reto 157: Repetir el último caracter
* Cree una función que haga que el último carácter de una cadena se repita n veces.
* Ejemplos:
    1. modify_last("Hello", 3) ➞ "Hellooo"
    2. modify_last("hey", 6) ➞ "heyyyyyy"
    3.modify_last("y sin embargo se mueve!", 5) ➞ "y sin embargo se mueve!!!!!"

In [ ]:
def modify_last(txt, n):
    pass

In [ ]:
print(modify_last("Hello", 3))
print(modify_last("hey", 6))
print(modify_last("y sin embargo se mueve!", 5))

## Reto 158: Comprobar si son iguales
* En este desafío, debe verificar la igualdad de dos valores, `a` y `b`, dados a la función como parámetros.
* Tanto el valor como el tipo de los parámetros deben ser iguales.
* Los posibles tipos de parámetros dados son:
    - Números
    - Strings
    - Booleans (False o True)
    - Valores especiales: None
* ¿Qué ha aprendido hasta ahora que le permitirá realizar dos comprobaciones diferentes (valor y tipo) con una sola declaración?
* Implemente una función que devuelva `True` si los parámetros son iguales y `False` si no lo son.
* Ejemplos:
    1. check_equality(1,  1) ➞ True
    2. check_equality(1, True) ➞ False
    3. check_equality(0, "0") ➞ False
    4. check_equality(0.0, False) ➞ False
    5. check_equality(7, 7.) ➞ False
    6. check_equality(bool(7), True) ➞ False

* Para que la función retorne 'True' ambos valores deben ser iguales y ambos tipos deben ser iguales.

In [ ]:
def check_equality(a, b):
    pass

In [ ]:
print(check_equality(1, 1))
print(check_equality(1, True))
print(check_equality(0, "0"))
print(check_equality(0.0, False))
print(check_equality(7, 7.))
print(check_equality(bool(7), True))

## Reto 159: Convertir una Lista en un String
* Cree una función que tome una lista de números o letras y devuelva una cadena.
* Ejemplos:
    1. list_to_string([1, 2, 3, 4, 5, 6]) ➞ "123456"
    2. list_to_string(["a", "b", "c", "d", "e", "f"]) ➞ "abcdef"
    3. list_to_string([1, 2, 3, "a", "s", "dAAAA"]) ➞ "123asdAAAA"

In [ ]:
def list_to_string(lst):
    pass

In [ ]:
print(list_to_string([1, 2, 3, 4, 5, 6]))
print(list_to_string(["a", "b", "c", "d", "e", "f"]))
print(list_to_string([1, 2, 3, "a", "s", "dAAAA"]))

## Reto 160: Suma de cubos
* Cree una función que tome un número entero positivo `n` y devuelva la suma de todos los valores al cubo de 1 a `n`.
* Por ejemplo, si `n` es 3:  
$1^3 + 2^3 + 3^3 = 36$
* Ejemplos:
    1. sum_cubes(3) ➞ 36
    2. sum_cubes(7) ➞ 784
    3. sum_cubes(8) ➞ 1296
    4. sum_cubes(9) ➞ 2025

In [ ]:
def sum_cubes(n):
    pass

In [ ]:
print(sum_cubes(3))
print(sum_cubes(7))
print(sum_cubes(8))
print(sum_cubes(9))