<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/practica07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 61: ¿Es par o impar?
* Cree una función que tome un número entero como argumento y devuelva "par" para números pares e "impar" para números impares.
* Ejemplos:
    1. es_par_impar(3) ➞ "impar"
    2. es_par_impar(146) ➞ "par"
    3. es_par_impar(-19) ➞ "impar"

In [ ]:
def es_par_impar(n):
    pass

In [ ]:
print(es_par_impar(3))
print(es_par_impar(146))
print(es_par_impar(-19))

impar
par
impar

## Reto 62: Is the Word Singular or Plural?
* Cree una función que tome una palabra y determine si es plural o no.
* Consideraremos una palabra plural a aquella que termina en "s".
* Ejemplos:
    1. es_plural("cambios") ➞ True
    2. es_plural("cambio") ➞ False
    3. es_plural("dudas") ➞ True
    4. es_plural("camión") ➞ False

In [ ]:
def es_plural(txt):
    pass

In [ ]:
print(es_plural("cambios"))
print(es_plural("cambio"))
print(es_plural("dedas"))
print(es_plural("camión"))

True
False
True
False

## Reto 63: On/Off Switches
* Cree una función que devuelva cuántas disposiciones posibles pueden provenir de un determinado número de interruptores (encendido/apagado).
* En otras palabras, para un número determinado de interruptores, ¿cuántos patrones diferentes de encendido y apagado podemos tener?
* Ejemplos:
    1. pos_com(1) ➞ 2
    2. pos_com(3) ➞ 8
    3. pos_com(10) ➞ 1024

In [ ]:
def pos_com(n):
    pass

In [ ]:
print(pos_com(1))
print(pos_com(3))
print(pos_com(10))

2
8
1024

## Reto 64: Is the Last Character an "N"?
* Cree una función que tome una cadena (un nombre).
* Si el último carácter del nombre es una "n", devuelve `True`; en caso contrario, devuelve `False`.
* Ejemplos:
    1. is_last_character_n("Aaron") ➞ True
    2. is_last_character_n("Pierre") ➞ False
    3. is_last_character_n("Robert") ➞ False
    4. is_last_character_n("Antón") ➞ True

In [ ]:
def is_last_character_n(txt):
    pass

In [ ]:
print(is_last_character_n("Aaron"))
print(is_last_character_n("Pierre"))
print(is_last_character_n("Robert"))
print(is_last_character_n("Antón"))

True
False
False
True

## Reto 65: La empaquetadora loca
* ¡El sistema de embalaje se está volviendo loco!
* Los dulces están sueltos por todo el almacén, falta el cereal y hay pan metido en una botella.
* ¿Que esta pasando aqui con esta máquina?
* Los dulces deben estar en plástico, el pan en una bolsa y la bebida en botella.
* La máquina envasadora ejecuta la función `get_container()` para recuperar el contenedor de un producto. Pero algo no está bien...
* Cree correctamente la función para que se cumplan estos casos.
* Ejemplos:
    1. get_container("Pan") ➞ "bolsa"
    2. get_container("Cerveza") ➞ "botella"
    3. get_container("Caramelos") ➞ "plástico"
    4. get_container("Queso") ➞ None

In [ ]:
def get_container(producto):
    pass

In [ ]:
print(get_container("Pan"))
print(get_container("Cerveza"))
print(get_container("Caramelos"))
print(get_container("Queso"))

bolsa
botella
plástico
None

## Reto 66: Sumar una lista sin `sum`
* Tenemos una función que no trabaja correctamente.
* Corrija el código para que la función se ajuste a los siguientes ejemplos.
* Ejemplos:
	1. sum_lst([1, 2, 3, 4, 5]) ➞ 15
	2. sum_lst([-1, 0, 1]) ➞ 0
	3. sum_lst([0, 4, 8, 12]) ➞ 24

Esta es la función que da problemas:
<pre>
def sum_lst(lst):
	total
	for i in range(0,lst):
		total += lst[i]
  return total
</pre>

In [ ]:
def sum_lst(lst):
    pass

In [ ]:
print(sum_lst([1, 2, 3, 4, 5]))
print(sum_lst([-1, 0, 1]))
print(sum_lst([0, 4, 8, 12]))

15
0
24

## Reto 67: Suma condicional
* Cree una función que devuelva la suma de los elementos estrictamente menores que 10.
* Ejemplos:
    1. suma_menores_diez([1, 5, 11]) ➞ 6
    2. suma_menores_diez([0, 9, 10, 50]) ➞ 9
    3. suma_menores_diez([-3, -5, -11, 4]) ➞ -15

In [ ]:
def suma_menores_diez(arr):
    pass

In [ ]:
print(suma_menores_diez([1, 5, 11]))
print(suma_menores_diez([0, 9, 10, 50]))
print(suma_menores_diez([-3, -5, -11, 4]))

6
9
-15

## Reto 68: Char to ASCII
* Cree una función que devuelva el valor ASCII del carácter pasado.
* Ejemplos:
    1. ctoa("A") ➞ 65
    2. ctoa("z") ➞ 122
    3. ctoa("*") ➞ 42
    4. ctoa(" ") ➞ 32

In [ ]:
def ctoa(caracter):
    pass

In [ ]:
print(ctoa("A"))
print(ctoa("z"))
print(ctoa("*"))
print(ctoa(" "))

65
122
42
32

## Reto 69: WordCharWord
* Cree una función que coloque el primer argumento, un carácter, entre cada palabra del segundo argumento, una cadena.
* Ejemplos:
    1. add_char("_", "Python is fun") ➞ "Python_is_fun"
    2. add_char("#", "hello world!") ➞ "hello#world!"
    3. add_char("@", " ") ➞ "@"

In [ ]:
def add_char(caracter, frase):
    pass

In [ ]:
print(add_char("_", "Python is fun"))
print(add_char("#", "hello world!"))
print(add_char("@", " "))

Python_is_fun
hello#world!
@

## Reto 70: Casa movil
* Me gustaría calcular cuánto tiempo en promedio he vivido en la misma casa.
* Dada la edad de una persona y el número de veces que se ha mudado de casa, devuelva el número promedio de años que ha pasado viviendo en la misma casa.
* Ejemplos:
    1. years_in_one_house(30, 1) ➞ 15
    2. years_in_one_house(15, 2) ➞ 5
    3. years_in_one_house(80, 0) ➞ 80

In [ ]:
def years_in_one_house(years, times):
    pass

In [ ]:
print(years_in_one_house(30, 1))
print(years_in_one_house(15, 2))
print(years_in_one_house(80, 0))

15.0
5.0
80.0