<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/practica09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 81: Desempaquetando listas
* Dada una lista de números como por ejemplo:
lst = [10, 20, 30, 40, 50]
* deseamos recoger el contenido de la lista en tres variables:  
    - primero ➞ 10
    - segundo ➞ 20
    - resto ➞ [30, 40, 50]
* La función devolverá el contenido de las tres variables separado por comas.
* Ejemplos:
    1. separa([10, 20, 30, 40, 50]) ➞ 10, 20, [30, 40, 50]
    2. separa([7, 8, 9, 10, 11, 99]) ➞ 7, 8, [9, 10, 10, 99]

In [ ]:
def separa(lst):
    pass

In [ ]:
print(separa([10, 20, 30, 40, 50]))
print(separa([7, 8, 9, 10, 11, 99]))

(10, 20, [30, 40, 50])
(7, 8, [9, 10, 11, 99])

## Reto 82: Smash Factor
* El factor Smash es un término en golf que se relaciona con la cantidad de energía transferida desde la cabeza del palo a la pelota de golf.
* La fórmula para calcular el factor smash es la velocidad de la pelota dividida por la velocidad del palo.
* Cree una función que tome la velocidad de la pelota y la velocidad del palo como argumentos y devuelva el factor de smash a la centésima más cercana.
* Ejemplos:
    1. smash_factor(139.4, 93.8) ➞ 1.49
    2. smash_factor(181.2, 124.5) ➞ 1.46
    3. smash_factor(154.7, 104.3) ➞ 1.48

In [ ]:
def smash_factor(bs, cs):
    pass

In [ ]:
print(smash_factor(139.4, 93.8))
print(smash_factor(181.2, 124.5))
print(smash_factor(154.7, 104.3))

1.49
1.46
1.48

## Reto 83: AND, OR, NOT
* Crear tres funciones que trabajen como puertas lógicas.
* Las tres puertas lógicas son: AND, OR y NO.
* Ejemplos:
    1. funcion_AND(1, 1) ➞ 1
    2. funcion_AND(1, 0) ➞ 0
    3. funcion_AND(0, 0) ➞ 0
    4. funcion_OR(1, 0) ➞ 1
    5. funcion_OR(1, 1) ➞ 1
    6. funcion_OR(0, 0) ➞ 0
    7. funcion_NOT(0) ➞ 1
    8. funcion_NOT(1) ➞ 0

In [ ]:
def funcion_AND(a, b):
    pass

def funcion_OR(a, b):
    pass

def funcion_NOT(a):
    pass

In [ ]:
print(funcion_AND(1, 1))
print(funcion_AND(1, 0))
print(funcion_AND(0, 0))
print(funcion_OR(1, 0))
print(funcion_OR(1, 1))
print(funcion_OR(0, 0))
print(funcion_NOT(0))
print(funcion_NOT(1))

1
0
0
1
1
0
1
0

## Reto 84: Check if All Values Are True
* Cree una función que devuelva `True` todos los parámetros son verdaderos y `False`o en caso contrario.
* Ejemplos:
    1. all_truthy(True, True, True) ➞ True
    2. all_truthy(True, False, True) ➞ False
    3. all_truthy(5, 4, 3, 2, 1, 0) ➞ False
    4. all_truthy(1, 1, 1, 1, 1, 1, 1, 1) ➞ True

In [ ]:
def all_truthy(*args):
    pass

In [ ]:
print(all_truthy(True, True, True))
print(all_truthy(True, False, True))
print(all_truthy(5, 4, 3, 2, 1, 0))
print(all_truthy(1, 1, 1, 1, 1, 1, 1, 1))

True
False
False
True

## Reto 85: Convert Yen to USD
* Cree una función que pueda convertir JPY (yen japonés) en USD (dólar estadounidense).
* Cada conversión de JPY a USD es JPY / 151,1
* Redondea el resultado a dos decimales.
* Ejemplos:
    1. yen_to_usd(1) ➞ 0.01
    2. yen_to_usd(500) ➞ 3.31
    3. yen_to_usd(10_000) ➞ 66.18

In [ ]:
def yen_to_usd(jpn):
    pass

In [ ]:
print(yen_to_usd(1))
print(yen_to_usd(500))
print(yen_to_usd(10_000))

0.01
3.31
66.18

## Reto 86: Broken Bridge
* Cree una función que valide si es seguro caminar sobre un puente (es decir, si no tiene espacios por los que caerse).
* Ejemplos:
    1. is_safe_bridge("####") ➞ True
    2. is_safe_bridge("## ####") ➞ False
    3. is_safe_bridge("#") ➞ True
    4. is_safe_bridge("## ##  ##")
    5. is_safe_bridge("") ➞ True
    6. is_safe_bridge(" ####") ➞ False

In [ ]:
def is_safe_bridge(txt):
    pass

In [ ]:
print(is_safe_bridge("####"))
print(is_safe_bridge("## ####"))
print(is_safe_bridge("#"))
print(is_safe_bridge("## ##  ##"))
print(is_safe_bridge(""))
print(is_safe_bridge(" ####"))

True
False
True
False
True
False

## Reto 87: Recrear la función abs `abs()`
* La función `abs()` devuelve el valor absoluto de un número.
* Esto significa que devuelve el valor positivo de un número.
* Puede pensar en ello como la distancia desde cero.
* Cree una función que recree esta funcionalidad.
* Ejemplos:
    1. absoluto(-5) ➞ 5
    2. absoluto(-3.14) ➞ 3.14
    3. absoluto(25) ➞ 25

In [ ]:
def absoluto(n):
    pass

In [ ]:
print(absoluto(-5))
print(absoluto(-3.14))
print(absoluto(25))

5
3.14
25

## Reto 88: Diferencia de velocidades
* Estamos probando potinetes en tandas de tres, y viendo la velocidad que puede alcanzar cada uno.
* Deseamos conocer la diferencia de velocidades entre el más rápido y el más lento.
* Ejemplos:
    1. diferencia_velocidades(14, 33, 40) ➞ 26
    2. diferencia_velocidades(33, 63, 35) ➞ 30
    3. diferencia_velocidades(10, 15, 10) ➞ 5

In [ ]:
def diferencia_velocidades(a, b, c):
    pass

In [ ]:
print(diferencia_velocidades(14, 33, 40))
print(diferencia_velocidades(33, 63, 35))
print(diferencia_velocidades(10, 15, 10))

26
30
5

## Reto 89: Calculadora con operadores
* Cree una función que tome dos números y un operador matemático y devuelva el resultado.
* Las únicas operaciones utilizadas son las de los ejemplos que se muestran.
* Ejemplos:
    1. calculate(4, 9, "+") ➞ 13
    2. calculate(12, 5, "-") ➞ 7
    3. calculate(6, 3, "*") ➞ 18
    4. calculate(25, 5, "//") ➞ 5
    5. calculate(14, 3, "%") ➞ 2
    6. calculate(7, 2, "/") ➞ 3.5

In [ ]:
def calculate(a, b, operacion):
    pass

In [ ]:
print(calculate(4, 9, "+"))
print(calculate(12, 5, "-"))
print(calculate(6, 3, "*"))
print(calculate(25, 5, "//"))
print(calculate(14, 3, "%"))
print(calculate(7, 2, "/"))

13
7
18
5
2
3.5

## Reto 90: División entera para acceder a la lista
* Realizar la división entera y luego usar ese resultado como índice para acceder a la lista.
* Los parámetros de la función son estos y en este orden:
    - `valor_en_posicion(lista, division_entera)`
* Ejemplos:
    1. valor_en_posicion([10, 20, 30, 40, 50], 8 // 2) ➞ 50
    2. valor_en_posicion([1, 2, 3, 4, 5, 6], 8.0 // 2) ➞ 5
    3. valor_en_posicion([1, 2, 3, 4], 6.5 // 2) ➞ 4

In [ ]:
def valor_en_posicion(lista, division_entera):
    pass

In [ ]:
print(valor_en_posicion([10, 20, 30, 40, 50], 8 // 2))
print(valor_en_posicion([1, 2, 3, 4, 5, 6], 8.0 // 2))
print(valor_en_posicion([1, 2, 3, 4], 6.5 // 2))

50
5
4