<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/practica20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 191: Reemplazar vocales
* Cree una función que reemplace todas las vocales de una cadena con un carácter específico.
* Todos los caracteres estarán en minúsculas.
* Ejemplos:
    1. replace_vowels("beethoven", "@") ➞ "b@@th@v@n"
    2. replace_vowels("amazing spiderman", "?") ➞ "?m?z?ng sp?d?rm?n"
    3. replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

In [ ]:
def replace_vowels(string, caracter):
    pass

In [ ]:
print(replace_vowels("beethoven", "@"))
print(replace_vowels("amazing spiderman", "?"))
print(replace_vowels("shakespeare", "*"))

## Reto 192: Ocultar dígitos de la tarjeta de crédito
* Escriba una función que tome un número de tarjeta de crédito y solo muestre los últimos cuatro caracteres.
* El resto de dígitos de la tarjeta deberán sustituirse por asteriscos.
* Asegúrese de devolver una cadena.
* La longitud de la cadena retornada debe seguir siendo la misma que la de entrada.
* Ejemplos:
    1. card_hide("1234123456785678") ➞ "\*\*\*\*\*\*\*\*\*\*\*\*5678"
    2. card_hide("8754456321113213") ➞ "\*\*\*\*\*\*\*\*\*\*\*\*3213"
    3. card_hide("35123413355523") ➞ "\*\*\*\*\*\*\*\*\*\*5523"

In [ ]:
def card_hide(tarjeta):
    pass

In [ ]:
print(card_hide("1234123456785678"))
print(card_hide("8754456321113213"))
print(card_hide("35123413355523"))

## Reto 193: Xs y Os iguales
* Cree una función que tome una cadena, verifique si tiene el mismo número de "x" y "o" y devuelva `True` o `False`.
* Devuelve un valor booleano (`True` o `False`).
* Devuelve `True` si la cantidad de x y o son iguales.
* Devuelve `False` si no son la misma cantidad.
* La cadena puede contener cualquier carácter.
* Cuando "x" y "o" no están en la cadena, devuelve `True`.
* Recuerde devolver `True` si no hay x ni o.
* No debe distinguir entre mayúsculas y minúsculas.
* Ejemplos:
    1. xo_function("ooxx") ➞ True
        - XO("xooxx") ➞ False
    2. xo_function("ooxXm") ➞ True
        - Case insensitive.
    3. xo_function("zpzpzpp") ➞ True
        - Returns True if no x and o.
    4. xo_function("zzoo") ➞ False

In [ ]:
def xo_function(txt):
    pass

In [ ]:
print(xo_function("ooxx"))
print(xo_function("ooxXm"))
print(xo_function("zpzpzpp"))
print(xo_function("zzoo"))
print(xo_function("Xo"))
print(xo_function("X"))
print(xo_function("O"))
print(xo_function("xxOoX"))
print(xo_function(""))

## Reto 194: Elimiar espacios al inicio y al final
* Cree una función que reciba una cadena y retorne esa misma cadena pero habiendo eliminado los espacios al inicio y al final.
* Consiga esto sin utilizar la función `strip`
* Ejemplos:
    1. eliminar_espacios(" &nbsp; Hola, mundo! &nbsp; ") ➞ "Hola, mundo!"
    2. eliminar_espacios(" &nbsp; Hey... &nbsp; &nbsp; Mark!!! &nbsp; &nbsp; &nbsp; ") ➞ "Hey... &nbsp; &nbsp; Mark!!!"

In [ ]:
def eliminar_espacios(cadena):
    pass

In [ ]:
print(eliminar_espacios("   Hola, mundo!   "))
print(eliminar_espacios("   Hey...     Mark!!!       "))

## Reto 195: Intercambiar nombre y apellido
* Cree una función que tome una cadena (será el nombre y apellido de una persona) y devuelva una cadena con el nombre y apellido intercambiados.
* Habrá exactamente un espacio entre el nombre y el apellido.
* Solo contiene un nombre y un apellido.
* Ejemplos:
    1. name_shuffle("Albert Einstein") ➞ "Einstein Albert"
    2. name_shuffle("Marie Curie") ➞ "Curie Marie"
    3. name_shuffle("Nikola Tesla") ➞ "Tesla Nikola"
    4. name_shuffle("Margaret Hamilton") ➞ "Hamilton Margaret"

In [ ]:
def name_shuffle(persona):
    pass

In [ ]:
print(name_shuffle("Albert Einstein"))
print(name_shuffle("Marie Curie"))
print(name_shuffle("Nikola Tesla"))
print(name_shuffle("Margaret Hamilton"))

## Reto 196: Entero que aparece un número impar de veces
* Cree una función que tome una lista y encuentre el número entero que aparece un número impar de veces.
* Siempre habrá un solo número entero que aparezca un número impar de veces.
* Ejemplos:
    1. find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]) ➞ -1
    2. find_odd([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]) ➞ 5
    3. find_odd([10]) ➞ 10

In [ ]:
def find_odd(lista):
    pass

In [ ]:
print(find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]))
print(find_odd([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]))
print(find_odd([10]))

## Reto 197: Filtrar cadenas de un Array
* Cree una función que tome una lista de cadenas y números y devuelva una nueva lista sin las cadenas y sin los números negativos.
* Ejemplos:
    1. filter_list([1, 2, "a", "b"]) ➞ [1, 2]
    2. filter_list([1, "a", "b", 0, 15, 1]) ➞ [1, 0, 15]
    3. filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]
    4. filter_list([-5, "5", "bye", "7", "77"]) ➞ []
* El cero es un número entero no negativo.
* Los números de la lista no deben repetirse.
* Se debe mantener el orden original.

In [ ]:
def filter_list(lst):
    pass

In [ ]:
print(filter_list([1, 2, "a", "b"]))
print(filter_list([1, "a", "b", 0, 15, 1]))
print(filter_list([1, 2, "aasf", "1", "123", 123]))
print(filter_list([-5, "5", "bye", "7", "77"]))

## Reto 198: El reverso
* La función toma una cadena como entrada y devuelve esa cadena en orden inverso, con el caso opuesto de mayúsculas y minúsculas.
* Ejemplos:
    1. reverse("Hello World") ➞ "DLROw OLLEh"
    2. reverse("ReVeRsE") ➞ "eSrEvEr"
    3. reverse("Radar") ➞ "RADAr"

In [ ]:
def reverse(txt):
    pass

In [ ]:
print(reverse("Hello World"))
print(reverse("ReVeRsE"))
print(reverse("Radar"))

## Reto 199: Contar caracteres en un array
* Cree una función para calcular cuántos caracteres hay en un array de strings.
* Devuelve 0 si la lista dada no contiene caracteres.
* Ejemplos:
    1. count_characters(["###", "###", "###"]) ➞ 9
    2. count_characters(["22222222", "22222222"]) ➞ 16
    3. count_characters(["------------------"]) ➞ 18
    4. count_characters([]) ➞ 0
    5. count_characters(["", ""]) ➞ 0

In [ ]:
def count_characters(arr):
    pass

In [ ]:
print(count_characters(["###", "###", "###"]))
print(count_characters(["22222222", "22222222"]))
print(count_characters(["------------------"]))
print(count_characters([]))
print(count_characters(["", ""]))

## Reto 200: Factorial por recursión
* Escriba una función que calcule el factorial de un número de forma recursiva.
* El factorial de cero, por definición, es uno.
* Ejemplos:
    1. factorial(5) ➞ 120
    2. factorial(3) ➞ 6
    3. factorial(1) ➞ 1
    4. factorial(0) ➞ 1

In [ ]:
def factorial(n):
    pass

In [ ]:
print(factorial(5))
print(factorial(3))
print(factorial(1))
print(factorial(0))