<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/reto155.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 155: Lista de strings a lista de números
* Cree una función que tome como parámetro una lista de números en forma de strings y devuelva una lista de números.
* Algunos elementos son de tipo `float`
* Ejemplos:
    1. to_number_list(["99", "20"]) ➞ [99, 20]
    2. to_number_list(["9.4", "4.2"]) ➞ [9.4, 4.2]
    3. to_number_list(["1", "3", "3.6"] ➞ [1, 3, 3.6]

In [ ]:
def to_number_list(lst):
    pass

In [ ]:
print(to_number_list(["99", "20"]))
print(to_number_list(["9.4", "4.2"]))
print(to_number_list(["1", "3", "3.6"]))