<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/reto043.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 43: Comprobar si $k^k=n$
* Escriba una función que devuelva `True` si $k^k = n$ para la entrada `(k, n)`
* y devuelva `False` en caso contrario.
* Ejemplos:
    1. k_to_k(2, 4) ➞ True
    2. k_to_k(9, 387420489) ➞ True  
    3. k_to_k(5, 3124) ➞ False
    4. k_to_k(3, 17) ➞ False
* Nueve elevado a nueve es $9^{9} = 387420489$

In [ ]:
def k_to_k(k, n):
    pass

In [ ]:
print(k_to_k(2, 4))
print(k_to_k(9, 387420489))
print(k_to_k(5, 3124))
print(k_to_k(3, 17))