<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/reto041.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 41: Días del mes
* Cree una función que reciba un número del 1 al 12 y devuelva el mes correspondiente y el número de días que tiene.
* Use el siguiente diccionario para resolverlo.

```python
d = {1:['enero', 31],
     2:['febrero', 28],
     3:['marzo', 31],
     4:['abril', 30],
     5:['mayo', 31],
     6:['junio', 30],
     7:['julio', 31],
     8:['agosto', 31],
     9:['septiembre', 30],
     10:['octubre', 31],
     11:['noviembre', 30],
     12:['diciembre', 31]}
```
* Ejemplos:
    1. dias_mes(1) ➞ enero 31
    2. dias_mes(4) ➞ abril 30
    3. dias_mes(12) ➞ diciembre 31

In [ ]:
def dias_mes(n):
    pass

In [ ]:
print(dias_mes(1))
print(dias_mes(4))
print(dias_mes(12))