<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/reto111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 111: Imprimir con formato
* Para imprimir podemos utilizar el sistema de formato `f`.
* Ejemplo:
    - nombre = "Pedro"
    - ciudad = "Madrid"
    - print(f"Soy {nombre} y vivo en {ciudad}.")
* Lo que se imprime es:
    - `"Soy Pedro y vivo en Madrid."`
* Utilizando este sistema de formateo cree una función que retorne los siguientes casos.
* Ejemplos:
    1. biografia("Ana", 15, "Málaga") ➞ "Soy Ana, tego 15 años, vivo en Málaga y mañana cumpliré 16 años."
    2. biografia("Jose", 16, "Ávila") ➞ "Soy Jose, tego 16 años, vivo en Ávila y mañana cumpliré 17 años."
    3. biografia("Mar", 17, "Cádiz") ➞ "Soy Mar, tego 17 años, vivo en Cádiz y mañana cumpliré 18 años."

In [ ]:
def biografia(nombre, edad, ciudad):
    pass

In [ ]:
print(biografia("Ana", 15, "Málaga"))
print(biografia("Jose", 16, "Ávila"))
print(biografia("Mar", 17, "Cádiz"))