<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/practicas/practica03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 21: Mínimo de una lista
* Cree una función que tome una lista de números y devuelva el número más pequeño de la lista.
* Los números pueden contener decimales y ser negativos.
* Ejemplos:
    1. minimo([34, 15, 88, 2]) ➞ 2
    2. minimo([34, -345, -1, 100]) ➞ -345
    3. minimo([-76, 1.345, 1, 0]) ➞ -76
    4. minimo([0.4356, 0.8795, 0.5435, -0.9999]) ➞ -0.9999
    5. minimo([7, 7, 7]) ➞ 7

In [ ]:
def minimo(lista):
    pass

In [ ]:
print(minimo([34, 15, 88, 2]))
print(minimo([34, -345, -1, 100]))
print(minimo([-76, 1.345, 1, 0]))
print(minimo([0.4356, 0.8795, 0.5435, -0.9999]))
print(minimo([7, 7, 7]))

## Reto 22: Diferencia entre el Max y el Min de una lista
* Diferencia de números máximos y mínimos en la lista.
* Ejemplos:
    1. dif([10, 4, 1, 4, -50, 32, 21]) ➞ 82
    2. dif([44, 32, 86, 19]) ➞ 67

In [ ]:
def dif(lista):
    pass

In [ ]:
print(dif([10, 4, 1, 4, -50, 32, 21]))
print(dif([44, 32, 86, 19]))

## Reto 23: Concatenando dos listas de enteros
* Cree una función para concatenar dos listas de enteros.
* Ejemplos:
    1. concat([1, 3, 5], [2, 6, 8]) ➞ [1, 3, 5, 2, 6, 8]
    2. concat([7, 8], [10, 9, 1, 1, 2]) ➞ [7, 8, 10, 9, 1, 1, 2]
    3. concat([4, 5, 1], [3, 3, 3, 3, 3]) ➞ [4, 5, 1, 3, 3, 3, 3, 3]

In [ ]:
def concat(arr1, arr2):
    pass

In [ ]:
print(concat([1, 3, 5], [2, 6, 8]))
print(concat([7, 8], [10, 9, 1, 1, 2]))
print(concat([4, 5, 1], [3, 3, 3, 3, 3]))

## Reto 24: Retornar el último elemento de una lista
* Cree una función que reciba una lista y devuelva el último elemento de la lista.
* La lista puede contener diferentes tipos de datos.
* Si la lista está vacía devolverá `None`
* Ejemplos:
    1. ultimo([1, 2, 3]) ➞ 3
    2. ultimo(["cat", "dog", "duck"]) ➞ "duck"
    3. ultimo([True, False, True]) ➞ True
    4. ultimo([7, "String", False, [1, 2, 3]]) ➞ [1, 2, 3]
    5. ultimo([]) ➞ None

In [ ]:
def ultimo(lst):
    pass

In [ ]:
print(ultimo([1, 2, 3]))
print(ultimo(["cat", "dog", "duck"]))
print(ultimo([True, False, True]))
print(ultimo([7, "String", False, [1, 2, 3]]))
print(ultimo([]))

## Reto 25: ¡Jorge creó un bucle infinito!
* Ayúdale arreglando el código para que los ejemplos siguientes trabajen correctamente.
* Ejemplos:
    1. generar_array(1) ➞ [1]
    2. generar_array(3) ➞ [1, 2, 3]
    3. generar_array(6) ➞ [1, 2, 3, 4, 5, 6]

* Este es el código que no funciona bien:

```python
def generar_array(n):
    numeros = []
    i = 0
    while i <= n:
        numeros.append(i)
    return numeros
```

In [ ]:
def generar_array(n):
    pass

In [ ]:
print(generar_array(1))
print(generar_array(3))
print(generar_array(6))

## Reto 26: ¡Lucía quiere intercambiar dos números!
* La función no está devolviendo los valores correctos.
* ¿Puedes ayudarla solucionando los bugs?
* Los valores retornados correctos deberían ser estos:
* Ejemplos:
    1. swap(100, 200) ➞ [200, 100]
    2. swap(44, 33) ➞ [33, 44]
    3. swap(0, -1) ➞ [-1, 0]

* Este es el código que no está funcionando correctamente:

<pre>
del swap(a, b)
	b = a
	a = b
	return [a, b]
</pre>

In [ ]:
def swap(a, b):
    pass

In [ ]:
print(swap(100, 200))
print(swap(44, 33))
print(swap(0, -1))

## Reto 27: Recuento en la granja
* Un granjero te pide que le ayudes a conocer cuántas patas puede contar entre todos sus animales.
* El granjero cría tres especies: gallinas, vacas y cerdos.
* El orden de los parámetros en la función ha de ser:
    - 1º gallinas
    - 2º vacas
    - 3º cerdos
* Recuerde que el granjero quiere saber el número total de patas y no el número total de animales.
* Ejemplos:
    1. patas(2, 3, 5) ➞ 36
    2. patas(1, 2, 3) ➞ 22
    3. patas(5, 2, 8) ➞ 50

In [ ]:
def patas(gallinas, vacas, cerdos):
    pass

In [ ]:
print(patas(2, 3, 5))
print(patas(1, 2, 3))
print(patas(5, 2, 8))

## Reto 28: Operador lógico `and`
* El operador `and` toma dos valores booleanos y devuelve `True` si ambos valores son verdaderos.
* Devuelve `False` en cualquier otro caso.
* Ejemplos:
    1. funcion_and(True, True) ➞ True
    2. funcion_and(True, False) ➞ False
    3. funcion_and(False, True) ➞ False
    4. funcion_and(False, False) ➞ False

In [ ]:
def funcion_and(a, b):
    pass

In [ ]:
print(funcion_and(True, True))
print(funcion_and(True, False))
print(funcion_and(False, True))
print(funcion_and(False, False))

## Reto 29: ¿Son iguales los números?
* Cree una función que devuelva `True` cuando `num1` sea igual a `num2`.
* En caso contrario, devuelve `False`.
* Ejemplos:
    1. son_iguales(3, 3) ➞ True
    2. son_iguales(3, 1+2) ➞ True
    3. son_iguales(2, 6/3) ➞ True
    4. son_iguales(4, -4) ➞ False
    5. son_iguales(1, "1") ➞ False

In [ ]:
def son_iguales(num1, num2):
    pass

In [ ]:
print(son_iguales(3, 3))
print(son_iguales(3, 1+2))
print(son_iguales(2, 6/3))
print(son_iguales(4, -4))
print(son_iguales(1, "1"))

## Reto 30: Juego de mesa
* En cierto juego de mesa cada ronda recibe unos puntos según este criterio:
    - Las victorias dan 3 puntos
    - Los empates dan 1 punto
    - Las derrotas dan 0 puntos
* Crear una función que dé los puntos alcanzados según el número de victorias, empates y derrotas obtenidas.
* En ocasiones no se da el tercer argumento, las derrotas, ya que no proporcionan puntos.
* Ejemplos:
     1. puntos_obtenidos(3, 4, 2) ➞ 13
     2. puntos_obtenidos(5, 0, 2) ➞ 15
     3. puntos_obtenidos(0, 0, 1) ➞ 0
     4. puntos_obtenidos(3, 4) ➞ 13

* El orden de los parámetros en la función ha de ser:
    - 1º victorias
    - 2º empates
    - 3º derrotas (argumento optativo)
* Los argumentos de la función serán siempre números enteros mayores o iguales a 0.

In [ ]:
def puntos_obtenidos(victorias, empates, derrotas):
    pass

In [ ]:
print(puntos_obtenidos(3, 4, 2))
print(puntos_obtenidos(5, 0, 2))
print(puntos_obtenidos(0, 0, 1))
print(puntos_obtenidos(3, 4))