<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/practicas/practica04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 31: Convertir horas y minutos en segundos
* Escriba una función que tome dos números enteros (`horas`, `minutos`) y devuelva el número de segundos contenidos en ese tiempo.
* Ejemplos:
    1. convertir_a_segundos(1, 3) ➞ 3780
    2. convertir_a_segundos(2, 0) ➞ 7200
    3. convertir_a_segundos(0, 0) ➞ 0

In [ ]:
def convertir_a_segundos(horas, minutos):
    pass

In [ ]:
print(convertir_a_segundos(1, 3))
print(convertir_a_segundos(2, 0))
print(convertir_a_segundos(0, 0))

## Reto 32: Diccionario de colores
* Vamos a una escuela infantil y preguntamos a varios niños por los colores que conocen en otros idiomas.
* Cada respuesta la anotamos en un **diccionario** de Python.
* Crear una función que retorne el número de respuestas contenidas en cada diccionario.
* Ejemplos:
    1. cantidad_colores({'rojo': 'red', 'azul': 'blue', 'amarillo': 'yellow', 'rosa': 'pink'}) ➞ 4
    2. cantidad_colores({'azul': 'blue', 'rojo': 'red', 'negro': 'black'}) ➞ 3
    3. cantidad_colores({'blanco': 'bianco', 'negro': 'nero', 'rojo': 'rosso'}) ➞ 3

In [ ]:
def cantidad_colores(diccionario):
    pass

In [ ]:
print(cantidad_colores({'rojo': 'red', 'azul': 'blue', 'amarillo': 'yellow', 'rosa': 'pink'}))
print(cantidad_colores({'azul': 'blue', 'rojo': 'red', 'negro': 'black'}))
print(cantidad_colores({'blanco': 'bianco', 'negro': 'nero', 'rojo': 'rosso'}))

## Reto 33: De String a Integer y viceversa
* Escribe dos funciones:
    - `to_int()`: una función para convertir una cadena en un número entero.
    - `to_str()`: una función para convertir un número entero en una cadena.
    * Ejemplos:
        1. to_int("77") ➞ 77
        2. to_int("532") ➞ 532
        3. to_str(77) ➞ "77"
        4. to_str(532) ➞ "532"

In [ ]:
def to_int(txt):
    pass

def to_str(num):
    pass

In [ ]:
print(to_int("77"))
print(to_int("532"))
print(to_str(77))
to_str(532)

## Reto 34: Dos diccionarios iguales
* Cree una función que verifique si los dos argumentos que pasamos a la función son iguales entre sí.
* La función tiene dos parámetros de tipo diccionario.
* Devuelve `True` si los objetos son iguales; de lo contrario, devuelve `False`.
* Ejemplos:
    1. Ejemplo 1. Alterando el orden de las parejas `clave:valor`

    Este es el objeto 1:
    <pre>
obj_one = {
    "name": "Alex",
    "phone": "687654321",
    "email": "alex@gmail.com"
    }
</pre>
    
    Este es el objeto 2:
<pre>
obj_two = {
    "name": "Alex",
    "email": "alex@gmail.com",
    "phone": "687654321"
    }
</pre>

    son_iguales(obj_one, obj_two) ➞ True

    2. Ejemplo 2.

    Este es el objeto 1:
    <pre>
obj_one = {
    "name": "Julia",
    "phone": "612345678",
    "email": "julia@gmail.com"
    }
</pre>
    
    Este es el objeto 2:
<pre>
obj_two = {
    "nombre": "Julia",
    "telefono": "612345678",
    "correo": "julia@gmail.com"
    }
</pre>

    son_iguales(obj_one, obj_two) ➞ False

In [ ]:
def son_iguales(objeto1, objeto2):
    pass

In [ ]:
# The first object parameter.
obj_one = {
"name": "Alex",
"phone": "687654321",
"email": "alex@gmail.com"
}

# The second object parameter.
obj_two = {
"name": "Alex",
"email": "alex@gmail.com",
"phone": "687654321"
}

son_iguales(obj_one, obj_two)

In [ ]:
# The first object parameter.
obj_one = {
"name": "Julia",
"phone": "612345678",
"email": "julia@gmail.com"
}

# The second object parameter.
obj_two = {
"nombre": "Julia",
"telefono": "612345678",
"correo": "julia@gmail.com"
}

son_iguales(obj_one, obj_two)

## Reto 35: Operador Ternario
* Corrija el código siguiente para que la función devuelva `True` si y solo si `x` es igual a 7.
* Ejemplos:
    1. es_siete(4) ➞ False
    2. es_siete(9) ➞ False
    3. es_siete(7) ➞ True
* Consulte el **operador ternario** en Python
* El código que no funciona correctamente es este:

<pre>
def es_siete(x):
	retur True if x="7" else False
</pre>

In [ ]:
def es_siete(x):
	pass

In [ ]:
print(es_siete(4))
print(es_siete(9))
print(es_siete(7))

## Reto 36: Control de igualdad
* Debe verificar la igualdad de dos valores diferentes dados los parámetros `a` y `b`.
* Tanto el valor como el tipo de dato de los argumentos deben ser iguales.
* Ejemplos:
    1. check_igualdad(7, "7") ➞ False
    2. check_igualdad(1, True) ➞ False
    3. check_igualdad(0, 'False') ➞ False
    4. check_igualdad(1, --1) ➞ True
    5. check_igualdad(4, abs(-4)) ➞ True

* La función `abs()` calcula el valor absoluto de un número

In [ ]:
def check_igualdad(a, b):
    pass

In [ ]:
print(check_igualdad(7, "7"))
print(check_igualdad(1, True))
print(check_igualdad(0, 'False'))
print(check_igualdad(1, --1))
print(check_igualdad(4, abs(-4)))

## Reto 37: Dos hacen Diez
* Cree una función que tome dos argumentos.
* Ambos argumentos son números enteros, `a` y `b`.
* Devuelve `True` si uno de ellos es 10 o si su suma es 10.
* Ejemplos:
    1. es_diez(9, 10) ➞ True
    2. es_diez(10, 9) ➞ True
    3. es_diez(6, 4) ➞ True
    4. es_diez(9, 9) ➞ False

In [ ]:
def es_diez(a, b):
    pass

In [ ]:
print(es_diez(9, 10))
print(es_diez(10, 9))
print(es_diez(6, 4))
print(es_diez(9, 9))

## Reto 38: Divisible por cinco
* Cree una función que devuelva `True` si un número entero es divisible por 5 y `False` en caso contrario.
* Ejemplos:
    1. divisible_por_cinco(5) ➞ True
    2. divisible_por_cinco(-55) ➞ True
    3. divisible_por_cinco(37) ➞ False
    4. divisible_por_cinco(11) ➞ False

In [ ]:
def divisible_por_cinco(n):
    pass

In [ ]:
print(divisible_por_cinco(5))
print(divisible_por_cinco(-55))
print(divisible_por_cinco(37))
print(divisible_por_cinco(11))

## Reto 39: Apuesta rentable
* Cree una función que determine si una apuesta es rentable basada en tres parámetros: probabilidad, premio y pago.
* La función debe devolver `True` si el producto de la probabilidad por el premio es mayor que el pago realizado; en caso contrario, debe devolver `False`.
* Ejemplos:
    1. apuesta_rentable(0.2, 50, 9) ➞ True
    2. apuesta_rentable(0.9, 1, 2) ➞ False
    3. apuesta_rentable(0.9, 3, 2) ➞ True
    4. apuesta_rentable(0.01, 500, 5) ➞ False

In [ ]:
def apuesta_rentable(probabilidad, premio, pago):
    pass

In [ ]:
print(apuesta_rentable(0.2, 50, 9))
print(apuesta_rentable(0.9, 1, 2))
print(apuesta_rentable(0.9, 3, 2))
print(apuesta_rentable(0.01, 500, 5))

## Reto 40: Suma de los elementos de una lista
* Cree una función que tome una lista y devuelva la suma de todos los números de la lista.
* Ejemplos:
    1. suma_elementos([2, 7, 4]) ➞ 13
    2. suma_elementos([45, 3, 0]) ➞ 48
    3. suma_elementos([-2, 84, 23]) ➞ 105

In [ ]:
def suma_elementos(lista):
    pass

In [ ]:
print(suma_elementos([2, 7, 4]))
print(suma_elementos([45, 3, 0]))
print(suma_elementos([-2, 84, 23]))