<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/retos/practica05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 41: Días del mes
* Cree una función que reciba un número del 1 al 12 y devuelva el mes correspondiente y el número de días que tiene.
* Use el siguiente diccionario para resolverlo.

```python
d = {1:['enero', 31],
     2:['febrero', 28],
     3:['marzo', 31],
     4:['abril', 30],
     5:['mayo', 31],
     6:['junio', 30],
     7:['julio', 31],
     8:['agosto', 31],
     9:['septiembre', 30],
     10:['octubre', 31],
     11:['noviembre', 30],
     12:['diciembre', 31]}
```
* Ejemplos:
    1. dias_mes(1) ➞ enero 31
    2. dias_mes(4) ➞ abril 30
    3. dias_mes(12) ➞ diciembre 31

In [ ]:
d = {1:['enero', 31],
     2:['febrero', 28],
     3:['marzo', 31],
     4:['abril', 30],
     5:['mayo', 31],
     6:['junio', 30],
     7:['julio', 31],
     8:['agosto', 31],
     9:['septiembre', 30],
     10:['octubre', 31],
     11:['noviembre', 30],
     12:['diciembre', 31]}

def dias_mes(n):
    pass

In [ ]:
print(dias_mes(1))
print(dias_mes(4))
print(dias_mes(12))

## Reto 42: Múltiplo de cien
* Cree una función que tome un número entero y devuelva `True` si es divisible por 100; de lo contrario, devuelva `False`.
* Ejemplos:
    1. divisible(1) ➞ False
    2. divisible(1000) ➞ True
    3. divisible(100) ➞ True
    4. divisible(400) ➞ True

In [ ]:
def divisible(n):
    pass

In [ ]:
print(divisible(1))
print(divisible(1000))
print(divisible(100))
print(divisible(400))

## Reto 43: Comprobar si $k^k=n$
* Escriba una función que devuelva `True` si $k^k = n$ para la entrada `(k, n)`
* y devuelva `False` en caso contrario.
* Ejemplos:
    1. k_to_k(2, 4) ➞ True
    2. k_to_k(9, 387420489) ➞ True  
    3. k_to_k(5, 3124) ➞ False
    4. k_to_k(3, 17) ➞ False
* Nueve elevado a nueve es $9^{9} = 387420489$

In [ ]:
def k_to_k(k, n):
    pass

In [ ]:
print(k_to_k(2, 4))
print(k_to_k(9, 387420489))
print(k_to_k(5, 3124))
print(k_to_k(3, 17))

## Reto 44: Despistes al programar
* Disponemos de una función que no trabaja correctamente ya que estábamos algo despistados al programarla.
* Mire los ejemplos siguientes para tener una idea de lo que debe hacer la función.
* Ejemplos:
    1. max_num(3, 7) ➞ 7
    2. max_num(-1, -4) ➞ -1
    2. max_num(10, 10) ➞ 10

* El código que da problemas es el siguiente:

```python
def max_num(n1, n2):
	if n1 > n2:
		return n2
	elif:
		return n1
```

In [ ]:
def max_num(n1, n2):
    pass

In [ ]:
print(max_num(3, 7))
print(max_num(-1, -4))
print(max_num(10, 10))

## Reto 45: Comparar cadenas por número de caracteres
* Cree una función que tome dos strings como argumentos y devuelva `True` o `False` dependiendo de si el número total de caracteres en la primera cadena es igual al número total de caracteres en la segunda cadena.
* Ejemplos:
    1. compare("AB", "cd") ➞ True
    2. compare("ABC", "DE") ➞ False
    3. compare("hello", "Madrid") ➞ False
    4. compare("XY", "42") ➞ True

In [ ]:
def compare(str1, str2):
    pass

In [ ]:
print(compare("AB", "cd"))
print(compare("ABC", "DE"))
print(compare("hello", "Madrid"))
print(compare("XY", "42"))

## Reto 46: Si hay un 3 ganas
* Crea una función que genere un número aleatorio entero entre 100.000 y 200.000.
* Si hay, al menos, un 3 ganas, en caso contrario pierdes.
* La función imprime el número aleatorio generado, después un espacio y finalmente se indica si ganas o pierdes.
* Ejemplos:
    1. gana_el_tres() ➞ 140848 pierdes
    2. gana_el_tres() ➞ 176385 ganas
    3. gana_el_tres() ➞ 190833 ganas
    4. gana_el_tres() ➞ 196202 pierdes

In [ ]:
def gana_el_tres():
    pass

In [ ]:
print(gana_el_tres())
print(gana_el_tres())
print(gana_el_tres())
print(gana_el_tres())

## Reto 47: Recargando baterías
* Para que un vehículo pueda funcionar, necesita una cantidad de carga que es diez veces mayor que la distancia que recorre.
* No obstante, es importante asegurarse de que siempre lleve al menos 100 unidades de carga antes de iniciar su recorrido.
* Cree una función que calcule la cantidad de carga necesaria en función de la `distancia` ingresada como parámetro.
* Ejemplos:
    1. calcula_carga(15) ➞ 150
    2. calcula_carga(23.5) ➞ 235
    3. calcula_carga(3) ➞ 100
* La `distancia` proporcionada siempre será un número mayor que cero.
* Si el cálculo de la carga resulta ser inferior a 100, la función debe devolver 100 como mínimo.

In [ ]:
def calcula_carga(distancia):
    pass

In [ ]:
print(calcula_carga(15))
print(calcula_carga(23.5))
print(calcula_carga(3))

## Reto 48: ¿Está vacía la cadena?
* Cree una función que devuelva `True` si una cadena está vacía y `False` en caso contrario.
* Ejemplos:
    1. esta_vacia("") ➞ True
    2. esta_vacia(" ") ➞ False
    3. esta_vacia("a") ➞ False
* Un string que contiene algún espacio en blanco `" "` no cuenta como vacío.

In [ ]:
def esta_vacia(cadena):
    pass

In [ ]:
print(esta_vacia(""))
print(esta_vacia(" "))
print(esta_vacia("a"))

## Reto 49: Devolver negativo
* Escriba una función que tome un número como parámetro y lo devuelva como negativo.
* Si el número es positivo se convertirá en negativo.
* Si el número previamente ya es negativo permanecerán sin alteración.
* Si el número es cero la función devolverá cero.
* Ejemplos:
    1. devuelve_negativo(4) ➞ -4
    2. devuelve_negativo(15) ➞ -15
    3. devuelve_negativo(-4) ➞ -4
    4. devuelve_negativo(0) ➞ 0

In [ ]:
def devuelve_negativo(numero):
    pass

In [ ]:
print(devuelve_negativo(4))
print(devuelve_negativo(15))
print(devuelve_negativo(-4))
print(devuelve_negativo(0))

## Reto 50: ¿Suma la lista menos de cien?
* Cree una función que reciba una lista de números.
* Se retorna `True` si la suma de los valores de la lista es menor estricto que 100, de lo contrario, se retorna `False`.
* Ejemplos:
    1. menos_de_cien([5, 57]) ➞ True
    2. menos_de_cien([0]) ➞ True
    3. menos_de_cien([7, 33, 15]) ➞ True
    4. menos_de_cien([77, 30]) ➞ False
    5. menos_de_cien([95, 1, 1, 1, 2]) ➞ False

In [ ]:
def menos_de_cien(lista):
    pass

In [ ]:
print(menos_de_cien([5, 57]))
print(menos_de_cien([0]))
print(menos_de_cien([7, 33, 15]))
print(menos_de_cien([77, 30]))
print(menos_de_cien([95, 1, 1, 1, 2]))