<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/practicas/practica07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 61: ¿Es par o impar?
* Cree una función que tome un número entero como argumento y devuelva "par" para números pares e "impar" para números impares.
* Ejemplos:
    1. par_impar(3) ➞ "impar"
    2. par_impar(146) ➞ "par"
    3. par_impar(-19) ➞ "impar"
    4. par_impar(0) ➞ "par"

In [ ]:
def par_impar(n):
    pass

In [ ]:
print(par_impar(3))
print(par_impar(146))
print(par_impar(-19))
print(par_impar(0))

## Reto 62: Palabra plural o singular
* Cree una función que tome una palabra y determine si es plural o no.
* Para simplificar, consideraremos que una palabra es plural si termina en "s".
* Ejemplos:
    1. es_plural("cambios") ➞ True
    2. es_plural("cambio") ➞ False
    3. es_plural("dudas") ➞ True
    4. es_plural("camión") ➞ False

In [ ]:
def es_plural(txt):
    pass

In [ ]:
print(es_plural("cambios"))
print(es_plural("cambio"))
print(es_plural("dedas"))
print(es_plural("camión"))

## Reto 63: Posiciones de conmutadores
* Disponemos de `n` conmutadores de encendido/apagado (On/Off Switches).
* Cree una función que devuelva cuántas disposiciones posibles pueden provenir de un determinado número de interruptores.
* En otras palabras, para un número `n` de interruptores, ¿cuántos patrones diferentes de encendido y apagado podemos tener?
* Ejemplos:
    1. posiciones(1) ➞ 2
    2. posiciones(3) ➞ 8
    3. posiciones(10) ➞ 1024

In [ ]:
def posiciones(n):
    pass

In [ ]:
print(posiciones(1))
print(posiciones(3))
print(posiciones(10))

## Reto 64: ¿Es el último caracter una "N"?
* Cree una función que tome una cadena (un nombre).
* Si el último carácter del nombre es una "n", devuelve `True`; en caso contrario, devuelve `False`.
* Ejemplos:
    1. ultimo_caracter_n("Aaron") ➞ True
    2. ultimo_caracter_n("Pierre") ➞ False
    3. ultimo_caracter_n("Robert") ➞ False
    4. ultimo_caracter_n("Antón") ➞ True
    5. ultimo_caracter_n("CALVIN") ➞ True

In [ ]:
def ultimo_caracter_n(nombre):
    pass

In [ ]:
print(ultimo_caracter_n("Aaron"))
print(ultimo_caracter_n("Pierre"))
print(ultimo_caracter_n("Robert"))
print(ultimo_caracter_n("Antón"))
print(ultimo_caracter_n("CALVIN"))

## Reto 65: Descontrol en la empaquetadora
* ¡El sistema de embalaje es un caos!
* Los dulces se encuentran dispersos por todo el almacén, el cereal ha desaparecido y se ha colocado pan dentro de una botella.
* ¿Qué está ocurriendo con esta máquina?
* Los dulces deberían estar empaquetados en plástico, el pan dentro de una bolsa y las bebidas en botellas.
* Sin embargo, la función de la máquina envasadora, `empaquetar()`, no está funcionando bien.
* Cree correctamente la función para que se cumplan estos casos.
* Ejemplos:
    1. empaquetar("Pan") ➞ "bolsa"
    2. empaquetar("Cerveza") ➞ "botella"
    3. empaquetar("Caramelos") ➞ "plástico"
    4. empaquetar("Queso") ➞ None

In [ ]:
def empaquetar(producto):
    pass

In [ ]:
print(empaquetar("Pan"))
print(empaquetar("Cerveza"))
print(empaquetar("Caramelos"))
print(empaquetar("Queso"))

## Reto 66: Sumar una lista sin `sum`
* Tenemos una función que no trabaja correctamente.
* Corrija el código para que la función se ajuste a los siguientes ejemplos.
* Ejemplos:
	1. suma_lista([1, 2, 3, 4, 5]) ➞ 15
	2. suma_lista([-1, 0, 1]) ➞ 0
	3. suma_lista([0, 4, 8, 12]) ➞ 24


* Esta es la función que da problemas:
```python
def suma_lista(lista):
	total
	for i in range(0,lista):
		total += lista[i]
  return total
```

In [ ]:
def suma_lista(lista):
    pass

In [ ]:
print(suma_lista([1, 2, 3, 4, 5]))
print(suma_lista([-1, 0, 1]))
print(suma_lista([0, 4, 8, 12]))

## Reto 67: Suma condicional
* Cree una función que devuelva la suma de los elementos estrictamente menores que 10.
* Ejemplos:
    1. suma_menores_diez([1, 5, 11]) ➞ 6
    2. suma_menores_diez([0, 9, 10, 50]) ➞ 9
    3. suma_menores_diez([-3, -5, -11, 4]) ➞ -15

In [ ]:
def suma_menores_diez(lista):
    pass

In [ ]:
print(suma_menores_diez([1, 5, 11]))
print(suma_menores_diez([0, 9, 10, 50]))
print(suma_menores_diez([-3, -5, -11, 4]))

## Reto 68: Char to ASCII
* Cree una función que devuelva el valor ASCII del carácter pasado.
* Ejemplos:
    1. ctoa("A") ➞ 65
    2. ctoa("z") ➞ 122
    3. ctoa("*") ➞ 42
    4. ctoa(" ") ➞ 32

In [ ]:
def ctoa(caracter):
    pass

In [ ]:
print(ctoa("A"))
print(ctoa("z"))
print(ctoa("*"))
print(ctoa(" "))

## Reto 69:  Separar palabras
* La función recibe un caracter y una cadena.
* La función retorna las palabras de la cadena separadas por el caracter recibido.
* Ejemplos:
    1. separar_palabras("_", "Python is fun") ➞ "Python_is_fun"
    2. separar_palabras("#", "hello world!") ➞ "hello#world!"
    3. separar_palabras("@", " ") ➞ "@"

* Asegúrese de que no haya espacios entre palabras al devolver la función.

In [ ]:
def separar_palabras(caracter, frase):
    pass

In [ ]:
print(separar_palabras("_", "Python is fun"))
print(separar_palabras("#", "hello world!"))
print(separar_palabras("@", " "))

## Reto 70: Cambios de residencia
* He comprobado que hay personas que se cambian de casa con más frecuencia que otras.
* Me gustaría calcular cuánto tiempo, en promedio, una persona vive en la misma casa.
* Dada la edad de una persona y el número de veces que se ha mudado de casa, devuelva el número promedio de años que ha pasado viviendo en la misma casa.
* Ejemplos:
    1. years_in_one_house(30, 1) ➞ 15
    2. years_in_one_house(15, 2) ➞ 5
    3. years_in_one_house(80, 0) ➞ 80

In [ ]:
def years_in_one_house(edad, mudanzas):
    pass

In [ ]:
print(years_in_one_house(30, 1))
print(years_in_one_house(15, 2))
print(years_in_one_house(80, 0))