<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/fundamentos/020_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola mundo

In [ ]:
print("Hola mundo")

Hola mundo

## Comentarios del programador

In [ ]:
# Esto es un comentario
print('Hello World')     # usando comillas simples

Hello World

## Operar como calculadora

In [ ]:
2 + 3       # suma

5

In [1]:
2 - 3       # resta

-1

In [2]:
5 * 3       # producto

15

In [3]:
12 / 5      # división

2.4

In [4]:
12 // 5     # división entera

2

In [5]:
12 % 5      # resto, módulo

2

# Variables
* Una variable es un espacio en memoria que recoge un dato.
* Podemos entender una variable como si fuera una caja donde guardamos algún tipo de dato.
* Esa caja o variable ha de tener un nombre de variable.  


<img src="https://github.com/financieras/curso_python/blob/main/img/variable.jpg?raw=1" alt="raspberry pi" width="400">

### Nombres de variables
* Las variables tienen un nombre que:
 1. no puede llevar espacios
 2. no puede llevar simbolos (ç, @, ...)
 3. si puede llevar barra baja (`_`)
 4. si puede llevar números pero no al inicio
 5. no puede llevar palabras reservadas (class, def, if, import, in, is, ...)
 6. no se aconseja usar acentos y letra ñ
 7. no se aconseja usar mayúsculas

In [ ]:
# VARIABLES PERMITIDAS
my_import = 1000
europa2030 = "objetivo"
equipoVisitante = 2
altura_permitida = 3.85
unionEuropea = 27

# VARIABLES NO PERMITIDAS
#7millas = "distancia"              # Error, comienza por número
#video editado = "vacaciones"       # Error, lleva espacio
#nombre@dominio = "join@nasa.gov"   # Error, lleva un símbolo no permitido
#import = 1000                      # Error, es una palabra reservada
#mi-nombre = "Ana"                  # Error, no acepta guion ni otros símbolos

# VARIABLES NO ACONSEJABLES
día = 1                             # acentos
años = 16                           # letra ñ
SEMANA = 7                          # mayúsculas

### Estilo [snake_case](https://www.google.com/search?q=snake_case)
* Estilo aconsejado al usar varias palabras:
    1. todo minúsculas y
    2. uniendo las palabras con guión bajo: `_`

In [ ]:
nombre_del_padre = "Andrés"      # sanke style
nombre_del_padre

'Andrés'

## Case sensitive
* Los nombres de variables en Python son *case-sensitive*, se diferencia entre mayúsculas y minúsculas.

In [ ]:
User = "Santiago"
user = "Marta"

print(user)

Marta

### Ejemplos usando variables

In [ ]:
x = 5       # asignamos el valor a la variable
print(x)    # imprimimos la variable

5

In [ ]:
type(x)    #  es un número entero int

int

In [ ]:
saludo = "Hola mundo"   # la variable es una cadena alfanumérica
print(saludo)

Hola mundo

In [ ]:
type(saludo)            # string

str

In [ ]:
precio = 14.75   # es un número de coma flotante → float
print(precio)
type(precio)

14.75

float

### Usar `print` con coma
Al imprimir elementos separados por coma se muestra un espacio entre ellos.

In [ ]:
nombre = "Ana"
print("Hola", nombre)

Hola Ana

In [ ]:
edad = 15
print("Me llamo", nombre, "y tengo", edad, "años")

Me llamo Ana y tengo 15 años

## Operar con variables

In [6]:
a = 10
b = 4
c = a / b       # c es un número de coma flotante, con decimales: float
print("Al dividir", a, "entre", b, "obtenemos", c)

Al dividir 10 entre 4 obtenemos 2.5

## Inicializar variables y asignar variables
1. Llamamos **inicializar** a la primera vez que igualamos una variable a un valor
2. Llamamos **asignar** cuando igualamos un valor a una variable

* En otros lenguajes existe la *declaración* de la variable que consiste en indicar previamente de que tipo es la variable. En Python esto no es obligatorio.

In [ ]:
edad = 17                               # inicialización de la variable
print("Mi edad es", edad)

edad = 18                               # asignación de la variable
print("Próximamente cumpliré", edad)

edad += 1                               # equivale a poner  edad = edad + 1
print("El próximo año cumpliré", edad)

Mi edad es 17
Próximamente cumpliré 18
El próximo año cumpliré 19

## Variables múltiples

In [ ]:
a, b = 3, 4
print(a, b)

3 4

# Operaciones aritméticas

In [ ]:
# creamos dos variables

a = 12
b = 5

In [ ]:

print("Suma:", a + b)
print("Resta:", a - b)
print("Producto:", a * b)
print("División:", a / b)   # da un float
print("División entera:", a // b)
print("Módulo:", a % b)     # Resto

Suma: 17
Resta: 7
Producto: 60
División: 2.4
División entera: 2
Módulo: 2

# Tipo de datos

In [ ]:
print(type(5))          # int -> entero
print(type(4.3))        # float -> número de coma flotante
print(type("Hola"))     # str -> string = cadena alfanumérica
print(type(True))       # bool -> booleanos = True o False
print(type([1, 2, 3]))  # list -> listas
print(type((1, 2, 3)))  # tuple -> tuplas

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>

## Función `len`
* Determina la longitud de una lista o de un string.

### Con cadenas: `len(string)`

In [ ]:
nombre = "Ana Laura"
len(nombre)                 # cuenta también el espacio

9

### Con listas: `len(list)`

In [ ]:
vocales = ['a', 'e', 'i', 'o', 'u']
len(vocales)

5

## Indexing
* Podemos acceder a los elementos de una lista o a los caracteres de un string.

### Con cadenas
* Se comienza por el Index cero.

| H | o | l | a |
|---|---|---|---|
| 0 | 1 | 2 | 3 |

In [ ]:
saludo = "Hola"
print(saludo[0])
print(saludo[1])
print(saludo[2])
print(saludo[3])

H
o
l
a

In [ ]:
print(saludo[-1])

a

### Con listas

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']
print(seasons[0])
print(seasons[1])
print(seasons[2])
print(seasons[3])

spring
summer
autumn
winter

In [ ]:
print(seasons[-1])

winter

#### Modificar un valor de una lista

In [ ]:
seasons[2] = 'fall'
seasons

['spring', 'summer', 'fall', 'winter']

## Slicing
* Podemos cortar en rebanadas una cadena o una lista.

### Con listas

| ene | feb | mar | abr | may | jun | jul | ago | sep | oct | nov | dic |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  | 11  |

In [ ]:
meses = ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

meses[1:5]  # el mes de Index 5 es jun y no aparece

['feb', 'mar', 'abr', 'may']

In [ ]:
meses[:3]   # el mes de Index 3 es abr y no aparece

['ene', 'feb', 'mar']

In [ ]:
meses[10:]

['nov', 'dic']

### Con strings

| L   | o   |  s  |     |  Á  |  n  |  g  |  e  |  l  |  e  |  s  |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  |

In [ ]:
ciudad = "Los Ángeles"

ciudad[1:5]

'os Á'

In [ ]:
ciudad[:3]

'Los'

In [ ]:
ciudad[4:]

'Ángeles'

## Concatenar cadenas

In [ ]:
ciudad = "Londres"
nombre = "Sandra"

ciudad + nombre

'LondresSandra'

In [ ]:
print("Me llamo " + nombre + " y vivo en " + ciudad)

Me llamo Sandra y vivo en Londres

## Imprimir con formato

#### Separando con comas en el `print`

In [ ]:
edad = 17
nombre = 'Ana'

print("Me llamo", nombre, "y tengo", edad, "años.")

Me llamo Ana y tengo 17 años.

#### Concatenando
* Tenemos que usar la función `str()` para convertir un número en un string.

In [ ]:
print("Me llamo " + nombre + " y tengo " + str(edad) + " años")

#### Otra forma de escribirlo más moderna, con formato `f`

In [ ]:
print(f"Me llamo {nombre}, y tengo {edad} años.")

Me llamo Ana, y tengo 17 años.

## Números y literales
¿ `5 == '5'` ?

In [ ]:
x = 5       # un solo igual se usa para asignar un valor a una variable
y = '5'
x == y      # un doble igual es un operador de comparación

False

### Conversión de tipos

In [ ]:
str(x) == y       # str convierte un número en un string

True

In [ ]:
x == int(y)         # convierte un string en un int

True

In [ ]:
print(float(x))     # float convierte un número en un número de coma flotante
print(float(y))

5.0
5.0

In [ ]:
bool(1)             # convierte en un bool
# 1 es True
# 0 es False

True

In [20]:
True == 1       # True

True

In [18]:
False == 0      # True

True