<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/fundamentos/020_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola mundo

In [ ]:
print("Hola mundo")

Hola mundo

# Variables

In [ ]:
# creamos dos variables

a = 12
b = 5

# Operaciones aritméticas

In [ ]:

print("Suma:", a + b)
print("Resta:", a - b)
print("Producto:", a * b)
print("División:", a / b)   # da un float
print("División entera:", a // b)
print("Módulo:", a % b)     # Resto

Suma: 17
Resta: 7
Producto: 60
División: 2.4
División entera: 2
Módulo: 2

# Tipo de datos

In [ ]:
print(type(5))          # int -> entero
print(type(4.3))        # float -> número de coma flotante
print(type("Hola"))     # str -> string = cadena alfanumérica
print(type(True))       # bool -> booleanos = True o False
print(type([1, 2, 3]))  # list -> listas
print(type((1, 2, 3)))  # tuple -> tuplas

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>

## Función `len`
* Determina la longitud de una lista o de un string.

### Con cadenas: `len(string)`

In [ ]:
nombre = "Ana Laura"
len(nombre)                 # cuenta también el espacio

9

### Con listas: `len(list)`

In [ ]:
vocales = ['a', 'e', 'i', 'o', 'u']
len(vocales)

5

## Indexing
* Podemos acceder a los elementos de una lista o a los caracteres de un string.

### Con cadenas
* Se comienza por el Index cero.

| H | o | l | a |
|---|---|---|---|
| 0 | 1 | 2 | 3 |

In [ ]:
saludo = "Hola"
print(saludo[0])
print(saludo[1])
print(saludo[2])
print(saludo[3])

H
o
l
a

In [ ]:
print(saludo[-1])

a

### Con listas

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']
print(seasons[0])
print(seasons[1])
print(seasons[2])
print(seasons[3])

spring
summer
autumn
winter

In [ ]:
print(seasons[-1])

winter

#### Modificar un valor de una lista

In [ ]:
seasons[2] = 'fall'
seasons

['spring', 'summer', 'fall', 'winter']

## Slicing
* Podemos cortar en rebanadas una cadena o una lista.

### Con listas

| ene | feb | mar | abr | may | jun | jul | ago | sep | oct | nov | dic |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  | 11  |

In [ ]:
meses = ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

meses[1:5]  # el mes de Index 5 es jun y no aparece

['feb', 'mar', 'abr', 'may']

In [ ]:
meses[:3]   # el mes de Index 3 es abr y no aparece

['ene', 'feb', 'mar']

In [ ]:
meses[10:]

['nov', 'dic']

### Con strings

| L   | o   |  s  |     |  Á  |  n  |  g  |  e  |  l  |  e  |  s  |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  |

In [ ]:
ciudad = "Los Ángeles"

ciudad[1:5]

'os Á'

In [ ]:
ciudad[:3]

'Los'

In [ ]:
ciudad[4:]

'Ángeles'

## Concatenar cadenas

In [22]:
ciudad = "Londres"
nombre = "Sandra"

ciudad + nombre

'LondresSandra'

In [24]:
print("Me llamo " + nombre + " y vivo en " + ciudad)

Me llamo Sandra y vivo en Londres

## Imprimir con formato

In [26]:
edad = 17
nombre = 'Ana'

print("Me llamo", nombre, "y tengo", edad, "años.")

Me llamo Ana y tengo 17 años.

In [27]:
print(f"Me llamo {nombre}, y tengo {edad} años.")

Me llamo Ana, y tengo 17 años.