<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/fundamentos/020_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola mundo

In [ ]:
print("Hola mundo")

# Variables

In [ ]:
# variables
a = 12
b = 5

# operaciones aritméticas

print("Suma:", a + b)
print("Resta:", a - b)
print("Producto:", a * b)
print("División:", a / b)
print("División entera:", a // b)
print("Módulo:", a % b)     # Resto

# Tipos de datos

print(type(5))          # int -> entero
print(type(4.3))        # float -> número de coma flotante
print(type("Hola"))     # str -> string = cadena alfanumérica
print(type(True))       # bool -> booleanos = True o False
print(type([1, 2, 3]))  # list -> listas
print(type((1, 2, 3)))  # tuple -> tuplas