<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/fundamentos/030_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos

In [ ]:
print(type(5))                  # int -> entero
print(type(4.3))                # float -> número de coma flotante
print(type("Hola"))             # str -> string = cadena alfanumérica
print(type(True))               # bool -> booleanos = True o False
print(type([1, 2, 3]))          # list -> listas
print(type((1, 2, 3)))          # tuple -> tuplas
print(type({1:'one', 2:'two'})) # dict -> diccionario. Pares de:  clave: valor
print(type({1, 2, 3}))          # set -> conjunto
print(type(None))               # NoneType -> indica que no hay dato

## Función `len`
* Determina la longitud de una lista o de un string.

### Con cadenas: `len(string)`

In [ ]:
nombre = "Ana Laura"
len(nombre)                 # cuenta también el espacio

### Con listas: `len(list)`

In [ ]:
vocales = ['a', 'e', 'i', 'o', 'u']
len(vocales)

## Indexing
* Podemos acceder a los elementos de una lista o a los caracteres de un string.

### Con cadenas
* Se comienza por el Index cero.

| H | o | l | a |
|---|---|---|---|
| 0 | 1 | 2 | 3 |

In [ ]:
saludo = "Hola"
print(saludo[0])
print(saludo[1])
print(saludo[2])
print(saludo[3])

In [ ]:
print(saludo[-1])

### Con listas

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']
print(seasons[0])
print(seasons[1])
print(seasons[2])
print(seasons[3])

In [ ]:
print(seasons[-1])

#### Modificar un valor de una lista

In [ ]:
seasons[2] = 'fall'
seasons

## Slicing
* Podemos cortar en rebanadas una cadena o una lista.

### Con listas

| ene | feb | mar | abr | may | jun | jul | ago | sep | oct | nov | dic |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  | 11  |

In [ ]:
meses = ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

meses[1:5]  # el mes de Index 5 es jun y no aparece

In [ ]:
meses[:3]   # el mes de Index 3 es abr y no aparece

In [ ]:
meses[10:]

### Con strings

| L   | o   |  s  |     |  Á  |  n  |  g  |  e  |  l  |  e  |  s  |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  |

In [ ]:
ciudad = "Los Ángeles"

ciudad[1:5]

In [ ]:
ciudad[:3]

In [ ]:
ciudad[4:]

## Concatenar cadenas

In [ ]:
ciudad = "Londres"
nombre = "Sandra"

ciudad + nombre

In [ ]:
print("Me llamo " + nombre + " y vivo en " + ciudad)

## Imprimir con formato

#### Separando con comas en el `print`

In [ ]:
edad = 17
nombre = 'Ana'

print("Me llamo", nombre, "y tengo", edad, "años.")

#### Concatenando
* Tenemos que usar la función `str()` para convertir un número en un string.

In [ ]:
print("Me llamo " + nombre + " y tengo " + str(edad) + " años.")

#### Otra forma de escribirlo más moderna, con formato `f`

In [ ]:
print(f"Me llamo {nombre}, y tengo {edad} años.")

## Números y literales
¿ `5 == '5'` ?

In [ ]:
x = 5       # un solo igual se usa para asignar un valor a una variable
y = '5'
x == y      # un doble igual es un operador de comparación

### Conversión de tipos

In [ ]:
# str convierte un número en un string

str(5) == "5"       # True

In [ ]:
# int convierte un string en un número entero

5 == int("5")       # True

In [ ]:
# convertir a número flotante con float

print(float(5))     # 5.0
print(float("5"))   # 5.0

In [ ]:
# convertir número a booleano

print(bool(1))     # 1 es True
print(bool(0))     # 0 es False

In [ ]:
True == 1       # True

In [ ]:
False == 0      # True