<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/fundamentos/030_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos

In [3]:
print(type(5))                  # int -> entero
print(type(4.3))                # float -> número de coma flotante
print(type("Hola"))             # str -> string = cadena alfanumérica
print(type(True))               # bool -> booleanos = True o False
print(type([1, 2, 3]))          # list -> listas
print(type((1, 2, 3)))          # tuple -> tuplas
print(type({1:'one', 2:'two'})) # dict -> diccionario. Pares de:  clave: valor
print(type({1, 2, 3}))          # set -> conjunto
print(type(None))               # NoneType -> indica que no hay dato

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'NoneType'>

## Función `len`
* Determina la longitud de una lista o de un string.

### Con cadenas: `len(string)`

In [ ]:
nombre = "Ana Laura"
len(nombre)                 # cuenta también el espacio

9

### Con listas: `len(list)`

In [ ]:
vocales = ['a', 'e', 'i', 'o', 'u']
len(vocales)

5

## Indexing
* Podemos acceder a los elementos de una lista o a los caracteres de un string.

### Con cadenas
* Se comienza por el Index cero.

| H | o | l | a |
|---|---|---|---|
| 0 | 1 | 2 | 3 |

In [ ]:
saludo = "Hola"
print(saludo[0])
print(saludo[1])
print(saludo[2])
print(saludo[3])

H
o
l
a

In [ ]:
print(saludo[-1])

a

### Con listas

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']
print(seasons[0])
print(seasons[1])
print(seasons[2])
print(seasons[3])

spring
summer
autumn
winter

In [ ]:
print(seasons[-1])

winter

#### Modificar un valor de una lista

In [ ]:
seasons[2] = 'fall'
seasons

['spring', 'summer', 'fall', 'winter']

## Slicing
* Podemos cortar en rebanadas una cadena o una lista.

### Con listas

| ene | feb | mar | abr | may | jun | jul | ago | sep | oct | nov | dic |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  | 11  |

In [ ]:
meses = ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

meses[1:5]  # el mes de Index 5 es jun y no aparece

['feb', 'mar', 'abr', 'may']

In [ ]:
meses[:3]   # el mes de Index 3 es abr y no aparece

['ene', 'feb', 'mar']

In [ ]:
meses[10:]

['nov', 'dic']

### Con strings

| L   | o   |  s  |     |  Á  |  n  |  g  |  e  |  l  |  e  |  s  |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  |

In [ ]:
ciudad = "Los Ángeles"

ciudad[1:5]

'os Á'

In [ ]:
ciudad[:3]

'Los'

In [ ]:
ciudad[4:]

'Ángeles'

## Concatenar cadenas

In [ ]:
ciudad = "Londres"
nombre = "Sandra"

ciudad + nombre

'LondresSandra'

In [ ]:
print("Me llamo " + nombre + " y vivo en " + ciudad)

Me llamo Sandra y vivo en Londres

## Imprimir con formato

#### Separando con comas en el `print`

In [ ]:
edad = 17
nombre = 'Ana'

print("Me llamo", nombre, "y tengo", edad, "años.")

Me llamo Ana y tengo 17 años.

#### Concatenando
* Tenemos que usar la función `str()` para convertir un número en un string.

In [ ]:
print("Me llamo " + nombre + " y tengo " + str(edad) + " años")

#### Otra forma de escribirlo más moderna, con formato `f`

In [ ]:
print(f"Me llamo {nombre}, y tengo {edad} años.")

Me llamo Ana, y tengo 17 años.

## Números y literales
¿ `5 == '5'` ?

In [ ]:
x = 5       # un solo igual se usa para asignar un valor a una variable
y = '5'
x == y      # un doble igual es un operador de comparación

False

### Conversión de tipos

In [ ]:
str(x) == y       # str convierte un número en un string

True

In [ ]:
x == int(y)         # convierte un string en un int

True

In [ ]:
print(float(x))     # float convierte un número en un número de coma flotante
print(float(y))

5.0
5.0

In [ ]:
bool(1)             # convierte en un bool
# 1 es True
# 0 es False

True

In [ ]:
True == 1       # True

True

In [ ]:
False == 0      # True

True