<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/fundamentos/040_bucles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bucles
* Permiten ejecutar código que se repite.
* Veremos dos tipos:
    1. bucle `while`
    2. bucle `for`

# Bucle `while`

<pre>
while condición:
    instrucciones
</pre>

* El tabulador es importante.
* Las estructuras en Python requieren indentación

In [ ]:
i = 0

while i < 5:
    print(i, "Hola")
    i += 1              # equivale a poner: i = i + 1

0 Hola
1 Hola
2 Hola
3 Hola
4 Hola

## Imprimir los elemento de una lista

In [2]:
dias = ['lun', 'mar', 'mie', 'jue', 'vie', 'sáb', 'dom']

n = len(dias)       # la función len da la longitud de la lista
i = 0               # contador. Los index comienzan en cero

while i < n:
    print(dias[i])
    i += 1          # incrementamos el valor del contador de 1 en 1

lun
mar
mie
jue
vie
sáb
dom

# Bucle `for`
* El bucle `for` se usa cuando ya sabemos cuantos cíclos son necesarios.
* En el bucle `while` no sabemos inicialmente cuantos ciclos se darán ya que se itera mientras se cumpla la condición.

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

## Iterar una lista

In [ ]:
ciudades = ['Londres', 'Paris', 'Roma', 'Berlín', 'Madrid']

for ciudad in ciudades:
    print(ciudad)

Londres
Paris
Roma
Berlín
Madrid

In [ ]:
ciudades = ['Londres', 'Paris', 'Roma', 'Berlín', 'Madrid']

for i in range(len(ciudades)):
    print(i+1, ciudades[i])

1 Londres
2 Paris
3 Roma
4 Berlín
5 Madrid