<a href="https://colab.research.google.com/github/financieras/curso_python/blog /main/niveles/nivel01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 1: Retornar la suma de dos números
* Cree una función que tome dos números como argumentos y devuelva su suma.
* Ejemplos:
    1. sumar(3, 2) ➞ 5
    2. sumar(-3, -6) ➞ -9
    3. sumar(7, 3) ➞ 10

In [ ]:
def sumar(a, b):
    return a + b

def sumar(num1, num2):
    total = num1 + num2
    return total

def sumar(a, b):
    return sum((a, b))  # suma de una tupla
                        # también podría ser la suma de una lista

In [ ]:
print(sumar(3, 2))
print(sumar(-3, -6))
print(sumar(7, 3))

5
-9
10

## Reto 2: Convertir minutos a segundos
* Escriba una función que tome un número entero de `minutos` y los convierta a segundos.
* Ejemplos:
    1. minutos_a_segundos(5) ➞ 300
    2. minutos_a_segundos(3) ➞ 180
    3. minutos_a_segundos(2) ➞ 120

In [ ]:
def minutos_a_segundos(minutos):
    return minutos * 60

In [ ]:
print(minutos_a_segundos(5))
print(minutos_a_segundos(3))
print(minutos_a_segundos(2))

300
180
120

## Reto 3: Retornar el siguiente número entero
* Cree una función que tome un número como argumento, incremente el número en +1 y devuelva el resultado.
* Ejemplos:
    1. suma_uno(0) ➞ 1
    2. suma_uno(9) ➞ 10
    3. suma_uno(-3) ➞ -2

In [ ]:
def suma_uno(n):
    return n + 1

def suma_uno(numero):
    numero = numero + 1
    return numero

def suma_uno(numero):
    numero += 1
    return numero

In [ ]:
print(suma_uno(0))
print(suma_uno(9))
print(suma_uno(-3))

1
10
-2

## Reto 4: Área de un triángulo
* Escriba una función que tome la `base` y la `altura` de un triángulo y devuelva su área.
* Ejemplos:
    1. area_triangulo(3, 2) ➞ 3
    2. area_triangulo(7, 4) ➞ 14
    3. area_triangulo(10, 10) ➞ 50

In [ ]:
def area_triangulo(base, altura):
    return base * altura / 2

def area_triangulo(base, altura):
    area = base * altura / 2
    return area

In [ ]:
print(area_triangulo(3, 2))
print(area_triangulo(7, 4))
print(area_triangulo(10, 10))

3.0
14.0
50.0

## Reto 5: Retornar el primer elemento de un Array
* Cree una función que reciba una lista y devuelva el primer elemento.
* Ejemplos:
    1. obtener_primer_valor(['a', 'e', 'i', 'o', 'u']) ➞ 'a'
    2. obtener_primer_valor([80, 5, 100]) ➞ 80
    3. obtener_primer_valor([-500, 0, 50]) ➞ -500

In [ ]:
def obtener_primer_valor(lista):
    return lista[0]

In [ ]:
print(obtener_primer_valor(['a', 'e', 'i', 'o', 'u']))
print(obtener_primer_valor([80, 5, 100]))
print(obtener_primer_valor([-500, 0, 50]))

a
80
-500

## Reto 6: Calculadora de potencia eléctrica
* Cree una función que tome `voltaje` y la `intensidad` de corriente y devuelva la `potencia` calculada.
* Ejemplos:
    1. potencia(230, 10) ➞ 2300
    2. potencia(110, 3) ➞ 330
    3. potencia(480, 20) ➞ 9600

In [ ]:
def potencia(voltaje, intensidad):
    return voltaje * intensidad

In [ ]:
print(potencia(230, 10))
print(potencia(110, 3))
print(potencia(480, 20))

2300
330
9600

## Reto 7: Convertir horas a segundos
* Escriba una función que convierta `horas` en segundos.
* Ejemplos:
    1. horas_a_segundos(2) ➞ 7200
    2. horas_a_segundos(10) ➞ 36000
    3. horas_a_segundos(24) ➞ 86400

In [ ]:
def horas_a_segundos(horas):
    return horas * 60 * 60

In [ ]:
print(horas_a_segundos(2))
print(horas_a_segundos(10))
print(horas_a_segundos(24))

7200
36000
86400

## Reto 8: Retornar el resto
* Cree una función que reciba como parámetros el `numerador` y el `denominador` de una división y retorne el resto, también llamado resíduo o módulo.
* Ejemplos:
    1. mod(24, 5) ➞ 4
    2. mod(50, 10) ➞ 0
    3. mod(3, 4) ➞ 3

In [ ]:
def mod(numerador, denominador):
    return numerador % denominador

In [ ]:
print(mod(24, 5))
print(mod(50, 10))
print(mod(3, 4))

4
0
3

## Reto 9: Retornar un string como integer
* Cree una función que tome una cadena y la devuelva como un número entero.
* Ejemplos:
    1. string_to_int("6") ➞ 6
    2. string_to_int("1000") ➞ 1000
    3. string_to_int("12") ➞ 12

In [ ]:
def string_to_int(txt):
    return int(txt)

In [ ]:
print(string_to_int("6"))
print(string_to_int("1000"))
print(string_to_int("12"))

6
1000
12

## Reto 10: Encontrar el perímetro de un rectángulo
* Cree una función que tome el `largo` y el `ancho` de un rectángulo y retorne su perímetro.
* Ejemplos:
    1. perimetro(6, 7) ➞ 26
    2. perimetro(20, 10) ➞ 60
    3. perimetro(2, 9) ➞ 22

In [ ]:
def perimetro(largo, ancho):
    return 2 * (largo + ancho)

In [ ]:
print(perimetro(6, 7))
print(perimetro(20, 10))
print(perimetro(2, 9))

26
60
22

## Reto 11: Es mío
* Escriba una función que devuelva la cadena "Mi" unida con un espacio " " y el argumento dado.
* Ejemplos:
    1. algo_mio("coche") ➞ "Mi coche"
    2. algo_mio("verano mágico") ➞ "Mi verano mágico"
    3. algo_mio("camino") ➞ "Mi camino"

In [ ]:
def algo_mio(txt):
    return "Mi " + txt

def algo_mio(palabra):
    return f"Mi {palabra}"

In [ ]:
print(algo_mio("coche"))
print(algo_mio("verano mágico"))
print(algo_mio("camino"))

Mi coche
Mi verano mágico
Mi camino

## Reto 12: ¿Es un número negativo?
* Cree una función que tome un número como único argumento y devuelva `True` si es menor o igual a cero; de lo contrario, devuelva `False`.
* Ejemplos:
    1. menor_o_igual_a_cero(5) ➞ False
    1. menor_o_igual_a_cero(0) ➞ True
    1. menor_o_igual_a_cero(-2) ➞ True

In [ ]:
def menor_o_igual_a_cero(numero):
    if numero <= 0:
        return True
    else:
        return False

def menor_o_igual_a_cero(num):
    return num <= 0

In [ ]:
print(menor_o_igual_a_cero(5))
print(menor_o_igual_a_cero(0))
print(menor_o_igual_a_cero(-2))

False
True
True

## Reto 13: Saludar con nombre
* Cree una función que tome un nombre y devuelva un saludo en forma de cadena.
* Ejemplos:
    1. saludar("Gerardo") ➞ "Hola Gerardo!"
    2. saludar("Teresa") ➞ "Hola Teresa!"
    3. saludar("Edu") ➞ "Hola Edu!"
* ¡No olvide el signo de exclamación!

In [ ]:
def saludar(nombre):
    return f"Hola {nombre}!"

def saludar(nombre):
    return "Hola " + nombre + "!"

In [ ]:
print(saludar("Gerardo"))
print(saludar("Teresa"))
print(saludar("Edu"))

Hola Gerardo!
Hola Teresa!
Hola Edu!

## Reto 14: Saludo especial
* Yvonne ha escrito una función que devuelve un saludo a sus amigos.
* Pero tiene un amigo especial, Ares, al que quiere saludar de una forma diferente.
* Añadió un caso especial en su función, pero cometió un error.
* ¿Puedes intentar solucionar el error para que la función trabaje correctamente?
* Ejemplos:
    1. greeting("Matt") ➞ "Hello, Matt!"
    2. greeting("Helen") ➞ "Hello, Helen!"
    3. greeting("Ares") ➞ "Hello, my Love!"


* Esta es la función que da problemas:

```python
def greeting(name):
	return "Hello, " + name + "!"
	if name == "Ares":
		return "Hello, my Love!"
```

In [ ]:
def greeting(name):
    if name == "Ares":
        return "Hello, my Love!"
    else:
        return "Hello, " + name + "!"

def greeting(name):
    if name == "Ares":
        return "Hello, my Love!"
    return "Hello, " + name + "!"

def greeting(name):
    if name == "Ares":
        return "Hello, my Love!"
    return f"Hello, {name}!"

In [ ]:
print(greeting("Matt"))
print(greeting("Helen"))
print(greeting("Ares"))

Hello, Matt!
Hello, Helen!
Hello, my Love!

## Reto 15: Sumar los ángulos de un polígono
* Dado un polígono regular de `n` lados, devuelve la suma total de los ángulos internos (en grados).
* Ejemplos:
    1. grados_poligono(3) ➞ 180
    2. grados_poligono(4) ➞ 360
    3. grados_poligono(6) ➞ 720
* `n` siempre será mayor que 2
* La fórmula `(n - 2) × 180` da la suma de los ángulos de un polígono de `n` lados.

In [ ]:
def grados_poligono(n):
    return (n - 2) * 180

In [ ]:
print(grados_poligono(3))
print(grados_poligono(4))
print(grados_poligono(6))

180
360
720

## Reto 16: Calculando potencias
* Cree una función que tome un número `base` y un número `exponente` y devuelva el cálculo.
* Ejemplos:
    1. calcular_potencias(5, 3) ➞ 125
    2. calcular_potencias(10, 4) ➞ 10000
    3. calcular_potencias(3, 3) ➞ 27

In [ ]:
def calcular_potencias(base, exponente):
    return base ** exponente

from math import pow

def calcular_potencias(base, exponente):
    return pow(base, exponente)

In [ ]:
print(calcular_potencias(5, 3))
print(calcular_potencias(10, 4))
print(calcular_potencias(3, 3))

125
10000
27

## Reto 17: Conversión de Booleano a String
* Cree una función que tome una bandera booleana y la devuelva como una cadena.
* Ejemplos:
    1. bool_to_string(True) ➞ "True"
    2. bool_to_string(False) ➞ "False"
* La función puede comenzar así:

```python
def bool_to_string(flag):
```

In [ ]:
# Método 1
def bool_to_string(flag):
    if flag:
        return "True"
    else:
        return "False"

# Método 2. Operador ternario
def bool_to_string(flag):
    return "True" if flag else "False"

# Método 3
def bool_to_string(flag):
    return str(flag)

In [ ]:
print(bool_to_string(True))
print(bool_to_string(False))

True
False

## Reto 18: Puntos de baloncesto
* Estamos contando puntos para un partido de baloncesto, dada la cantidad de tiros de dos puntos y tiros de tres puntos anotados.
* Encuentra los puntos finales para el equipo y devuelve ese valor.
* Ejemplos:
    1. puntos(1, 1) ➞ 5
    2. puntos(7, 5) ➞ 29
    3. puntos(38, 8) ➞ 100
* El primer parámetro de la función hace referencia a los `tiros_de_dos`.
* El segundo parámetro de la función hace referencia a los `tiros_de_tres`.

In [ ]:
def puntos(tiros_de_dos, tiros_de_tres):
    return (2 * tiros_de_dos) + (3 * tiros_de_tres)

In [ ]:
print(puntos(1, 1))
print(puntos(7, 5))
print(puntos(38, 8))

5
29
100

## Reto 19: ¿Menos de cien?
* Dados dos números, devuelva `True` si la suma de ambos números es menor que 100, de lo contrario, devuelve `False`.
* Ejemplos:
    1. menor_que_cien(22, 15) ➞ True
    2. menor_que_cien(93, 34) ➞ False
    3. menor_que_cien(3, 17) ➞ True
    4. menor_que_cien(25, 75) ➞ False

In [ ]:
def menor_que_cien(num1, num2):
    return (num1 + num2) < 100

def menor_que_cien(num1, num2):
    total = num1 + num2
    if total < 100:
        return True
    else:
        return False

In [ ]:
print(menor_que_cien(22, 15))
print(menor_que_cien(93, 34))
print(menor_que_cien(3, 17))
print(menor_que_cien(25, 75))

True
False
True
False

## Reto 20: Máximo de una lista
* Crea una función que tome una lista de números enteros no negativos.
* Retornar el número más grande de la lista.
* Ejemplos:
    1. maximo([4, 5, 1, 3]) ➞ 5
    2. maximo([300, 200, 600, 150]) ➞ 600
    3. maximo([1000, 1001, 857, 0]) ➞ 1001

In [ ]:
# Método 1. Usando max

def maximo(lista):
    return max(lista)

# Método 2. Sin usar max

def maximo(lista):
    maximo = lista[0] # Inicializamos el máximo con el primer número de la lista
    for num in lista:
        if num > maximo:
            maximo = num
    return maximo

# Método 3. Ordenando la lista

def maximo(lista):
    return sorted(lista)[-1]

# Método 4. Usando reduce

from functools import reduce

def maximo(lista):
    return reduce(lambda x, y: x if x > y else y, lista)

# Método 5. Usando la librería numpy

import numpy as np

def maximo(lista):
    return np.amax(lista)

In [ ]:
print(maximo([4, 5, 1, 3]))
print(maximo([300, 200, 600, 150]))
print(maximo([1000, 1001, 857, 0]))

5
600
1001

## Reto 21: Mínimo de una lista
* Cree una función que tome una lista de números y devuelva el número más pequeño de la lista.
* Los números pueden contener decimales y ser negativos.
* Ejemplos:
    1. minimo([34, 15, 88, 2]) ➞ 2
    2. minimo([34, -345, -1, 100]) ➞ -345
    3. minimo([-76, 1.345, 1, 0]) ➞ -76
    4. minimo([0.4356, 0.8795, 0.5435, -0.9999]) ➞ -0.9999
    5. minimo([7, 7, 7]) ➞ 7

In [ ]:
# Método 1

def minimo(lista):
    return min(lista)

# Método 2. Usando  el concepto de infinito
def minimo(lista):
    menor = float('inf')  # Inicializamos la variable 'menor' con infinito
    for numero in lista:
        if numero < menor:  # Si encontramos un número más pequeño
            menor = numero  # actualizamos 'menor'
    return menor

In [ ]:
print(minimo([34, 15, 88, 2]))
print(minimo([34, -345, -1, 100]))
print(minimo([-76, 1.345, 1, 0]))
print(minimo([0.4356, 0.8795, 0.5435, -0.9999]))
print(minimo([7, 7, 7]))

2
-345
-76
-0.9999
7

## Reto 22: Diferencia entre el Max y el Min de una lista
* Diferencia de números máximos y mínimos en la lista.
* Ejemplos:
    1. dif([10, 4, 1, 4, -50, 32, 21]) ➞ 82
    2. dif([44, 32, 86, 19]) ➞ 67

In [ ]:
def dif(lista):
    return max(lista) - min(lista)

def dif(lista):
    # Ordenamos la lista de forma ascendente
    lista_ordenada = sorted(lista)
    # Calculamos la diferencia entre el último y el primer elemento
    diferencia = lista_ordenada[-1] - lista_ordenada[0]
    return diferencia

def dif(lista):
    # Inicializar las variables para el máximo y el mínimo
    maximo = float('-inf')  # menos infinito como punto de partida para el max
    minimo = float('inf')   # infinito como punto de partida para el min
    # buscamos el máximo y el mínimo
    for num in lista:
        if num > maximo:
            maximo = num
        if num < minimo:
            minimo = num
    return maximo - minimo

In [ ]:
print(dif([10, 4, 1, 4, -50, 32, 21]))
print(dif([44, 32, 86, 19]))

82
67

## Reto 23: Concatenando dos listas de enteros
* Cree una función para concatenar dos listas de enteros.
* Ejemplos:
    1. concat([1, 3, 5], [2, 6, 8]) ➞ [1, 3, 5, 2, 6, 8]
    2. concat([7, 8], [10, 9, 1, 1, 2]) ➞ [7, 8, 10, 9, 1, 1, 2]
    3. concat([4, 5, 1], [3, 3, 3, 3, 3]) ➞ [4, 5, 1, 3, 3, 3, 3, 3]

In [ ]:
# Método 1. Concatenando con +
def concat(arr1, arr2):
    return arr1 + arr2

# Método 2. Usando extend
def concat(lista1, lista2):
    lista1.extend(lista2)
    return lista1

# Método 3. Usando append para cada elemento que añadir
def concat(a, b):
    for e in b:
        a.append(e)
    return a

In [ ]:
print(concat([1, 3, 5], [2, 6, 8]))
print(concat([7, 8], [10, 9, 1, 1, 2]))
print(concat([4, 5, 1], [3, 3, 3, 3, 3]))

[1, 3, 5, 2, 6, 8]
[7, 8, 10, 9, 1, 1, 2]
[4, 5, 1, 3, 3, 3, 3, 3]

## Reto 24: Retornar el último elemento de una lista
* Cree una función que reciba una lista y devuelva el último elemento de la lista.
* La lista puede contener diferentes tipos de datos.
* Si la lista está vacía devolverá `None`
* Ejemplos:
    1. ultimo([1, 2, 3]) ➞ 3
    2. ultimo(["cat", "dog", "duck"]) ➞ "duck"
    3. ultimo([True, False, True]) ➞ True
    4. ultimo([7, "String", False, [1, 2, 3]]) ➞ [1, 2, 3]
    5. ultimo([]) ➞ None

In [ ]:
def ultimo(lst):
    return lst[-1] if lst else None     # operador ternario


def ultimo(lista):
    if lista:  # Verificar si la lista no está vacía
        return lista.pop()  # Usar pop() para obtener y eliminar el último elemento de la lista
    else:
        return None  # Retornar None si la lista está vacía

In [ ]:
print(ultimo([1, 2, 3]))
print(ultimo(["cat", "dog", "duck"]))
print(ultimo([True, False, True]))
print(ultimo([7, "String", False, [1, 2, 3]]))
print(ultimo([]))

3
duck
True
[1, 2, 3]
None

## Reto 25: ¡Jorge creó un bucle infinito!
* Ayúdale arreglando el código para que los ejemplos siguientes trabajen correctamente.
* Ejemplos:
    1. generar_array(1) ➞ [1]
    2. generar_array(3) ➞ [1, 2, 3]
    3. generar_array(6) ➞ [1, 2, 3, 4, 5, 6]

* Este es el código que no funciona bien:

```python
def generar_array(n):
    numeros = []
    i = 0
    while i <= n:
        numeros.append(i)
    return numeros
```

In [ ]:
# Método 1
def generar_array(n):
    numeros = []
    i = 1       # Comenzar desde 1 para cumplir con el rango solicitado
    while i <= n:
        numeros.append(i)
        i += 1  # Incrementar el valor de 'i' en cada iteración
    return numeros

# Método 2. Otra forma distinta de resolverlo, sin bucle
def generar_array(n):
    return list(range(1, n + 1))

# Método 3. bucle For
def generar_array(n):
    numeros = []
    for i in range(1, n+1):
        numeros.append(i)
    return numeros

# Método 4. Con list comprehension
def generar_array(n):
    return [i for i in range(1, n + 1)]

In [ ]:
print(generar_array(1))
print(generar_array(3))
print(generar_array(6))

[1]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

## Reto 26: ¡Lucía quiere intercambiar dos números!
* La función no está devolviendo los valores correctos.
* ¿Puedes ayudarla solucionando los bugs?
* Los valores retornados correctos deberían ser estos:
* Ejemplos:
    1. swap(100, 200) ➞ [200, 100]
    2. swap(44, 33) ➞ [33, 44]
    3. swap(0, -1) ➞ [-1, 0]

* Este es el código que no está funcionando correctamente:

<pre>
del swap(a, b)
	b = a
	a = b
	return [a, b]
</pre>

In [ ]:
def swap(a, b):
    return [b, a]

def swap(a, b):
    temp = a  # Almacena el valor original de 'a' en una variable temporal 'temp'
    a = b     # Asigna el valor de 'b' a 'a'
    b = temp  # Asigna el valor original de 'a' (almacenado en 'temp') a 'b'
    return [a, b]

def swap(a, b):
    a, b = b, a     # permutando a y b en una sola línea
    return [a, b]

In [ ]:
print(swap(100, 200))
print(swap(44, 33))
print(swap(0, -1))

[200, 100]
[33, 44]
[-1, 0]

## Reto 27: Recuento en la granja
* Un granjero te pide que le ayudes a conocer cuántas patas puede contar entre todos sus animales.
* El granjero cría tres especies: gallinas, vacas y cerdos.
* El orden de los parámetros en la función ha de ser:
    - 1º gallinas
    - 2º vacas
    - 3º cerdos
* Recuerde que el granjero quiere saber el número total de patas y no el número total de animales.
* Ejemplos:
    1. patas(2, 3, 5) ➞ 36
    2. patas(1, 2, 3) ➞ 22
    3. patas(5, 2, 8) ➞ 50

In [ ]:
def patas(gallinas, vacas, cerdos):
    patas_gallinas = gallinas * 2
    patas_vacas = vacas * 4
    patas_cerdos = cerdos * 4
    total_patas = patas_gallinas + patas_vacas + patas_cerdos
    return total_patas

def patas(gallinas, vacas, cerdos):
    return 2 * gallinas + 4 * (vacas + cerdos)

In [ ]:
print(patas(2, 3, 5))
print(patas(1, 2, 3))
print(patas(5, 2, 8))

36
22
50

## Reto 28: Operador lógico `and`
* El operador `and` toma dos valores booleanos y devuelve `True` si ambos valores son verdaderos.
* Devuelve `False` en cualquier otro caso.
* Ejemplos:
    1. funcion_and(True, True) ➞ True
    2. funcion_and(True, False) ➞ False
    3. funcion_and(False, True) ➞ False
    4. funcion_and(False, False) ➞ False

In [ ]:
def funcion_and(a, b):
    if a == True and b == True:
        return True
    else:
        return False

def funcion_and(a, b):
    return a and b

In [ ]:
print(funcion_and(True, True))
print(funcion_and(True, False))
print(funcion_and(False, True))
print(funcion_and(False, False))

True
False
False
False

## Reto 29: ¿Son iguales los números?
* Cree una función que devuelva `True` cuando `num1` sea igual a `num2`.
* En caso contrario, devuelve `False`.
* Ejemplos:
    1. son_iguales(3, 3) ➞ True
    2. son_iguales(3, 1+2) ➞ True
    3. son_iguales(2, 6/3) ➞ True
    4. son_iguales(4, -4) ➞ False
    5. son_iguales(1, "1") ➞ False

In [ ]:
def son_iguales(num1, num2):
    return num1 == num2

# el operador '=='  es diferente al operador 'is'

In [ ]:
print(son_iguales(3, 3))
print(son_iguales(3, 1+2))
print(son_iguales(2, 6/3))
print(son_iguales(4, -4))
print(son_iguales(1, "1"))

True
True
True
False
False

## Reto 30: Juego de mesa
* En cierto juego de mesa cada ronda recibe unos puntos según este criterio:
    - Las victorias dan 3 puntos
    - Los empates dan 1 punto
    - Las derrotas dan 0 puntos
* Crear una función que dé los puntos alcanzados según el número de victorias, empates y derrotas obtenidas.
* En ocasiones no se da el tercer argumento, las derrotas, ya que no proporcionan puntos.
* Ejemplos:
     1. puntos_obtenidos(3, 4, 2) ➞ 13
     2. puntos_obtenidos(5, 0, 2) ➞ 15
     3. puntos_obtenidos(0, 0, 1) ➞ 0
     4. puntos_obtenidos(3, 4) ➞ 13

* El orden de los parámetros en la función ha de ser:
    - 1º victorias
    - 2º empates
    - 3º derrotas (argumento optativo)
* Los argumentos de la función serán siempre números enteros mayores o iguales a 0.

In [ ]:
def puntos_obtenidos(victorias, empates, derrotas=0):   # valor por defecto = 0
    return 3 * victorias + 1 * empates + 0 * derrotas

def puntos_obtenidos(victorias, empates, derrotas=None):
    if derrotas is None:
        derrotas = 0
    return victorias * 3 + empates * 1 + derrotas * 0

In [ ]:
print(puntos_obtenidos(3, 4, 2))
print(puntos_obtenidos(5, 0, 2))
print(puntos_obtenidos(0, 0, 1))
print(puntos_obtenidos(3, 4))

13
15
0
13

## Reto 31: Convertir horas y minutos en segundos
* Escriba una función que tome dos números enteros (`horas`, `minutos`) y devuelva el número de segundos contenidos en ese tiempo.
* Ejemplos:
    1. convertir_a_segundos(1, 3) ➞ 3780
    2. convertir_a_segundos(2, 0) ➞ 7200
    3. convertir_a_segundos(0, 0) ➞ 0

In [ ]:
def convertir_a_segundos(horas, minutos):
    return horas * 3600 + minutos * 60

def convertir_a_segundos(horas, minutos):
    return (horas * 60 + minutos) * 60

In [ ]:
print(convertir_a_segundos(1, 3))
print(convertir_a_segundos(2, 0))
print(convertir_a_segundos(0, 0))

3780
7200
0

## Reto 32: Diccionario de colores
* Vamos a una escuela infantil y preguntamos a varios niños por los colores que conocen en otros idiomas.
* Cada respuesta la anotamos en un **diccionario** de Python.
* Crear una función que retorne el número de respuestas contenidas en cada diccionario.
* Ejemplos:
    1. cantidad_colores({'rojo': 'red', 'azul': 'blue', 'amarillo': 'yellow', 'rosa': 'pink'}) ➞ 4
    2. cantidad_colores({'azul': 'blue', 'rojo': 'red', 'negro': 'black'}) ➞ 3
    3. cantidad_colores({'blanco': 'bianco', 'negro': 'nero', 'rojo': 'rosso'}) ➞ 3

In [ ]:
def cantidad_colores(diccionario):
    return len(diccionario)

def cantidad_colores(diccionario):
    count = 0
    for key in diccionario:
        count += 1
    return count

def cantidad_colores(diccionario):
    return len(diccionario.keys())      # contando las claves

def cantidad_colores(diccionario):
    return len(diccionario.values())    # contando los valores

In [ ]:
print(cantidad_colores({'rojo': 'red', 'azul': 'blue', 'amarillo': 'yellow', 'rosa': 'pink'}))
print(cantidad_colores({'azul': 'blue', 'rojo': 'red', 'negro': 'black'}))
print(cantidad_colores({'blanco': 'bianco', 'negro': 'nero', 'rojo': 'rosso'}))

4
3
3

## Reto 33: De String a Integer y viceversa
* Escribe dos funciones:
    - `to_int()`: una función para convertir una cadena en un número entero.
    - `to_str()`: una función para convertir un número entero en una cadena.
    * Ejemplos:
        1. to_int("77") ➞ 77
        2. to_int("532") ➞ 532
        3. to_str(77) ➞ "77"
        4. to_str(532) ➞ "532"

In [ ]:
def to_int(txt):
    return int(txt)

def to_str(num):
    return str(num)

In [ ]:
print(to_int("77"))
print(to_int("532"))
print(to_str(77))
to_str(532)

77
532
77

'532'

## Reto 34: Dos diccionarios iguales
* Cree una función que verifique si los dos argumentos que pasamos a la función son iguales entre sí.
* La función tiene dos parámetros de tipo diccionario.
* Devuelve `True` si los objetos son iguales; de lo contrario, devuelve `False`.
* Ejemplos:
    1. Ejemplo 1. Alterando el orden de las parejas `clave:valor`

    Este es el objeto 1:
    <pre>
obj_one = {
    "name": "Alex",
    "phone": "687654321",
    "email": "alex@gmail.com"
    }
</pre>
    
    Este es el objeto 2:
<pre>
obj_two = {
    "name": "Alex",
    "email": "alex@gmail.com",
    "phone": "687654321"
    }
</pre>

    son_iguales(obj_one, obj_two) ➞ True

    2. Ejemplo 2.

    Este es el objeto 1:
<pre>
obj_one = {
    "name": "Julia",
    "phone": "612345678",
    "email": "julia@gmail.com"
    }
</pre>
    
    Este es el objeto 2:
<pre>
obj_two = {
    "nombre": "Julia",
    "telefono": "612345678",
    "correo": "julia@gmail.com"
    }
</pre>

    son_iguales(obj_one, obj_two) ➞ False

In [ ]:
def son_iguales(objeto1, objeto2):
    return objeto1 == objeto2

In [ ]:
# The first object parameter.
obj_one = {
"name": "Alex",
"phone": "687654321",
"email": "alex@gmail.com"
}

# The second object parameter.
obj_two = {
"name": "Alex",
"email": "alex@gmail.com",
"phone": "687654321"
}

son_iguales(obj_one, obj_two)

True

In [ ]:
# The first object parameter.
obj_one = {
"name": "Julia",
"phone": "612345678",
"email": "julia@gmail.com"
}

# The second object parameter.
obj_two = {
"nombre": "Julia",
"telefono": "612345678",
"correo": "julia@gmail.com"
}

son_iguales(obj_one, obj_two)

False

## Reto 35: Operador Ternario
* Corrija el código siguiente para que la función devuelva `True` si y solo si `x` es igual a 7.
* Ejemplos:
    1. es_siete(4) ➞ False
    2. es_siete(9) ➞ False
    3. es_siete(7) ➞ True
* Consulte el **operador ternario** en Python
* El código que no funciona correctamente es este:

<pre>
def es_siete(x):
	retur True if x="7" else False
</pre>

In [ ]:
# Método 1. Con operador ternario
def es_siete(x):
	return True if x == 7 else False

# Método 2. Sin operador ternario
def es_siete(x):
    return x == 7

In [ ]:
print(es_siete(4))
print(es_siete(9))
print(es_siete(7))

False
False
True

## Reto 36: Control de igualdad
* Debe verificar la igualdad de dos valores diferentes dados los parámetros `a` y `b`.
* Tanto el valor como el tipo de dato de los argumentos deben ser iguales.
* Ejemplos:
    1. check_igualdad(7, "7") ➞ False
    2. check_igualdad(1, True) ➞ False
    3. check_igualdad(0, 'False') ➞ False
    4. check_igualdad(1, --1) ➞ True
    5. check_igualdad(4, abs(-4)) ➞ True

* La función `abs()` calcula el valor absoluto de un número

In [ ]:
# Método 1
def check_igualdad(a, b):
    return a == b and type(a) == type(b)

# Método 2. Con listas iguales da False
def check_igualdad(a, b):
    return a is b

In [ ]:
print(check_igualdad(7, "7"))
print(check_igualdad(1, True))
print(check_igualdad(0, 'False'))
print(check_igualdad(1, --1))
print(check_igualdad(4, abs(-4)))

False
False
False
True
True

## Reto 37: Dos hacen Diez
* Cree una función que tome dos argumentos.
* Ambos argumentos son números enteros, `a` y `b`.
* Devuelve `True` si uno de ellos es 10 o si su suma es 10.
* Ejemplos:
    1. es_diez(9, 10) ➞ True
    2. es_diez(10, 9) ➞ True
    3. es_diez(6, 4) ➞ True
    4. es_diez(9, 9) ➞ False

In [ ]:
# Método 1
def es_diez(a, b):
    return a == 10 or b == 10 or a + b == 10

# Método 2. Intersección de conjuntos
def es_diez(a, b):
    return bool({a, b, a + b} & {10})

In [ ]:
print(es_diez(9, 10))
print(es_diez(10, 9))
print(es_diez(6, 4))
print(es_diez(9, 9))

True
True
True
False

## Reto 38: Divisible por cinco
* Cree una función que devuelva `True` si un número entero es divisible por 5 y `False` en caso contrario.
* Ejemplos:
    1. divisible_por_cinco(5) ➞ True
    2. divisible_por_cinco(-55) ➞ True
    3. divisible_por_cinco(37) ➞ False
    4. divisible_por_cinco(11) ➞ False

In [ ]:
def divisible_por_cinco(n):
    return n % 5 == 0

def divisible_por_cinco(n):
    parte_fraccionaria = n / 5 - n // 5
    return  parte_fraccionaria == 0

def divisible_por_cinco(n):
    return n // 5 == n / 5

In [ ]:
print(divisible_por_cinco(5))
print(divisible_por_cinco(-55))
print(divisible_por_cinco(37))
print(divisible_por_cinco(11))

True
True
False
False

## Reto 39: Apuesta rentable
* Cree una función que determine si una apuesta es rentable basada en tres parámetros: probabilidad, premio y pago.
* La función debe devolver `True` si el producto de la probabilidad por el premio es mayor que el pago realizado; en caso contrario, debe devolver `False`.
* Ejemplos:
    1. apuesta_rentable(0.2, 50, 9) ➞ True
    2. apuesta_rentable(0.9, 1, 2) ➞ False
    3. apuesta_rentable(0.9, 3, 2) ➞ True
    4. apuesta_rentable(0.01, 500, 5) ➞ False

In [ ]:
def apuesta_rentable(probabilidad, premio, pago):
    if probabilidad * premio > pago:
        return True
    else:
        return False

def apuesta_rentable(probabilidad, premio, pago):
    return probabilidad * premio > pago

In [ ]:
print(apuesta_rentable(0.2, 50, 9))
print(apuesta_rentable(0.9, 1, 2))
print(apuesta_rentable(0.9, 3, 2))
print(apuesta_rentable(0.01, 500, 5))

True
False
True
False

## Reto 40: Suma de los elementos de una lista
* Cree una función que tome una lista y devuelva la suma de todos los números de la lista.
* Ejemplos:
    1. suma_elementos([2, 7, 4]) ➞ 13
    2. suma_elementos([45, 3, 0]) ➞ 48
    3. suma_elementos([-2, 84, 23]) ➞ 105

In [ ]:
# Método 1
def suma_elementos(lista):
    return sum(lista)

# Método 2
def suma_elementos(lista):
    total = 0
    for elemento in lista:
        total += elemento
    return total

# Método 3
def suma_elementos(lista):
    total = 0
    for i in range(len(lista)):
        total += lista[i]
    return total

# Método 4
from functools import reduce

def suma_elementos(lista):
    return reduce(lambda x, y: x + y, lista)

# Método 5. Con recursividad
def suma_elementos(lista):
    if len(lista) == 0:
        return 0
    else:
        return lista[0] + suma_elementos(lista[1:])

# Método 6. Recursividad con pop
def suma_elementos(lista):
    if len(lista) == 0:
        return 0
    else:
        return lista.pop() + suma_elementos(lista)

In [ ]:
print(suma_elementos([2, 7, 4]))
print(suma_elementos([45, 3, 0]))
print(suma_elementos([-2, 84, 23]))

13
48
105

## Reto 41: Días del mes
* Cree una función que reciba un número del 1 al 12 y devuelva el mes correspondiente y el número de días que tiene.
* Use el siguiente diccionario para resolverlo.

```python
d = {1:['enero', 31],
     2:['febrero', 28],
     3:['marzo', 31],
     4:['abril', 30],
     5:['mayo', 31],
     6:['junio', 30],
     7:['julio', 31],
     8:['agosto', 31],
     9:['septiembre', 30],
     10:['octubre', 31],
     11:['noviembre', 30],
     12:['diciembre', 31]}
```
* Ejemplos:
    1. dias_mes(1) ➞ enero 31
    2. dias_mes(4) ➞ abril 30
    3. dias_mes(12) ➞ diciembre 31

In [ ]:
d = {1:['enero', 31],
     2:['febrero', 28],
     3:['marzo', 31],
     4:['abril', 30],
     5:['mayo', 31],
     6:['junio', 30],
     7:['julio', 31],
     8:['agosto', 31],
     9:['septiembre', 30],
     10:['octubre', 31],
     11:['noviembre', 30],
     12:['diciembre', 31]}

def dias_mes(n):
    return f'{d[n][0]} {d[n][1]}'

In [ ]:
print(dias_mes(1))
print(dias_mes(4))
print(dias_mes(12))

enero 31
abril 30
diciembre 31

## Reto 42: Múltiplo de cien
* Cree una función que tome un número entero y devuelva `True` si es divisible por 100; de lo contrario, devuelva `False`.
* Ejemplos:
    1. divisible(1) ➞ False
    2. divisible(1000) ➞ True
    3. divisible(100) ➞ True
    4. divisible(400) ➞ True

In [ ]:
def divisible(n):
    return n % 100 == 0

In [ ]:
print(divisible(1))
print(divisible(1000))
print(divisible(100))
print(divisible(400))

False
True
True
True

## Reto 43: Comprobar si $k^k=n$
* Escriba una función que devuelva `True` si $k^k = n$ para la entrada `(k, n)`
* y devuelva `False` en caso contrario.
* Ejemplos:
    1. k_to_k(2, 4) ➞ True
    2. k_to_k(9, 387420489) ➞ True  
    3. k_to_k(5, 3124) ➞ False
    4. k_to_k(3, 17) ➞ False
* Nueve elevado a nueve es $9^{9} = 387420489$

In [ ]:
def k_to_k(k, n):
    return k ** k == n

def k_to_k(k, n):
    return pow(k, k) == n

def k_to_k(k, n):
    result = 1
    for i in range(k):
        result *= k
    return result == n

In [ ]:
print(k_to_k(2, 4))
print(k_to_k(9, 387420489))
print(k_to_k(5, 3124))
print(k_to_k(3, 17))

True
True
False
False

## Reto 44: Despistes al programar
* Disponemos de una función que no trabaja correctamente ya que estábamos algo despistados al programarla.
* Mire los ejemplos siguientes para tener una idea de lo que debe hacer la función.
* Ejemplos:
    1. max_num(3, 7) ➞ 7
    2. max_num(-1, -4) ➞ -1
    2. max_num(10, 10) ➞ 10

* El código que da problemas es el siguiente:

```python
def max_num(n1, n2):
	if n1 > n2:
		return n2
	elif:
		return n1
```

In [ ]:
def max_num(n1, n2):
    if n1 < n2:
        return n2
    else:
        return n1

def max_num(n1, n2):
    if n1 > n2:
        return n1
    return n2

def max_num(n1, n2):
    return max(n1, n2)

In [ ]:
print(max_num(3, 7))
print(max_num(-1, -4))
print(max_num(10, 10))

7
-1
10

## Reto 45: Comparar cadenas por número de caracteres
* Cree una función que tome dos strings como argumentos y devuelva `True` o `False` dependiendo de si el número total de caracteres en la primera cadena es igual al número total de caracteres en la segunda cadena.
* Ejemplos:
    1. compare("AB", "cd") ➞ True
    2. compare("ABC", "DE") ➞ False
    3. compare("hello", "Madrid") ➞ False
    4. compare("XY", "42") ➞ True

In [ ]:
# Método 1. Usando len()

def compare(str1, str2):
    return len(str1) == len(str2)

# Método 2. Contando elementos de cada cadena con bucles

def compare(cadena1, cadena2):
    count1 = count2 = 0
    for char in cadena1:
        count1 += 1
    for char in cadena2:
        count2 += 1
    return count1 == count2

In [ ]:
print(compare("AB", "cd"))
print(compare("ABC", "DE"))
print(compare("hello", "Madrid"))
print(compare("XY", "42"))

True
False
False
True

## Reto 46: Si hay un 3 ganas
* Crea una función que genere un número aleatorio entero entre 100.000 y 200.000.
* Si hay, al menos, un 3 ganas, en caso contrario pierdes.
* La función imprime el número aleatorio generado, después un espacio y finalmente se indica si ganas o pierdes.
* Ejemplos:
    1. gana_el_tres() ➞ 140848 pierdes
    2. gana_el_tres() ➞ 176385 ganas
    3. gana_el_tres() ➞ 190833 ganas
    4. gana_el_tres() ➞ 196202 pierdes

In [ ]:
import random

# Método 1. Usando un condicional y str
def gana_el_tres():
    numero_aleatorio = random.randint(100000, 200000)
    if '3' in str(numero_aleatorio):
        return f"{numero_aleatorio} ganas"
    else:
        return f"{numero_aleatorio} pierdes"

# Método 2. Usando un operador ternario y str
def gana_el_tres():
    r = random.randint(100_000, 200_000)
    return f"{r} {'ganas' if '3' in str(r) else 'pierdes'}"

# Método 3. Sin usar str
def gana_el_tres():
    numero_aleatorio = random.randint(100000, 200000)
    original = numero_aleatorio
    while numero_aleatorio > 0:
        digito = numero_aleatorio % 10
        if digito == 3:
            return f"{original} ganas"
        numero_aleatorio //= 10
    return f"{original} pierdes"

In [ ]:
print(gana_el_tres())
print(gana_el_tres())
print(gana_el_tres())
print(gana_el_tres())

131073 ganas
0 pierdes
101813 ganas
0 pierdes

## Reto 47: Recargando baterías
* Para que un vehículo pueda funcionar, necesita una cantidad de carga que es diez veces mayor que la distancia que recorre.
* No obstante, es importante asegurarse de que siempre lleve al menos 100 unidades de carga antes de iniciar su recorrido.
* Cree una función que calcule la cantidad de carga necesaria en función de la `distancia` ingresada como parámetro.
* Ejemplos:
    1. calcula_carga(15) ➞ 150
    2. calcula_carga(23.5) ➞ 235
    3. calcula_carga(3) ➞ 100
* La `distancia` proporcionada siempre será un número mayor que cero.
* Si el cálculo de la carga resulta ser inferior a 100, la función debe devolver 100 como mínimo.

### Comentario
Veamos lo que es un [Operador Ternario](https://www.codigopiton.com/el-operador-ternario-condicional-en-python).

In [ ]:
# Condicional IF
n = 5

if n % 2 == 0:
    print("Par")
else:
    print("Impar")

Impar

In [ ]:
# Operador Ternario
n = 5

print("Par") if n % 2 == 0 else print("Impar")

Impar

In [ ]:
# Método 1
def calcula_carga(distancia):
    carga_necesaria = distancia * 10
    if carga_necesaria < 100:
        return 100
    else:
        return carga_necesaria

# Método 2. Usando un operador ternario
def calcula_carga(km):
    return 100 if km < 10 else 10 * km

In [ ]:
print(calcula_carga(15))
print(calcula_carga(23.5))
print(calcula_carga(3))

150
235.0
100

## Reto 48: ¿Está vacía la cadena?
* Cree una función que devuelva `True` si una cadena está vacía y `False` en caso contrario.
* Ejemplos:
    1. esta_vacia("") ➞ True
    2. esta_vacia(" ") ➞ False
    3. esta_vacia("a") ➞ False
* Un string que contiene algún espacio en blanco `" "` no cuenta como vacío.

In [ ]:
def esta_vacia(cadena):
    if cadena == "":
        return True
    else:
        return False

def esta_vacia(cadena):
    if not cadena:
        return True
    else:
        return False

def esta_vacia(cadena):
    if cadena:
        return False
    else:
        return True

def esta_vacia(cadena):
    return cadena == ""

def esta_vacia(cadena):
    return not cadena

In [ ]:
print(esta_vacia(""))
print(esta_vacia(" "))
print(esta_vacia("a"))

True
False
False

## Reto 49: Devolver negativo
* Escriba una función que tome un número como parámetro y lo devuelva como negativo.
* Si el número es positivo se convertirá en negativo.
* Si el número previamente ya es negativo permanecerán sin alteración.
* Si el número es cero la función devolverá cero.
* Ejemplos:
    1. devuelve_negativo(4) ➞ -4
    2. devuelve_negativo(15) ➞ -15
    3. devuelve_negativo(-4) ➞ -4
    4. devuelve_negativo(0) ➞ 0

In [ ]:
# Método 1
def devuelve_negativo(numero):
    if numero > 0:
        return -numero
    else:
        return numero

# Método 2. Operador ternario
def devuelve_negativo(numero):
    return -numero if numero > 0 else numero

# Método 3. Con la función abs de valor absoluto
def devuelve_negativo(x):
    return -abs(x)

In [ ]:
print(devuelve_negativo(4))
print(devuelve_negativo(15))
print(devuelve_negativo(-4))
print(devuelve_negativo(0))

-4
-15
-4
0

## Reto 50: ¿Suma la lista menos de cien?
* Cree una función que reciba una lista de números.
* Se retorna `True` si la suma de los valores de la lista es menor estricto que 100, de lo contrario, se retorna `False`.
* Ejemplos:
    1. menos_de_cien([5, 57]) ➞ True
    2. menos_de_cien([0]) ➞ True
    3. menos_de_cien([7, 33, 15]) ➞ True
    4. menos_de_cien([77, 30]) ➞ False
    5. menos_de_cien([95, 1, 1, 1, 2]) ➞ False

In [ ]:
def menos_de_cien(lista):
    return sum(lista) < 100

def menos_de_cien(lista):
    total = 0
    for elemento in lista:
        total += elemento
        if total >= 100:
            return False
    return True

In [ ]:
print(menos_de_cien([5, 57]))
print(menos_de_cien([0]))
print(menos_de_cien([7, 33, 15]))
print(menos_de_cien([77, 30]))
print(menos_de_cien([95, 1, 1, 1, 2]))

True
True
True
False
False

## Reto 51: Concatenar nombre y apellido
* Una función recibe dos parámetros: `nombre` y `apellido`, en este orden.
* La función retorna una cadena que contiene primero el `apellido` y luego el `nombre`, separados por coma y espacio.
* Ejemplos:
    1. concatenar_nombre("Jose", "Ruiz") ➞ "Ruiz, Jose"
    2. concatenar_nombre("Ana", "Díaz") ➞ "Díaz, Ana"
    3. concatenar_nombre("María", "Ortiz") ➞ "Ortiz, María"

In [ ]:
def concatenar_nombre(nombre, apellido):
    return apellido + ", " + nombre

def concatenar_nombre(nombre, apellido):
    return f'{apellido}, {nombre}'

In [ ]:
print(concatenar_nombre("Jose", "Ruiz"))
print(concatenar_nombre("Ana", "Díaz"))
print(concatenar_nombre("María", "Ortiz"))

Ruiz, Jose
Díaz, Ana
Ortiz, María

## Reto 52: Calculadora de un string
* Cree una función que maneje expresiones matemáticas simples.
* La entrada es una expresión en forma de string.
* Ejemplos:
    1. calculadora("23+4") ➞ 27
    2. calculadora("45-15") ➞ 30
    3. calculadora("13+2-5*2") ➞ 5
    4. calculadora("49/7*2-3") ➞ 11.0

In [ ]:
def calculadora(cadena):
    return eval(cadena)

In [ ]:
print(calculadora("23+4"))
print(calculadora("45-15"))
print(calculadora("13+2-5*2"))
print(calculadora("49/7*2-3"))

27
30
5
11.0

## Reto 53: Concatenar el primer y último carácter de un String
* Cree una función que tome una cadena y devuelva el primer y último carácter concatenados.
* Ejemplos:
    1. primero_ultimo("hola") ➞ "ha"
    2. primero_ultimo("Hugo Martínez") ➞ "Hz"
    3. primero_ultimo("100%") ➞ "1%"

In [ ]:
def primero_ultimo(cadena):
    return cadena[0] + cadena[-1]

def primero_ultimo(cadena):
    return cadena[:1] + cadena[-1:]

def primero_ultimo(cadena):
    return cadena[:1] + cadena[len(cadena)-1:]

In [ ]:
print(primero_ultimo("Hola"))
print(primero_ultimo("Hugo Martínez"))
print(primero_ultimo("100%"))

Ha
Hz
1%

## Reto 54: String de longitud impar
* Dada una cadena, devuelva `True` si su longitud es impar o `False` si la longitud es par.
* Ejemplos:
    1. longitud_impar("Ana") ➞ True
    2. longitud_impar("Jose") ➞ False
    3. longitud_impar("aguacate") ➞ False
    4. longitud_impar("New York") ➞ False

In [ ]:
def longitud_impar(cadena):
    return len(cadena) % 2 != 0

def longitud_impar(cadena):
    return bool(len(cadena) % 2)

def longitud_impar(cadena):
    return len(cadena) % 2 == 1

def longitud_impar(cadena):
    return bool(len(cadena) & 1)
'''
&  -->  operación bitwise AND entre la longitud de la cadena y el número 1.
Si el último bit de la longitud es 1 (lo que ocurre solo cuando la longitud es impar),
la función devuelve True
'''

# usando un Operador Ternario

def longitud_impar(cadena):
    return True if len(cadena) % 2 else False

In [ ]:
print(longitud_impar("Ana"))
print(longitud_impar("Jose"))
print(longitud_impar("aguacate"))
print(longitud_impar("New York"))

True
False
False
False

## Reto 55: Array de dos
* Dados dos argumentos, devuelva una lista que contenga esos dos argumentos.
* Ejemplos:
    1. arr_de_dos(1, 2) ➞ [1, 2]
    2. arr_de_dos(51, 21) ➞ [51, 21]
    3. arr_de_dos(-4, 215) ➞ [-4, 215]

In [ ]:
def arr_de_dos(a, b):
    return [a] + [b]

def arr_de_dos(a, b):
    return [a, b]

def arr_de_dos(a, b):
    return list((a, b))   # tupla a lista

def arr_de_dos(a, b):
    result = []
    result.append(a)
    result.append(b)
    return result

In [ ]:
print(arr_de_dos(1, 2))
print(arr_de_dos(51, 21))
print(arr_de_dos(-4, 215))

[1, 2]
[51, 21]
[-4, 215]

## Reto 56: Repetir caracteres
* Cree una función que reciba una cadena.
* Diremos que el `inicio` son los primeros tres caracteres de la cadena.
* Si la longitud de la cadena es inferior a tres caracteres, el `inicio` será la propia cadena.
* La función retorna una nueva cadena que consiste en tres repeticiones del `inicio`.
* Ejemplos:
    1. inicio_tres("Python") ➞ "PytPytPyt"
    2. inicio_tres("Cuchara") ➞ "CucCucCuc"
    3. inicio_tres("biofrutas") ➞ "biobiobio"
    4. inicio_tres("Hi") ➞ "HiHiHi"

In [ ]:
def inicio_tres(cadena):
    return cadena[:3] * 3

def inicio_tres(s):
    n = len(s)
    inicio = s if  n < 3 else s[0] + s[1] + s[2]
    return inicio * 3

In [ ]:
print(inicio_tres("Python"))
print(inicio_tres("Cuchara"))
print(inicio_tres("biofrutas"))
print(inicio_tres("Hi"))

PytPytPyt
CucCucCuc
biobiobio
HiHiHi

## Reto 57: ¿Es Impar?
* Escriba una función que devuelva `True` si el número entero recibido es impar y `False` si es par.
* Tenemos una función que da error y además no funciona bien.
* Trate de mejorar la función o refactorice el código resolviendo el reto por otro método.
* Ejemplos:
    1. es_impar(5) ➞ True
    2. es_impar(8) ➞ False
    3. es_impar(0) ➞ False
    4. es_impar(-3) ➞ True
* La función incorrecta es esta:

```python
def es_impar(n):
	if n % 2 == 0:
		return True
	elif n % 2 == 1
		return False
```

In [ ]:
def es_impar(n):
    if n % 2 != 0:      # != 0
        return True
    else:               # else
        return False

def es_impar(n):
    return n % 2 != 0

def es_impar(n):
    return bool(n % 2)

def es_impar(n):
    return n & 1 == 1   # operación bitwise AND

In [ ]:
print(es_impar(5))
print(es_impar(8))
print(es_impar(0))
print(es_impar(-3))

True
False
False
True

## Reto 58: Cadena de guiones
* Cree una función que tome un número `n` (entre 1 y 60) y devuelva una cadena de `n`guiones.
* Ejemplos:
    1. n_guiones(1) ➞ "-"
    2. n_guiones(3) ➞ "---"
    3. n_guiones(5) ➞ "-----"
    4. n_guiones(60) ➞ "------------------------------------------------------------"

In [ ]:
def n_guiones(n):
    return '-' * n

def n_guiones(n):
    texto = ''
    for _ in range(n):
        texto += '-'
    return texto

def n_guiones(n):
    return ''.join(['-' for _ in range(n)])

def n_guiones(n):
    return ''.rjust(n, '-') #justifica una cadena, en este caso vacía, con n '_'

def n_guiones(n):
    return ''.ljust(n, '-') # justifica a la izquierda

In [ ]:
print(n_guiones(1))
print(n_guiones(3))
print(n_guiones(5))
print(n_guiones(60))

-
---
-----
------------------------------------------------------------

## Reto 59: Área de un Rectángulo
* Cree una función que calcule el área de un rectángulo.
* Si los argumentos no son ambos estrictamente positivos la función retornará `None`.
* Ejemplos:
    1. area(3, 4) ➞ 12
    2. area(10, 11) ➞ 110
    3. area(-1, 5) ➞ None
    4. area(4, -9) ➞ None
    5. area(-2, -3) ➞ None
    6. area(0, 2) ➞ None

In [ ]:
def area(base, altura):
    if base <= 0 or altura <= 0:
        return None
    else:
        return base * altura

# usando un operador ternario
def area(base, altura):
    return base * altura if base > 0 and altura > 0 else None

def area(b, h):
    return b * h if (b>0) * (h>0) else None

In [ ]:
print(area(3, 4))
print(area(10, 11))
print(area(-1, 5))
print(area(4, -9))
print(area(-2, -3))
print(area(0, 2))

12
110
None
None
None
None

## Reto 60: Ver si una lista tiene cierto número
* Escriba una función para verificar si una lista contiene el número dado.
* Ejemplos:
    1. check([1, 2, 3, 4, 5], 3) ➞ True
    2. check([1, 1, 2, 1, 1], 3) ➞ False
    3. check([5, 5, 5, 6], 5) ➞ True
    4. check([], 5) ➞ False

In [ ]:
def check(lista, num):
    return num in lista

def check(lista, numero):
    for elemento in lista:
        if elemento == numero:
            return True
    return False

def check(lista, num):
    return any(e == num for e in lista)

# La función any() junto con una expresión generadora
# compara cada elemento de la lista con el número dado.
# Si algún elemento coincide, any() devuelve True; de lo contrario, devuelve False.

In [ ]:
print(check([1, 2, 3, 4, 5], 3))
print(check([1, 1, 2, 1, 1], 3))
print(check([5, 5, 5, 6], 5))
print(check([], 5))

True
False
True
False

## Reto 61: ¿Es par o impar?
* Cree una función que tome un número entero como argumento y devuelva "par" para números pares e "impar" para números impares.
* Ejemplos:
    1. par_impar(3) ➞ "impar"
    2. par_impar(146) ➞ "par"
    3. par_impar(-19) ➞ "impar"
    4. par_impar(0) ➞ "par"

In [ ]:
def par_impar(n):
    if n % 2 == 0:
        return "par"
    else:
        return "impar"

def par_impar(n):
    if n % 2:
        return "impar"
    return "par"

# usando un operador ternario
def par_impar(n):
    return 'impar' if n % 2 else 'par'

# usando un diccionario
def par_impar(n):
    paridad = {0: 'par', 1: 'impar'}
    return paridad[n % 2]

# divmod da el cociente y el resto
def par_impar(n):
    _, resto = divmod(n, 2)
    return 'par' if resto == 0 else 'impar'

In [ ]:
print(par_impar(3))
print(par_impar(146))
print(par_impar(-19))
print(par_impar(0))

impar
par
impar
par

## Reto 62: Palabra plural o singular
* Cree una función que tome una palabra y determine si es plural o no.
* Para simplificar, consideraremos que una palabra es plural si termina en "s".
* Ejemplos:
    1. es_plural("cambios") ➞ True
    2. es_plural("cambio") ➞ False
    3. es_plural("dudas") ➞ True
    4. es_plural("camión") ➞ False

In [ ]:
def es_plural(txt):
    return txt[-1] == 's'

# endswith()
# verifica si la palabra termina con los caracteres especificados

def es_plural(palabra):
    return palabra.endswith('s')

def es_plural(palabra):
    return list(palabra).pop() == 's'

In [ ]:
print(es_plural("cambios"))
print(es_plural("dudas"))
print(es_plural("cambio"))
print(es_plural("camión"))

True
True
False
False

## Reto 63: Posiciones de conmutadores
* Disponemos de `n` conmutadores de encendido/apagado (On/Off Switches).
* Cree una función que devuelva cuántas disposiciones posibles pueden provenir de un determinado número de interruptores.
* En otras palabras, para un número `n` de interruptores, ¿cuántos patrones diferentes de encendido y apagado podemos tener?
* Ejemplos:
    1. posiciones(1) ➞ 2
    2. posiciones(3) ➞ 8
    3. posiciones(10) ➞ 1024

In [ ]:
def posiciones(n):
    return 2 ** n

def posiciones(n):
    result = 1
    for i in range(1, n+1):
        result *= 2
    return result

# elevar con recursividad
def posiciones(n):
    if n == 0:
        return 1
    return 2 * posiciones(n - 1)

In [ ]:
print(posiciones(1))
print(posiciones(3))
print(posiciones(10))

2
8
1024

## Reto 64: ¿Es el último caracter una "N"?
* Cree una función que tome una cadena (un nombre).
* Si el último carácter del nombre es una "n", devuelve `True`; en caso contrario, devuelve `False`.
* Ejemplos:
    1. ultimo_caracter_n("Aaron") ➞ True
    2. ultimo_caracter_n("Pierre") ➞ False
    3. ultimo_caracter_n("Robert") ➞ False
    4. ultimo_caracter_n("Antón") ➞ True
    5. ultimo_caracter_n("CALVIN") ➞ True

In [ ]:
def ultimo_caracter_n(nombre):
    return nombre[-1].lower() == 'n'

def ultimo_caracter_n(nombre):
    return nombre.endswith('n') or nombre.endswith('N')

def ultimo_caracter_n(nombre):
    return nombre[-1] in {'n', 'N'}     # conjunto

In [ ]:
print(ultimo_caracter_n("Aaron"))
print(ultimo_caracter_n("Antón"))
print(ultimo_caracter_n("CALVIN"))
print(ultimo_caracter_n("Pierre"))
print(ultimo_caracter_n("Robert"))

True
True
True
False
False

## Reto 65: Descontrol en la empaquetadora
* ¡El sistema de embalaje es un caos!
* Los dulces se encuentran dispersos por todo el almacén, el cereal ha desaparecido y se ha colocado pan dentro de una botella.
* ¿Qué está ocurriendo con esta máquina?
* Los dulces deberían estar empaquetados en plástico, el pan dentro de una bolsa y las bebidas en botellas.
* Sin embargo, la función de la máquina envasadora, `empaquetar()`, no está funcionando bien.
* Cree correctamente la función para que se cumplan estos casos.
* Ejemplos:
    1. empaquetar("Pan") ➞ "bolsa"
    2. empaquetar("Cerveza") ➞ "botella"
    3. empaquetar("Caramelos") ➞ "plástico"
    4. empaquetar("Queso") ➞ None

In [ ]:
def empaquetar(producto):
    if producto == "Pan":
        return 'bolsa'
    elif producto == "Cerveza":
        return 'botella'
    elif producto == "Caramelos":
        return 'plástico'
    else:
        return None

# usando un Diccionario

def empaquetar(producto):
    contenedores = {
        "Pan": "bolsa",
        "Cerveza": "botella",
        "Caramelos": "plástico"
    }   # ventaja: se pueden añadir más productos aquí
    if producto in contenedores:
        return contenedores[producto]
    else:
        return None

# usando get para ver si el producto está en el diccionario
def empaquetar(producto):
    # Diccionario que mapea productos a sus contenedores correspondientes
    productos_contenedores = {
        "Pan": "bolsa",
        "Cerveza": "botella",
        "Caramelos": "plástico"
    }
    return productos_contenedores.get(producto)

# lista de tuplas
def empaquetar(producto):
    productos_contenedores = [
        ("Pan", "bolsa"),
        ("Cerveza", "botella"),
        ("Caramelos", "plástico")
    ]
    for (prod, cont) in productos_contenedores:
        if prod == producto:
            return cont
    return None

# con dos listas y usando zip()
def empaquetar(producto):
    productos = ["Caramelos", "Pan", "Cerveza"]
    envases = ["plástico", "bolsa", "botella"]
    for p, e in zip(productos, envases):
        if producto == p:
            return e
    return None

# con dos listas relacionando elementos por su index
def empaquetar(producto):
    productos = ["Caramelos", "Pan", "Cerveza"]
    envases = ["plástico", "bolsa", "botella"]
    for i in range(len(productos)):
        if producto == productos[i]:
            return envases[i]
    return None

In [ ]:
print(empaquetar("Pan"))
print(empaquetar("Cerveza"))
print(empaquetar("Caramelos"))
print(empaquetar("Queso"))

bolsa
botella
plástico
None

## Reto 66: Sumar una lista sin `sum`
* Tenemos una función que no trabaja correctamente.
* Corrija el código para que la función se ajuste a los siguientes ejemplos.
* Ejemplos:
	1. suma_lista([1, 2, 3, 4, 5]) ➞ 15
	2. suma_lista([-1, 0, 1]) ➞ 0
	3. suma_lista([0, 4, 8, 12]) ➞ 24


* Esta es la función que da problemas:
```python
def suma_lista(lista):
	total
	for i in range(0,lista):
		total += lista[i]
  return total
```

In [ ]:
# Método 1. Si nos dejaran usar sum
def suma_lista(lista):
    return sum(lista)

# Método 2. Corrigiendo la función que daba problemas
def suma_lista(lista):
    total = 0
    for i in range(0, len(lista)):
        total += lista[i]
    return total

# Método 3
def suma_lista(lista):
    total = 0
    for elemento in lista:
        total += elemento
    return total

# Método 4. Suma recursiva
def suma_lista(lista):
    if len(lista) == 1:
        return lista[0]
    else:
        return lista[0] + suma_lista(lista[1:])

# Método 5. Usando reduce de la librería

from functools import reduce

def suma(a, b):
    return a + b

def suma_lista(lista):
    return reduce(suma, lista)

# Método 6. Creando mi propio reduce
def mi_reduce(func, lista):
    acumulador = 0
    for elemento in lista:
        acumulador = func(acumulador, elemento)
    return acumulador

def suma(a, b):
    return a + b

def suma_lista(lista):
    return mi_reduce(suma, lista)

In [ ]:
print(suma_lista([1, 2, 3, 4, 5]))
print(suma_lista([-1, 0, 1]))
print(suma_lista([0, 4, 8, 12]))

15
0
24

## Reto 67: Suma condicional
* Cree una función que devuelva la suma de los elementos estrictamente menores que 10.
* Ejemplos:
    1. suma_menores_diez([1, 5, 11]) ➞ 6
    2. suma_menores_diez([0, 9, 10, 50]) ➞ 9
    3. suma_menores_diez([-3, -5, -11, 4]) ➞ -15

In [ ]:
def suma_menores_diez(lista):
    total = 0
    for elemento in lista:
        if elemento < 10:
            total += elemento
    return total

def suma_menores_diez(arr):
    return sum(e for e in arr if e < 10)

def suma_menores_diez(arr):
    return sum(filter(lambda x: x < 10, arr))

def suma_menores_diez(arr):
    return sum(e * (e < 10) for e in arr)

def suma_menores_diez(lista):
    return sum(map(lambda x: x * (x < 10), lista))

def suma_menores_diez(lista):
    condicion = [1 if elemento < 10 else 0 for elemento in lista]   # Array de 0's y 1's
    return sum(condicion[i] * lista[i] for i in range(len(lista)))

In [ ]:
print(suma_menores_diez([1, 5, 11]))
print(suma_menores_diez([0, 9, 10, 50]))
print(suma_menores_diez([-3, -5, -11, 4]))

6
9
-15

## Reto 68: Char to ASCII
* Cree una función que devuelva el valor ASCII del carácter pasado.
* Ejemplos:
    1. ctoa("A") ➞ 65
    2. ctoa("z") ➞ 122
    3. ctoa("*") ➞ 42
    4. ctoa(" ") ➞ 32

In [ ]:
def ctoa(caracter):
    return ord(caracter)

In [ ]:
print(ctoa("A"))
print(ctoa("z"))
print(ctoa("*"))
print(ctoa(" "))

65
122
42
32

## Reto 69:  Separar palabras
* La función recibe un caracter y una cadena.
* La función retorna las palabras de la cadena separadas por el caracter recibido.
* Ejemplos:
    1. separar_palabras("_", "Python is fun") ➞ "Python_is_fun"
    2. separar_palabras("#", "hello world!") ➞ "hello#world!"
    3. separar_palabras("@", " ") ➞ "@"

* Asegúrese de que no haya espacios entre palabras al devolver la función.

In [ ]:
def separar_palabras(caracter, frase):
    return frase.replace(" ", caracter)

def separar_palabras(caracter, cadena):
    lista_palabras = cadena.split()
    print("palabras:", lista_palabras)
    if not lista_palabras:    # si la lista está vacía
        return caracter
    return caracter.join(lista_palabras)

def separar_palabras(c, s):
    l = s.split()
    return c.join(l) if len(l) else c

In [ ]:
print(separar_palabras("_", "Python is fun"))
print(separar_palabras("#", "hello world!"))
print(separar_palabras("@", " "))

Python_is_fun
hello#world!
@

## Reto 70: Cambios de residencia
* He comprobado que hay personas que se cambian de casa con más frecuencia que otras.
* Me gustaría calcular cuánto tiempo, en promedio, una persona vive en la misma casa.
* Dada la edad de una persona y el número de veces que se ha mudado de casa, devuelva el número promedio de años que ha pasado viviendo en la misma casa.
* Ejemplos:
    1. years_in_one_house(30, 1) ➞ 15
    2. years_in_one_house(15, 2) ➞ 5
    3. years_in_one_house(80, 0) ➞ 80

In [ ]:
def years_in_one_house(edad, mudanzas):
    return edad / (mudanzas + 1)

# función lambda
years_in_one_house = lambda edad, mudanzas: edad / (mudanzas + 1)

In [ ]:
print(years_in_one_house(30, 1))
print(years_in_one_house(15, 2))
print(years_in_one_house(80, 0))

30.0
7.5
80.0

## Reto 71: El complementario de un booleano
* En programación, ciertos valores pueden ser evaluados como booleanos, donde algunos valores son equivalentes a Verdadero (`True`) y otros a Falso (`False`).
* Por ejemplo, en muchos lenguajes de programación, 1 (o cualquier valor diferente de 0) se considera `True`, mientras que el valor 0 se considera `False`.
* Cree una función que devuelva el complemento del booleano dado.
* El complemento de un booleano se refiere a la inversión del valor booleano.
* Independientemente del tipo de dato de entrada (booleano o entero), la función debe devolver 1 si el valor dado es considerado `False` y 0 si es considerado `True`.
* Ejemplos:
    1. flip_bool(True) ➞ 0
    2. flip_bool(False) ➞ 1
    3. flip_bool(1) ➞ 0
    4. flip_bool(0) ➞ 1
    5. flip_bool(7) ➞ 0

In [ ]:
def flip_bool(valor):
    if valor:           # si valor es True
        return 0
    else:
        return 1

def flip_bool(valor):
    return int(not valor)

In [ ]:
print(flip_bool(True))
print(flip_bool(False))
print(flip_bool(1))
print(flip_bool(0))
print(flip_bool(7))

0
1
0
1
0

## Reto 72: Comparando Arrays
* La programadora [Ada Lovelace](https://es.wikipedia.org/wiki/Ada_Lovelace), está intentando crear una función que devuelva `True` si dos listas comparten la misma longitud y tienen valores numéricos idénticos en cada índice; de ​​lo contrario, devolverá `False`.
* Sin embargo, la solución que ofrece su función tiene un formato inesperado.
* ¿Puede arreglar la función de Ada para que se comporte como se ve en los ejemplos siguientes?
* Ejemplos:
	1. comprobar_iguales([4, 7, 6], [4, 5, 6]) ➞ False
	2. comprobar_iguales([1, 2], [1, 3]) ➞ False
	3. comprobar_iguales([1, 2], [1, 2]) ➞ True
	4. comprobar_iguales([4, 5, 6], [4, 5, 12/2]) ➞ True
	5. comprobar_iguales(["*"], [chr(42)]) ➞ True

* La función incorrecta es la siguiente:

```python
def comprobar_iguales(lst1, lst2):
	if [lst1[::] = lst2[::]]:
		print(true)
	else:
		print(false)
```

In [ ]:
def comprobar_iguales(lst1, lst2):
    if lst1 == lst2:
        return True
    else:
        return False

def comprobar_iguales(lst1, lst2):
    return lst1 == lst2

def comprobar_iguales(lst1, lst2):
    return all(x == y for x, y in zip(lst1, lst2))

In [ ]:
print(comprobar_iguales([4, 7, 6], [4, 5, 6]))
print(comprobar_iguales([1, 2], [1, 3]))
print(comprobar_iguales([1, 2], [1, 2]))
print(comprobar_iguales([4, 5, 6], [4, 5, 12/2]))
print(comprobar_iguales(["*"], [chr(42)]))

False
False
True
True
True

## Reto 73: Perdiendo el primer carácter
* Cree una función que tome una palabra y devuelva la nueva palabra sin incluir el primer carácter.
* Ejemplos:
    1. nueva_palabra("cosa") ➞ "osa"
    2. nueva_palabra("Foca") ➞ "oca"
    3. nueva_palabra("Hola") ➞ "ola"

In [ ]:
# Método 1
def nueva_palabra(palabra):
    return palabra[1:]

# Método 2. Usando un bucle
def nueva_palabra(palabra):
    result = ''
    for i in range(1, len(palabra)):
        result += palabra[i]
    return result

# Método 3. Con list comprehension
def nueva_palabra(palabra):
    return ''.join([letra for letra in palabra[1:]])

# Método 4. Convirtiendo la palabra en una lista
def nueva_palabra(palabra):
    return ''.join(list(palabra)[1:])

In [ ]:
print(nueva_palabra("cosa"))
print(nueva_palabra("Foca"))
print(nueva_palabra("Hola"))

osa
oca
ola

## Reto 74: Área de la figura
* Escriba una función que acepte base, altura y forma ("triángulo", "paralelogramo") como entrada y calcule el área de esa figura.
* La base y la altura pueden ser números que contengan decimales.
* El área de un triángulo es `b * h / 2`.
* El área de un paralelogramo es `b * h`.
* Ejemplos:
    1. area_figura(2, 3, "triángulo") ➞ 3
    2. area_figura(8, 6, "paralelogramo") ➞ 48
    3. area_figura(2.9, 1.3, "paralelogramo") ➞ 3.77
    4. area_figura(2.8, 10.5, "triángulo") ➞ 14.7
    5. area_figura(3, 7, "elipse") ➞ None

* Observe que triángulo lleva tilde.
* Para cualquier otra figura que no sea un triángulo o un paralelogramo la función retornará `None`.

In [ ]:
# Método 1. Con condicional if
def area_figura(b, h, figura):
    if figura.lower() == 'triángulo':
        return b * h / 2
    elif figura.lower() == 'paralelogramo':
        return b * h
    else:
        return None

# Método 2. Con un diccionario y con get
def area_figura(base, altura, forma):
    formulas = {
        "triángulo": lambda b, h: b * h / 2,
        "paralelogramo": lambda b, h: b * h
    }
    area = formulas.get(forma.lower())
    if area:
        return area(base, altura)
    else:
        return None

# Método 3. Con un diccionario y sin get
def area_figura(base, altura, forma):
    formulas = {
        "triángulo": lambda b, h: b * h / 2,
        "paralelogramo": lambda b, h: b * h
    }
    if forma.lower() in formulas:
        return formulas[forma.lower()](base, altura)
    else:
        return None

In [ ]:
print(area_figura(2, 3, "triángulo"))
print(area_figura(8, 6, "paralelogramo"))
print(area_figura(2.9, 1.3, "paralelogramo"))
print(area_figura(2.8, 10.5, "triángulo"))
print(area_figura(3, 7, "elipse"))

3.0
48
3.77
14.7
None

## Reto 75: Mitad, cuarto y octavo
* Cree una función que tome un número y devuelva una lista de tres números:
    1. la mitad del número
    2. un cuarto del número y
    3. un octavo del número
* Ejemplos:
    1. en_partes(6) ➞ [3.0, 1.5, 0.75]
    2. en_partes(22) ➞ [11, 5.5, 2.75]
    3. en_partes(25) ➞ [12.5, 6.25, 3.125]
    4. en_partes(400) ➞ [200.0, 100.0, 50.0]

In [ ]:
def en_partes(n):
    return [n/2, n/4, n/8]

def en_partes(n):
    return [n / 2**i for i in range(1, 4)]

def en_partes(n):
    return list(map(lambda x: n / x, [2, 4, 8]))

def en_partes(numero):
    partes = []
    for divisor in [2, 4, 8]:
        partes.append(numero / divisor)
    return partes

def calcular_partes(numero):
    partes = []
    divisores = [2, 4, 8]
    for divisor in divisores:
        partes += [numero / divisor]
    return partes

def en_partes(numero):
    return [numero / divisor for divisor in [2, 4, 8]]

In [ ]:
print(en_partes(6))
print(en_partes(22))
print(en_partes(25))
print(en_partes(400))

[3.0, 1.5, 0.75]
[11.0, 5.5, 2.75]
[12.5, 6.25, 3.125]
[200.0, 100.0, 50.0]

## Reto 76: Contador condicional
* Dada una lista de números enteros decir cuantos son mayores o iguales a 10.
* Ejemplos:
    1. mayores_a_diez([7, 10, 24, 1, 50]) ➞ 3
    2. mayores_a_diez([1, 2, 20]) ➞ 1
    3. mayores_a_diez([-1, 12, 20, 30]) ➞ 3
    4. mayores_a_diez([]) ➞ 0

In [ ]:
def mayores_a_diez(lista):
    contador = 0
    for numero in lista:
        if numero >= 10:
            contador += 1
    return contador

def mayores_a_diez(lista):
    return sum([1 for numero in lista if numero >= 10])

def mayores_a_diez(lista):
    return len([1 for numero in lista if numero >= 10])

def mayores_a_diez(lista):
    return len(list(filter(lambda x: x >= 10, lista)))

def mayores_a_diez(lista):
    return sum(map(lambda x: x >= 10, lista))

In [ ]:
print(mayores_a_diez([7, 10, 24, 1, 50]))
print(mayores_a_diez([1, 2, 20]))
print(mayores_a_diez([-1, 12, 20, 30]))
print(mayores_a_diez([]))

3
1
3
0

## Reto 77: Encontrar el número mayor y menor
* Cree una función que acepte una lista de números y devuelva los números mínimo y máximo, en ese orden (como una lista).
* Ejemplos:
    1. min_max([1, 2, 3, 4, 5]) ➞ [1, 5]
    2. min_max([200, 5]) ➞ [5, 200]
    3. min_max([1]) ➞ [1, 1]

In [ ]:
# Método 1. Usando max, min
def min_max(lista):
    return [min(lista), max(lista)]

# Método 2. Usando for in
def min_max(lista):
    mayor = menor = lista[0]
    for num in lista:
        if num > mayor:
            mayor = num
        elif num < menor:
            menor = num
    return [menor, mayor]

# Método 3. Usando operadores ternarios
def min_max(lista):
    mayor = menor = lista[0]
    for num in lista:
        menor = num if num < menor else menor
        mayor = num if num > mayor else mayor
    return [menor, mayor]

# Método 4. Usando for range
def min_max(lista):
    mayor = menor = lista[0]
    for i in range(1, len(lista)):
        if lista[i] < menor:
            menor = lista[i]
        elif lista[i] > mayor:
            mayor = lista[i]
    return [menor, mayor]

# Método 5. Ordenando la lista
def min_max(lista):
    lista_ordenada = sorted(lista)
    menor = lista_ordenada[0]
    mayor = lista_ordenada[-1]
    return [menor, mayor]

# Método 6. Ordenando la lista y con list comprehension
def min_max(lista):
    return [sorted(lista)[i] for i in (0, -1)]

In [ ]:
print(min_max([1, 2, 3, 4, 5]))
print(min_max([200, 5]))
print(min_max([1]))

[1, 5]
[5, 200]
[1, 1]

## Reto 78: Comprobar espacios en una cadena
* Cree una función que devuelva `True` si una cadena contiene espacios.
* Ejemplos:
    1. tiene_espacios("¿Qué tal estás?") ➞ True
    2. tiene_espacios(" ") ➞ True
    3. tiene_espacios("") ➞ False
    4. tiene_espacios("hello") ➞ False
    5. tiene_espacios(",./!@#") ➞ False
* Una cadena vacía no contiene espacios.

### Comentario
* La función any() devuelve True si algún elemento de un iterable es True.
* Si no, devuelve Falso.

In [ ]:
any([False, False, False, False])

False

In [ ]:
any([False, False, True, False])

True

In [ ]:
# Método 1
def tiene_espacios(cadena):
    return ' ' in cadena

# Método 2. Con bucle for
def tiene_espacios(cadena):
    for caracter in cadena:
        if caracter == ' ':
            return True
    return False

# Método 3. Con any
def tiene_espacios(cadena):
    return any(caracter == ' ' for caracter in cadena)
# any() verifica si al menos un carácter es un espacio en blanco

# Método 4. Con any y con isspace
def tiene_espacios(cadena):
    return any(caracter.isspace() for caracter in cadena)

# Método 5. Con un generador
def tiene_espacios(cadena):
    return bool(sum(caracter == ' ' for caracter in cadena))

In [ ]:
print(tiene_espacios("¿Qué tal estás?"))
print(tiene_espacios(" "))
print(tiene_espacios(""))
print(tiene_espacios("hola"))
print(tiene_espacios(",./!@#"))

True
True
False
False
False

## Reto 79: ¿Cuántas letras 'd' hay?
* Crea una función que cuente cuántas 'D' hay en una oración.
* En el cálculo computan tanto las letras D mayúsculas como las minúsculas.
* Su función no debe distinguir entre mayúsculas y minúsculas.
* Ejemplos:
    1. cuenta_d("Defender la democracia es decisivo") ➞ 4
    2. cuenta_d("Olvidamos deberes pero no derechos") ➞ 3
    3. cuenta_d("Eduardo hizo una despedida el domingo") ➞ 6

In [ ]:
# Método 1. Con la función count()
def cuenta_d(frase):
    return frase.lower().count('d')

# Método 2. Con un bucle y un contador
def cuenta_d(frase):
    contador = 0
    for letra in frase:
        if letra.lower() == 'd':
            contador += 1
    return contador

# Método 3. Sumando un generador de unos y sin usar lower()
def cuenta_d(frase):
    return sum(1 for letra in frase if letra == 'd' or letra == 'D')

# Método 4. Con filter
def cuenta_d(frase):
    return len(list(filter(lambda x: x.lower() == 'd', frase)))

# Método 5. Con map
def cuenta_d(frase):
    return sum(map(lambda x: x in 'dD', frase))

In [ ]:
print(cuenta_d("Defender la democracia es decisivo"))
print(cuenta_d("Olvidamos deberes pero no derechos"))
print(cuenta_d("Eduardo hizo una despedida el domingo"))

4
3
6

## Reto 80: Crear ID
* Muchos IDs (para darse de alta en páginas o aplicaciones) se crean utilizando el nombre de la persona.
* Cree una función que devolverá una identificación de cuatro caracteres utilizando el nombre y apellido de la persona.
* El primer carácter será la primera letra del nombre pero en minúsculas.
* Los siguientes tres caracteres serán los primeros tres caracteres del apellido, donde la primera letra estará en mayúscula y las otras dos en minúsculas.
* Ejemplos:
    1. crear_id("maría", "ruiz") ➞ "mRui"
    2. crear_id("Juan", "Martín") ➞ "jMar"
    3. crear_id("Andrew", "McDonald") ➞ "aMcd"

### Comentario
* `capitalize()` convierte en mayúscula solo la primera letra de la cadena.
* `title()` convierte en mayúscula la primera letra de cada palabra en la cadena.

In [ ]:
cadena = "hola mundo planetaTierra"
cadena.capitalize()

'Hola mundo planetatierra'

In [ ]:
cadena = "hola mundo planetaTierra"
cadena.title()

'Hola Mundo Planetatierra'

In [ ]:
# Método 1
def crear_id(nombre, apellido):
    return nombre[0].lower() + apellido[0].upper() + apellido[1:3].lower()

# Método 2
def crear_id(nombre, apellido):
    return nombre[0].lower() + apellido[:3].capitalize()

# Método 3
def crear_id(nombre, apellido):
    return f"{nombre[0].lower()}{apellido.title()[:3]}"

In [ ]:
print(crear_id("maría", "ruiz"))
print(crear_id("Juan", "Martín"))
print(crear_id("Andrew", "McDonald"))

mRui
jMar
aMcd

## Reto 81: Desempaquetando listas
* Dada una lista de números como por ejemplo:
    - lista = [10, 20, 30, 40, 50]
* deseamos recoger el contenido de la lista en tres variables:  
    - primero ➞ 10
    - segundo ➞ 20
    - resto ➞ [30, 40, 50]
* La función devolverá el contenido de las tres variables separado por comas.
* Ejemplos:
    1. separa([10, 20, 30, 40, 50]) ➞ 10, 20, [30, 40, 50]
    2. separa([7, 8, 9, 10, 11, 99]) ➞ 7, 8, [9, 10, 10, 99]

In [ ]:
def separa(lista):
    primero, segundo, *resto = lista
    return f"{primero}, {segundo}, {resto}"

def separa(lista):
    return f"{lista[0]}, {lista[1]}, {lista[2:]}"

def separa(lista):
    primero = lista.pop(0)
    segundo = lista.pop(0)
    resto = lista
    return f"{primero}, {segundo}, {resto}"

In [ ]:
print(separa([10, 20, 30, 40, 50]))
print(separa([7, 8, 9, 10, 11, 99]))

10, 20, [30, 40, 50]
7, 8, [9, 10, 11, 99]

## Reto 82: Lista con múltiplos de 3 y 5
* Cree una función que, dada una secuencia de números enteros en forma de lista, identifique y devuelva una lista con aquellos números que son simultáneamente múltiplos de 3 y múltiplos de 5.
* Ejemplos:
    1. multiplos_de_3_y_5([1, 200, 300, 45, 500, 1000, 150, 600]) ➞ [300, 45, 150, 600]
    2. multiplos_de_3_y_5([15, 20, 25, 30, 35, 40]) ➞ [15, 30]
    3. multiplos_de_3_y_5([16, 17, 18]) ➞ []
    4. multiplos_de_3_y_5([]) ➞ []

In [ ]:
def multiplos_de_3_y_5(lista):
    multiplos = []
    for numero in lista:
        if numero % 3 == 0 and numero % 5 == 0:
            multiplos.append(numero)
    return multiplos

def multiplos_de_3_y_5(lista):
    return [num for num in lista if num % 15 == 0]

def multiplos_de_3_y_5(lista):
    es_multiplo_de_15 = lambda x: x % 15 == 0
    multiplos = list(filter(es_multiplo_de_15, lista))
    return multiplos

from itertools import filterfalse

def multiplos_de_3_y_5(lista):
    no_es_multiplo_de_15 = lambda x: x % 15
    multiplos = list(filterfalse(no_es_multiplo_de_15, lista))
    return multiplos

In [ ]:
print(multiplos_de_3_y_5([1, 200, 300, 45, 500, 1000, 150, 600]))
print(multiplos_de_3_y_5([15, 20, 25, 30, 35, 40]))
print(multiplos_de_3_y_5([16, 17, 18]))
print(multiplos_de_3_y_5([]))

[300, 45, 150, 600]
[15, 30]
[]
[]

## Reto 83: AND, OR, NOT
* Crear tres funciones que trabajen como puertas lógicas.
* Las tres puertas lógicas son: `AND`, `OR` y `NOT`.
* Ejemplos:
    1. funcion_AND(1, 1) ➞ 1
    2. funcion_AND(1, 0) ➞ 0
    3. funcion_AND(0, 0) ➞ 0
    4. funcion_OR(1, 0) ➞ 1
    5. funcion_OR(1, 1) ➞ 1
    6. funcion_OR(0, 0) ➞ 0
    7. funcion_NOT(0) ➞ 1
    8. funcion_NOT(1) ➞ 0

In [ ]:
def funcion_AND(a, b):
    return a and b

def funcion_OR(a, b):
    return a or b

def funcion_NOT(a):
    return int(not a)

In [ ]:
print(funcion_AND(1, 1))
print(funcion_AND(1, 0))
print(funcion_AND(0, 0))
print(funcion_OR(1, 0))
print(funcion_OR(1, 1))
print(funcion_OR(0, 0))
print(funcion_NOT(0))
print(funcion_NOT(1))

1
0
0
1
1
0
1
0

## Reto 84: Comprobar si todos son verdaderos
* Cree una función que devuelva `True` si todos los parámetros son verdaderos y `False` en caso contrario.
* Ejemplos:
    1. todos_verdaderos(True, True, True) ➞ True
    2. todos_verdaderos(True, False, True) ➞ False
    3. todos_verdaderos(5, 4, 3, 2, 1, 0) ➞ False
    4. todos_verdaderos(1, 1, 1, 1, 1, 1, 1, 1) ➞ True
    5. todos_verdaderos(1, 1, 1, 1, 1, 1, 1, 2) ➞ True

In [ ]:
def todos_verdaderos(*args):
    return all(args)

def todos_verdaderos(*args):
    for elemento in args:
        if not elemento:
            return False
    return True

In [ ]:
print(todos_verdaderos(True, True, True))
print(todos_verdaderos(True, False, True))
print(todos_verdaderos(5, 4, 3, 2, 1, 0))
print(todos_verdaderos(1, 1, 1, 1, 1, 1, 1, 1))
print(todos_verdaderos(1, 1, 1, 1, 1, 1, 1, 2))

True
False
False
True
True

## Reto 85: Convertir Euros a USD
* Cree una función que pueda convertir cierta cantidad de Euros en dólares estadounidenses (USD).
* Se ha de tomar el cambio de 1 dolar equivalente a 0,9218 Euros.
* El resultado se redondeará a dos decimales.
* Ejemplos:
    1. euro_a_usd(1) ➞ 1.08
    2. euro_a_usd(500) ➞ 542.42
    3. euro_a_usd(10_000) ➞ 10848.34

In [ ]:
def euro_a_usd(euros):
    return round(euros / 0.9218, 2)

def euro_a_usd(euros):
    cambio = euros / 0.9218
    return f"{cambio:.2f}"

In [ ]:
print(euro_a_usd(1))
print(euro_a_usd(500))
print(euro_a_usd(10_000))

1.08
542.42
10848.34

## Reto 86: Seguridad en el puente
* Cree una función que verifique si es seguro caminar sobre un puente, es decir, si no hay espacios que representen huecos por los que se pueda caer.
* Ejemplos:
    1. puente_seguro("####") ➞ True
    2. puente_seguro("## ####") ➞ False
    3. puente_seguro("#") ➞ True
    4. puente_seguro("## ##  ##") ➞ False
    5. puente_seguro("") ➞ True
    6. puente_seguro(" ####") ➞ False

In [ ]:
def puente_seguro(puente):
    return ' ' not in puente

def puente_seguro(puente):
    return all(char != ' ' for char in puente)

def puente_seguro(puente):
    return len(puente) == len(puente.replace(' ', ''))

In [ ]:
print(puente_seguro("####"))
print(puente_seguro("## ####"))
print(puente_seguro("#"))
print(puente_seguro("## ##  ##"))
print(puente_seguro(""))
print(puente_seguro(" ####"))

True
False
True
False
True
False

## Reto 87: Recrear la función `abs()`
* La función `abs()` devuelve el valor absoluto de un número.
* Esto significa que devuelve el valor positivo de ese número sin importar el signo.
* Puede entenderse como la distancia desde cero hasta ese valor.
* Cree una función que emule esta funcionalidad.
* Ejemplos:
    1. absoluto(-5) ➞ 5
    2. absoluto(-3.14) ➞ 3.14
    3. absoluto(25) ➞ 25
    4. absoluto(0) ➞ 0

In [ ]:
def absoluto(numero):
    if numero < 0:
        return -numero
    return numero

# usando un operador ternario
def absoluto(n):
    return n if n >= 0 else -n

def absoluto(numero):
    return (numero ** 2) ** 0.5     # retorna un float

def absoluto(numero):
    return max(numero, -numero)

In [ ]:
print(absoluto(-5))
print(absoluto(-3.14))
print(absoluto(25))
print(absoluto(0))

5
3.14
25
0

## Reto 88: Diferencia de velocidades
* Estamos probando patinetes en tandas de tres, y viendo la velocidad que puede alcanzar cada uno.
* Deseamos conocer la diferencia de velocidades entre el más rápido y el más lento.
* Ejemplos:
    1. diferencia_velocidades(14, 33, 40) ➞ 26
    2. diferencia_velocidades(33, 63, 35) ➞ 30
    3. diferencia_velocidades(10, 15, 10) ➞ 5

In [ ]:
# Método 1
def diferencia_velocidades(a, b, c):
    return max(a, b, c) - min(a, b, c)

# Método 2
def diferencia_velocidades(a, b, c):
    velocidades = [a, b, c]
    max = min = velocidades[0]
    for v in velocidades:
        max = v if v > max else max
        min = v if v < min else min
    return max - min

# Método 3. Con sorted
def diferencia_velocidades(a, b, c):
    ordenadas = sorted([a, b, c])
    return ordenadas[-1] - ordenadas[0]

# Método 4. Se comparan las velocidades dos a dos
def diferencia_velocidades(a, b, c):
    max = min = a
    if b > max:
        max = b
    elif b < min:
        min = b
    if c > max:
        max = c
    elif c < min:
        min = c
    return max - min

In [ ]:
print(diferencia_velocidades(14, 33, 40))
print(diferencia_velocidades(33, 63, 35))
print(diferencia_velocidades(10, 15, 10))

26
30
5

## Reto 89: Calculadora con operadores
* Cree una función que tome dos números y un operador matemático y devuelva el resultado.
* Las únicas operaciones utilizadas son las de los ejemplos que se muestran.
* Ejemplos:
    1. calculate(4, 9, "+") ➞ 13
    2. calculate(12, 5, "-") ➞ 7
    3. calculate(6, 3, "*") ➞ 18
    4. calculate(25, 5, "//") ➞ 5
    5. calculate(14, 3, "%") ➞ 2
    6. calculate(7, 2, "/") ➞ 3.5

In [ ]:
def calculate(a, b, operacion):
    if operacion == '+':
        return a + b
    elif operacion == '-':
        return a - b
    elif operacion == '*':
        return a * b
    elif operacion == '//':
        return a // b
    elif operacion == '%':
        return a % b
    elif operacion == '/':
        return a / b

def calculate(num1, num2, operador):
    operaciones = {
        "+": lambda x, y: x + y,
        "-": lambda x, y: x - y,
        "*": lambda x, y: x * y,
        "//": lambda x, y: x // y,
        "%": lambda x, y: x % y,
        "/": lambda x, y: x / y
    }
    if operador in operaciones:
        return operaciones[operador](num1, num2)
    else:
        return "Operador no válido"

def calculate(num1, num2, operador):
    return eval(f"{num1} {operador} {num2}")

In [ ]:
print(calculate(4, 9, "+"))
print(calculate(12, 5, "-"))
print(calculate(6, 3, "*"))
print(calculate(25, 5, "//"))
print(calculate(14, 3, "%"))
print(calculate(7, 2, "/"))

13
7
18
5
2
3.5

## Reto 90: División entera para acceder a la lista
* Cree una función que reciba una lista y una división entera.
* La división entera se utiliza para calcular el índice necesario que nos permitirá acceder a un elemento específico en una lista.
* Los dos parámetros de la función van en el siguiente orden:
    - `valor_en_posicion(lista, division_entera)`
* Ejemplos:
    1. valor_en_posicion([10, 20, 30, 40, 50], 8 // 2) ➞ 50
    2. valor_en_posicion([1, 2, 3, 4, 5, 6], 8.0 // 2) ➞ 5
    3. valor_en_posicion([1, 2, 3, 4], 6.5 // 2) ➞ 4

In [ ]:
def valor_en_posicion(lista, division_entera):
    return lista[int(division_entera)]

def valor_en_posicion(lista, division_entera):
    indice = round(division_entera)
    return lista[indice]

In [ ]:
print(valor_en_posicion([10, 20, 30, 40, 50], 8 // 2))
print(valor_en_posicion([1, 2, 3, 4, 5, 6], 8.0 // 2))
print(valor_en_posicion([1, 2, 3, 4], 6.5 // 2))

50
5
4

## Reto 91: Retornar el único elemento de un conjunto
* Cree una función que recibe un conjunto que contiene un único elemento.
* La función debe devolver ese elemento.
* Ejemplos:
    1. elemento_del_conjunto({'margarita'}) ➞ 'margarita'
    2. elemento_del_conjunto({True}) ➞ True
    3. elemento_del_conjunto({42}) ➞ 42

### Comentario
* En Python, los conjuntos (set) no admiten indexación directa como las listas o tuplas.
* Los conjuntos son estructuras de datos desordenadas y no indexadas, lo que significa que no se puede acceder a sus elementos mediante un índice numérico.
* `conjunto[0]` da Error

In [ ]:
# Método 1. Convirtiendo el conjunto en lista
def elemento_del_conjunto(conjunto):
    return (list(conjunto))[0]  # los paréntesis son optativos

# Método 2. Sin convertirlo en lista, usando la función pop()
def elemento_del_conjunto(conjunto):
    return conjunto.pop()

# Método 3. Iterar a través del conjunto
def elemento_del_conjunto(conjunto):
    for elemento in conjunto:
        return elemento

In [ ]:
print(elemento_del_conjunto({'margarita'}))
print(elemento_del_conjunto({True}))
print(elemento_del_conjunto({42}))

margarita
True
42

## Reto 92: Cambiar
* Cree una función que cambie el valor de entrada, devolviendo 0 si se ingresa 1 y retornando 1 si se ingresa 0.
* Ejemplos:
    1. flip(1) ➞ 0
    2. flip(0) ➞ 1

In [ ]:
def flip(numero):
    if numero == 1:
        return 0
    else:
        return 1

def flip(n):
    return int(not n)

def flip(numero):
    return --(not numero)

def flip(numero):
    return abs(not numero)

def flip(n):
    return abs(n - 1)

def flip(numero):
    return {0: 1, 1: 0}.get(numero)

def flip(numero):
    return numero ^ 1

In [ ]:
print(flip(1))
print(flip(0))

0
1

## Reto 93: Título de texto
* Cree una función que determine si un texto dado es un título de texto (Title String).
* Se considera que un texto es un título si todas las palabras comienzan con una letra mayúscula.
* Ejemplos:
    1. es_titulo("Ciudades: Londres París Roma") ➞ True
    2. es_titulo("Prefiero New York!") ➞ True
    3. es_titulo("Veranear en Málaga") ➞ False

In [ ]:
def es_titulo(texto):
    return texto.title() == texto

def es_titulo_texto(texto):
    palabras = texto.split()    # Dividir en palabras
    # Verificar si todas las palabras comienzan con mayúscula
    for palabra in palabras:
        if not palabra.istitle():  # Comprueba si la palabra comienza con mayúscula
            return False  # Si alguna palabra no cumple, retorna False
    return True     # Si todas las palabras cumplen, retorna True

def es_titulo(texto):
    palabras = texto.split()
    return all(palabra.istitle() for palabra in palabras)

In [ ]:
print(es_titulo("Ciudades: Londres París Roma"))
print(es_titulo("Prefiero New York!"))
print(es_titulo("Veranear en Málaga"))

True
True
False

## Reto 94: Rango de números
* Cree un función que devuelva una lista de todos los números enteros entre el inicio y el final de dos números dados, excluidos estos.
* Ejemplos:
    1. rango_de_numeros(2, 4) ➞ [3]
    2. rango_de_numeros(5, 9) ➞ [6, 7, 8]
    3. rango_de_numeros(2, 11) ➞ [3, 4, 5, 6, 7, 8, 9, 10]
    4. rango_de_numeros(2, 2) ➞ []

In [ ]:
def rango_de_numeros(inicio, final):
    return list(range(inicio+1, final))

def rango_de_numeros(inicio, final):
    numeros = []
    for i in range(inicio + 1, final):
        numeros.append(i)
    return numeros

In [ ]:
print(rango_de_numeros(2, 4))
print(rango_de_numeros(5, 9))
print(rango_de_numeros(2, 11))
print(rango_de_numeros(2, 2))

[3]
[6, 7, 8]
[3, 4, 5, 6, 7, 8, 9, 10]
[]

## Reto 95: Atracción emocionante
* En el nuevo parque de atracciones, han inaugurado una atracción emocionante que solo está disponible para visitantes de 12 años en adelante. Sin embargo, esta atracción solo puede ser disfrutada cuando el operador no está en su periodo de descanso.
* El objetivo es crear un programa que determine si un usuario puede subirse a esta atracción. Para ello, se deben considerar dos condiciones: la edad del usuario y el estado del operador (si está en periodo de descanso o no).
* Crear una función llamada `permitido_subir` que tome como parámetros la `edad` del usuario y un valor booleano que indica si el operador está en periodo de `descanso` o no. Esta función debe devolver `True` si el usuario cumple con la edad mínima requerida (12 años o más) y si el operador no está en periodo de descanso. En caso contrario, debe devolver `False`.
* Ejemplos:
    1. permitido_subir(9, False) ➞ False
    2. permitido_subir(11, True) ➞ False
    3. permitido_subir(16, False) ➞ True
    4. permitido_subir(24, True) ➞ False

In [ ]:
def permitido_subir(edad_usuario, operador_descansando):
    if edad_usuario >= 12 and not operador_descansando:
        return True
    else:
        return False

def permitido_subir(edad, descanso):
    return edad >= 12 and not descanso

In [ ]:
print(permitido_subir(9, False))
print(permitido_subir(11, True))
print(permitido_subir(16, False))
print(permitido_subir(24, True))

False
False
True
False

## Reto 96: Todos verdaderos
* Escriba una función llamada `todos_verdaderos` que tome un número variable de argumentos y devuelva `True` solo si todos los argumentos son verdaderos.
* De lo contrario, debe devolver `False`.
* Los argumentos pueden ser cualquier tipo de dato en Python.
* Cuando en Python hablamos de un número indeterminado de parámetros estamos hablando de la sintaxis **\*args**.
* Ejemplos:
    1. todos_verdaderos(True, True, True, True) ➞ True
    2. todos_verdaderos(33, "Hello", "False", (True, True, 3)) ➞ True
    3. todos_verdaderos(True, True, True, False) ➞ False
    4. todos_verdaderos(0, False, [], {}) ➞ False
    5. todos_verdaderos(True, None) ➞ False
* `None` representa la ausencia de un valor en Python.

In [ ]:
def todos_verdaderos(*args):
    for arg in args:
        if not arg:
            return False
    return True

def todos_verdaderos(*args):
    return all(args)

In [ ]:
print(todos_verdaderos(True, True, True, True))
print(todos_verdaderos(33, "Hello", "False", (False, [], 3)))
print(todos_verdaderos(True, True, True, False))
print(todos_verdaderos(0, False, [], {}))
print(todos_verdaderos(True, None))

True
True
False
False
False

## Reto 97: Solo los primeros positivos
* Escriba una función llamada `primeros_positivos` que recibe como parámetro una lista.
* La lista recibida contiene números positivos, negativos o cero.
* La función ha de retornar una lista que contenga únicamente los primeros positivos.
* Al llegar a un cero o un número negativo no se retorna y tampoco todo lo posterior.
* Ejemplos:
    1. primeros_positivos([4, 9, 5, 0, 2, 4]) ➞ [4, 9, 5]
    2. primeros_positivos([-2, 1, 6, 0, 3]) ➞ []
    3. primeros_positivos([1, 3, 7, 2, -1, 6]) ➞ [1, 3, 7, 2]

In [ ]:
def primeros_positivos(lista):
    for i, v in enumerate(lista):
        if v <= 0:
            return lista[:i]

def primeros_positivos(lista):
    resultado = []
    for num in lista:
        if num > 0:
            resultado.append(num)
        else:
            break
    return resultado

def primeros_positivos(lista):
    resultado = []
    for num in lista:
        if num <= 0:
            break
        resultado.append(num)
    return resultado

def primeros_positivos(lista):
    return [num for i, num in enumerate(lista) if num > 0 and all(x > 0 for x in lista[:i])]

from itertools import takewhile

def primeros_positivos(lista):
    return list(takewhile(lambda x: x > 0, lista))

In [ ]:
print(primeros_positivos([4, 9, 5, 0, 2, 4]))
print(primeros_positivos([-2, 1, 6, 0, 3]))
print(primeros_positivos([1, 3, 7, 2, -1, 6]))

[4, 9, 5, 2, 4]
[1, 6, 3]
[1, 3, 7, 2, 6]

## Reto 98: El último elemento
* Cree una función que devuelva el último valor de una lista o de una cadena.
* Ejemplos:
    1. ultimo([0, 4, 19, 34, 50, -9, 2]) ➞ 2
    2. ultimo("pensar antes de hablar") ➞ r
    3. ultimo([]) ➞ None
    4. ultimo("") ➞ None
* Las listas o las cadenas pueden ser de diferentes tamaños.
* Devuelva `None` si la lista o la cadena está vacía.

In [ ]:
def ultimo(objeto):
    if not objeto:
        return None
    return objeto[-1]

# usando un operador ternario
def ultimo(objeto):
    return objeto[-1] if objeto else None

In [ ]:
print(ultimo([0, 4, 19, 34, 50, -9, 2]))
print(ultimo("pensar antes de hablar"))
print(ultimo([]))
print(ultimo(""))

2
r
None
None

## Reto 99: Valoración de clientes
* Usted es el guía turístico de un grupo de turistas a los que lleva a conocer Madrid.
* Después de cada visita le puntúan en la aplicación dando entre 1 y 5 estrellas.
* El número de turistas que lleva en cada grupo es variable.
* Cree una función que al recibir las estrellas con las que le han puntuado los diferentes turistas, devuelva el número de turistas que le han dado la mayor puntuación en ese grupo.
* Ejemplos:
    1. mejores_estrellas([4, 4, 3]) ➞ 2
    2. mejores_estrellas([5, 4, 1, 5]) ➞ 2
    3. mejores_estrellas([5, 3, 4, 4, 4, 3]) ➞ 1
    4. mejores_estrellas([4, 3, 4, 4, 2]) ➞ 3

In [ ]:
def mejores_estrellas(lista):
    return lista.count(max(lista))

def mejores_estrellas(lista):
    return sum(1 for valor in lista if valor == max(lista))

def mejores_estrellas(lista):
    return len([v for v in lista if v == max(lista)])

In [ ]:
print(mejores_estrellas([4, 4, 3]))
print(mejores_estrellas([5, 4, 1, 5]))
print(mejores_estrellas([5, 3, 4, 4, 4, 3]))
print(mejores_estrellas([4, 3, 4, 4, 2]))

2
2
1
3

## Reto 100: Cantidad de patatas
* Cree una función para devolver la cantidad de patatas que hay en una cadena.
* Ejemplos:
    1. cuenta_patatas("patata") ➞ 1
    2. cuenta_patatas("patatapatata") ➞ 2
    3. cuenta_patatas("patatamanzanapata") ➞ 1
    4. cuenta_patatas("patatatuti"*7+"patata") ➞ 8

In [ ]:
def cuenta_patatas(cadena):
    return cadena.count("patata")

def cuenta_patatas(cadena):
    n = len("patata")
    return sum([1 for i in range(len(cadena) - n + 1) if cadena[i:i+n] == "patata"])

def cuenta_patatas(cadena):
    n = len("patata")
    return sum([cadena[i:i+n] == "patata" for i in range(len(cadena) - n + 1)])

In [ ]:
print(cuenta_patatas("patata"))
print(cuenta_patatas("patatapatata"))
print(cuenta_patatas("patatamanzanapata"))
print(cuenta_patatas("patatatuti"*7+"patata"))

1
2
1
8