<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/niveles/nivel02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 101: Funciones Lambda
* Using Lambda Functions
* En una tienda en línea, necesitan desarrollar un programa para calcular el precio total de una compra, teniendo en cuenta el precio unitario de un producto y la cantidad de unidades adquiridas por el cliente.
* Además, se debe aplicar un impuesto del 10% sobre el subtotal de la compra.
* Escriba una función llamada `calcular_precio_total` que tome dos argumentos: `precio_unitario` y `cantidad`.
* Esta función debe calcular el precio total de la compra, mostrar el subtotal, el monto de impuestos y el precio total con impuestos incluidos.
* Ejemplo:
    - calcular_precio_total(20, 3)
    - Salida impresa:
<pre>Subtotal:                    60.00 €
    Impuestos:                    6.00 €
    Precio total con impuestos:  66.00 €</pre>

* Usar como función principal la función `calcular_precio_total(precio_unitario, cantidad)` y dentro de ella llamar a la función `calcular_impuestos(subtotal, impuesto)`.
* En el Método 1 de resolución usar dos funciones, donde la principal llame a la secundaria.
* En el Método 2 de resolución usar una función lambda dentro de la función principal.

In [ ]:
# Método 1. Usando dos funciones
def calcular_impuestos(subtotal, impuesto):
    return subtotal * impuesto

def calcular_precio_total(precio_unitario, cantidad):
    impuesto = 0.1  # 10% de impuesto sobre el precio
    subtotal = precio_unitario * cantidad
    total_impuestos = calcular_impuestos(subtotal, impuesto)
    precio_con_impuestos = subtotal + total_impuestos
    return subtotal, total_impuestos, precio_con_impuestos

# Método 2. La función llamada es una función interna de tipo lambda
def calcular_precio_total(precio_unitario, cantidad):
    impuesto = 0.1  # 10% de impuesto sobre el precio
    subtotal = precio_unitario * cantidad
    calcular_impuestos = lambda subtotal, impuesto: subtotal * impuesto
    total_impuestos = calcular_impuestos(subtotal, impuesto)
    precio_con_impuestos = subtotal + total_impuestos
    return subtotal, total_impuestos, precio_con_impuestos

In [ ]:
# Ejemplo de uso
precio_unitario = 20
cantidad = 3
subtotal, total_impuestos, precio_total = calcular_precio_total(precio_unitario, cantidad)

print(f"Subtotal: {subtotal:>24.2f} €")
print(f"Impuestos: {total_impuestos:>23.2f} €")
print(f"Precio total con impuestos: {precio_total:>6.2f} €")

Subtotal:                    60.00 €
Impuestos:                    6.00 €
Precio total con impuestos:  66.00 €

## Reto 102: Generando enteros aleatorios
* Random Integer Generator
* Devuelva un número entero aleatorio `n` tal que `a <= n <= b`.
* Ejemplos:
    1. random_int(5, 9) ➞ 7
    2. random_int(5, 9) ➞ 9
    3. random_int(5, 9) ➞ 5

In [ ]:
# Método 1. Con randint
import random

def random_int(a, b):
    return random.randint(a, b)

# Método 2. Con randint y usando una función Lambda
import random

random_int = lambda a, b: random.randint(a, b)

# Método 3. Con randrange
import random

random_int = lambda a, b: random.randrange(a, b + 1)

In [ ]:
print(random_int(5, 9))
print(random_int(5, 9))
print(random_int(5, 9))
print(random_int(5, 9))

6
5
7
9

## Reto 103: Rebanadas de un pastel
* Slice of Pie
* Cree una función que determine si es posible o no dividir un pastel de manera justa dados estos tres parámetros:
    - Número total de rebanadas disponibles.
    - Número de personas comensales.
    - ¿Cuántas porciones recibe cada persona?
* La función quedará de esta forma:
    - rebanadas_iguales(rebanadas_disponibles, num_personas, rebanadas_por_persona)
* Ejemplos:
    1. rebanadas_iguales(11, 5, 2) ➞ True
        * 5 personas x 2 rebanadas_por_persona = 10 rebanadas <= 11 rebanadas_disponibles
    2. rebanadas_iguales(11, 5, 3) ➞ False
        * 5 personas x 3 rebanadas_por_persona = 15 rebanadas > 11 rebanadas_disponibles
    3. rebanadas_iguales(8, 3, 2) ➞ True
    4. rebanadas_iguales(8, 3, 3) ➞ False
    5. rebanadas_iguales(24, 12, 2) ➞ True

In [ ]:
# Método 1
def rebanadas_iguales(rebanadas_disponibles, num_personas, rebanadas_por_persona):
    return num_personas * rebanadas_por_persona <= rebanadas_disponibles

# Método 2. Función Lambda. x son las rebanadas por persona
rebanadas_iguales = lambda disponibles, personas, x: personas * x <= disponibles

In [ ]:
print(rebanadas_iguales(8, 3, 2))
print(rebanadas_iguales(8, 3, 3))
print(rebanadas_iguales(24, 12, 2))

True
False
True

## Reto 104: ¿El diccionario contiene la clave especificada?
* Escriba una función que devuelva `True` si un diccionario contiene la clave especificada y `False` en caso contrario.
* Ejemplos:
    1. tiene_clave({ "a": 44, "b": 45, "c": 46 }, "d") ➞ False
    2. tiene_clave({ "rojo": True, "azul": True, "verde": True }, "rosa") ➞ False
    3. tiene_clave({ "ene": 1, "feb": 2, "mar": 3 }, "feb") ➞ True

In [35]:
# Método 1
def tiene_clave(diccionario, key):
    return key in diccionario

# Método 2
def tiene_clave(diccionario, clave):
    return diccionario.get(clave) is not None

# Método 3
def tiene_clave(diccionario, clave):
    try:
        valor = diccionario[clave]
        return True
    except KeyError:
        return False

# Método 4
def tiene_clave(diccionario, clave):
    return clave in diccionario.keys()

# Método 5
tiene_clave = lambda diccionario, clave: clave in diccionario.keys()

In [36]:
print(tiene_clave({ "a": 44, "b": 45, "c": 46 }, "d"))
print(tiene_clave({ "rojo": True, "azul": True, "verde": True }, "rosa"))
print(tiene_clave({ "ene": 1, "feb": 2, "mar": 3 }, "feb"))

False
False
True

## Reto 105: Aplausos acalorados
* Después de una actuación increíble, ¡el público enloquece!
* La gente aplaude con entusiasmo y la mayoría de los aplausos se superponen entre sí para crear un sonido homogéneo.
* Un aplauso superpuesto es un aplauso que comienza pero no termina, como en "ClaClap" (el primer aplauso se corta y en total hay 2 aplausos).
* Dada una serie de cómo sonaron los aplausos superpuestos, indica cuántos aplausos se dieron en total.
* Ejemplos:
    1. count_claps("ClaClaClaClap!") ➞ 4
    2. count_claps("ClClClaClaClaClap!") ➞ 6
    3. count_claps("CCClaClClap!Clap!ClClClap!") ➞ 9

In [42]:
# Método 1
def count_claps(cadena):
    return cadena.count("C")

# Método 2
count_claps = lambda cadena: cadena.count("C")

# Método 3
def count_claps(sound):
    return sum(1 for char in sound if char == 'C')

In [43]:
print(count_claps("ClaClaClaClap!"))
print(count_claps("ClClClaClaClaClap!"))
print(count_claps("CCClaClClap!Clap!ClClClap!"))

4
6
9

## Reto 106: Palancas
* Las palancas son máquinas simples compuestas de una barra rígida y un punto de apoyo.
* Hay 3 tipos de palancas: primera clase, segunda clase y tercera clase.
1. En una palanca de primera clase o primer grado, el punto de apoyo (pa) está situado en el medio, con el esfuerzo (o fuerza o potencia) (f) y la carga (o resistencia) (r) colocados uno frente al otro.
2. En una palanca de segunda clase o segundo grado, el punto de apoyo está situado frente al esfuerzo y la carga en el medio.
3. En una palanca de tercera clase o tercer grado, el punto de apoyo está situado frente a la carga y el esfuerzo en el medio.
* Dada una lista que contiene el punto de apoyo "pa", el esfuerzo "f" y la carga "r", escriba una función que determine si la lista muestra o no una palanca de primera clase, una palanca de segunda clase o una palanca de tercera clase.
* Ejemplos:
    1. tipo_palanca(["f", "pa", "r"]) ➞ "palanca de primera clase"
    2. tipo_palanca(["f", "r", "pa"]) ➞ "palanca de segunda clase"
    3. tipo_palanca(["pa", "f", "r"]) ➞ "palanca de tercera clase"

In [46]:
# Método 1
def tipo_palanca(lista):
    _, c, _ = lista
    if c == "pa":
        return "palanca de primera clase"
    elif c == "r":
        return "palanca de segunda clase"
    elif c == "f":
        return "palanca de tercera clase"

# Método 2
def tipo_palanca(lista):
    # Diccionario que mapea la posición central de la lista al tipo de palanca
    dic = {1: "primera", 2: "segunda", 3: "tercera"}
    # Busca la posición del elemento central en la lista ("pa", "r", o "f")
    elemento_central = lista[1]
    indice_tipo = ["pa", "r", "f"].index(elemento_central)
    # Incrementa el índice para que coincida con los tipos de palanca (1, 2, 3)
    tipo = indice_tipo + 1
    # Devuelve el tipo de palanca utilizando el diccionario y formateando la cadena de salida
    return f"palanca de {dic[tipo]} clase"

In [47]:
print(tipo_palanca(["f", "pa", "r"]))
print(tipo_palanca(["f", "r", "pa"]))
print(tipo_palanca(["pa", "f", "r"]))

palanca de primera clase
palanca de segunda clase
palanca de tercera clase

## Reto 107: Redundancia booleana
* Disponemos de un código con algún pequeño error.
* Su objetivo es presentar una función lo más minimalista posible.
* Escriba una función que devuelva la palabra "par" si el número entero dado es par y la palabra "impar" si es impar.
* Tip: Convertir un booleano, o algo que finalmente se interpretará como booleano, en booleano es redundante.
* Una comparación con <, <=, ==, !=, >=, > siempre dará como resultado un booleano, por lo tanto, usar la función bool() es totalmente innecesario.
* boolean == True es redundante, ya que siempre devolverá booleano.
* Para obtener el opuesto de un booleano podríamos usar booleano == False. pero ...
* Sin embargo, una forma mucho más limpia de hacer esto es simplemente no comparar la condición con un booleano, ya que la condición en si misma ya es `True` o `False`.
* Para preservar la legibilidad, evite declarar variables innecesarias.

<pre>
def paridad(n):
	resp = bool(n % 2)
	if res == False:
		return "par"
	if res == True:
		return "impar"
</pre>

* Ejemplos:
	1. paridad(4) ➞ par
	2. paridad(7) ➞ impar
	3. paridad(0) ➞ par

In [ ]:
# Método 1
def paridad(n):
	if n % 2:
		return "impar"
	return "par"

# Método 2. Usando un operador ternario
def paridad(n):
	return "impar" if n % 2 else "par"

In [ ]:
print(paridad(4))
print(paridad(7))
print(paridad(0))

par
impar
par

## Reto 108: Asignación destructiva
* Dada una lista como por ejemplo esta:
<pre>
lista = [10, 20, 30]
</pre>
podemos recoger el primer elemento con la variable `primero` de esta forma:

<pre>primero = lista[0]</pre>

podemos recoger el último elemento con la variable `ultimo` así:
<pre>ultimo = lista[-1]</pre>

* Otra forma de conseguirlo es asignar variables

<pre>primero, -, ultimo = [10, 20, 30]</pre>

La variable `_` se usa habitualmente cuando se recogen valores que posteriormente no se usarán.

* Cree una función que recoja los elementos centrales de un array, siendo la lista de longitud mayor o igual a tres.
* Tip: explore el operador asterisco `*` que se utiliza para desempaquetar iterables.
* Ejemplos:
    1. centrales([10, 20, 30]) ➞ [20]
    2. centrales([1, 2, 3, 4, 5, 6]) ➞ [2, 3, 4, 5]
    3. centrales(['lun', 'mar', 'mie', 'jue', 'vie']) ➞ ['mar', 'mie', 'jue']

In [54]:
# Método 1. Usando el operador asterisco
def centrales(lista):
    _, *nucleo, _ = lista
    return nucleo

# Método 2. Sin usar el operador asterisco
def centrales(lista):
    length = len(lista)
    if length < 3:  # Si la lista tiene menos de tres elementos, no hay elementos centrales
        return []
    return lista[1: -1]

In [55]:
print(centrales([10, 20, 30]))
print(centrales([1, 2, 3, 4, 5, 6]))
print(centrales(['lun', 'mar', 'mie', 'jue', 'vie']))

[20]
[2, 3, 4, 5]
['mar', 'mie', 'jue']

## Reto 109: Corregir código con Bugs
* El desafío consiste en corregir este código defectuoso, dadas las entradas `True` y `False`.
* Consulte los ejemplos siguientes para conocer el resultado esperado.
* Ejemplos:
    1. contiene_bugs(True) ➞ "A depurar código"
    2. contiene_bugs(False) ➞ "Hoy es un buen día"

<pre>
def contiene_bugs(buggy_code):
	if buggyCode:
		return 'A depurar código'
	elif:
		return 'Hoy es un buen día'
</pre>

In [ ]:
# Método 1
def contiene_bugs(buggy_code):
	if buggy_code:
		return 'A depurar código'
	else:
		return 'Hoy es un buen día'

# Método 2
def contiene_bugs(buggy_code):
	if buggy_code:
		return 'A depurar código'
	return 'Hoy es un buen día'

In [ ]:
print(contiene_bugs(True))
print(contiene_bugs(False))

A depurar código
Hoy es un buen día

## Reto 110: Peso máximo permitido
* Cree una función que devuelva `True` si el peso combinado de un automóvil `peso_auto` y el peso de los pasajeros `p` en el automóvil es menor que el peso máximo `peso_maximo` que el automóvil puede transportar. De lo contrario, devuelve `False`.
* El peso del automóvil y el peso de los pasajeros se dan en libras.
* El peso máximo se indica en kilogramos.
* Nota: 1 libra = 0,453592 kilogramo
* El orden de los argumentos en la función son:
    - `peso_permitido(peso_auto, p, peso_maximo)`
* Ejemplos:
    1. peso_permitido(3000, [150, 201, 75, 88, 195], 1700) ➞ True
    2. peso_permitido(3200, [220, 101, 115, 228, 15], 1700) ➞ False
    3. peso_permitido(2900, [225, 171, 300, 274, 191], 1850) ➞ True

In [58]:
# Método 1
def peso_permitido(peso_auto, lista_p, peso_maximo):
    peso_total = peso_auto
    for elemento in lista_p:
        peso_total += elemento
    peso_total_kg = peso_total * 0.453592
    return peso_total_kg <= peso_maximo

# Método 2
def peso_permitido(peso_auto, p, peso_maximo):
    return 0.453592 * (peso_auto + sum(p)) <= peso_maximo

# Método 3. Función Lambda
peso_permitido = lambda peso_auto, p, peso_maximo: 0.453592 * (peso_auto + sum(p)) <= peso_maximo

In [59]:
print(peso_permitido(3000, [150, 201, 75, 88, 195], 1700))
print(peso_permitido(3200, [220, 101, 115, 228, 15], 1700))
print(peso_permitido(2900, [225, 171, 300, 274, 191], 1850))

True
False
True

## Reto 111: Imprimir con formato
* Para imprimir podemos utilizar el sistema de formato `f`.
* Ejemplo:
    - nombre = "Pedro"
    - ciudad = "Madrid"
    - print(f"Soy {nombre} y vivo en {ciudad}.")
* Lo que se imprime es:
    - `"Soy Pedro y vivo en Madrid."`
* Utilizando este sistema de formateo cree una función que retorne los siguientes casos.
* Ejemplos:
    1. biografia("Ana", 15, "Málaga") ➞ "Soy Ana, tego 15 años, vivo en Málaga y mañana cumpliré 16 años."
    2. biografia("Jose", 16, "Ávila") ➞ "Soy Jose, tego 16 años, vivo en Ávila y mañana cumpliré 17 años."
    3. biografia("Mar", 17, "Cádiz") ➞ "Soy Mar, tego 17 años, vivo en Cádiz y mañana cumpliré 18 años."

In [ ]:
def biografia(nombre, edad, ciudad):
    return f"Soy {nombre}, tego {edad} años, vivo en {ciudad} y mañana cumpliré {edad + 1} años."

In [ ]:
print(biografia("Ana", 15, "Málaga"))
print(biografia("Jose", 16, "Ávila"))
print(biografia("Mar", 17, "Cádiz"))

Soy Ana, tego 15 años, vivo en Málaga y mañana cumpliré 16 años.
Soy Jose, tego 16 años, vivo en Ávila y mañana cumpliré 17 años.
Soy Mar, tego 17 años, vivo en Cádiz y mañana cumpliré 18 años.

## Reto 112: Maravillosa canción
* Crea una función que tome una cadena y cambie la palabra `maravillosa` por `aburrida`.
* Devuelva la cadena sin ningún cambio si la palabra 'canción' es parte de la cadena.
* Ejemplos:
    1. maravillosa_canción("Esta canción es maravillosa.") ➞ "Esta canción es maravillosa."
    2. maravillosa_canción("La ruta fué maravillosa.") ➞ "La ruta fué aburrida."
    3. maravillosa_canción("Fué una cena maravillosa.") ➞ "Fué una cena aburrida."
    4.  maravillosa_canción("Tu maravillosa canción ganó.") ➞ "Tu maravillosa canción ganó."

In [ ]:
def maravillosa_canción(frase):
    if 'canción' not in frase:
        frase = frase.replace("maravillosa", "aburrida")
    return frase

In [ ]:
print(maravillosa_canción("Esta canción es maravillosa."))
print(maravillosa_canción("La ruta fué maravillosa."))
print(maravillosa_canción("Fué una cena maravillosa."))
print(maravillosa_canción("Tu maravillosa canción ganó."))

Esta canción es maravillosa.
La ruta fué aburrida.
Fué una cena aburrida.
Tu maravillosa canción ganó.

## Reto 113: Ligeramente superior
* Se le darán dos listas muy parecidas o exactamente iguales
* Si son exactamente iguales la función debe devolver como resultado 'False'.
* Si difieren en un único elemento y éste es mayor en la primera lista se retornará 'True' y si es mayor el de la segunda lista se retornará 'False'
* Nunca se recibirán dos listas en las que puedan diferir más de un elemento.
* Ejemplos:
    1. es_mayor_el_primero([1, 2, 4], [1, 2, 3]) ➞ True
    2. es_mayor_el_primero(["a", "d", "c"], ["a", "b", "c"]) ➞ True
    3. es_mayor_el_primero(["zumo", "col", "pan"], ["atún", "col", "pan"]) ➞ True
    4. es_mayor_el_primero([1, 2, 5, 4], [1, 2, 3, 4]) ➞ True
    5. es_mayor_el_primero([1, 2, 3, 4], [1, 2, 4, 4]) ➞ False
    6. es_mayor_el_primero([True, 10, "Roma"], [True, 10, "Roma"]) ➞ False
* Ambas listas tendrán la misma longitud, aunque ésta puede ser variable.
* Todos los valores y sus contrapartes siempre serán del mismo tipo de dato.

In [ ]:
def es_mayor_el_primero(lst1, lst2):
    for i in range(len(lst1)):
        if lst1[i] > lst2[i]:
            return True
    return False

In [ ]:
print(es_mayor_el_primero(["a", "d", "c"], ["a", "b", "c"]))
print(es_mayor_el_primero(["a", "d", "c"], ["a", "b", "c"]))
print(es_mayor_el_primero(["zumo", "col", "pan"], ["atún", "col", "pan"]))
print(es_mayor_el_primero([1, 2, 5, 4], [1, 2, 3, 4]))
print(es_mayor_el_primero([1, 2, 3, 4], [1, 2, 4, 4]))
print(es_mayor_el_primero([True, 10, "Roma"], [True, 10, "Roma"]))

True
True
True
True
False
False

## Reto 114: Diccionario vacío
* Escriba una función que devuelva `True` si un diccionario está vacío y `False` en caso contrario.
* Ejemplos:
    1. is_empty({}) ➞ True
    1. is_empty({ }) ➞ True
    2. is_empty({ "a": 1 }) ➞ False
    3. is_empty(dict()) ➞ True
    4. is_empty({'': []} ➞ False

In [ ]:
def is_empty(d):
    return len(d) == 0

In [ ]:
print(is_empty({}))
print(is_empty({ }))
print(is_empty({ "a": 1 }))
print(is_empty(dict()))
print(is_empty({'': []}))

True
True
False
True
False

## Reto 115: Opuestos en una lista
* Cree una función que tome una lista de números enteros y devuelva otra lista formada por sus opuestos.
* Ejemplos:
    1. opuestos([1, 2, 3, 4, 5]) ➞ [-1, -2, -3, -4, -5]
    2. opuestos([1, -2, 3, -4, 0]) ➞ [-1, 2, -3, 4, 0]
    3. opuestos([]) ➞ []

In [ ]:
def opuestos(lst):
    lst_opuestos = []
    for num in lst:
        lst_opuestos.append(-num)
    return lst_opuestos

# utilizando list comprehension
def opuestos(lst):
    return [-n for n in lst]

In [ ]:
print(opuestos([1, 2, 3, 4, 5]))
print(opuestos([1, -2, 3, -4, 0]))
print(opuestos([]))

[-1, -2, -3, -4, -5]
[-1, 2, -3, 4, 0]
[]

## Reto 116: Parsear números
* Cree una función que tome una lista formada por números enteros y cadenas.
* La función convierte los números enteros en cadenas y devuelve la nueva lista.
* Ejemplos:
    1. parse_list([1, 2, "a", "b"]) ➞ ["1", "2", "a", "b"]
    2. parse_list(["abc", 123, "def", 456]) ➞ ["abc", "123", "def", "456"]
    3. parse_list([1, 2, 3, 17, 24, 3, "a", "123b"]) ➞ ["1", "2", "3", "17", "24", "3", "a", "123b"]
    4. parse_list([]) ➞ []

In [ ]:
def parse_list(lst):
    return [str(i) for i in lst]

In [ ]:
print(parse_list([1, 2, "a", "b"]))
print(parse_list(["abc", 123, "def", 456]))
print(parse_list([1, 2, 3, 17, 24, 3, "a", "123b"]))
print(parse_list([]))

['1', '2', 'a', 'b']
['abc', '123', 'def', '456']
['1', '2', '3', '17', '24', '3', 'a', '123b']
[]

## Reto 117: Números en texto
* Cree una función que devuelva un número, según la cadena proporcionada.
* Aquí hay una lista de todos los dígitos.
* Ejemplos:
    1. text_to_int("one") ➞ 1
    2. text_to_int("two") ➞ 2
    3. text_to_int("three") ➞ 3
    4. text_to_int("four") ➞ 4
    5. text_to_int("five") ➞ 5
    6. text_to_int("six") ➞ 6
    7. text_to_int("seven") ➞ 7
    8. text_to_int("eight") ➞ 8
    9. text_to_int("nine") ➞ 9
    10. text_to_int("zero") ➞ 0

In [ ]:
def text_to_int(txt):
    if txt == "one":
        return 1
    elif txt == "two":
        return 2
    elif txt == "three":
        return 3
    elif txt == "four":
        return 4
    elif txt == "five":
        return 5
    elif txt == "six":
        return 6
    elif txt == "seven":
        return 7
    elif txt == "eight":
        return 8
    elif txt == "nine":
        return 9
    elif txt == "zero":
        return 0

def text_to_int(txt):
    return ["zero","one","two","three","four","five","six","seven","eight","nine"].index(txt)

def text_to_int(txt):
    numbers = {
        "zero": 0,
        "one": 1,
        "two": 2,
        "three": 3,
        "four": 4,
        "five": 5,
        "six": 6,
        "seven": 7,
        "eight": 8,
        "nine": 9
    }
    return numbers[txt]

In [ ]:
print(text_to_int("one"))
print(text_to_int("two"))
print(text_to_int("three"))
print(text_to_int("four"))
print(text_to_int("five"))
print(text_to_int("six"))
print(text_to_int("seven"))
print(text_to_int("eight"))
print(text_to_int("nine"))
print(text_to_int("zero"))

1
2
3
4
5
6
7
8
9
0

## Reto 118: La estrategia 50-30-20
* La estrategia 50-30-20 es una forma sencilla de presupuestar, que implica gastar el 50% de los ingresos después de impuestos en necesidades, el 30% de los ingresos después de impuestos en deseos y el 20% de los ingresos después de impuestos en ahorros o pago de deudas.
* Cree una función que reciba el ingreso después de impuestos y lo que devuelva sea un diccionario que muestre cuánto necesita gastar una persona en necesidades, deseos y ahorros.
* Ejemplos:
    1. estrategia(10000) ➞ {'Necesidades': 5000, 'Deseos': 3000, 'Ahorros': 2000}
    2. estrategia(50000) ➞ {'Necesidades': 25000, 'Deseos': 15000, 'Ahorros': 10000}
    3. estrategia(13450) ➞ {'Necesidades': 6725, 'Deseos': 4035, 'Ahorros': 2690}

In [ ]:
def estrategia(ing):
    return {"Necesidades": ing*.5, "Deseos": ing*.3, "Ahorros": ing*.2}

def estrategia(ing):
    d = {'Necesidades': 0.5, 'Deseos': 0.3, 'Ahorros': 0.2}
    gastos = {k: ing * v for k,v in d.items()}
    # para mostrar los números enteros sin ".0"
    gastos_formateados = {k: v if v % 1 != 0 else int(v) for k, v in gastos.items()}
    return gastos_formateados

In [ ]:
print(estrategia(10000))
print(estrategia(50000))
print(estrategia(13450))

{'Necesidades': 5000, 'Deseos': 3000, 'Ahorros': 2000}
{'Necesidades': 25000, 'Deseos': 15000, 'Ahorros': 10000}
{'Necesidades': 6725, 'Deseos': 4035, 'Ahorros': 2690}

## Reto 119: Operador ternario
* El operador ternario es una alternativa a la clásica declaración `if... else...`
* Está escrito en el formato:
<pre>
resultado_si_true if condición else resultado_si_false
</pre>
* Los operadores ternarios son más compactos que las declaraciones `if` de varias líneas y son útiles para pruebas condicionales simples.

Un código clásico puede ser este:
<pre>
edad = 17
if edad >= 18:
    print("Tengo", edad, "años y SI puedo votar.")
else:
    print("Tengo", edad, "años y NO puedo votar.")
</pre>

Este código escrito con un operador ternario sería más corto, así:

<pre>
edad = 17
print(f"Tengo {edad} años y {'NO' if edad < 18 else 'SI'} puedo votar.")
</pre>

* Cee una función que use el operador ternario y el sistema de formato `f` para realizar los siguientes casos.
* Ejemplos:
    1. par_impar(5) ➞ El número 5 es impar.
    2. par_impar(8) ➞ El número 8 es par.
    3. par_impar(0) ➞ El número 0 es par.
    4. par_impar(-3) ➞ El número -3 es impar.

In [ ]:
def par_impar(n):
    return f"El número {n} es {'impar' if n%2 else 'par'}."

In [ ]:
print(par_impar(5))
print(par_impar(8))
print(par_impar(0))
print(par_impar(-3))

El número 5 es impar.
El número 8 es par.
El número 0 es par.
El número -3 es impar.

## Reto 120: El mismo pan
* Dadas dos listas, que representan dos sándwiches, indique si ambos sandwiches usan el mismo tipo de pan.
* En un mismo sandwiche los dos panes siempre son iguales.
* En los elementos intermedios nunca encontraremos pan.
* Ejemplos:
    1. tienen_el_mismo_pan(
  ["pan blanco", "lechuga", "pan blanco"],
  ["pan blanco", "tomate", "pan blanco"]
) ➞ True
    2. tienen_el_mismo_pan(
  ["pan integral", "pollo", "pan integral"],
  ["pan blanco", "pollo", "pan blanco"]
) ➞ False
    3. tienen_el_mismo_pan(
  ["berenjena", "queso", "berenjena"],
  ["berenjena", "queso", "berenjena"]
) ➞ False
    4. tienen_el_mismo_pan(
  ["pan tostado", "queso", "pan tostado"],
  ["pan tostado", "queso", "pan tostado"]
) ➞ True
    5. tienen_el_mismo_pan(
  ["pan tostado", "queso", "huevo", "pan tostado"],
  ["pan tostado", "queso", "huevo", "pan tostado"]
) ➞ True

In [ ]:
def tienen_el_mismo_pan(lst1, lst2):
    return ("pan" in lst1[0]) and (lst1[0] == lst2[0])

In [ ]:
print(tienen_el_mismo_pan(["pan blanco", "lechuga", "pan blanco"], ["pan blanco", "tomate", "pan blanco"]))
print(tienen_el_mismo_pan(["pan integral", "pollo", "pan integral"], ["pan blanco", "pollo", "pan blanco"]))
print(tienen_el_mismo_pan(["berenjena", "queso", "berenjena"], ["berenjena", "queso", "berenjena"]))
print(tienen_el_mismo_pan(["pan tostado", "queso", "pan tostado"], ["pan tostado", "queso", "pan tostado"]))
print(tienen_el_mismo_pan(["pan tostado", "queso", "huevo", "pan tostado"], ["pan tostado", "queso", "huevo", "pan tostado"]))

True
False
False
True
True

## Reto 121: Array de caracteres
* En el lenguaje de programación C un string se trata como un array de caracteres que siempre termina con el caracter "\0".
* Cree una función que devuelva una cadena combinando la lista de caracteres dada, excluyendo el carácter final no deseado '\0'.
* Ejemplos:
    1. c_to_python(["H", "i", "!", "\0"]) ➞ "Hi!"
    2. c_to_python(["H", "e", "l", "l", "o", "!", "\0"]) ➞ "Hello!"
    3. c_to_python(["J", "a", "v", "a", "S", "c", "r", "i", "p", "t", "\0"]) ➞ "JavaScript"

In [ ]:
def c_to_python(l):
    return ''.join(l[:-1])

def c_to_python(lista):
    resultado = ''
    for i in range(0, len(lista)-1):
        resultado += str(lista[i])
    return resultado

In [ ]:
print(c_to_python(["H", "i", "!", "\0"]))
print(c_to_python(["H", "e", "l", "l", "o", "!", "\0"]))
print(c_to_python(["J", "a", "v", "a", "S", "c", "r", "i", "p", "t", "\0"]))

Hi!
Hello!
JavaScript

## Reto 122: Votos a favor y votos en contra
* Recibimos un diccionario que contiene el resultado de una votación.
* El diccionario contien el recuentos de votos a favor y en contra.
* Cree una función que devuelva el resultado de la votación que se obtiene restando el número de votos negativos de los votos positivos.
* Ejemplos:
    1. votos_netos({ "positivos": 13, "negativos": 0 }) ➞ 13
    2. votos_netos({ "positivos": 2, "negativos": 33 }) ➞ -31
    3. votos_netos({ "positivos": 32, "negativos": 32 }) ➞ 0

In [ ]:
def votos_netos(d):
    return d.get("positivos")- d.get("negativos")

In [ ]:
print(votos_netos({ "positivos": 13, "negativos": 0 }))
print(votos_netos({ "positivos": 2, "negativos": 33 }))
print(votos_netos({ "positivos": 32, "negativos": 32 }))

13
-31
0

## Reto 123: Case Insensitive Comparison
* Comparación que no distingue entre mayúsculas y minúsculas
* Escriba una función que valide si dos cadenas son idénticas.
* Hágalo sin distinguir entre mayúsculas y minúsculas.
* Ejemplos:
    1. match("hello", "hELLo") ➞ True
    2. match("motivo", "emotivo") ➞ False
    3. match("master", "Master") ➞ True
    4. match("New York", "NewYork") ➞ False

In [ ]:
def match(a, b):
    return a.lower() == b.lower()

In [ ]:
print(match("hello", "hELLo"))
print(match("motivo", "emotivo"))
print(match("master", "Master"))
print(match("New York", "NewYork"))

True
False
True
False

## Reto 124: Funciones anónimas
* Una función clásica que doble un número podría ser esta:

<pre>
def dobla_numero(n):
    return 2*n
</pre>

Para funciones sencillas podemos utilizar las funciones anónimas que en Python se llaman **funciones lambda**.

El ejemplo anterior con una función lambda sería así:

<pre>
dobla = lambda n: 2*n
</pre>

Para invocar la función escribiríamos lo siguiente:

<pre>
dobla(7)    # output: 14
</pre>

También pueden existir funciones lambda con varios parámetros, como por ejemplo esta que suma dos números:

<pre>
suma = lambda a,b: a+b
</pre>

Se puede invocar así:

<pre>
suma(4, 3)    # output: 7
</pre>

* En este reto se pide programar tres funciones anónimas para resolver estos tres casos.
* Ejemplos:
    1. triplica(5) ➞ 15
    2. suma_uno(10) ➞ 11
    4. resta_dos_numeros(10, 7) ➞ 3

In [ ]:
triplica = lambda a: 3 * a
suma_uno = lambda a: a + 1
resta_dos_numeros = lambda a, b: a - b

In [ ]:
print(triplica(5))
print(suma_uno(10))
print(resta_dos_numeros(10, 7) )

15
11
3

## Reto 125: Sumar y convertir a binario
* Cree una función que tome dos números y devuelva su suma como una cadena binaria.
* Ejemplos:
    1. convertir_suma(1, 1) ➞ "10"
    2. convertir_suma(1, 2) ➞ "11"
    3. convertir_suma(4, 5) ➞ "1001"

In [ ]:
def convertir_suma(a, b):
    return bin(a+b)[2:]

In [ ]:
print(convertir_suma(1, 1))
print(convertir_suma(1, 2))
print(convertir_suma(4, 5))

10
11
1001

## Reto 126: Lista filtrada
* Cree la función:
    - `lista_filtrada(n1, n2, lst)`
* La función toma dos números `n1`, `n2` y una lista `lst` y devuelva otra lista que contenga todos los números en `lst` mayores que `n1` y menores que `n2`.
* Ejemplos:
    1. lista_filtrada(3, 8, [1, 5, 95, 0, 4, 7]) ➞ [5, 4, 7]
    2. lista_filtrada(1, 10, [1, 10, 25, 8, 11, 6]) ➞ [8, 6]
    3. lista_filtrada(7, 32, [1, 2, 3, 78]) ➞ []

In [ ]:
def lista_filtrada(n1, n2, lst):
    nueva_lista = []
    for i in lst:
        if n1 < i < n2:
            nueva_lista.append(i)
    return nueva_lista

# usando list comprehension
def lista_filtrada(n1, n2, lst):
    return [i for i in lst if n1 < i < n2]

In [ ]:
print(lista_filtrada(3, 8, [1, 5, 95, 0, 4, 7]))
print(lista_filtrada(1, 10, [1, 10, 25, 8, 11, 6]))
print(lista_filtrada(7, 32, [1, 2, 3, 78]))

[5, 4, 7]
[8, 6]
[]

## Reto 127: Métodos Is...
* Queremos eliminar números de una cadena determinada.
* Tenemos un código que no funciona correctamente para superar este desafío.
* Mire los ejemplos siguientes para tener una idea de lo que debe hacer la función.
* Ejemplos:
    1. eliminar_numeros("Madrid2025") ➞ "Madrid"
    2. eliminar_numeros("verano100Playas") ➞ "veranoPlayas"
    3. eliminar_numeros("M1a2r3í4a") ➞ "María"

* Este es el código que no logra su objetivo:
<pre>
def eliminar_numeros(string):
    return "".join(i for i in string if int(i))
</pre>

In [ ]:
def eliminar_numeros(string):
  return "".join(i for i in string if not i.isnumeric())

def eliminar_numeros(string):
  return "".join(i for i in string if not i.isdigit())

def eliminar_numeros(string):
  return "".join(i for i in string if i.isalpha())

In [ ]:
print(eliminar_numeros("Madrid2025"))
print(eliminar_numeros("verano100Playas"))
print(eliminar_numeros("M1a2r3í4a"))

Madrid
veranoPlayas
María

## Reto 128: Rellenos de sandwich
* Dado un sandwich (como lista), retorne una lista con los rellenos que hay dentro del sándwich.
* Esto implica ignorar el primer y el último elemento.
* Ejemplos:
    1. obtener_relleno(["pan", "jamón", "queso", "jamón", "pan"]) ➞ ['jamón', 'queso', 'jamón']
    2. obtener_relleno(["pan", "embutido", "tomate", "pan"]) ➞ ['embutido', 'tomate']
    3. obtener_relleno(["pan", "lechuga", "bacon", "tomate", "pan"]) ➞ ['lechuga', 'bacon', 'tomate']

In [ ]:
def obtener_relleno(lista):
    return lista[1:-1]

In [ ]:
print(obtener_relleno(["pan", "jamón", "queso", "jamón", "pan"]))
print(obtener_relleno(["pan", "embutido", "tomate", "pan"]))
print(obtener_relleno(["pan", "lechuga", "bacon", "tomate", "pan"]))

['jamón', 'queso', 'jamón']
['embutido', 'tomate']
['lechuga', 'bacon', 'tomate']

## Reto 129: Una sola letra cambia todo
* Cree una función que reciba como parámetros dos letras y un frase.
* La primera letra que se recibe como parámetro se reemplaza por la segunda letra recibida como parámetro y esto altera la frase.
* Ejemplos:
    1. cambiando('g', 'p', 'El gato en el tejado') ➞ "El pato en el tejado"
    2. cambiando('s', 'n', 'Vivo en el quinto piso') ➞ "Vivo en el quinto pino"
    3. cambiando('h', 'm', 'hola Madrid') ➞ "mola Madrid"

In [ ]:
def cambiando(char1, char2, string):
    return string.replace(char1, char2)

In [ ]:
print(cambiando('g', 'p', 'El gato en el tejado'))
print(cambiando('s', 'n', 'Vivo en el quinto piso'))
print(cambiando('h', 'm', 'hola Madrid'))

El pato en el tejado
Vivo en el quinto pino
mola Madrid

## Reto 130: Suma los mayores a cinco
* Escribe una función que devuelva la suma de elementos estrictamente mayores que 5, en la lista dada.
* Ejemplos:
    1. suma_mayores_a_cinco([1, 5, 20, 30, 4, 9, 18]) ➞ 77
    2. suma_mayores_a_cinco([1, 2, 3, 4]) ➞ 0
    3. suma_mayores_a_cinco([10, 12, 28, 47, 55, 100]) ➞ 252

In [ ]:
def suma_mayores_a_cinco(lst):
    return sum([i for i in lst if i > 5])

In [ ]:
print(suma_mayores_a_cinco([1, 5, 20, 30, 4, 9, 18]))
print(suma_mayores_a_cinco([1, 2, 3, 4]))
print(suma_mayores_a_cinco([10, 12, 28, 47, 55, 100]))

77
0
252

## Reto 131: Probabilidad de ser un impostor
* Cree una función que calcule la probabilidad de ser un impostor.
* La fórmula para las posibilidades de ser un impostor es `100 × (i / p)` donde `i` es el recuento de impostores y `p` es el recuento de jugadores.
* Asegúrese de redondear el valor al número entero más cercano y devolver el valor como porcentaje.
* Ejemplos:
    1. porcentaje_impostores(1, 10) ➞ "10%"
    2. porcentaje_impostores(2, 5) ➞ "40%"
    3. porcentaje_impostores(1, 8) ➞ "12%"

In [ ]:
def porcentaje_impostores(i, p):
    return str(round(100 * i / p)) + "%"

def porcentaje_impostores(i, p):
    return f"{round(100 * i / p)}%"

def porcentaje_impostores(i, p):
    return f"{i / p:.0%}"

In [ ]:
print(porcentaje_impostores(1, 10))
print(porcentaje_impostores(2, 5))
print(porcentaje_impostores(1, 8))

10%
40%
12%

## Reto 132: Replicando la función módulo
* Cree una función que actúe como el operador de módulo `%` sin utilizar el operador de módulo.
* El operador de módulo es una forma de determinar el resto o resíduo de una operación de división.
* No utilice el operador `%` para devolver los resultados.
* Ejemplos:
    1. mod(5, 2) ➞ 1
    2. mod(218, 5) ➞ 3
    3. mod(6, 3) ➞ 0

In [ ]:
def mod(a, b):
    return a - (b * (a // b))

In [ ]:
print(mod(5, 2))
print(mod(218, 5))
print(mod(6, 3))

1
3
0

## Reto 133: Encontrar `None` en una lista
* Cree una función para encontrar `None` en una lista de números.
* El valor de retorno debe ser el índice donde se encuentre `None`.
* Si no se encuentra `None` en la lista, la función devolverá -1.
* Ejemplos:
    1. encontrar_None([1, 2, None]) ➞ 2
    2. encontrar_None([None, 1, 2, 3, 4]) ➞ 0
    3. encontrar_None([0, 1, 2, 3, 4]) ➞ -1
    4. encontrar_None(['none', "None"]) ➞ -1

* `None` aparecerá en la lista como máximo una vez.
* `None` no es lo mismo que la cadena "None". Se puede comprobar con `type()`.

In [ ]:
def encontrar_None(lista):
    if None in lista:
        return lista.index(None)
    return -1

def encontrar_None(lista):
    return lista.index(None) if None in lista else -1

In [ ]:
print(encontrar_None([1, 2, None]))
print(encontrar_None([None, 1, 2, 3, 4]))
print(encontrar_None([0, 1, 2, 3, 4]))
print(encontrar_None(['none', "None"]))

2
0
-1
-1

## Reto 134: ¿Cuántos dígitos tiene un número?
* Cree una función que tiene un número como parámetro y devuelve la cantidad de dígitos que contiene.
* Ejemplos:
    1. cantidad_de_digitos(123) ➞ 3
    2. cantidad_de_digitos(56) ➞ 2
    3. cantidad_de_digitos(7154) ➞ 4
    4. cantidad_de_digitos(61217311514) ➞ 11
    5. cantidad_de_digitos(0) ➞ 1

In [ ]:
def cantidad_de_digitos(n):
    return len(str(abs(n)))

In [ ]:
print(cantidad_de_digitos(123))
print(cantidad_de_digitos(56))
print(cantidad_de_digitos(7154))
print(cantidad_de_digitos(61217311514) )
print(cantidad_de_digitos(0))

3
2
4
11
1

## Reto 135: Encuentre la bomba
* Cree una función que encuentre la palabra "bomba" en la cadena dada (no distingue entre mayúsculas y minúsculas).
* Si la encuentra, devuelva `"¡Corre!"`, de lo contrario, devuelva `"No hay bomba, relax."`.
* Ejemplos:
    1. comprobacion("Hay una bomba.") ➞ "!Corre!"
    2. comprobacion("¿Crees que hay una Bomba?") ➞ "!Corre!"
    3. comprobacion("Solo es una Boa.") ➞ "No hay bomba, relax."

In [ ]:
def comprobacion(frase):
    if "bomba" in frase.lower():
        return "¡Corre!"
    return "No hay bomba, relax."

def comprobacion(frase):
    return "¡Corre!" if "bomba" in frase.lower() else "No hay bomba, relax."

In [ ]:
print(comprobacion("Hay una bomba."))
print(comprobacion("¿Crees que hay una Bomba?"))
print(comprobacion("Solo es una Boa."))

¡Corre!
¡Corre!
No hay bomba, relax.

## Reto 136: Contar cierto caracter en un String
* Cree una función que tome dos cadenas como argumentos y devuelva el número de veces que la primera cadena (el carácter único) se encuentra en la segunda cadena.
* La función debe distinguir entre mayúsculas y minúsculas.
* Ejemplos:
    1. contar_caracter("a", "Sorpresa") ➞ 1
    2. contar_caracter("c", "Cáceres ciudad histórica") ➞ 3
    3. contar_caracter("C", "Cáceres ciudad histórica") ➞ 1

In [ ]:
def contar_caracter(caracter, palabra) :
    return palabra.count(caracter)

In [ ]:
print(contar_caracter("a", "Sorpresa") )
print(contar_caracter("c", "Cáceres ciudad histórica"))
print(contar_caracter("C", "Cáceres ciudad histórica"))

1
3
1

## Reto 137: Palabras compuestas
* Una palabra se ha dividido en una parte izquierda y una parte derecha.
* Vuelva a formar la palabra uniendo ambas mitades y haciendo que el primer caracter sea una letra mayúscula.
* Ejemplos:
    1. obtener_palabra("java", "script") ➞ "Javascript"
    2. obtener_palabra("data", "base") ➞ "Database"
    3. obtener_palabra("cyber", "space") ➞ "Cyberspace"
    4. obtener_palabra("net", "working") ➞ "Networking"

In [ ]:
def obtener_palabra(a, b):
    return a.title() + b

In [ ]:
print(obtener_palabra("java", "script"))
print(obtener_palabra("data", "base"))
print(obtener_palabra("cyber", "space"))
print(obtener_palabra("net", "working"))

Javascript
Database
Cyberspace
Networking

## Reto 138: Cada persona con su ocupación
* Tienes dos listas.
    >- Una muestra los nombres de las personas: `names`
    >- La otra muestra sus ocupaciones: `jobs`
* Su tarea consiste en crear un diccionario que muestre a cada persona en su respectiva ocupación.
* Las personas y ocupaciones siguen el mismo orden en sus listas.
* Ejemplo:
    - `names = ["Leo", "Vega", "Jana", "Alex", "Eva"]`
    - `jobs = ["Lawyer", "Teacher", "Doctor", "Programmer", "Chef"]`

    - `asignar(names, jobs) ➞ {'Leo': 'Lawyer', 'Vega': 'Teacher', 'Jana': 'Doctor', 'Alex': 'Programmer', 'Eva': 'Chef'}`

In [ ]:
def asignar(lst1, lst2):
    return dict(zip(lst1, lst2))

In [ ]:
names = ["Leo", "Vega", "Jana", "Alex", "Eva"]
jobs = ["Lawyer", "Teacher", "Doctor", "Programmer", "Chef"]
print(asignar(names, jobs))

{'Leo': 'Lawyer', 'Vega': 'Teacher', 'Jana': 'Doctor', 'Alex': 'Programmer', 'Eva': 'Chef'}

## Reto 139: Comprobar si un array cabe dentro de otro
* Cree una función que devuelva `True` si la primera lista se puede anidar dentro de la segunda y `False` en caso contrario.
* Ejemplos:
    1. puede_anidarse([1, 2, 3, 4], [0, 6]) ➞ True
    2. puede_anidarse([3, 1], [4, 2, 0]) ➞ True
    3. puede_anidarse([2, -1], [-3, 5]) ➞ True
    3. puede_anidarse([9, 9, 8], [8, 9]) ➞ False
    4. puede_anidarse([1, 2, 3, 4], [2, 3]) ➞ False
    5. puede_anidarse([1, 2, 4, 5, 6], [0, 6]) ➞ False
    6. puede_anidarse([0, 1, 2, 3, 5], [0, 6]) ➞ False

In [ ]:
def puede_anidarse(lst1, lst2):
    return min(lst1) > min(lst2) and max(lst1) < max(lst2)

In [ ]:
print(puede_anidarse([1, 2, 3, 4], [0, 6]))
print(puede_anidarse([3, 1], [4, 2, 0]))
print(puede_anidarse([2, -1], [-3, 5]))
print(puede_anidarse([9, 9, 8], [8, 9]))
print(puede_anidarse([1, 2, 3, 4], [2, 3]))
print(puede_anidarse([1, 2, 4, 5, 6], [0, 6]))
print(puede_anidarse([0, 1, 2, 3, 5], [0, 6]))

True
True
True
False
False
False
False

## Reto 140: Obtener el nombre de fichero
* Cree una función que devuelva el nombre de archivo seleccionado de una ruta.
* La función debe retornar el fichero y debe incluir la extensión.
* Ejemplos:
    1. get_filename("C:/Projects/tests/ascii/prueba.txt") ➞ "prueba.txt"
    2. get_filename("C:/Users/marta/Music/Beethoven_5.mp3") ➞ "Beethoven_5.mp3"
    3. get_filename("editor.exe") ➞ "editor.exe"

In [ ]:
def get_filename(ruta):
    if '/' in ruta:
        return ruta.split('/')[-1]
    else:
        return ruta

In [ ]:
print(get_filename("C:/Projects/tests/ascii/prueba.txt"))
print(get_filename("C:/Users/marta/Music/Beethoven_5.mp3"))
print(get_filename("editor.exe"))

prueba.txt
Beethoven_5.mp3
editor.exe

## Reto 141: Recrear la función `max`
* Dada una lista de números enteros de tamaño variable.
* Crear una función que retorne el mayor de todos los valores de la lista.
* No debe utilizar las funciones `max` o `min`.
* Ejemplos:
    1. maximo([1, 3, 5, 7]) ➞ 7
    2. maximo([5, 9, 1, 0]) ➞ 9
    3. maximo([-9, -7, -3, -5, -18]) ➞ -3

In [ ]:
def maximo(lst):
    candidato_max = lst[0]
    for i in lst:
        if i > candidato_max:
            candidato_max = i
    return candidato_max

In [ ]:
print(maximo([1, 3, 5, 7]))
print(maximo([5, 9, 1, 0]))
print(maximo([-9, -7, -3, -5, -18]))

7
9
-3

## Reto 142: Rotar una posición en la lista
* Dada una lista, gire los valores una posición en el sentido de las agujas del reloj (el último valor se envía a la primera posición).
* Ejemplos:
    1. rotar([1, 2, 3, 4, 5]) ➞ [5, 1, 2, 3, 4]
    2. rotar([6, 5, 8, 9, 7]) ➞ [7, 6, 5, 8, 9]
    3. rotar([20, 15, 26, 8, 4]) ➞ [4, 20, 15, 26, 8]

In [ ]:
def rotar(lst):
    return [lst.pop()] + lst

def rotar(lst):
    return [lst[-1]] + lst[:-1]

In [ ]:
print(rotar([1, 2, 3, 4, 5]))
print(rotar([6, 5, 8, 9, 7]))
print(rotar([20, 15, 26, 8, 4]))

[5, 1, 2, 3, 4]
[7, 6, 5, 8, 9]
[4, 20, 15, 26, 8]

## Reto 143: Diferencia de volumen entre cubos
* Cree un programa que tome dos listas de números enteros, `a` y `b`.
* Cada lista constará de 3 números enteros positivos, que representan las dimensiones de los cubos `a` y `b`.
* Encuentra la diferencia de volúmenes de los cubos.
* Por ejemplo, si los parámetros pasados son:
    - `([2, 2, 3], [5, 4, 1])`
* el volumen de `a` es 12 y el volumen de `b` es 20.
* Por lo tanto, la función debería devolver 8, en este caso.
* Ejemplos:
    1. calcular_diferencia([ 28, 16, 29 ], [ 7, 8, 17 ]) ➞ 12040
    2. calcular_diferencia([ 9, 22, 18 ], [ 16, 24, 10 ]) ➞ 276
    3. calcular_diferencia([ 1, 9, 25 ], [ 10, 7, 9 ]) ➞ 405
    4. calcular_diferencia([ 7, 6, 16 ], [ 26, 9, 26 ]) ➞ 5412

In [ ]:
# Método 1: Usando librería
from numpy import prod

def calcular_diferencia(a, b):
    return abs(prod(a) - prod(b))

# Método 2: Creando una función auxiliar que multiplica
def multi(a):
    result = 1
    for x in a:
        result *= x
    return result

def calcular_diferencia(a, b):
    return abs(multi(a) - multi(b))

# Método 3: La función lambda solo es válida para listas de 3 elementos
product = lambda a: a[0] * a[1] * a[2]

def calcular_diferencia(a, b):
    return abs(product(a) - product(b))

In [ ]:
print(calcular_diferencia([ 28, 16, 29 ], [ 7, 8, 17 ]))
print(calcular_diferencia([ 9, 22, 18 ], [ 16, 24, 10 ]))
print(calcular_diferencia([ 1, 9, 25 ], [ 10, 7, 9 ]))
print(calcular_diferencia([ 7, 6, 16 ], [ 26, 9, 26 ]))

12040
276
405
5412

## Reto 144: Ordenar números en orden ascendente
* Cree una función que tome una lista de números y devuelva una nueva lista, ordenada en orden ascendente (de menor a mayor).
* Si el argumento de la función es `None` o una lista vacía, devuelve una lista vacía.
* Ejemplos:
    1. ordenar_ascendente([]) ➞ []
    2. ordenar_ascendente([1, 2, 10, 50, 5]) ➞ [1, 2, 5, 10, 50]
    3. ordenar_ascendente([80, 29, 4, -95, -24, 85]) ➞ [-95, -24, 4, 29, 80, 85]

In [ ]:
def ordenar_ascendente(lista):
    if lista == None or lista == []:
        return []
    lista.sort()  # la lista queda realmente ordenada, queda alterada
    return lista

def ordenar_ascendente(lista):
    if lista == None or lista == []:
        return []
    return sorted(lista)  # la lista no se altera, sigue desordenada

In [ ]:
print(ordenar_ascendente([]))
print(ordenar_ascendente([1, 2, 10, 50, 5]))
print(ordenar_ascendente([80, 29, 4, -95, -24, 85]))

[]
[1, 2, 5, 10, 50]
[-95, -24, 4, 29, 80, 85]

## Reto 145: Encuentre el Index
* Cree una función que tome una lista y un valor como argumentos
* La función devolverá el índice que ocupa ese valor en la lista.
* Ejemplos:
    1. busca_indice(["hi", "bye", "xyz", "abc"], "xyz") ➞ 2
    2. busca_indice(["Red", "blue", "Blue", "Green"], "blue") ➞ 1
    3. busca_indice(["a", "g", "y", "d"], "d") ➞ 3
    4. busca_indice(["Kiwi", "Orange", "Grape", "Apple"], "Kiwi") ➞ 0
    5. busca_indice([10, 11, 12, 13, 14], 13) ➞ 3

In [ ]:
def busca_indice(lista, valor):
    return lista.index(valor)

In [ ]:
print(busca_indice(["hi", "bye", "xyz", "abc"], "xyz"))
print(busca_indice(["Red", "blue", "Blue", "Green"], "blue"))
print(busca_indice(["a", "g", "y", "d"], "d"))
print(busca_indice(["Kiwi", "Orange", "Grape", "Apple"], "Kiwi"))
print(busca_indice([10, 11, 12, 13, 14], 13))

2
1
3
0
3

## Reto 146: Suma de mínimos en una matriz
* Cree una función que tome una matriz y devuelva la suma del valor mínimo en cada fila.
* Una matriz es una lista de listas, esto es, una lista donde los elementos son otras listas.
* Ejemplos:
    1. suma_minimos([[1, 2, 3, 4], [5, 6, 7, 8], [20, 21, 34, 10]]) ➞ 16
    2. suma_minimos([[8, 9, -3], [3, 8, 4], [0, -2, 4]]) ➞ -2

In [ ]:
def suma_minimos(matriz):
    total = 0
    for fila in matriz:
        total += min(fila)
    return total

# usando list comprehension
def suma_minimos(matrix):
    return sum([min(row) for row in matrix])

In [ ]:
print(suma_minimos([[1, 2, 3, 4], [5, 6, 7, 8], [20, 21, 34, 10]]))
print(suma_minimos([[8, 9, -3], [3, 8, 4], [0, -2, 4]]))

16
-2

## Reto 147: Python List Slicing
* Dada una lista y un número entero `n`, devuelva la suma de los primeros `n` números de la lista.
* Si `n` es mayor que la longitud de la lista, devuelve la suma de toda la lista.
* La *list slicing* es una técnica común en Python que permite dividir las listas en porciones, en tramos, en rebanadas.
* Ejemplos:
    1. sumar_los_primeros([1, 3, 2], 2) ➞ 4
    2. sumar_los_primeros([4, 2, 5, 7], 4) ➞ 18
    3. sumar_los_primeros([3, 6, 2], 0) ➞ 0
    4. sumar_los_primeros([3, 6, 2], 7) ➞ 11

In [ ]:
def sumar_los_primeros(lista, n):
    return sum(lista[:n])

In [ ]:
print(sumar_los_primeros([1, 3, 2], 2))
print(sumar_los_primeros([4, 2, 5, 7], 4))
print(sumar_los_primeros([3, 6, 2], 0))
print(sumar_los_primeros([3, 6, 2], 7))

4
18
0
11

## Reto 148: Evitando `else` en algunos casos
* El siguiente código pretende identificar un número como positivo, negativo o cero.
* Tenemos este código:
<pre>
def analiza(x):
	if x > 0:
		return "positivo"
	elif x < 0:
		return "negativo"
	else:
		return "cero"
</pre>

* Nos gustaría eliminar la intrucción `else` del código y comprobar que todo funciona bien.
* Ejemplos:
    1. analiza(4) ➞ "positivo"
    2. analiza(-4) ➞ "negativo"
    3. analiza(0) ➞ "cero"

In [ ]:
def analiza(x):
    if x > 0:
        return "positivo"
    elif x < 0:
        return "negativo"
    return "cero"

def analiza(x):
    return 'positivo' if x > 0 else 'negativo' if x < 0 else 'cero'

In [ ]:
print(analiza(4))
print(analiza(-4))
print(analiza(0))

positivo
negativo
cero

## Reto 149: La letra prohibida
* Dada una letra y una lista de palabras, indique si la letra no aparece en ninguna de las palabras.
* Todas las entradas proporcionadas estarán en minúsculas.
* Ejemplos:
    1. letra_prohibida("r", ["rock", "paper", "scissors"]) ➞ False
    2. letra_prohibida("a", ["spoon", "fork", "knife"]) ➞ True
    3. letra_prohibida("m", []) ➞ True

In [ ]:
def letra_prohibida(letra, lista):
    for palabra in lista:
        if letra in palabra:
            return False
    return True

# usando una expresión generadora dentro de la función all()
def letra_prohibida(letra, lista):
    return all(letra not in palabra for palabra in lista)

In [ ]:
print(letra_prohibida("r", ["rock", "paper", "scissors"]))
print(letra_prohibida("a", ["spoon", "fork", "knife"]))
print(letra_prohibida("m", []))

False
True
True

## Reto 150: Promedios recortados
* Dada una lista de números, elimine los números más grandes y más pequeños y calcule el promedio de los números restantes.
* Redondea al número entero más próximo.
* El tamaño de la lista es mayor que 2.
* Ejemplos:
    1. promedios_recortados([4, 5, 7, 100]) ➞ 6
    2. promedios_recortados([10, 25, 5, 15, 20]) ➞ 15
    3. promedios_recortados([1, 1, 1]) ➞ 1
    4. promedios_recortados([-2, -1, 7, 2, 10]) ➞ 3

In [ ]:
def promedios_recortados(lista):
    lista.sort()
    lista_recortada = lista[1:-1]
    return round(sum(lista_recortada) / len(lista_recortada))

In [ ]:
print(promedios_recortados([4, 5, 7, 100]))
print(promedios_recortados([10, 25, 5, 15, 20]))
print(promedios_recortados([1, 1, 1]))
print(promedios_recortados([-2, -1, 7, 2, 10]))

6
15
1
3

## Reto 151: Recreando la función `len()`
* Cree una función que devuelva la longitud de una cadena o de una lista, sin usar len().
* Ejemplos:
    1. length("Hello World") ➞ 11
    2. length([2,3,4,-7]) ➞ 4
    3. length("Learn by Doing") ➞ 14
    4. length({'list':[], 'set':{}, 'str':"", 'int':0, 'float':0.0}) ➞ 5
    5. length({1, '1', "1"}) ➞ 2

In [ ]:
def length(objeto):
    contador = 0
    for item in objeto:
        contador += 1
    return contador

# usando list comprehension
def length(obj):
    return sum([1 for i in obj])

In [ ]:
print(length("Hello World"))
print(length([2,3,4,-7]))
print(length("Learn by Doing"))
print(length({'list':[], 'set':{}, 'str':"", 'int':0, 'float':0.0}))
print(length({1, '1', "1"}))

11
4
14
5
2

## Reto 152: Evite los alimentos con demasiada grasa
* Escriba una función que tome una lista de alimentos y devuelva una lista sin alimentos con alto contenido de grasa.
* Los alimentos que contienen demasiada grasa (en este desafío) son: pizza y hamburguesa.
* Ejemplos:
    1. evite_grasa(["pizza", "hamburguesa", "ensalada"]) ➞ ["ensalada"]
    2. evite_grasa(["pizza", "hamburguesa"]) ➞ []
    3. evite_grasa(["gazpacho", "pasta", "ensalada"]) ➞ ["gazpacho", "pasta", "ensalada"]

In [ ]:
def evite_grasa(lst):
    if 'pizza' in lst:
        lst.remove('pizza')
    if 'hamburguesa' in lst:
        lst.remove('hamburguesa')
    return lst

# usando list comprehension
def evite_grasa(lst):
    return [comida for comida in lst if comida not in ['pizza', 'hamburguesa']]

In [ ]:
print(evite_grasa(["pizza", "hamburguesa", "ensalada"]))
print(evite_grasa(["pizza", "hamburguesa"]))
print(evite_grasa(["gazpacho", "pasta", "ensalada"]))

['ensalada']
[]
['gazpacho', 'pasta', 'ensalada']

## Reto 153: Un día en el mercado
* Bill y Will partirán hacia la feria anual.
* Mientras se acercan a los puestos, Bill dice que podrá llevar a casa más cosas que Will.
* Will lo toma como un desafío, Will lo refuta y comienza la competición.
* Bill tiene un espacio de inventario infinito, pero una cantidad limitada de monedas.
* Will tiene una cantidad infinita de monedas, pero un espacio de inventario limitado.
* Los argumentos de la función que debe crear van en este orden:
    - `who_wins_tonight(coins, space, price, size)``
    1. Primero: La camtodad de monedas de Bill.
    2. Segundo: La cantidad de espacio de inventario de Will.
    3. Tercero: El precio del artículo.
    4. Cuarto: El tamaño del artículo.
* Ejemplo resuelto:
    - `who_wins_tonight(40, 96, 5, 10) ➞ "Will"`
    - Cada prodcuto cuesta 5 monedas y ocupa un espacio de inventario de 10.
    - Bill puede comprar un máximo de 8 productos (40 coins DIV 5 = 8).
    - Will sólo podrá llevar a casa un máximo de 9 artículos. (96 inventory spaces DIV 10 = 9). En realidad 96/5 es 9.6 pero se toma la parte entera, redondeando por defecto.
    - Will es el ganador en este caso.
* Ejemplos:
    1. who_wins_tonight(20, 20, 5, 10) ➞ "Bill"
    2. who_wins_tonight(10, 2, 20, 1) ➞ "Will"
    3. who_wins_tonight(3, 7, 2, 5) ➞ "Tie"
    4. who_wins_tonight(40, 96, 5, 10) ➞ "Will"
* DIV significa división entera. Eso significa que redondeas hacia abajo después de dividir.
* Devuelve "Tie" (Empate) si ambos contendientes pueden permitirse la misma cantidad de cosas.
* Todos los números serán números enteros positivos.

In [ ]:
def who_wins_tonight(coins, space, price, size):
    items_bill = coins // price
    items_will = space // size
    if items_bill > items_will:
        return 'Bill'
    elif items_will > items_bill:
        return 'Will'
    return 'Tie'

In [ ]:
print(who_wins_tonight(20, 20, 5, 10))
print(who_wins_tonight(10, 2, 20, 1))
print(who_wins_tonight(3, 7, 2, 5))
print(who_wins_tonight(40, 96, 5, 10))

Bill
Will
Tie
Will

## Reto 154: Encuentra las letras únicas
* Cree una función que tome una cadena y devuelva las letras que aparecen solo una vez.
* Ejemplos:
    1. letras_unicas("monopoly") ➞ ["m", "n", "p", "l", "y"]
    2. letras_unicas("balloon") ➞ ["b", "a", "n"]
    3. letras_unicas("analysis") ➞ ["n", "l", "y", "i"]
    4. letras_unicas("banana") ➞ ["b"]
    5. letras_unicas("reappear") ➞ []
* La lista final no debe incluir letras que aparezcan más de una vez en la cadena.
* Devuelve las letras en la secuencia en la que estaban originalmente, no las ordene.
* Todas las letras estarán en minúsculas.

In [ ]:
def letras_unicas(palabra):
    result = []
    for letra in palabra:
        if palabra.count(letra) == 1:
            result.append(letra)
    return result

In [ ]:
print(letras_unicas("monopoly") )
print(letras_unicas("balloon") )
print(letras_unicas("analysis"))
print(letras_unicas("banana"))
print(letras_unicas("reappear"))

['m', 'n', 'p', 'l', 'y']
['b', 'a', 'n']
['n', 'l', 'y', 'i']
['b']
[]

## Reto 155: Lista de strings a lista de números
* Cree una función que tome como parámetro una lista de números en forma de strings y devuelva una lista de números.
* Algunos elementos son de tipo `float`
* Ejemplos:
    1. convertir_a_numeros(["99", "20"]) ➞ [99, 20]
    2. convertir_a_numeros(["9.4", "4.2"]) ➞ [9.4, 4.2]
    3. convertir_a_numeros(["1", "3", "3.6"] ➞ [1, 3, 3.6]

In [ ]:
def convertir_a_numeros(lista):
    return [float(elemento) if "." in elemento else int(elemento) for elemento in lista]

def convertir_a_numeros(lista):
    return list(map(lambda x: float(x) if '.' in x else int(x), lista))

def convertir_a_numeros(lista):
    numeros = []
    for elemento in lista:
        numero = float(elemento)
        numeros.append(int(numero) if numero.is_integer() else numero)
    return numeros

# Método similar al anterior pero con list comprehension
def convertir_a_numeros(lista):
    return [int(float(e)) if float(e) == int(float(e)) else float(e) for e in lista]

In [ ]:
print(convertir_a_numeros(["99", "20"]))
print(convertir_a_numeros(["9.4", "4.2"]))
print(convertir_a_numeros(["1", "3", "3.6"]))

[99, 20]
[9.4, 4.2]
[1, 3, 3.6]

## Reto 156: Errores al escanear un documento
* El software de reconocimiento de caracteres a menudo comete errores cuando se digitalizan documentos (especialmente los antiguos escritos con una máquina de escribir).
* Su tarea es corregir los errores en el texto digitalizado. Sólo tienes que manejar los siguientes errores:
    1. A se malinterpreta como 4
    2. S se malinterpreta como 5
    3. O se malinterpreta como 0
    4. I se malinterpreta como 1
* Los casos de prueba contienen números sólo por error.
* Ejemplos:
    1. corregir_errores("DUBL1N") ➞ "DUBLIN"
    2. corregir_errores("51NG4P0RE") ➞ "SINGAPORE"
    3. corregir_errores("4514") ➞ "ASIA"

In [ ]:
def corregir_errores(mystr):
    result = ""
    for letra in mystr:
        if letra == '4':
            result += "A"
        elif letra == '5':
            result += "S"
        elif letra == '0':
            result += "O"
        elif letra == '1':
            result += "I"
        else:
            result += letra
    return result

def corregir_errores(txt):
    txt = txt.replace("4", "A")
    txt = txt.replace("5", "S")
    txt = txt.replace("0", "O")
    txt = txt.replace("1", "I")
    return txt

In [ ]:
print(corregir_errores("DUBL1N"))
print(corregir_errores("51NG4P0RE"))
print(corregir_errores("4514"))

DUBLIN
SINGAPORE
ASIA

## Reto 157: Repetir el último caracter
* Cree una función que haga que el último carácter de una cadena se repita `n` veces.
* Ejemplos:
    1. repetir_ultimo("Hello", 3) ➞ "Hellooo"
    2. repetir_ultimo("hey", 6) ➞ "heyyyyyy"
    3. repetir_ultimo("y sin embargo se mueve!", 5) ➞ "y sin embargo se mueve!!!!!"

In [ ]:
def repetir_ultimo(txt, n):
    return txt[:-1] + ''.join([txt[-1]*n])

In [ ]:
print(repetir_ultimo("Hello", 3))
print(repetir_ultimo("hey", 6))
print(repetir_ultimo("y sin embargo se mueve!", 5))

Hellooo
heyyyyyy
y sin embargo se mueve!!!!!

## Reto 158: Comprobar si son iguales
* En este desafío, debe verificar la igualdad de dos valores, `a` y `b`, dados a la función como parámetros.
* Tanto el valor como el tipo de los parámetros deben ser iguales.
* Los posibles tipos de parámetros dados son:
    1. Números
    2. Strings
    3. Booleans (False o True)
    4. Valores especiales: None
* Implemente una función que devuelva `True` si los parámetros son iguales y `False` si no lo son.
* Ejemplos:
    1. comprobar_igualdad(1,  1) ➞ True
    2. comprobar_igualdad(1, True) ➞ False
    3. comprobar_igualdad(0, "0") ➞ False
    4. comprobar_igualdad(0.0, False) ➞ False
    5. comprobar_igualdad(7, 7.) ➞ False
    6. comprobar_igualdad(bool(7), True) ➞ True
    7. comprobar_igualdad(bool(7), bool(8)) ➞ True

* Para que la función retorne `True` ambos valores deben ser iguales y ambos tipos deben ser iguales.

In [ ]:
def comprobar_igualdad(a, b):
    return a == b and type(a) == type(b)

def comprobar_igualdad(a, b):
    return a is b

In [ ]:
print(comprobar_igualdad(1, 1))
print(comprobar_igualdad(1, True))
print(comprobar_igualdad(0, "0"))
print(comprobar_igualdad(0.0, False))
print(comprobar_igualdad(7, 7.))
print(comprobar_igualdad(bool(7), True))
print(comprobar_igualdad(bool(7), bool(8)))

True
False
False
False
False
True
True

## Reto 159: Convertir una Lista en un String
* Cree una función que tome una lista de números o letras y devuelva una cadena.
* Ejemplos:
    1. list_to_string([1, 2, 3, 4, 5, 6]) ➞ "123456"
    2. list_to_string(["a", "b", "c", "d", "e", "f"]) ➞ "abcdef"
    3. list_to_string([1, 2, 3, "a", "s", "dAAAA"]) ➞ "123asdAAAA"

In [ ]:
def list_to_string(lst):
    return ''.join(str(elemento) for elemento in lst)

def list_to_string(lst):
    return ''.join(map(str, lst))

In [ ]:
print(list_to_string([1, 2, 3, 4, 5, 6]))
print(list_to_string(["a", "b", "c", "d", "e", "f"]))
print(list_to_string([1, 2, 3, "a", "s", "dAAAA"]))

123456
abcdef
123asdAAAA

## Reto 160: Suma de cubos
* Cree una función que tome un número entero positivo `n` y devuelva la suma de todos los valores al cubo de 1 a `n`.
* Por ejemplo, si `n` es 3:  
$1^3 + 2^3 + 3^3 = 36$
* Ejemplos:
    1. suma_cubos(3) ➞ 36
    2. suma_cubos(7) ➞ 784
    3. suma_cubos(8) ➞ 1296
    4. suma_cubos(9) ➞ 2025

In [ ]:
def suma_cubos(n):
    total = 0
    for i in range(1, n+1):
        total += i ** 3
    return total

# usando list comprehension
def suma_cubos(n):
    return sum([i ** 3 for i in range(1, n + 1)])

In [ ]:
print(suma_cubos(3))
print(suma_cubos(7))
print(suma_cubos(8))
print(suma_cubos(9))

36
784
1296
2025

## Reto 161: Entero dentro de rango
* Cree una función que valide si un número `n` está dentro de los límites `inferior` y `superior`.
* Devuelve `False` si `n` no es un número entero.
* Los argumentos de la función van en este orden:  
    - `en_rango(n, inferior, superior)`
* Ejemplos:
    1. en_rango(3, 1, 9) ➞ True
    2. en_rango(6, 1, 6) ➞ False
    3. en_rango(4.5, 3, 8) ➞ False
    4. en_rango(1, 1, 9) ➞ False
    5. en_rango(3., 1, 9) ➞ False
* El término "dentro de límites" significa que un número `n` ha de estar dentro del intervalo sin que puede sar igual a ninguno de los extremos
* Los límites siempre se dan como números enteros.

In [ ]:
# Método 1
def en_rango(n, inferior, superior):
    if type(n) != int:
        return False
    return inferior < n < superior

# Método 2
def en_rango(n, inferior, superior):
    return type(n) == int and inferior < n < superior

# Método 3
def en_rango(n, inferior, superior):
    return isinstance(n, int) and inferior < n < superior

In [ ]:
print(en_rango(3, 1, 9))
print(en_rango(6, 1, 6))
print(en_rango(4.5, 3, 8))
print(en_rango(1, 1, 9))
print(en_rango(3., 1, 9))

True
False
False
False
False

## Reto 162: La longitud total de Google
* La palabra `Google` se escribe con 2 letras `o`.
* Cree una función que reciba el parámetro `n` que diga cuantas letras `o` tendremos que escribir.
* `n` será mayor o igual a 2 y en caso contrario se imprimirá "invalid"
    1. googlear(10) ➞ "Goooooooooogle"
    2. googlear(23) ➞ "Gooooooooooooooooooooooogle"
    3. googlear(2) ➞ "Google"
    4. googlear(-2) ➞ "invalid"

In [ ]:
def googlear(n):
    if n < 2:
        return "invalid"
    return 'G' + 'o' * n + 'gle'

In [ ]:
print(googlear(10))
print(googlear(23))
print(googlear(2))
print(googlear(-2))

Goooooooooogle
Gooooooooooooooooooooooogle
Google
invalid

## Reto 163: Total Maximo condicional
* Dada una lista de 10 números, devuelva el total máximo posible obtenido sumando solo 5 de los 10 números.

    1. max_total([1, 1, 0, 1, 3, 10, 10, 10, 10, 1]) ➞ 43
    2. max_total([0, 0, 0, 0, 0, 0, 0, 0, 0, 100]) ➞ 100
    3. max_total([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) ➞ 40

In [ ]:
def max_total(lista):
    lista.sort(reverse=True)
    return sum(lista[:5])

In [ ]:
print(max_total([1, 1, 0, 1, 3, 10, 10, 10, 10, 1]))
print(max_total([0, 0, 0, 0, 0, 0, 0, 0, 0, 100]))
print(max_total([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

43
100
40

## Reto 164: Compruebe si es el mismo caso
* Cree una función que devuelva `True` si una cadena de entrada contiene solo letras mayúsculas o solo letras minúsculas.
    1. mismo_caso("hello") ➞ True
    2. mismo_caso("HELLO") ➞ True
    3. mismo_caso("Hello") ➞ False
    4. mismo_caso("ketchUp") ➞ False

In [ ]:
def mismo_caso(txt):
    return txt == txt.upper() or txt == txt.lower()

In [ ]:
print(mismo_caso("hello"))
print(mismo_caso("HELLO"))
print(mismo_caso("Hello"))
print(mismo_caso("ketchUp"))

True
True
False
False

## Reto 165: Los mayores números de una lista
* Cree una función que tiene dos parámetros: un número entero y una lista:
    - `numeros_mayores(n, lista)`
* La función retorna una lista con los `n` números más grandes de la lista dada.
* Ejemplos:
    1. numeros_mayores(2, [4, 3, 2, 1]) ➞ [3, 4]
    2. numeros_mayores(1, [7, 19, 4, 2]) ➞ [19]
    3. numeros_mayores(3, [14, 12, 57, 11, 18, 16]) ➞ [16, 18, 57]
    4. numeros_mayores(0, [1, 3, 4, 2]) ➞ []

In [ ]:
def numeros_mayores(n, lista):
    lista.sort()
    return lista[len(lista) - n:]

In [ ]:
print(numeros_mayores(2, [4, 3, 2, 1]))
print(numeros_mayores(1, [7, 19, 4, 2]))
print(numeros_mayores(3, [14, 12, 57, 11, 18, 16]))
print(numeros_mayores(0, [1, 3, 4, 2]))

[3, 4]
[19]
[16, 18, 57]
[]

## Reto 166: Contar las sílabas
* Cree una función que devuelva el número de sílabas en una cadena simple.
* La cadena se compone de palabras cortas repetidas como "Lalalalalalala" (que tendría 7 sílabas).
* Para simplificar, tenga en cuenta que cada sílaba constará de dos letras únicamente.
* Su código debe aceptar cadenas mayúsculas, minúsculas y mixtas.
* Ejemplos:
    1. contar_sílabas("Hehehehehehe") ➞ 6
    2. contar_sílabas("totototototototo") ➞ 8
    3. contar_sílabas("NANANA") ➞ 3

In [ ]:
def contar_sílabas(txt):
    txt = txt.lower()
    return txt.count(txt[:2])

In [ ]:
print(contar_sílabas("Hehehehehehe"))
print(contar_sílabas("totototototototo"))
print(contar_sílabas("NANANA"))

6
8
3

## Reto 167: Factores de un número
* Cree una función que encuentre cada factor de un número dado `n`.
* Su solución debería devolver una lista de los números que cumplen con este criterio.
* Devuelve una lista vacía si el número dado es menor que 1.
* Ejemplos:
    1. buscar_factores(9) ➞ [1, 3, 9]
    2. buscar_factores(12) ➞ [1, 2, 3, 4, 6, 12]
    3. buscar_factores(20) ➞ [1, 2, 4, 5, 10, 20]
    4. buscar_factores(0) ➞ []

In [ ]:
def buscar_factores(n):
    if n < 1:
        return []
    factores = []
    for i in range(1, n+1):
        if n % i == 0:
            factores.append(i)
    return factores

# usando una list  comprehension
def buscar_factores(n):
    return [i for i in range(1, n + 1) if n % i == 0] if n > 0 else []

In [ ]:
print(buscar_factores(9))
print(buscar_factores(12))
print(buscar_factores(20))
print(buscar_factores(0))

[1, 3, 9]
[1, 2, 3, 4, 6, 12]
[1, 2, 4, 5, 10, 20]
[]

## Reto 168: Agua hirviendo
* Cree una función que determine si la temperatura del agua se considera que está hirviendo o no.
* La temperatura se medirá en Fahrenheit y Celsius.
* El punto de ebullición del agua es 212 °F en Fahrenheit y 100 °C en Celsius.
* Ejemplos:
    1. esta_hirviendo("212F") ➞ True
    2. esta_hirviendo("100C") ➞ True
    3. esta_hirviendo("0F") ➞ False

In [ ]:
def esta_hirviendo(txt):
    return (txt[-1] == "C" and int(txt[:-1]) >= 100) or (txt[-1] == "F" and int(txt[:-1]) >= 212)

In [ ]:
print(esta_hirviendo("212F"))
print(esta_hirviendo("100C"))
print(esta_hirviendo("0F"))

True
True
False

## Reto 169: Tiroteo de vaqueros
* Wild Roger tiene la tarea de derribar 6 botellas con 6 disparos lo más rápido posible.
* Estos son los diferentes tipos de tiros que podría realizar:
    - Podría usar una pistola para dispararle a una botella con un "Bang!" en 0,5 segundos.
    - o bien, podría usar ambas pistolas a la vez con un "BangBang!". De esta forma estaría disparano dos botellas en 0,5 segundos.
* Dada una lista de Bangs y BangBangs, se devuelve el tiempo (en segundos) que tomó derribar las 6 botellas.
* Asegúrate de contar solo Bangs y BangBangs. Cualquier otra cosa no cuenta.
* Todas las botellas serán derribadas en todas las pruebas.
* Ejemplos:
    1. disparos_de_roger(["Bang!", "Bang!", "Bang!", "Bang!", "Bang!", "Bang!"]) ➞ 3
    2. disparos_de_roger(["Bang!", "Bang!", "Bang!", "Bang!", "BangBang!"]) ➞ 2.5
    3. disparos_de_roger(["Bang!", "BangBangBang!", "Boom!", "Bang!", "BangBang!", "BangBang!"]) ➞ 2

In [ ]:
# Método 1: usando or
def disparos_de_roger(lista):
    tiempo = 0
    for disparo in lista:
        if disparo == "Bang!" or disparo == "BangBang!":
            tiempo += 0.5
    return tiempo

# Método 2: usando in
def disparos_de_roger(lista):
    tiempo = 0
    for disparo in lista:
        if disparo in ["Bang!", "BangBang!"]:
            tiempo += 0.5
    return tiempo

# Método 3: usando list comprehension
def disparos_de_roger(lista):
    return sum([.5 for i in lista if i in ("Bang!", "BangBang!")])

In [ ]:
print(disparos_de_roger(["Bang!", "Bang!", "Bang!", "Bang!", "Bang!", "Bang!"]))
print(disparos_de_roger(["Bang!", "Bang!", "Bang!", "Bang!", "BangBang!"]))
print(disparos_de_roger(["Bang!", "BangBangBang!", "Boom!", "Bang!", "BangBang!", "BangBang!"]))

3.0
2.5
2.0

## Reto 170: Revertir mayúsculas y minúsculas
* Dada una cadena, cree una función para invertir las mayúsculas por minúsculas y viceversa.
* Todas las letras minúsculas deben tornar en mayúsculas y viceversa.
* Ejemplos:
    1. caso_inverso("Happy Birthday") ➞ "hAPPY bIRTHDAY"
    2. caso_inverso("MANY THANKS") ➞ "many thanks"
    3. caso_inverso("ChOcOlAtE") ➞ "cHoCoLaTe"

In [ ]:
def caso_inverso(txt):
    result = ""
    for caracter in txt:
        if caracter.isupper():
            result += caracter.lower()
        elif caracter.islower():
            result += caracter.upper()
        else:
            result += caracter
    return result

def caso_inverso(cadena):
    return cadena.swapcase()

In [ ]:
print(caso_inverso("Happy Birthday"))
print(caso_inverso("MANY THANKS"))
print(caso_inverso("ChOcOlAtE"))

hAPPY bIRTHDAY
many thanks
cHoCoLaTe

## Reto 171: ¿Cuántos Verdadero hay?
* Cree una función que devuelva el número de valores `True` en una lista.
* Ejemplos:
    1. cuenta_true([True, False, False, True, False]) ➞ 2
    2. cuenta_true([False, False, False, False]) ➞ 0
    3. cuenta_true([]) ➞ 0
* Devuelve 0 si el argumentos es una lista vacía.
* Todos los elementos de la lista son del tipo bool (`True` o `False`).

In [ ]:
def cuenta_true(lista):
    return sum(1 for i in lista if i == True)

def cuenta_true(lista):
    return lista.count(True)

In [ ]:
print(cuenta_true([True, False, False, True, False]))
print(cuenta_true([False, False, False, False]))
print(cuenta_true([]))

2
0
0

## Reto 172: Buscando un login válido
* Un usuario está intentando crear su login en una web juntando su nickname y su edad.
* La edad se proporciona como un número entero.
* Cree una función que retorne este login y así podrá ayudar a los usuarios sugiriéndoles una alterternativa.
* Ejemplos:
    1. login_sugerido("Anna", 16) ➞ "Anna16"
    2. login_sugerido("Luix", 17) ➞ "Luix17"
    3. login_sugerido("mari@", 18) ➞ "mari@18"

In [ ]:
def login_sugerido(nickname, edad):
    return nickname + str(edad)

def login_sugerido(nickname, edad):
    return f"{nickname}{edad}"

In [ ]:
print(login_sugerido("Anna", 16))
print(login_sugerido("Luix", 17))
print(login_sugerido("mari@", 18))

Anna16
Luix17
mari@18

## Reto 173: Recursividad aplicada a repetir un String `n` veces
* Cree una función recursiva que tome dos parámetros y repita la cadena `n` veces.
* El primer parámetro es la cadena que se repetirá
* El segundo parámetro es el número de veces que se repetirá la cadena.
* Ejemplos:
    1. repeticion("ab", 3) ➞ "ababab"
    2. repeticion("kiwi", 1) ➞ "kiwi"
    3. repeticion("Cherry", 2) ➞ "CherryCherry"

In [ ]:
def repeticion(txt, n):
    if n == 1:
        return txt
    else:
        return txt + repeticion(txt, n-1)

# utilizando un operador ternario
def repeticion(txt, n):
    return txt if n <= 1 else txt + repeticion(txt, n - 1)

In [ ]:
print(repeticion("ab", 3))
print(repeticion("kiwi", 1))
print(repeticion("Cherry", 2))

ababab
kiwi
CherryCherry

## Reto 174: ¿De qué generación eres?
* Intente encontrar a sus antepasados ​​y descendencia con código.
* Cree una función que tome un número `nivel` y un carácter `genero` ("m" para hombre, "f" para mujer) y devuelva el nombre de un antepasado (m/f) o descendiente (m/f).
* Si el número es negativo, devuelve el antepasado relacionado.
* Si es positivo, devuelve el descendiente relacionado.
* Tu eres la generación 0. En el caso de 0 (masculino o femenino), devuelve "me!".
* Ejemplos:
    1. generation(2, "f") ➞ "granddaughter"
    2. generation(-3, "m") ➞ "great grandfather"
    3. generation(1, "f") ➞ "daughter"
    4. generation(0, "f") ➞ "me!"
    5. generation(3, "m") ➞ "great grandson"
    6. generation(-2, "f") ➞ "grandmother"
    7. generation(-1, "m") ➞ "father"


| Generation | Male              | Female                |
|------------|-------------------|-----------------------|
| -3         | great grandfather | great grandmother     |
| -2         | grandfather       | grandmother           |
| -1         | father            | mother                |
| 0          | me!               | me!                   |
| 1          | son               | daughter              |
| 2          | grandson          | granddaughter         |
| 3          | great grandson    | great granddaughter   |

In [ ]:
def generation(nivel, genero):
    prefijo = ["", "grand", "great grand"]
    relaciones = { "m": ["father", "son"], "f": ["mother", "daughter"] }
    if nivel == 0:
        return "me!"
    return prefijo[abs(nivel)-1] + relaciones[genero][int(nivel>0)]

In [ ]:
print(generation(2, "f"))
print(generation(-3, "m"))
print(generation(1, "f"))
print(generation(0, "f"))
print(generation(3, "m"))
print(generation(-2, "f"))
print(generation(-1, "m"))

granddaughter
great grandfather
daughter
me!
great grandson
grandmother
father

## Reto 175: Atleta corriendo
* Para este desafío no se da enunciado.
* Cree una función que responda a los casos de uso con la salida que se indica.
* Ejemplos:
    1. atleta_corriendo(["run", "jump", "run", "jump", "run"])) ➞ "\_|\_|\_"
    2. atleta_corriendo(["run", "jump", "run", "run", "run"]) ➞ "\_|\_/\_"
    3. atleta_corriendo(["jump", "jump", "jump", "jump", "jump"]) ➞ "x|x|x"
    4. atleta_corriendo(["run", "run", "run", "run", "run"]) ➞ "\_/\_/\_"

In [ ]:
def atleta_corriendo(acciones):
    result = ""
    for i, accion in enumerate(acciones):
        if accion == 'run':
            if i % 2: # index impar
                result += '/'
            else:
                result += '_'
        elif accion == 'jump':
            if i % 2: # index impar
                result += '|'
            else:
                result += 'x'
    return result

def atleta_corriendo(acciones):
    result = list("_|_|_")
    for i, v in enumerate(acciones):
        if i % 2 and v == "run":
            result[i] = "/"
        elif not(i % 2) and v == "jump":
            result[i] = "x"
    return ''.join(result)

In [ ]:
print(atleta_corriendo(["run", "jump", "run", "jump", "run"]))
print(atleta_corriendo(["run", "jump", "run", "run", "run"]))
print(atleta_corriendo(["jump", "jump", "jump", "jump", "jump"]))
print(atleta_corriendo(["run", "run", "run", "run", "run"]))

_|_|_
_|_/_
x|x|x
_/_/_

## Reto 176: Función tartamuda
* Escriba una función que tartamudee una palabra como si alguien tuviera dificultades para leerla.
* Las dos primeras letras se repiten dos veces con puntos suspensivos `...` y un espacio después de cada una, y luego la palabra se pronuncia con un signo de interrogación `?` al final.
* Ejemplos:
    1. tartamudear("increible") ➞ "in... in... increible?"
    2. tartamudear("entusiasta") ➞ "en... en... entusiasta?"
    3. tartamudear("excepcional") ➞ "ou... ou... excepcional?"

In [ ]:
def tartamudear(palabra):
    return (palabra[:2] + "... ") * 2 + palabra + "?"

In [ ]:
print(tartamudear("increible"))
print(tartamudear("entusiasta"))
print(tartamudear("excepcional"))

in... in... increible?
en... en... entusiasta?
ex... ex... excepcional?

## Reto 177: Luke, I Am Your ...
* Luke Skywalker tiene familiares y amigos.
* Ayúdalo a recordar quién es quién.
* Dada una cadena con un nombre, devuelve la relación de esa persona con Luke.

| Person      | Relation       |
|-------------|----------------|
| Darth Vader | father         |
| Leia        | sister         |
| Han         | brother in law |
| R2D2        | droid          |

* Tip: Podría ser una buena idea crear un diccionario.
* Ejemplos:
    1. relacion_con_luke("Darth Vader") ➞ "Luke, I am your father."
    2. relacion_con_luke("Leia") ➞ "Luke, I am your sister."
    3. relacion_con_luke("Han") ➞ "Luke, I am your brother in law."
    4. relacion_con_luke("R2D2") ➞ "Luke, I am your droid."

In [ ]:
def relacion_con_luke(name):
    d = {'Darth Vader':'father',
         'Leia': 'sister',
         'Han': 'brother in law',
         'R2D2': 'droid'}
    return f"Luke, I am your {d[name]}."

In [ ]:
print(relacion_con_luke("Darth Vader"))
print(relacion_con_luke("Leia"))
print(relacion_con_luke("Han"))
print(relacion_con_luke("R2D2"))

Luke, I am your father.
Luke, I am your sister.
Luke, I am your brother in law.
Luke, I am your droid.

## Reto 178: Par o impar: ¿cuál es mayor?
* Cree una función que reciba una cadena de números y devuelva el resultado de calcular la suma de todos los dígitos pares individuales y la suma de todos los dígitos impares individuales.
* Lo que se retorna es una tupla con la suma de los pares y la suma de los impares, en este orden: `(par, impar)`.
    - número par = even number
    - número impar = odd number
* Ejemplos:
    1. suma_par_impar("22471") ➞ (8, 8)
    2. suma_par_impar("213613") ➞ (8, 8)
    3. suma_par_impar("23456") ➞ (12, 8)
    4. suma_par_impar("23574") ➞ (6, 15)

In [ ]:
def suma_par_impar(cadena):
    impar = 0   # inicializamos el contador de impares
    par = 0     # inicializamos el contador de pares
    for d in cadena:        # para cada digito de la cadena
        if int(d) % 2:      # si es impar
            impar += int(d) # aumenta el contador de impares
        else:
            par += int(d)   # aumenta el contador de pares
    return (par, impar)     # retorna una tupla de (pares, impares)

def suma_par_impar(cadena):
    total = sum(map(int, cadena))
    impares = sum(int(d) for d in cadena if int(d) % 2)
    pares = total - impares
    return pares, impares   # retorna una tupla

In [ ]:
print(suma_par_impar("22471"))
print(suma_par_impar("213613"))
print(suma_par_impar("23456"))
print(suma_par_impar("23574"))

(8, 8)
(8, 8)
(12, 8)
(6, 15)

## Reto 179: Calculando el daño recibido
* Cree una función que reciba daño y velocidad (ataques por segundo) y devuelva la cantidad de daño después de un tiempo determinado.
* Retorne "invalid" si el daño o la velocidad son negativos.
* Ejemplos:
    1. destruccion(40, 5, "second") ➞ 200
    2. destruccion(100, 1, "minute") ➞ 6000
    3. destruccion(2, 100, "hour") ➞ 720000
    4. destruccion(5, -5, "minute") ➞ "invalid"

In [ ]:
def destruccion(damage, speed, time):
    if damage < 0 or speed < 0:
        return 'invalid'
    total = 0
    if time == 'second':
        total += damage * speed
    elif time == 'minute':
        total += damage * speed * 60
    elif time == 'hour':
        total += damage * speed * 3600
    return total

In [ ]:
print(destruccion(40, 5, "second"))
print(destruccion(100, 1, "minute"))
print(destruccion(2, 100, "hour"))
print(destruccion(5, -5, "minute"))

200
6000
720000
invalid

## Reto 180: Vamos a ordenar esta lista
* Cree una función que tome una `lista` de números, una cadena `tipo` y devuelva una lista de números según las siguientes reglas:
    1. "Asc" devuelve una lista ordenada en orden ascendente.
    2. "Des" devuelve una lista ordenada en orden descendente.
    3. "None" devuelve una lista sin ninguna modificación.
* Ejemplos:
    1. ordenar([4, 3, 2, 1], "Asc") ➞ [1, 2, 3, 4]
    2. ordenar([7, 8, 11, 66], "Des") ➞ [66, 11, 8, 7]
    3. ordenar([4, 3, 5, 2, 1], "None") ➞ [4, 3, 5, 2, 1]

In [ ]:
# Método 1: usando sorted

def ordenar(lista, tipo):
    if tipo == "Asc":
        return sorted(lista)
    elif tipo == "Des":
        return sorted(lista, reverse=True)
    elif tipo == "None" or tipo == None:
        return lista

# Método 2: usando sort

def ordenar(lista, tipo):
    if tipo == "Asc":
        lista.sort()
        return lista
    elif tipo == "Des":
        lista.sort(reverse=True)
        return lista
    elif tipo == "None" or tipo == None:
        return lista

In [ ]:
print(ordenar([4, 3, 2, 1], "Asc"))
print(ordenar([7, 8, 11, 66], "Des"))
print(ordenar([4, 3, 5, 2, 1], "None"))

[1, 2, 3, 4]
[66, 11, 8, 7]
[4, 3, 5, 2, 1]

## Reto 181: Obtener el Factorial
* Cree una función que tome un número entero, no negativo `n` y devuelva el factorial de ese número.
* El factorial de un número entero es el número multiplicado por todos los números enteros inferiores positivos.
* El factorial de 5 es 5*4*3*2*1 = 120
* El factorial de cero es 1, por definición.
* Suponga que todas las entradas son mayores o iguales a 0.
* Ejemplos:
    1. factorial(3) ➞ 6
    2. factorial(5) ➞ 120
    3. factorial(13) ➞ 6227020800
    4. factorial(0) ➞ 1

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n+1):
            result *= i
        return result

In [ ]:
print(factorial(3))
print(factorial(5))
print(factorial(13))
print(factorial(0))

6
120
6227020800
1

## Reto 182 Separar un número en dos partes
* Dado un número `n`, devuelva una lista que contenga las dos mitades del número.
* Si el número es impar, haga que el mayor se el que está más a la derecha.
* El número `n` siempre será un número entero.
* El número `n` puede ser negativo.
* Ejemplos:
    1. separar_numero(4) ➞ [2, 2]
    2. separar_numero(10) ➞ [5, 5]
    3. separar_numero(11) ➞ [5, 6]
    4. separar_numero(-9) ➞ [-5, -4]
    5. separar_numero(0) ➞ [0, 0]

In [ ]:
def separar_numero(n):
    if n % 2 == 0:
        return [int(n/2), int(n/2)]
    else:
        x = int((n-1)/2)
        return [x, n-x]

In [ ]:
print(separar_numero(4))
print(separar_numero(10))
print(separar_numero(11))
print(separar_numero(-9))
print(separar_numero(0))

[2, 2]
[5, 5]
[5, 6]
[-5, -4]
[0, 0]

## Reto 183: La misma paridad
* Cree una función que tome un número como entrada y devuelva `True` si la suma de sus dígitos tiene la misma paridad que el número completo.
* De lo contrario, devuelve `False`.
* La paridad consiste en ver si un número es par o impar.
* Si la suma de los dígitos es par y el número en sí es par, devuelve `True`.
* También devuelve `True` si el número es impar y también lo es la suma de sus dígitos.
* Los números de un solo dígito obviamente tendrán la misma paridad.
* Ejemplos:
    1. analisis_de_paridad(243) ➞ True
    2. analisis_de_paridad(444) ➞ True
    3. analisis_de_paridad(1243) ➞ False
    4. analisis_de_paridad(344) ➞ False
    5. analisis_de_paridad(12) ➞ False
    6. analisis_de_paridad(3) ➞ True

In [ ]:
def analisis_de_paridad(n):
    suma = sum([int(d) for d in str(n)])
    return n % 2 == suma % 2

In [ ]:
print(analisis_de_paridad(243))
print(analisis_de_paridad(444))
print(analisis_de_paridad(1243))
print(analisis_de_paridad(344))
print(analisis_de_paridad(12))
print(analisis_de_paridad(3))

True
True
False
False
False
True

## Reto 184: Acordes de JAZZ
* Cree una función que concatene el número 7 al final de cada acorde en una lista.
* Ignore todos los acordes que ya terminan en 7.
* Devuelva una lista vacía si la lista dada está vacía.
* Ejemplos:
    1. jazzificar(["G", "F", "C"]) ➞ ["G7", "F7", "C7"]
    2. jazzificar(["Dm", "G", "E", "A"]) ➞ ["Dm7", "G7", "E7", "A7"]
    3. jazzificar(["F7", "E7", "A7", "Ab7", "Gm7", "C7"]) ➞ ["F7", "E7", "A7", "Ab7", "Gm7", "C7"]
    4. jazzificar(["A", "E", "A7", "Ab7", "F"]) ➞ ['A7', 'E7', 'A7', 'Ab7', 'F7']
    5. jazzificar([]) ➞ []

In [ ]:
def jazzificar(lst):
    new_list = []
    for chord in lst:
        if chord[-1] == "7":
            new_list.append(chord)
        else:
            new_list.append(chord + '7')
    return new_list

# usando list comprehension
def jazzificar(lst):
    return [chord if chord[-1] == "7" else chord + '7' for chord in lst]

In [ ]:
print(jazzificar(["G", "F", "C"]))
print(jazzificar(["Dm", "G", "E", "A"]))
print(jazzificar(["F7", "E7", "A7", "Ab7", "Gm7", "C7"]))
print(jazzificar(["A", "E", "A7", "Ab7", "F"]))
print([])

['G7', 'F7', 'C7']
['Dm7', 'G7', 'E7', 'A7']
['F7', 'E7', 'A7', 'Ab7', 'Gm7', 'C7']
['A7', 'E7', 'A7', 'Ab7', 'F7']
[]

## Reto 185: Estado de ánimo predeterminado
* Cree una función que tome su estado de ánimo actual y devuelva una oración en el siguiente formato:
    - `"Hoy me siento {estado de ánimo}."`
* Sin embargo, si no se pasa ningún argumento, devuelva:
    - `"Hoy me siento neutral."`

* Compruebe que todas las frases terminan en punto.
* Ejemplos:
    1. estado_de_animo("feliz") ➞ "Hoy me siento feliz."
    2. estado_de_animo("triste") ➞ "Hoy me siento triste."
    3. estado_de_animo() ➞ "Hoy me siento neutral."

In [ ]:
# valor por defecto en un parámetro

def estado_de_animo(estado="neutral"):
    return f'Hoy me siento {estado}.'

In [ ]:
print(estado_de_animo("feliz"))
print(estado_de_animo("triste"))
print(estado_de_animo())

Hoy me siento feliz.
Hoy me siento triste.
Hoy me siento neutral.

## Reto 186: ¿Es hora de tomar leche y galletas?
* La Nochebuena ya casi está aquí, así que, naturalmente, ¡necesitamos preparar un poco de leche y galletas para Papá Noel!
* Cree una función que acepte un objeto Fecha y devuelva `True` si es Nochebuena (24 de diciembre) y `False` en caso contrario.
* Ejemplos:
    1. nochebuena(datetime.date(2024, 12, 24)) ➞ True
    2. nochebuena(datetime.date(2028, 1, 23)) ➞ False
    3. nochebuena(datetime.date(2100, 12, 24)) ➞ True

In [ ]:
import datetime

def nochebuena(d):
    return d.day == 24 and d.month == 12

In [ ]:
print(nochebuena(datetime.date(2024, 12, 24)))
print(nochebuena(datetime.date(2028, 1, 23)))
print(nochebuena(datetime.date(2100, 12, 24)))

True
False
True

## Reto 187: Terna pitagórica
* Cree una función que valide si tres números enteros dados forman un [terna pitagórica](https://es.wikipedia.org/wiki/Terna_pitagórica).
* La suma de los cuadrados de los dos números enteros más pequeños debe ser igual al cuadrado del número mayor.
* Ejemplos:
    1. es_terna(3, 4, 5) ➞ True
        * 3² + 4² = 5²
    2. es_terna(13, 5, 12) ➞ True
        * 5² + 12² = 13²
    3. es_terna(8, 17, 15) ➞ True
        * 8² + 15² = 17²
    4. es_terna(1, 2, 3) ➞ False
        * 1² + 2² ≠ 3²

In [ ]:
# la clave de este reto reside en
# localizar los dos menores y el mayor

def es_terna(a, b, c):
    lista = [a, b, c]   # creamos una lista
    lista.sort()        # ordenamos la lista
    a, b, c = lista     # así sabemos que el mayor es c
    return a ** 2 + b ** 2 == c ** 2

In [ ]:
print(es_terna(3, 4, 5))
print(es_terna(13, 5, 12))
print(es_terna(8, 17, 15))
print(es_terna(1, 2, 3))

True
True
True
False

## Reto 188: ¿Cuántas vocales?
* Cree una función que tome una palabra y devuelva el número de vocales que contiene.
* La palabra que se envía a la función como argumento no llevarán tildes o diéresis.
* Ejemplos:
    1. contar_vocales("Argos") ➞ 2
    2. contar_vocales("Atenas") ➞ 3
    3. contar_vocales("Esparta") ➞ 3
    4. contar_vocales("Olimpia") ➞ 4

In [ ]:
def contar_vocales(palabra):
    vocales = 'aeiou'
    contador = 0
    for letra in palabra:
        if letra.lower() in vocales:
            contador += 1
    return contador

In [ ]:
print(contar_vocales("Argos"))
print(contar_vocales("Atenas"))
print(contar_vocales("Esparta"))
print(contar_vocales("Olimpia"))

2
3
3
4

## Reto 189: Código ASCII del carácter inverso
* Encuentre el código de caracteres ASCII del carácter de caso inverso.
* El argumento siempre será de un solo carácter.
* No todas las entradas tendrán una contraparte (por ejemplo, números), en cuyo caso devolverá el código del caractere de la entrada.
* Ejemplos:
    1. contraparte("A") ➞ 97
    2. contraparte("a") ➞ 65
    3. contraparte("*") ➞ 42
    4. contraparte("Z") ➞ 122

* Dado que:
    - El código de carácter "A" es: 65
    - El código de carácter "a" es: 97

In [ ]:
def contraparte(caracter):
    if 'a' <= caracter <= 'z':
        return ord(caracter) - 32   # 97-65=32
    elif 'A' <= caracter <= 'Z':
        return ord(caracter) + 32
    return ord(caracter)

def contraparte(caracter):
    if caracter.isupper():
        return ord(caracter.lower())
    elif caracter.islower():
        return ord(caracter.upper())
    return ord(caracter)

In [ ]:
print(contraparte("A"))
print(contraparte("a"))
print(contraparte("*"))
print(contraparte("Z"))

97
65
42
122

## Reto 190: Suma de divisores en un rango
* Cree una función que tome tres argumentos `a`, `b`, `c` y devuelva la suma de los números divisibles entre `c` del rango `a`, `b`, ambos inclusive.
* Ejemplos:
    1. suma_divisibles(1, 10, 20) ➞ 0
        * No hay números entre 1 y 10 divisibles entre 20.
    2. suma_divisibles(1, 10, 2) ➞ 30
        * 2 + 4 + 6 + 8 + 10 = 30
    3. suma_divisibles(1, 10, 3) ➞ 18
        * 3 + 6 + 9 = 18
    4. suma_divisibles(1, 100, 1) ➞ 5050

In [ ]:
def suma_divisibles(a, b, c):
    suma = 0
    for i in range(a, b + 1):
        if i % c == 0:
            suma += i
    return suma

In [ ]:
print(suma_divisibles(1, 10, 20))
print(suma_divisibles(1, 10, 2))
print(suma_divisibles(1, 10, 3))
print(suma_divisibles(1, 100, 1))

0
30
18
5050

## Reto 191: Reemplazar vocales
* Cree una función que reemplace todas las vocales de una cadena con un carácter específico.
* Todos los caracteres estarán en minúsculas.
* Ejemplos:
    1. reemplazar_vocales("beethoven", "@") ➞ "b@@th@v@n"
    2. reemplazar_vocales("amazing spiderman", "?") ➞ "?m?z?ng sp?d?rm?n"
    3. reemplazar_vocales("shakespeare", "*") ➞ "sh\*k\*sp\*\*r\*"

In [ ]:
def reemplazar_vocales(string, caracter):
    vocales = 'aeiou'
    for vocal in vocales:
        string = string.replace(vocal, caracter)
    return string

In [ ]:
print(reemplazar_vocales("beethoven", "@"))
print(reemplazar_vocales("amazing spiderman", "?"))
print(reemplazar_vocales("shakespeare", "*"))

b@@th@v@n
?m?z?ng sp?d?rm?n
sh*k*sp**r*

## Reto 192: Ocultar dígitos de la tarjeta de crédito
* Escriba una función que tome un número de tarjeta de crédito y solo muestre los últimos cuatro caracteres.
* El resto de dígitos de la tarjeta deberán sustituirse por asteriscos.
* Asegúrese de devolver una cadena.
* La longitud de la cadena retornada debe seguir siendo la misma que la de entrada.
* Ejemplos:
    1. ocultar_tarjeta("1234123456785678") ➞ "\*\*\*\*\*\*\*\*\*\*\*\*5678"
    2. ocultar_tarjeta("8754456321113213") ➞ "\*\*\*\*\*\*\*\*\*\*\*\*3213"
    3. ocultar_tarjeta("35123413355523") ➞ "\*\*\*\*\*\*\*\*\*\*5523"

In [ ]:
def ocultar_tarjeta(tarjeta):
    n = len(tarjeta)
    return '*' * (n - 4) + tarjeta[-4:]

In [ ]:
print(ocultar_tarjeta("1234123456785678"))
print(ocultar_tarjeta("8754456321113213"))
print(ocultar_tarjeta("35123413355523"))

************5678
************3213
**********5523

## Reto 193: Xs y Os iguales
* Cree una función que tome una cadena, verifique si tiene el mismo número de "x" y "o" y devuelva `True` o `False`.
* Devuelve un valor booleano (`True` o `False`).
    1. Devuelve `True` si la cantidad de "x" y "o" son iguales.
    2. Devuelve `False` si no son la misma cantidad.
* La cadena puede contener cualquier carácter.
* Cuando "x" y "o" no están en la cadena, devuelve `True`.
* Recuerde devolver `True` si no hay "x" ni "o".
* No debe distinguir entre mayúsculas y minúsculas.
* Ejemplos:
    1. funcion_xo("ooxx") ➞ True
        - XO("xooxx") ➞ False
    2. funcion_xo("ooxXm") ➞ True
        - Case insensitive.
    3. funcion_xo("zpzpzpp") ➞ True
        - Returns True if no x and o.
    4. funcion_xo("zzoo") ➞ False
    5. funcion_xo("Xo") ➞ True
    6. funcion_xo("X") ➞ False
    7. funcion_xo("O") ➞ False
    8. funcion_xo("xxOoX") ➞ False
    9. funcion_xo("") ➞ True

In [ ]:
def funcion_xo(txt):
    txt = txt.lower()
    os = txt.count('o')
    xs = txt.count('x')
    if os + xs == 0 or os == xs:
        return True
    return False

In [ ]:
print(funcion_xo("ooxx"))
print(funcion_xo("ooxXm"))
print(funcion_xo("zpzpzpp"))
print(funcion_xo("zzoo"))
print(funcion_xo("Xo"))
print(funcion_xo("X"))
print(funcion_xo("O"))
print(funcion_xo("xxOoX"))
print(funcion_xo(""))

True
True
True
False
True
False
False
False
True

## Reto 194: Elimiar espacios al inicio y al final
* Cree una función que reciba una cadena y retorne esa misma cadena pero habiendo eliminado los espacios al inicio y al final.
* Consiga esto sin utilizar la función `strip`
* Ejemplos:
    1. eliminar_espacios(" &nbsp; Hola, mundo! &nbsp; ") ➞ "Hola, mundo!"
    2. eliminar_espacios(" &nbsp; Hey... &nbsp; &nbsp; Mark!!! &nbsp; &nbsp; &nbsp; ") ➞ "Hey... &nbsp; &nbsp; Mark!!!"

In [ ]:
def eliminar_espacios(cadena):
    while cadena[0] == ' ':
        cadena = cadena[1:]
    while cadena[-1] == ' ':
        cadena = cadena[:-1]
    return cadena

In [ ]:
print(eliminar_espacios("   Hola, mundo!   "))
print(eliminar_espacios("   Hey...     Mark!!!       "))

Hola, mundo!
Hey...     Mark!!!

## Reto 195: Intercambiar nombre y apellido
* Cree una función que tome una cadena (será el nombre y apellido de una persona) y devuelva una cadena con el nombre y apellido intercambiados.
* Habrá exactamente un espacio entre el nombre y el apellido.
* Solo contiene un nombre y un apellido.
* Ejemplos:
    1. intercambiar_nombre("Albert Einstein") ➞ "Einstein Albert"
    2. intercambiar_nombre("Marie Curie") ➞ "Curie Marie"
    3. intercambiar_nombre("Nikola Tesla") ➞ "Tesla Nikola"
    4. intercambiar_nombre("Margaret Hamilton") ➞ "Hamilton Margaret"

In [ ]:
def intercambiar_nombre(persona):
    i = persona.index(' ')
    return persona[i:] + ' ' +persona[:i]

In [ ]:
print(intercambiar_nombre("Albert Einstein"))
print(intercambiar_nombre("Marie Curie"))
print(intercambiar_nombre("Nikola Tesla"))
print(intercambiar_nombre("Margaret Hamilton"))

 Einstein Albert
 Curie Marie
 Tesla Nikola
 Hamilton Margaret

## Reto 196: Entero que aparece un número impar de veces
* Cree una función que tome una lista y encuentre el número entero que aparece un número impar de veces.
* Siempre habrá un solo número entero que aparezca un número impar de veces.
* Ejemplos:
    1. veces_impar([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]) ➞ -1
    2. veces_impar([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]) ➞ 5
    3. veces_impar([10]) ➞ 10

In [ ]:
def veces_impar(lista):
    for i in lista:
        if lista.count(i) % 2:
            return i

In [ ]:
print(veces_impar([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]))
print(veces_impar([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]))
print(veces_impar([10]))

-1
5
10

## Reto 197: Filtrar cadenas de un Array
* Cree una función que tome una lista de cadenas y números y devuelva una nueva lista sin las cadenas y sin los números negativos.
* Ejemplos:
    1. filtrar_lista([1, 2, "a", "b"]) ➞ [1, 2]
    2. filtrar_lista([1, "a", "b", 0, 15, 1]) ➞ [1, 0, 15]
    3. filtrar_lista([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]
    4. filtrar_lista([-5, "5", "bye", "7", "77"]) ➞ []
* El cero es un número entero no negativo.
* Los números de la lista no deben repetirse.
* Se debe mantener el orden original.

In [ ]:
def filtrar_lista(lst):
    new_lst = []
    for i in lst:
        if i not in new_lst and isinstance(i, int) and i >= 0:
            new_lst.append(i)
    return new_lst

In [ ]:
print(filtrar_lista([1, 2, "a", "b"]))
print(filtrar_lista([1, "a", "b", 0, 15, 1]))
print(filtrar_lista([1, 2, "aasf", "1", "123", 123]))
print(filtrar_lista([-5, "5", "bye", "7", "77"]))

[1, 2]
[1, 0, 15]
[1, 2, 123]
[]

## Reto 198: El reverso
* La función toma una cadena como entrada y devuelve esa cadena en orden inverso, con el caso opuesto de mayúsculas y minúsculas.
* Ejemplos:
    1. reverso("Hello World") ➞ "DLROw OLLEh"
    2. reverso("ReVeRsE") ➞ "eSrEvEr"
    3. reverso("Radar") ➞ "RADAr"

In [ ]:
def reverso(txt):
    return txt[::-1].swapcase()

In [ ]:
print(reverso("Hello World"))
print(reverso("ReVeRsE"))
print(reverso("Radar"))

DLROw OLLEh
eSrEvEr
RADAr

## Reto 199: Contar caracteres en un array
* Cree una función para calcular cuántos caracteres hay en un array de strings.
* Devuelve 0 si la lista dada no contiene caracteres.
* Ejemplos:
    1. contar_caracteres(["###", "###", "###"]) ➞ 9
    2. contar_caracteres(["22222222", "22222222"]) ➞ 16
    3. contar_caracteres(["------------------"]) ➞ 18
    4. contar_caracteres([]) ➞ 0
    5. contar_caracteres(["", ""]) ➞ 0

In [ ]:
def contar_caracteres(arr):
    total = 0
    for s in arr:
        total += len(s)
    return total

# usando list comprehension
def contar_caracteres(arr):
    return sum(len(s) for s in arr)

In [ ]:
print(contar_caracteres(["###", "###", "###"]))
print(contar_caracteres(["22222222", "22222222"]))
print(contar_caracteres(["------------------"]))
print(contar_caracteres([]))
print(contar_caracteres(["", ""]))

9
16
18
0
0

## Reto 200: Factorial por recursión
* Escriba una función que calcule el factorial de un número de forma recursiva.
* El factorial de cero, por definición, es uno.
* Ejemplos:
    1. factorial(5) ➞ 120
    2. factorial(3) ➞ 6
    3. factorial(1) ➞ 1
    4. factorial(0) ➞ 1

* Una **función recursiva** es aquella que se llama a si misma y tiene una condición de parada (o caso base), momento en el cual la función deja de llamarse a sí misma y comienza a retornar valores hacia atrás en la cadena de llamadas.
* La **condición de parada** es esencial en las funciones recursivas para evitar que la función se llame infinitamente y cause un desbordamiento de la pila (stack overflow).

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [ ]:
print(factorial(5))
print(factorial(3))
print(factorial(1))
print(factorial(0))

120
6
1
1