<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/resumen%20/010_holamundo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola mundo

In [1]:
print("Hola mundo")

Hola mundo

## Comentarios del programador

In [21]:
# Esto es un comentario
print('Hello World')     # usando comillas simples

Hello World

### Comentario de varias líneas
Va entre 3 comillas al inicio y 3 comillas al final que pueden ser simples o dobles

In [4]:
'''Se puede escribir un print
con varios elementos separados
por comas'''

print("Hola", "mundo", "del siglo", 21)

Hola mundo del siglo 21

# Variables y tipo de datos
1. Una variable es un espacio en memoria que recoge un dato.
2. Las variables tienen un nombre que:
 - no puede llevar espacios
 - no puede llevar simbolos (ñ, á, ç, @)
 - si puede llevar barra baja (`_`)
 - si puede llevar números pero no al inicio
 - no puede llevar palabras reservadas (class, def, if, import, in, is, ...)

## Enteros `int`
* Los enteros son números sin decimales como 5, 0, -7
* La abreviatura `int` viene de *integer*

In [5]:
x = 5       # int, 5 es un número entero

In [7]:
print(x)    # print es una función que imprime mi variable x

5

In [6]:
type(x)     # type es otra función que me da el tipo

int

## Flotantes `float`
* Son números con decimales.
* El tipo `float` hace referencia a que son [números de coma flotante](https://docs.python.org/es/3/tutorial/floatingpoint.html)

In [9]:
temperatura = 21.8      # usan el punto para separar los decimales
print("Estamos a", temperatura, "grados")
type(temperatura)

Estamos a 21.8 grados

float

## Cadenas `str`
* Las cadenas alfanuméricas van entre comillas simples o dobles.
* El tipo `str` es la abreviatura de *string*

In [10]:
ciudad = "Londres"      # string
print("Este verano quiero ir a", ciudad)
type(ciudad)

Este verano quiero ir a Londres

str

## Booleanos `bool`
* Son de dos tipos `True` o `False`
* Se escribe la primera letra con mayúsculas

In [28]:
led_on = True
print("¿El LED está encendido?", led_on)
type(led_on)

¿El LED está encendido? True

bool

## Listas `list`
* Son una secuencia de datos separados por comas
* Van entre corchetes `[ ]`
* El orden importa

In [14]:
my_list = [1, 2, 3]
print(my_list)
type(my_list)

[1, 2, 3]

list

In [22]:
print(type(my_list))    # función dentro de función

<class 'list'>

## Tuplas `tuple`
* Los elementos van entre paréntesis `( )`
* Son inmutables, se usan para datos que no cambian

In [38]:
vocales = ('a', 'e', 'i', 'o', 'u')
print(vocales)
print(type(vocales))

('a', 'e', 'i', 'o', 'u')
<class 'tuple'>

# Strings

## Python es case-sensitive
* Python es un lenguaje de programación que distingue entre mayúsculas y minúsculas.

In [15]:
'Hola' == 'hola'   # False. El doble igual == compara, no confundir con solo uno

False

### Funciones `lower()` y `upper()`
* Podemos convertir todo a mayúsculas o a minúsuclas.

In [18]:
"Buenos Aires".lower()

'buenos aires'

* Esto permite comparar strings sin importar como van escritos.

In [20]:
# Parándolo todo a mayúsculas
'buenos aires'.upper() == "Buenos Aires".upper()    # True

True

## Concatenar con `+`

In [27]:
2 + 3               # el signo + con números suma

5

In [26]:
"Villa" + "nueva"   # el signo + con strings concatena

'Villanueva'

# Números

# Listas

## Lista vacía

In [39]:
mylist = []
mylist

[]

Las listas pueden contener diferentes tipos de datos.

In [36]:
deportista = ["Ana", 18, 1.78, True]
print(deportista)

['Ana', 18, 1.78, True]

El index de los elementos comienza por cero.

In [33]:
deportista[0]       # el primer elementos tiene index 0

'Ana'

Caracteres de escape:

* `\t` es un tabulador
* `\n` es una nueva línea, es la abreviatura de *new line*

In [37]:
print("Datos de la deportista".upper())
print("\tNombre:", deportista[0])
print("\tEdad:", deportista[1])
print("\tAltura:", deportista[2])
print("\tFederada:", deportista[3])

DATOS DE LA DEPORTISTA
	Nombre: Ana
	Edad: 18
	Altura: 1.78
	Federada: True

# Tuplas

## Tupla vacía

In [41]:
mytuple = ()
mytuple
type(mytuple)

tuple

## Tupla con un solo elemento
* Es importante poner la coma

In [45]:
dias = (5,)
print(dias)
type(dias)

(5,)

tuple