<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/teoria/013_tipado_dinamico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tipado dinámico
* Tipado dinámico vs tipado estático
* Python es un lenguaje de programación de tipado dinámico.
* El tipado dinámico supone que la variable puede cambiar de tipo

In [ ]:
fondo = "gris"      # puede ser un string (una cadena de texto)
fondo = 100         # puede ser un número de tipo int (entero)
fondo = .18         # puede ser un número de tipo float (con decimales)

print(fondo)        # prevalece el último valor dado a la variable

0.18

## Tipado fuerte
* Tipado fuerte vs tipado débil
* Tipado fuerte: cuando arroja un error ante una operación entre dos tipos de datos incompatibles, en lugar de convertir implícitamente alguno de los dos tipos.

In [ ]:
a = 2
b = "3"
#print(a + b)       # ¡Error!

print(str(a) + b)   # casteando con str para convertir el número a string
print(a + int(b))   # casteando con int para convertir el string a entero

23
5

#### JavaScript tiene tipado débil

 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<img src="https://github.com/financieras/curso_python/blob/main/img/javascript_tipado_debil.png?raw=1" alt="javascript con tipado débil" width="150">

#### Lenguajes de programación según tipado

<img src="https://github.com/financieras/curso_python/blob/main/img/dinamic_strong.png?raw=1" alt="molde" width="300">

## Error al concatenar con un número

In [ ]:
#"Vuelo " + 505               # TypeError: can only concatenate str (not "int") to str

In [ ]:
"Vuelo " + str(505)           # la función str() convierte un número en cadena

'Vuelo 505'

### Mi nombre y mi edad
A la edad la tenemos que añadir la función `str()` que convierte un número en cadena (string).

In [ ]:
nombre = "Alex"
edad = 30
print("Me llamo " + nombre + " y tengo " + str(edad) + " años.")

Me llamo Alex y tengo 30 años.

#### Otra forma de escribirlo más moderna, con formato `f`

In [ ]:
print(f"Me llamo {nombre} y tengo {edad} años.")

Me llamo Alex y tengo 30 años.

## Una única línea de código en varias líneas de texto

Veamos un ejemplo que luego vamos a transformar.

In [ ]:
x = 1
y = 2
z = 3
if x==1 and y==2 and z==3:
    print("Los valores son correctos.")

Los valores son correctos.

El caso anterior se puede escribir de otra forma.

* ```;``` Con el punto y coma podemos escribir varias líneas de código en una sola línea de texto.
* ```\``` Con la barra invertida podemos separar una línea de código en varias líneas de texto.

In [ ]:
x=1; y=2; z=3
if x==1 and \
   y==2 and \
   z==3:
    print("Los valores son correctos.")

Los valores son correctos.

## La coma como separador
En un print podemos separar con coma que es un separador que imprime un espacio.  
Este separador se puede cambiar.

In [ ]:
m = "Madrid"
p = "París"
r = "Roma"
print(m, p, r)             # al imprimir se separan las ciudades con un espacio

Madrid París Roma

In [ ]:
print(m, p, r, sep=";")    # cambiamos el separador a un punto y coma

Madrid;París;Roma

In [ ]:
print(m, p, r, sep="\n")   # cambiamos el separador a un retorno de carro

Madrid
París
Roma

## Ejercicios

#### *Ejercicio 1*
Imprime dos frases, una debajo de la otra.

#### *Ejercicio 2*
Usa las variables `lugar` y `nombre` para llegar a imprimir la frase:
```
Prefiero ir de vacaciones a Málaga con Julia.
```
Consigue que al cambiar el valor de las variables la frase cambie.

Por ejemplo, la frase podría cambiar a esta:

```
Prefiero ir de vacaciones a Galicia con Pablo.
```