<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/teoria/075_funciones_internas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones internas
Funciones integradas en Python.  
[Funciones Built-in](https://docs.python.org/es/3.9/library/functions.html)

- print()
- exit()
- abs()
- round()
- chr()
- float()
- int()
- str()
- input()
- len()
- max()
- min()
- sum()
- pow()
- eval()

## type

In [ ]:
type("Hola")

In [ ]:
type(5)

In [ ]:
type(10/2)

In [ ]:
type(5==5)

In [ ]:
type(5=='5')

In [ ]:
num = input("Indique un número:")
print(7==num)                     # ¿alguna vez dará True?
type(7==num)

## len

In [ ]:
len("Hola")                       # longitud 4

In [ ]:
len([])

In [ ]:
len([1,2,3])

## eval

In [ ]:
x = 2
eval("1+3*x")                     # 7

## sum

In [ ]:
sum([1, 2, 3])                    # 6   suma los elementos de una lista

## pow

In [ ]:
pow(2,3)                          # función potencias

## abs

In [ ]:
abs(-3)

## round

In [ ]:
round(6.9)

In [ ]:
round(3.14159, 3)

## str

In [ ]:
edad = 5
#print('Solo tiene ' + edad + ' años')         # TypeError: can only concatenate str (not "int") to str

In [ ]:
print('Solo tiene ' + str(edad) + ' años')     # Solo tiene 5 años  str() convierte un número en un string
print('Solo tiene {} años'.format(edad))       # Solo tiene 5 años
print(f'Solo tiene {edad} años')               # Solo tiene 5 años

## int

In [ ]:
print(int(5.7))                                # 5

## float

In [ ]:
float("3.14")

## chr

In [ ]:
chr(65)                                    # 'A' carácter código ASCII

## `ord`
Es la función inversa a `chr`

In [ ]:
ord("A")

## bin
Para pasar un número a binario.

In [ ]:
bin(3)

In [ ]:
int('0b11', 2)                              # proceso inverso, convierte un binario en decimal, se indica base 2

There are only 10 kinds of people in the world: those who understand binary, and those who don't.

## hex
Para pasar a un número en hexadecimal (base 16)  
* 0123456789abcdef

In [ ]:
hex(10)

In [ ]:
int('0xa', 16)                              # proceso inverso, convierte un hexadecimal en decimal, se indica base 16

## hash
Devuelve el hash de un valor.

In [ ]:
hash("hola")

5861482831013249374

In [ ]:
hash(2) == hash(2.0)    # el hash de un número entero coincide con el hash de ese número pero flotante

True

## help
Tecleando topics obtenemos palabras sobre las que podemos buscar ayuda.  
Para salir de la ayuda presione q

In [ ]:
help()

## Ejercicio  
Solicitar al usuario dos números y calcular el máximo y el mínimo.

In [ ]:
num1 = float(input("Indique un número: "))
num2 = float(input("Indique otro número: "))
print(f'El máximo entre {num1} y {num2} es {max(num1,num2)}')
print(f'El mínimo entre {num1} y {num2} es {min(num1,num2)}')