<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/teoria/080_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas
* Es una colección de elementos que va entre corchetes `[ ]`
* El orden si importa
* También se llaman arrays, vectores o arreglos

In [ ]:
[]              # lista vacía

[]

Las listas pueden contener diferentes tipos de datos.

In [ ]:
[10 , 15, 12]   # lista de números enteros

[10, 15, 12]

In [ ]:
# lista de strings
estaciones = ['primavera', 'verano', 'otoño', 'invierno']
print(estaciones)

['primavera', 'verano', 'otoño', 'invierno']

* Puede haber mezcla de tipo de datos
* Incluso una lista puede contener a otras listas

In [ ]:
deportista = ["Ana", 18, 1.78, True, ['vallas', 'pértiga']]
print(deportista)

['Ana', 18, 1.78, True, ['vallas', 'pértiga']]

## Inicializar una lista con ceros

In [ ]:
ceros = [0] * 10
ceros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Indexing
* Índices de una lista
* El index siempre comienza por cero.

In [ ]:
estaciones = ['primavera', 'verano', 'otoño', 'invierno']
print(estaciones[0])
print(estaciones[1])
print(estaciones[2])
print(estaciones[3])
print(estaciones[-1])       # último elemento de la lista

primavera
verano
otoño
invierno
invierno

In [ ]:
deportista = ["Ana", 18, 1.78, True, ['vallas', 'pértiga']]
deportista[4][1]    # buscando un elemento en una lista dentro de otra lista

'pértiga'

Caracteres de escape:

* `\t` es un tabulador
* `\n` es una nueva línea, es la abreviatura de *new line*

In [ ]:
print("Datos de la deportista".upper())
print("\tNombre:", deportista[0])
print("\tEdad:", deportista[1])
print("\tAltura:", deportista[2])
print("\tFederada:", deportista[3])
print(f"\tEspecialidades: {deportista[-1]}")

DATOS DE LA DEPORTISTA
	Nombre: Ana
	Edad: 18
	Altura: 1.78
	Federada: True
	Especialidades: ['vallas', 'pértiga']

## Slicing

In [ ]:
meses = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Non', 'Dic']
meses[2:5]

['Mar', 'Abr', 'May']

In [ ]:
meses[:3]

['Ene', 'Feb', 'Mar']

In [ ]:
meses[3:]

['Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Non', 'Dic']

In [ ]:
meses[1:9:3]

['Feb', 'May', 'Ago']

In [ ]:
meses[::-3]

['Dic', 'Sep', 'Jun', 'Mar']

In [ ]:
meses[:]

['Ene',
 'Feb',
 'Mar',
 'Abr',
 'May',
 'Jun',
 'Jul',
 'Ago',
 'Sep',
 'Oct',
 'Non',
 'Dic']

## Crear una lista con `list`
Con `list` podemos convertir una tupla en una lista.

In [ ]:
lista_numeros = list((1, 2, 3, 4))
lista_numeros

[1, 2, 3, 4]

In [ ]:
dias = list(('lu', 'ma', 'mi', 'ju', 'vi', 'sá', 'do'))
dias

['lu', 'ma', 'mi', 'ju', 'vi', 'sá', 'do']

## Listas usando el objeto `range`

In [ ]:
num = range(5)          # números del 0 al 4
print(num)
type(num)               # objeto de tipo range

range(0, 5)

range

In [ ]:
mi_lista = list(num)
mi_lista

[0, 1, 2, 3, 4]

In [ ]:
list(range(5, 10))      # números del 5 al 9

[5, 6, 7, 8, 9]

In [ ]:
list(range(10, 45, 5))  # números del 10 al 40 en saltos de 5 en 5

[10, 15, 20, 25, 30, 35, 40]

In [ ]:
list(range(10, 0, -1))  # números en orden decreciente, del 10 al 1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Matriz: Array 2D
* Una Matriz de dos dimensiones es una lista de listas.

* Veamos un caso de tres filas y cuatro columnas, 3x4

In [ ]:
m = [[11, 12, 13, 14],
     [21, 22, 23, 24],
     [31, 32, 33, 34]]

m

[[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]]

In [ ]:
print(*m)

[11, 12, 13, 14] [21, 22, 23, 24] [31, 32, 33, 34]

In [ ]:
print(*m[0])
print(*m[1])
print(*m[2])

11 12 13 14
21 22 23 24
31 32 33 34

## Las listas son mutables
Podemos cambiar un elemento en una lista

In [ ]:
estaciones = ['spring', 'summer', 'autumn', 'winter']
print(estaciones)

estaciones[2] = 'fall'      # podemos cambiar un elemento en una lista
estaciones

['spring', 'summer', 'autumn', 'winter']

['spring', 'summer', 'fall', 'winter']

### Los strings son inmutables

In [ ]:
palabra = "Hola"
#palabra[0] = "M"               # da ERROR !!!
palabra

'Hola'

## Copiar una lista

### Forma incorrecta de copiar listas
* Veamos primero la forma incorrecta de copiar una lista: igualando
* En el caso incorrecto en realidad no hacemos una copia, ya que se trata del mismo objeto con dos nombres.
* Ambos nombres apuntan al mismo objeto en memoria

In [ ]:
lista_original = [1, 2, 3]
lista_copia = lista_original    # FORMA INCORRECTA DE COPIAR UNA LISTA

# al cambiar un elemento de una de las dos listas se cambia en las dos
lista_copia[0] = 99

print(f"Lista original: {lista_original}")
print(f"Lista copiada:  {lista_copia}")

Lista original: [99, 2, 3]
Lista copiada:  [99, 2, 3]

Ambas listas tienen el mismo `id`

In [ ]:
# el id de ambas listas es el mismo ya que se trata de la misma lista
print(id(lista_original))
print(id(lista_copia))

138880130972288
138880130972288

Al modificar un elemento de una lista también cambia en la otra ya que en realidad se trata de la misma lista pero con dos nombres diferentes.

### Forma correcta de copiar listas
* Haciendo una copia independiente de una lista

#### Método 1: haciendo una copia independiente de una lista
Forma correcta de copiar una lista: copiando elemento a elemento

In [ ]:
lista_original = [1, 2, 3]

# Haciendo una copia elemento a elemento
lista_copia = lista_original[:]    # FORMA CORRECTA DE COPIAR UNA LISTA

# al cambiar un elemento de una de las dos listas la otra no se altera
lista_copia[0] = 99

print(f"Lista original: {lista_original}")
print(f"Lista copiada:  {lista_copia}")

Lista original: [1, 2, 3]
Lista copiada:  [99, 2, 3]

El `id` de las listas no es el mismo ya que se trata de dos objetos diferentes

In [ ]:
print(id(lista_original))
print(id(lista_copia))

138880131056640
138880147413184

#### Método 2: copiando una matriz con ```deepcopy```
* Este método es el adecuado para copiar matrices
* Creamos un nuevo objeto matriz usando ```deepcopy``` de la librería ```copy```

In [ ]:
from copy import deepcopy

x = [[1, 2], [3, 4]]

y = deepcopy(x)

print(x)
print(y)

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

Comprobación

In [ ]:
x[0][0] = 88        # modificamos un elemento de la matriz x
y.append([9, 9])    # añadimos un nuevo elemento a la matriz y

print(x)            # comprobamos que ambas matrices son independientes
print(y)

[[88, 2], [3, 4]]
[[1, 2], [3, 4], [9, 9]]