<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/120_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuplas
* Es una colección de elementos que va entre préntesis `( )`
* El orden si importa
* Las tuplas son inmutables
* Son más rápidas que las listas
* Se usan cuando los elementos que las componen no queremos que cambien
* Por ejemplo, los meses del año, los días de la semana, los colores del arcoíris, ...

In [1]:
dias = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')
print(dias)
type(dias)

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

tuple

## Tupla vacía

In [2]:
tareas = ()
print(tareas)
type(tareas)

()

tuple

## Tupla de un solo elemento
* Es importante poner la coma

In [3]:
dias = (5,)     # si no pongo la coma este 5 sería un int
print(dias)
type(dias)

(5,)

tuple

## Conversión de lista a tupla

In [4]:
mi_lista = [10, 20, 30]
mi_tupla = tuple(mi_lista)
mi_tupla

(10, 20, 30)

## Conversión de tupla a lista

In [5]:
mi_tupla = (10, 20, 30)
mi_lista = list(mi_tupla)
mi_lista

[10, 20, 30]

## Las Tuplas son inmutables
No se pueden cambiar los elementos de la tupla.

In [6]:
seasons = ('spring', 'summer', 'autumn', 'winter')
seasons

('spring', 'summer', 'autumn', 'winter')

#### No se pueden reasignar valores en una tupla

In [7]:
#seasons[2] = 'fall'    # da ERROR, no se puede cambiar un elemento de una tupla

### Truco para cambiar un elemento de una tupla
Convertir la tupla en lista, cabiar el elemento y volver a convertirla en tupla

In [8]:
seasons = ('spring', 'summer', 'autumn', 'winter')
print(seasons)

seasons = list(seasons)     # convertimos la tupla en lista
seasons[2] = 'fall'         # cambiamos un elemento de la lista
seasons = tuple(seasons)    # convertimos la lista en tupla

print(seasons)

('spring', 'summer', 'autumn', 'winter')
('spring', 'summer', 'fall', 'winter')

## Unir dos tuplas
Se utiliza el operador `+` para unir dos tuplas.

In [9]:
laborables = ('lu', 'ma', 'mi', 'ju', 'vi')
finde = ('sá', 'do')
dias = laborables + finde
dias

('lu', 'ma', 'mi', 'ju', 'vi', 'sá', 'do')

## Indexing and Slicing

In [10]:
dias = ('lu', 'ma', 'mi', 'ju', 'vi', 'sá', 'do')
dias[0]

'lu'

In [11]:
 dias[5:]

('sá', 'do')

## Funciones y métodos

### `len`

In [12]:
dias = ('lu', 'ma', 'mi', 'ju', 'vi', 'sá', 'do')
len(dias)

7

### `del`

In [13]:
numeros = (1, 2, 3, 4)
del numeros
#print(numeros)     # da ERROR ya que no puedo imprimir el objeto que no existe

### `count`

In [14]:
fragmento_adn = ('A', 'G', 'C', 'T', 'A', 'G', 'C', 'A', 'G', 'A')
fragmento_adn.count('A')        # cuenta cuantas veces aparece la Adenina

4

### `index`

In [15]:
fragmento_adn = ('A', 'G', 'C', 'T', 'A', 'G', 'C', 'A', 'G', 'A')
fragmento_adn.index('T')        # index donde aparece por primara vez la Timina

3