<a href="https://colab.research.google.com/github/financieras/curso_python/blob/main/teoria/310_bucle_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bucle `for`
* El bucle `for` se usa cuando ya sabemos cuantos cíclos son necesarios.
* En el bucle `while` no sabemos inicialmente cuantos ciclos se darán ya que se itera mientras se cumpla la condición.

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

## Iterar un tupla

In [ ]:
colores = ('red', 'green', 'blue')

for color in colores:
    print(color)

red
green
blue

## Iterar una lista

In [ ]:
ciudades = ['Londres', 'Paris', 'Roma', 'Berlín', 'Madrid']

for ciudad in ciudades:
    print(ciudad)

Londres
Paris
Roma
Berlín
Madrid

In [ ]:
ciudades = ['Londres', 'Paris', 'Roma', 'Berlín', 'Madrid']

for i in range(len(ciudades)):
    print(i+1, ciudades[i])

1 Londres
2 Paris
3 Roma
4 Berlín
5 Madrid

## Iterar y enumerar
* Para enumerar usamos la variable `i` que indica el índex, pero podría ser cualquier otra variable
* Para el valor usamos la variable `v` pero podría ser cualquier otra

In [ ]:
for i,v in enumerate(ciudades):     # i → index, v → valor
    print(i+1, v)

1 Londres
2 Paris
3 Roma
4 Berlín
5 Madrid

## Iterar un diccionario

In [ ]:
geo = {'Francia': 'París',
       'Italia': 'Roma',
       'Reino Unido': 'Londres',
       'España': 'Madrid'}

### Obtenemos las claves

In [ ]:
for elemento in geo:
    print(elemento)

Francia
Italia
Reino Unido
España

### Obtenemos claves y valores

In [ ]:
for key in geo:
    print(f'{key} → {geo[key]}')

Francia → París
Italia → Roma
Reino Unido → Londres
España → Madrid

### Mejor forma de obtener claves y valores

In [ ]:
for key, value in geo.items():
    print(f'{key} → {value}')

Francia → París
Italia → Roma
Reino Unido → Londres
España → Madrid

## Formato `json`
* Es muy frecuente que las páginas web usen el formato `json` para enviar, recibir y almacenar información.
* Podemos entender el formato `json` como una lista de diccionarios:
<pre>
[{}, {}, {}, {}, {}]
</pre>

In [ ]:
alumnos = [{"nombre": "Mateo",
            "edad": 17,
            "asignaturas": ["Biología", "Matemáticas", "Quimica", "Tecnología"],
            "grupo": "B"},
           {"nombre": "Sonia",
            "edad": 16,
            "asignaturas": ["Música", "Latín", "Filosofía"],
            "grupo": "A"},
           {"nombre": "Jose",
            "edad": 17,
            "asignaturas": ["Economía", "Historia", "Inglés", "Informática"],
            "grupo": "C"}]

alumnos

[{'nombre': 'Mateo',
  'edad': 17,
  'asignaturas': ['Biología', 'Matemáticas', 'Quimica', 'Tecnología'],
  'grupo': 'B'},
 {'nombre': 'Sonia',
  'edad': 16,
  'asignaturas': ['Música', 'Latín', 'Filosofía'],
  'grupo': 'A'},
 {'nombre': 'Jose',
  'edad': 17,
  'asignaturas': ['Economía', 'Historia', 'Inglés', 'Informática'],
  'grupo': 'C'}]

In [ ]:
for alumno in alumnos:
    print(alumno)

{'nombre': 'Mateo', 'edad': 17, 'asignaturas': ['Biología', 'Matemáticas', 'Quimica', 'Tecnología'], 'grupo': 'B'}
{'nombre': 'Sonia', 'edad': 16, 'asignaturas': ['Música', 'Latín', 'Filosofía'], 'grupo': 'A'}
{'nombre': 'Jose', 'edad': 17, 'asignaturas': ['Economía', 'Historia', 'Inglés', 'Informática'], 'grupo': 'C'}

In [ ]:
for alumno in alumnos:
    print("nombre →", alumno['nombre'])

nombre → Mateo
nombre → Sonia
nombre → Jose